[2019-06-28 21:33] panva commented on #487
I wouldn't say it's recommended, but at the moment it's the only helper consistently run when access tokens get issued.

`scope` is an IANA defined client property parameter, that's why a check like that is present. As you may have noticed I don't make up properties.

Kind of, the other way i had this running initially was that the same helper needed to be run twice, at authorization and at token

[2019-06-28 22:22] amaciver commented on #487
Thanks for the clarification. Just wanted to know if I was missing something in particular. Will be happy to follow up with some indications about what would feel useful for DX.

Will give it a shot with the Policy route you suggested.

Thanks as always!

[2019-06-28 22:22] #487 closed

[2019-06-29 06:02] panva commented on #487
I failed to mention one important aspect. You like need to / should have your users consent to the resource anyway so a policy is something you’ll be putting in place anyway. Yeah. Now that i recall, that’s why.

[2019-07-03 13:16] DarkSorrow opened #488 "Question about native apps"
Hello,

I'm trying to test a native application using react-native. I'm using the exemple of "react-native-app-auth" (https://github.com/FormidableLabs/react-native-app-auth/tree/master/Example/AndroidExample) for android to do that.

I created a client using this:
[code]

With this as well in my configurations which grant me a refresh token for this app
[code]

And on the creact native i'm using

[2019-07-03 13:20] panva commented on #488
`offline_access` scope must be accompanied by `prompt=consent`

[2019-07-03 14:07] DarkSorrow commented on #488
but wasn't the "issueRefreshToken" allowing us to ask an offline_access without the prompt=consent for what we could call "first party client".
Because in the end a refresh token is issued but since its not pushed in the scope, calling the token endpoint later just generate an error. Actually i haven't tried on the normal web client but it would probably the same thing? If we use the issueRefreshT

[2019-07-03 14:09] panva commented on #488
refresh token is not the same as asking for offline_access, offline_access as a scope has special behaviours defined by Core but you may issue a refresh token under other conditions with the method, you just can't use the offline_access scope as a condition.

[2019-07-03 15:05] DarkSorrow commented on #488
Ok thanks i understand better, if i take off the offline_access i can use the refresh endpoint with the email (that i passed and accepted before) and i get a 200.
I guess i will try to see how to use the new features you added in the version 6 to allow pre registered consent. In the past i was loading the consent from my database and injecting it directly in the result object on the login like thi

[2019-07-03 15:06] #488 closed

[2019-07-03 21:25] amaciver opened #489 "Reflected XSS in default render templates"
**Describe the bug**
Seems that the provided default render templates allow for reflected XSS in state param
https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/defaults.js#L1752

**To Reproduce**

Steps to reproduce the behaviour:

1.  Start a flow (Firefox) with a known mismatched redirect_uri, and `<img+src=x+onerror=alert(document.domain)>` as state param
2.  you will see the s

[2019-07-03 22:28] amaciver commented on #489
possibly you will say to sanitize all params on their way in?

[2019-07-04 05:51] panva commented on #489
Good thing everyone's responsible for overwriting this helper anyway.

Thanks @amaciver.

[2019-07-04 05:51] #489 closed

[2019-07-05 13:06] thomasvargiu opened #491 "Authorization with nested JWT request object"
Hi @panva,

I'm trying to understand why I can't use a nested JWT (signed and encrypted) token with the request object authorization.

The error is:

[code]

Looking at the code I see this:

[code]

I'm using a `RSA-OAEP` algorithm, so I think it's using the server keystore. Is it correct? Can you explain me?

My JWT header:

[code]

[2019-07-05 13:33] panva commented on #491
@thomasvargiu

You can, but you are likely not encrypting correctly.

[2019-07-05 13:45] thomasvargiu commented on #491
@panva
Well, I'm able to encrypt and decrypt it with the client JWK set, so I think it's correct.

Should the server use the client jwks to decrypt and verify it? Isn't right?
Because looking the code I see it's using the server keystore.

[2019-07-05 13:48] panva commented on #491
If you’re encrypting with asymmetric key its the server public one it exposed via jwks_uri. Symmetric encryption uses a secret key derived from the client secret. RSA-OAEP will use the server keys.

[2019-07-05 13:53] panva commented on #491
https://openid.net/specs/openid-connect-core-1_0.html#Encryption

[2019-07-05 14:12] thomasvargiu commented on #491
Thank you for explain me that. I'm still a little bit confusing but it's because I don't have a good knowledgement abount encryption with JWT.

[2019-07-05 14:12] #491 closed

[2019-07-08 07:42] jansepke opened #492 "Question: remove consent interaction"
Hi, I'm using this project to mock out keycloak for local development. Everything works great so far but I would like to get rid of the consent interaction because it is just an extra click in local development. with this configuration I end up in endless redirect loops between oidc-provider and my frontend (using oidc-client library). without overriding interactions.policy everything works.

[cod

[2019-07-08 07:45] panva commented on #492
Just removing it isn’t gonna cut it as the OP just doesn’t have any granted info at hand. Please see the interactions.policy docs l, especially the expandable details.

[2019-07-08 11:01] jansepke commented on #492
I was reading these docs that guided me to "modifying the default interaction policy". "disabling default checks" sounds more matching my use case but its hard to get from the documentation what needs to be changed to silently agree to the consent screen. do I only need to modify the details method of the Prompt?

[2019-07-08 11:05] panva commented on #492
@jansepke you're either going to have to accept the extra click, automate it for your convenience or experiment and dig into the API, I don't have a prepared answer for this and given that prompt-less flow is of no concern to most.

[2019-07-08 13:39] jansepke commented on #492
found a hacky solution that will do it: override the promptedScopesFor method on your oidc-provider instance to always return your requested scoped (WARNING: don't do this in production, use only for local dev setups)
[code]

[2019-07-08 13:39] #492 closed

[2019-07-08 18:04] amaciver commented on #489
Understood, for sure. You clearly indicate that these should be overwritten. Just wanted to flag for you since many people will not think of this when overwriting, and unless they dig into the code will not realize that state and scope are exposed without sanitizing. 👍

[2019-07-10 13:34] DarkSorrow opened #493 "rejectedScopesFor with two parameters return undefined"
Hello,

Not sure if i did something wrong but i tried to use the rejectedScopesFor in the interaction index of consent, in the code i have something like this

[code]
My output goes like this

[code]
And if i change the
[code]
to
[code]
i do get the proper empty set

From the documentation i saw that only the rejected was suppose to work but is it only the accepted then that is suppose to work? Or

[2019-07-10 13:46] panva commented on #493
The `accepted` is only calculated based on `prompted` - (minus) `rejected`, it doesn't accept a second arg. So what you want to do is use prompted*For and rejected*For with two arguments (setter) only.

https://github.com/panva/node-oidc-provider/blob/master/lib/models/session.js#L217-L312

[2019-07-10 15:13] madarche opened #494 "Question : on the OP itself, how to display wether the user is logged-in or not"
Hello,

I could not find how to display, **on the website of the OP itself**, wether the user is logged-on or not. The aim is, if the user is logged-in, to display a sign-out link pointing to the session endpoint `/session/end`.

I could not find on the provider instance any method or properties to use to do so.

The route I have been following so far is to find, in the store, a Session with an id

[2019-07-10 15:19] panva commented on #494
There isn't one.

That's the route you gotta take, are you using koa or express?

[2019-07-10 15:20] DarkSorrow commented on #493
I see but if i pass an empty array to the rejectedFor
`const rejectedScopes = oidc.session.rejectedScopesFor(oidc.params.client_id, []);`
I get an undefined value returned, shouldn't i get an empty set instead? It's in the case nothing was rejected in the previous consent

[2019-07-10 15:24] madarche commented on #494
I'm using express.

If I could get the koa instance I could cryptographically verify the cookies I think.

But I don't think the provider instance exposes its koa instance. Does it?

[2019-07-10 15:28] panva commented on #494
It does but the koa instance won't help you. Either way you can use https://github.com/pillarjs/cookies which is what koa uses internally with the same keygrip keys you configure the provider with - through that you'll get the cookie value and it'll be checked for integrity.

[2019-07-10 15:29] panva commented on #493
With two args its a setter and returns undefined, it only returns values when used with one arg as a getter.

[2019-07-10 15:33] madarche commented on #494
OK! Thanks @panva!

I'll try this approach and will report it asap with actual working code.

[2019-07-10 15:33] #494 closed

[2019-07-10 15:36] panva commented on #494
Here you go.

[code]

Please note that this will instantiate an empty session when no session id is found in the cookie.

[2019-07-10 15:48] DarkSorrow commented on #493
ok my bad you pointed at the code part i should have checked more carefully.
Thanks

[2019-07-10 15:48] #493 closed

[2019-07-11 01:34] thomasvargiu opened #495 "[QUESTION] Aggregated and Distributed claims"
Hi,

there is a way to handle aggregated and/or distributed claims?

[2019-07-11 05:53] panva commented on #495
By handle you mean return?

[2019-07-11 08:07] thomasvargiu commented on #495
Oh sorry, I didn't find it in docs and I thought it wasn't supported, thank you!

[2019-07-11 08:07] #495 closed

[2019-07-11 14:49] madarche commented on #494
Again, thanks a lot @panva.

Here is the full actual working code for those who will need it:

[code]

I have updated the [FAQ](../wiki/FAQ) accordingly.

[2019-07-15 16:14] DarkSorrow opened #496 "Checks function calling db"
Hello,

I'm trying to make some queries in my database in the check i used and using the index position to make sure the query i do fill data i pass in the check
Here is an example:
`module.exports = () => new Check('client_not_authorized', 'client not authorized for End-User session yet', 'interaction_required', async (ctx) => {
   const dbGlobalConsent = await account.findConsentByEntity(

[2019-07-15 16:36] panva commented on #496
Yes, the checks run in parallel by design, but they are [awaited](https://github.com/panva/node-oidc-provider/blob/master/lib/actions/authorization/interactions.js#L25).

[2019-07-15 16:45] panva commented on #496
You can register a non-requestable Prompt instance that runs before consent that never resolves true but does your db data loading, exposing it to your other checks e.g. via assigning to ctx.

[2019-07-15 18:11] DarkSorrow commented on #496
Thank you for the answer, i can't try it right now but i'll check tomorrow.
If i use the non requestable prompt and insert it before the consent, using those functions
[code]
This will still set the scopes for the checks in the consent prompt right?

[2019-07-15 18:40] panva commented on #496
Yeah.

[2019-07-15 18:40] #496 closed

[2019-07-16 19:26] katlimruiz opened #497 "could the restriction of localhost for implicit be removed?"
I am getting an error "You cannot use implicit with localhost redirect uris",

can we put somewhere a setting that disables this restriction? I understand that this should not go in a production application, but testing locally is hard with this.

Tried setting up the hosts file, which didn't work fully to me.

My scenario is where a .NET Core app is using the nodejs oidc server.

[2019-07-16 20:16] katlimruiz commented on #497
A solution found was to modify hosts file to add the line `localhost mytest`

And in .NET, do as follows:

[code]

[2019-07-16 20:31] panva commented on #497
See the other issues regarding this topic. Bottom line I don’t want an option, people would just leave it enabled and deploy implementations which expose private user data and have known attack vectors open. These restrictions are in for a reason and setting up a local https non localhost environment is quite easy these days.

[2019-07-16 20:31] #497 closed

[2019-07-16 20:34] panva commented on #497
Plus using implicit is just not needed today. Unless only for response type id_token sign in flow.

[2019-07-19 20:23] brandonros opened #498 "claims end up in `id_token` but not `access_token`"
This is happening in 5.x

I know you are working on making 6.x be a true OAuth2 provider, not just an OpenID Connect provider.

I'm guessing you kept claims out of `access_token` in 5.x on purpose. Is this true, or are claims supposed to show up in both `id_token` and `access_token`?

[2019-07-20 06:46] panva commented on #498
This is making very little sense to me.

No, user claims do not belong in an access token the same way they do belong in an id token.

I don’t understand how being able to process pure OAuth requests relates to user claims ending up in access tokens.

OAuth is not for authentication, its for delegating access.

In v6.x you have a helper for pushing any claims to access tokens so if you want to mut

[2019-07-20 06:46] #498 closed

[2019-07-24 05:42] testtryrun opened #499 "Does it support client ID and Client secret in paramas instead of sending authorization header."

[2019-07-24 11:07] panva commented on #499
“it” sure does. Just configure your client with the appropriate token_endpoint_auth_method.

[2019-07-24 11:07] #499 closed

[2019-07-24 13:17] testtryrun commented on #499
Thanks. Worked.

For adding claims in the id_token, i.e. say email and groups(DLs), configuring claims as mentioned under " Configuring available claims" will work OR any other changes are also required as an additional claim(groups) is required.

[2019-07-24 13:21] panva commented on #499
You’ll find every setting in the configuration docs. I suggest to read them to know what’s available to you.

[2019-07-25 10:14] testtryrun opened #500 "On adding claims as email and group to configuration made , it is not returned in id_token(jwt)"

[2019-07-25 10:21] panva commented on #500
@testtryrun please don't open issues like this. Read the docs, put some substance into your issue descriptions, else i will start closing and deleting these.

Your non-issue (it is conform behaviour) is described in the configuration [docs](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#conformidtokenclaims) as well as [FAQ](https://github.com/panva/node-oidc-provider/wiki/

[2019-07-25 10:21] #500 closed

[2019-07-29 15:15] DarkSorrow opened #501 "Question about session data change cross applications"
Hello,

I have a question about saving session data. From my understanding with the test i did and trying to find info in the doc. Session values that are set in the login for exemple this:
[code]

The login values cant be change again without a complete delog / relog right? In my use case i'm trying to test the login of an old user and once he is log the legacy_application become false (after he

[2019-07-29 15:50] panva commented on #501
🙏, also [this](https://github.com/panva/node-oidc-provider/blob/master/lib/actions/authorization/resume.js) is what happens when you end interaction with results. What you're working with is an InteractionSession, not a Session :)

[2019-07-29 16:17] DarkSorrow commented on #501
When i log the first time the amr has the thrid row set to a string. After he tries to log to a second application, he gets a consent prompt that ask him to change his legacy profile to a new one. Once he does that i need to update the third amr row to null, so that further applications won't ask him the question again.
I can't log him out and i thought that if i could change the amr when he ask f

[2019-07-29 21:09] xperiafan13-rom opened #502 "Invalid token provided"
Hi, i use oidc-provider with v5 for node v8
I follow this example: https://github.com/panva/node-oidc-provider-example/blob/master/03-oidc-views-accounts/index.js

But when I enter to /me I get
  error_description: 'invalid token provided',
  error_detail: 'access token not found' } { request:

Here is my code:
[code]

The other code is the same that is in the example
Whe i logged i get https://my

[2019-07-29 21:15] panva commented on #502
ID Token is not for calling APIs.

[2019-07-29 21:46] DarkSorrow commented on #501
This is what i tried to do on the confirm controller but it's not storing the information about login again, which is why i thought that after a first successful login happened the only thing i can store seems to be application only information (the meta, consent etc) are only for the "applications scope" you can't seems to share information with the result it would seem

[2019-07-30 07:12] panva commented on #501
I am not following still, the code i showed you updates the session information, after resume executed that and subsequent authorizations will use that session data.

Where else would you expect this to be reflected?

[2019-07-30 07:37] DarkSorrow commented on #501
Ok my bad as usual my test was failing because i wasn't passing the amr, but i need to put all the information again in order to have the login replaced and i wasn't doing that. it's perfectly fine tho for me to replace all.
Thanks

[2019-07-30 07:37] #501 closed

[2019-07-30 18:02] mihir83in opened #503 "client_credentials access_token jwt signing algorithm"
When doing client_credentials grant, the id_token_signed_response_alg gets ignored, the generated token has RS256 alg on it.

I am trying to use a HS256 and providing private keys on client and provider as client_secrets. The token endpoint doesn't need authentication.

Provider and Client configuration: (inline or gist)
[code]

[2019-07-30 18:19] panva commented on #503
JWT formatted access tokens cannot be signed using a shared symmetrical secret, this is made clear from the [formats configuration option documentation](https://github.com/panva/node-oidc-provider/blob/v6.2.1/docs/README.md#formats).

I will not make that possible since everyone in possession of the shared secret can, doh, forge a token and access an RS that does only the structured token introspe

[2019-07-30 18:19] #503 closed

[2019-07-30 23:40] xperiafan13-rom commented on #502
Can you help me with this please?

[2019-07-31 08:21] panva commented on #502
May I suggest stackoverflow with the oauth/oidc tag for “how to” questions. This isn’t really the forum for such questions, plus I lack capacity to explain basics.

[2019-07-31 08:21] #502 closed

[2019-07-31 09:33] ShlomitG opened #504 "How to change the shouldChange methods"
Hi,
I want to change logoutSource() to get the logout page look different, as suggested in the code itself, using the shouldChange(). Is there any API for it? I don't want to change it locally, since next 'npm install' will override it.

Thanks.

[2019-07-31 09:36] panva commented on #504
https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#logoutsource

Yes, configuration.

[2019-07-31 11:37] milo526 opened #505 "Failure to exchange AuthenticationCode to Token due too missing session."
While trying to exchange code from token (using https://openidconnect.net) an error is thrown:
```{ error: 'invalid_grant', error_description: 'grant request is invalid' }```
I believe this to be caused by the fact that the AuthorizationCode is not returned given:
``` not returning AuthorizationCode f5RTvZ_wpjjT-vZ9O-R8Dg-tyubKkpadNQtgv-KKmz6 because it is session bound and its related session was

[2019-07-31 11:44] ShlomitG commented on #504
thanks

[2019-07-31 11:44] #504 closed

[2019-07-31 11:47] panva commented on #505
This function is called on a Session model, not AuthorizationCode.

[code]

You're supposed to return a Session matching the `uid` value, you're currently returning an AuthorizationCode (why?!) based on its `jti` instead.

[2019-07-31 12:18] #505 closed

[2019-08-01 12:47] Lakshman1996 opened #506 "Question: How to show error messages to the client back?"
Hi
I would like to show some user friendly message when authentication fails to the client. I am adding `error` in result object and calling `interactionResult` and redirecting the user manually. But when  ` interaction/uid` end point gets triggered,  `interactionDetails(req)` does not return my error stored earlier.

PS: If error is returned my plan was to render the same interaction again with e

[2019-08-01 16:46] panva commented on #506
@Lakshman1996 can you provide a sample code? When `provider.interactionResult({ error: 'foo', error_description: 'bar'})` (or `interactionFinished`) is submitted this will get transferred to the client using the standard response mode.

I am not sure what is it that you're trying to achieve from your desription.

[2019-08-01 17:26] Lakshman1996 commented on #506
Thanks @panva for the quick reply. Here is the code snippet, hope this is clear enough

[code]
After redirect the below API gets triggered. While debugging i found that  the interaction object with result  is saved in db before redirect but the same interaction document created in db is deleted as soon the below API gets triggered.
[code]

[2019-08-01 17:33] panva commented on #506
I see. So you don't expect 'Invalid username or password' to be returned to the Client (as in OAuth 2.0 terms) but to the end-user.

Returning an error to the client is what that `error` response would be for, and I wonder why it ain't getting sent to the client (or maybe it is and the client immediately starts another auth? Can you check your network trace in the browser?

Anyway - You should not

[2019-08-01 17:50] Lakshman1996 commented on #506
Understood! Will look at the examples and try out

[2019-08-01 18:09] panva commented on #506
Great.

[2019-08-01 18:09] #506 closed

[2019-08-02 14:20] sami-sweng opened #507 "Checking authenticity of Access Token offline (v5)"
In the context of an eventually consistent database, I would like to discuss the possibility to authenticate a user using the Access Token itself only.

Currently to authenticate a user you recommend using [`provider.AccessToken.find`](https://github.com/panva/node-oidc-provider/issues/67) which in turns calls the userland implementation of [`Adpater.find`](https://github.com/panva/node-oidc-provi

[2019-08-02 14:26] panva commented on #507
JWT Access Tokens can still be thrown at the revocation endpoint. Regular server side introspection will still tell you those are not valid.

How you validate access tokens at the RS is up to you. If you are worried about replication you may devise a policy for you RSs to check the JWT and every couple of minutes depending for each jti do a server side introspection.

This library is ultimately ju

[2019-08-05 09:31] major-mann opened #508 "Getting keystore-CHANGE-ME as KID"
I am using oidc-provider 5 with node 10

I have added a node-jose keystore as described at https://github.com/panva/node-oidc-provider/blob/v5.x/docs/configuration.md#certificates

It is working well, however the tokens are being generated with "keystore-CHANGE-ME" as the kid in the token header. How can I make sure this includes the correct kid (as it is defined on the key in the keystore)

[2019-08-05 09:36] panva commented on #508
An example code please.

[2019-08-05 09:41] major-mann commented on #508
const keyList = [{
    // jwk
}];

const keystore = jose.JWK.createKeyStore();
await Promise.all(keyList.map(key => keystore.add(key)));

const oidc = new Provider(config.uri.sso, { });

await oidc.initialize({
    clients: [/* Client metadata here */],
    keystore
});

[2019-08-05 09:41] major-mann commented on #508
Is this adequate?

[2019-08-05 10:18] panva commented on #508
Unfortunately I am unable to reproduce with latest v5.x (v5.5.6)

[code]

[code]

[2019-08-05 10:53] major-mann commented on #508
I apologise for wasting your time. I had a condition which disabled the keystore in development which I missed. Thanks so much for your help

[2019-08-05 10:53] #508 closed

[2019-08-05 16:18] #507 closed

[2019-08-10 22:40] mihir83in opened #510 "self_signed_tls_client_auth jwks configuration"
With self_signed_tls_client_auth, when a client tries to perform a client_credentials grant, the client metadata must have a jwks metadata configuration.

I have tried populating this client jwks with private key, public key and a cert. The following behaviour happens when actual token endpoint is called.

*  private key : client schema validation gives error: "jwks must not contain private or sym

[2019-08-11 06:38] panva commented on #510
First things first, mTLS features enables you to pass the value to the methods, thats expected

Second, the oidc-provider version you say you’re using is not in line with the version of the configuration. 6.2.0 is where mTLS feature was revised to this state.

Third, the client metadata on the provider needs to have a jwks (or jwks_uri) member with

A public key corresponding to the private one yo

[2019-08-11 07:06] panva commented on #510
given an example RSA key and a cert you can e.g. use with `curl`, this will give you the `jwks` value:

[code]

You can see this in action at the example i have deployed over at `https://op.panva.cz/.well-known/openid-configuration`

My example private key
[code]

My certificate
[code]

My Client metadata (configured to execute device flow) at the device_authorization_endpoint which also requires

[2019-08-11 07:09] panva commented on #510
[code]

[2019-08-11 07:09] #510 closed

[2019-08-11 10:57] mihir83in commented on #510
Hi, thank you so much for your prompt reply and explaining how I can load jwks with x5c component. With proper client metadata jwks from certificate on provider, it is working. However, couple of points here.

* client http_options are working fine, I've taken the example from https://github.com/panva/node-openid-client/blob/5e5e999541637d91a28bd8f5b21eb05a59d006e7/test/client/mtls.test.js#L90
* p

[2019-08-11 11:04] panva commented on #510
node-oidc-provider/lib/shared/token_auth.js
Line 220 in 93e9ab7
 case 'self_signed_tls_client_auth': {
because client http_options and provider getCertificate are using same cert statically, the actual https connection between client and provider can be on different certificate, this works fine as well.

This is absolute nonsense. This is not doing any authentication at all.

[2019-08-11 11:26] mihir83in commented on #510
I thought so, and that's why I put those lines and comments in my last post. I did try getting certificate from request on provider, it returns an empty object. Is there any example or spec I can see to set this up properly to get certificate from request.

[2019-08-11 11:52] panva commented on #510
You need to configure your tls stack to request it. This is very much environment and deployment specific. Some examples are in the docs under each mTLS specific helper.

[2019-08-11 11:55] panva commented on #510
You should first be setting up your deployment to request client certificates and then figuring out how to configure the provider. It looks as if you’re not much informed about what you are doing here. Sorry to say so.

[2019-08-12 15:31] mihir83in commented on #510
I've figured it out thanks, now its using the same cert that's present in mutual tls handshake and I have bound the tokens to the cert. It was one of the options on https tls options, Thanks for your help.

[2019-08-12 23:09] arjunnaha opened #512 "Client is invalid"
(I'm using the v5.x branch with Node v10.15.1)

When using the [example Mongo adapter](https://github.com/panva/node-oidc-provider/blob/v5.x/example/adapters/mongodb.js), I get a `invalid_client` error:
[code]
Having looked at the `check_client.js` file, it looks like it can't find the ID of the client.

The URL that node-openid-client generates is:
`http://localhost:3001/oidc/auth?client_id=5d51e

[2019-08-13 07:03] panva commented on #512
I can see you _id and client_id is an ObjectId which the example mongo adapter and you linked does not use. So I'm thinking you inserted that document yourself and you have to adapt your adapter to wrap `_id: value` as `_id: { $oid: value }`

[2019-08-13 07:03] #512 closed

[2019-08-13 19:06] dafn opened #513 "Send file in renderError"
I'm using v6.1.0

I'm trying to send an error page when renderError is run but currently I only get "not found" in the browser. I have tried to send play text and that works. Sending the file from a normal route handler also works.

Works:
`app.use("/", (req, res, next) => {
  res.sendFile(path.resolve('index.html'))
})
`

Works:
`renderError: ({ res }) => {
    res.send("test")
}
`

Does not work

[2019-08-13 20:14] panva commented on #513
I don't get why you'd be sending down a file instead of

[code]

So,

that.

That's because the request is internally handled by the web framework koa, not your express app.

[2019-08-13 20:14] #513 closed

[2019-08-13 20:23] dafn commented on #513
I need to send the file as it is generated during build. I dont have the html before building the app. Is there no way to send a file in renderError?

[2019-08-13 20:35] panva commented on #513
It doesn’t matter when the file is built. You can read the contents of the built file with the fs standard lib and return them.

[2019-08-14 12:58] richard-drummond opened #514 "configuration of clients is not obvious"
**Describe the issue**
I have the provider running but it is evidently not running in confidential config because I get a debug log from my client and an http error on my callback url.

[auth_openidc:debug] [pid 23680:tid 1360] proto.c(1607): [client 127.0.0.1:65392] oidc_proto_endpoint_auth_none: no client secret is configured; calling the token endpoint without client authentication; only public

[2019-08-14 13:14] panva commented on #514
The only thing _evident_ from what you're providing is that your client is not configured with the secret and so it's not using it.

The provider client entity is configured with a secret and a defaulted to token_endpoint_auth_method `client_secret_basic`, so it is a confidential client.

Please check with your client software.

@zandbelt, i believe that may be your client software producing this

[2019-08-14 13:14] #514 closed

[2019-08-14 13:22] zandbelt commented on #514
yessir, and it is apparently not configured with a client secret

[2019-08-14 14:09] richard-drummond commented on #514
It is configured:
OIDCProviderMetadataURL https://localhost:3000/.well-known/openid-configuration
OIDCClientID 996411873298-mshte5ckm3fbn1jgcnckgs8add68ir5bpd.domain
OIDCClientSecret xxxxxxxxxxx

wish it was that east.  I originally had my client configed with google provider and it worked fine.  switching to local provider using node_oidc_provider is the only difference

The client and secret mat

[2019-08-14 14:27] richard-drummond commented on #514
i reset the client id/secret to foo/bar on both RP and OP.  still same error:

here is the fill log of the transaction.   I am still thinking its a config problem:

[Wed Aug 14 10:19:12.121391 2019] [authz_core:debug] [pid 27624:tid 1372] mod_authz_core.c(817): [client 127.0.0.1:52163] AH01626: authorization result of Require valid-user : denied (no authenticated user yet), referer: https://localh

[2019-08-14 14:30] panva commented on #514
It says your `token_endpoint_auth` on the client is `none`.

Your client software is not authenticated therefore it gets `invalid_client` from the OP, that's expected when client auth fails.

[2019-08-14 14:36] richard-drummond commented on #514
I agree.  I am not sure why mod_oidc is saying no client secret is configured.  it certainly is configured on the client.  Maybe @zandbelt can shed light.  If you want me to move this issue to his git I sure can....

[2019-08-14 14:40] panva commented on #514
I'm just going to lock this one here as there's nothing I can do.

[2019-08-14 14:51] panva commented on #514
@richard-drummond I think the @zandbelt's client may be somehow resolving the method to use and since "none" is listed first in this OP's discovery it uses that.

You gotta a find a way to explicitly set the client software method to use since it does not default to "client_secret_basic" or "client_secret_post" when supported but rather the first one it recognizes from the list, which in this case

[2019-08-14 14:57] zandbelt commented on #514
is "none" even in the spec?

[2019-08-14 15:01] panva commented on #514
https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

its' the defined method for public clients.

[2019-08-14 15:03] zandbelt commented on #514
that's about client registration; the OP Discovery spec - which is what we are dealing with here - does not mention it https://openid.net/specs/openid-connect-discovery-1_0.html

[2019-08-14 15:06] panva commented on #514
"none" is an IANA registered OAuth Token Endpoint Authentication Method, it just as any other new method registered via an extension MAY be listed as supported value.

[2019-08-14 15:23] major-mann opened #515 "404 when requesting through alternate route"
I have been trying to setup some internal service routing. Everything works fine when using the standard public routing, but when using the internal routing all routes defined by the oidc provider return 404.

I assume I am missing a header or headers (I have tried as many combinations with the x-forwarded headers but none seem to make a difference), but am not able to determine which ones (Or, if

[2019-08-14 15:31] panva commented on #515
`ctx.method` and `ctx.path` is what matters to any koa router. Proxy header rules are useful for changing what the provider sees as hostname, but not paths.

[2019-08-14 15:37] major-mann commented on #515
OK, So... When we do a request to the same path (e.g. `/certs`) what could be causing one of the requests to be returning 404?

[2019-08-14 16:05] panva commented on #515
No idea, plenty of things starting with how you mount (or not) mount the provider etc ending with what you proxy requests to the provider with and how.

I cannot help further unfortunately. Debug, add middlewares, try with a regular app, compare.

[2019-08-14 16:05] #515 closed

[2019-08-14 16:15] major-mann commented on #515
I will . be doing exactly that tomorrow. Thanks for your help pointing to the method and path as potential entry points into the problem

[2019-08-21 08:38] stanleyyuenyiu opened #516 "What is the major different between session/end and token/revocation"
Im using PKCE and mongo for openid connect, my purpose is to setup a auth server for my SPA

how do i init the logout flow?

should i call token/revocation or redirect to session/end to clear the session

as my test token/revocation will clear the token only, user can re-login without typein pwd

session/end is totally destroy the session, which user require to login, but also needed to accept the

[2019-08-21 09:17] panva commented on #516
https://openid.net/specs/openid-connect-session-1_0-28.html#RPLogout

depends on the version of the provider you're using (v5 and v6 have differences), this detail is missing from your issue and i would love it you followed the issue templates and provided useful details in the first place.

- https://openid.net/specs/openid-connect-session-1_0-28.html#RPLogout
- https://tools.ietf.org/html/rfc700

[2019-08-21 09:17] #516 closed

[2019-08-21 09:17] stanleyyuenyiu commented on #492
actually i skip it by modify the code at

interaction/:uid

while the prompt.name == consent
i directly return below code, and it will skip the Authorize part, and auto Authorized by below code

`
await provider.interactionFinished(req, res, result, { mergeWithLastSubmission: true });
`

[2019-08-23 09:02] panva commented on #419
@sunpeinju v6.6.0 now supports lts/dubnium Node.js release line.

[2019-08-25 13:16] Ineluki opened #517 "Cookie Keys - TypeError: Cannot read property 'getHeader' of undefined"
**Describe the bug**
This occurs when using the config shown below, if the cookies.keys option is set.
When commenting out the cookies block of the config, the devInteraction endpoint is shown without problem.

**To Reproduce**

[code]

Steps to reproduce the behaviour:

1.  setup provider with config
2.  use test tool (e.g. https://github.com/VirginPulsePublic/openid-connect-tool)
3.  attempt to

[2019-08-25 17:39] panva commented on #517
I can't reproduce the issue, if you could provide a working gist rather than this excerpt.

Anyway, i think there may be a couple things at play.

- you're swapping the values and not clearing your cookies, what can happen is that you have a session cookie, then you enable signed cookies and when the existing one gets loaded it fails and tries to unset them. I can fix that by extending `interactio

[2019-08-25 17:49] #517 closed

[2019-08-26 06:01] Ineluki commented on #517
Here's a minimum server gist that produces the error for me:
https://gist.github.com/Ineluki/8975227e0a5d88070bb23804b42e32d2

The debug tool produces this request first, which works:
http://localhost:3000/auth?client_id=test&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=default&response_type=code
and then redirects to
http://localhost:3000/interaction/VO2dCYMcELndxH33Vy_nM
which produces th

[2019-08-26 07:13] panva commented on #517
the secret on your koa app that you mount to and the one you pass to the provider configuration must be the same.

[2019-08-26 07:17] Ineluki commented on #517
Indeed, that was it! Thanks!

[2019-08-26 13:48] grantchv opened #518 "v5 documentation access"
Since the v5.x branch was deleted, we have lost documentation to the previous documentation that has enough differences with 6.x to make it worth keeping. Would it be possible to make the documentation available again, at least until Node 12 is finalized when it goes into LTS in October?

[2019-08-26 14:30] panva commented on #518
https://github.com/panva/node-oidc-provider/tree/v5.5.6

Github gives you tag browsing.

[2019-08-26 14:30] #518 closed

[2019-08-26 18:49] Ineluki commented on #404
I'm having a similar issue so I'll ask this here, since I found the docs do not touch on this issue: In an app with a login outside of the provider and any interaction, how do I tell the provider that the user is already logged in when an interaction starts (or before?), so that the redirect to login never happens?

[2019-08-27 04:34] ofairfoul opened #520 "Customize structured Access Token"
**Is your feature request related to a problem? Please describe.**
I would like to be able to customize the JWT Access Token format by providing my own formatter class. The reason is I need to add an x5t from my signing certificate to the header for compatibility with an old identity server.

**Describe the solution you'd like**
Add something to the confg object to add a custom formatter
[code]

*

[2019-08-27 06:50] davidgtonge commented on #520
This would be useful for us as well. At the moment we are overriding the AccessToken class

[2019-08-27 06:52] panva commented on #520
@ofairfoul @davidgtonge can you elaborate on the customizations you wish to make so that I can think of a solution?

[2019-08-27 06:58] davidgtonge commented on #520
We wanted to add some custom claims to the access token. I think at the moment we bundle all the claims associated with the grant in the access token.

[2019-08-27 07:04] panva commented on #520
@davidgtonge in v6.x there's already [`extraAccessTokenClaims`](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#extraaccesstokenclaims) that's going to push everything non-conflicting to the structured access token.

[2019-08-28 09:45] rmaher001 opened #521 "Configuration for interactions URL not taking"
I am new at using oidc-provider. I am trying to change the the URL path from:
https://foo.bar.com/ to https://foo.bar.com/**api-test-sever**

I have the following show from the config endpoint:
issuer URL: foo.bar.com/api-test-sever
authorization_endpoint: foo.bar.com/auth
all other endpoints also show as foo.bar.com/ with no path api-test-server

The configuration is based on the express example.

[2019-08-28 09:58] panva commented on #521
Hi @rmaher001

Please take the time to format your issue's description properly first.

[2019-08-28 16:05] panva commented on #521
@rmaher001 it sounds to me like you actually care to mount the provider to a given path (and have all paths relative to that), `interactions.url` is not the means to achieve that. [`Mounting oidc-provider`](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#mounting-oidc-provider) is a way to achieve that.

Please correct me if i'm wrong.

[2019-08-28 20:39] panva commented on #521
Can you post how your actual google cloud function looks? This is pretty specific so i can't help you without knowing how you're calling everything inside the function.

[2019-08-28 21:09] panva commented on #521
Google cloud functions abstracts the "function name" away from the url. This would be fine if you had a custom CNAME / custom url for the function's invocation.

The problem doesn't lie with the provider but rather, your environment and the fact that while its public its not really intended for production use like this (with the function name).

You may try

- putting this into your function's han

[2019-08-28 21:09] #521 closed

[2019-08-29 18:20] panva commented on #520
@ofairfoul please gives this a try and provide feedback.

[code]

https://github.com/panva/node-oidc-provider/blob/customize-structured-tokens/docs/README.md#customizestructuredaccesstoken

[2019-08-30 00:03] rmaher001 commented on #521
Thank you Filip. I ended up ditching Google Cloud Functions and deploying my own server.

[2019-08-30 01:29] rmaher001 opened #522 "Access Token obtained from Refresh Token invalid"
When I try to use an access_token exchanged from a refresh token which was originally obtained from an authorization_code, I get "error": "invalid_token". Here are the steps taken:

**1.** The request to obtain a new authorization code (**succeeds**):
[code]
**2.** The request to exchange the authorization code for a refresh token (**succeeds**):
[code]
**3.** The request to exchange the refresh t

[2019-08-30 05:55] panva commented on #522
Richard, in step 3 your refresh token exchange downscopes the access token to just offline_access.

Userinfo requires that the access token has openid scope.

[2019-08-30 05:55] #522 closed

[2019-08-30 05:56] panva commented on #522
Running the server with DEBUG=oidc-provider:* would have told you that right away.

https://github.com/panva/node-oidc-provider/blob/master/README.md#debugging

[2019-08-30 19:29] #520 closed

[2019-08-30 19:40] panva commented on #520
Released in [v6.7.0](https://github.com/panva/node-oidc-provider/releases/tag/v6.7.0)

[2019-09-01 03:15] pshaddel opened #524 "problem in using the examples"
When I try to start example I got this error :
Error: keystore must be a JSON Web Key Set formatted object
    at Provider.initializeKeystore (/.../node-oidc-provider/lib/helpers/initialize_keystore.js:61:11)
I ran the tests before starting the example but every test passed successfully.
and when I print the jwks it is in correct format.

[2019-09-01 07:13] rmaher001 opened #525 "Calling the introspection endpoint directly"
The resources that require protection are on the same node server as the oidc-provider. I am trying to avoid the http post, is there a way to verify the access token by directly calling the introspection code?

Thanks,
Richard

[2019-09-01 08:06] panva commented on #524
@pshaddel you seem to be using mismatching version of the library to the examples.

Which example are you using? Maybe i forgot to update some.

[2019-09-01 08:07] panva commented on #525
That’s not something the library deals with. If you have access to the db you may mimic the introspection yourself. Otherwise - post / introspect a structured token.

[2019-09-01 08:07] #525 closed

[2019-09-01 08:08] pshaddel commented on #524
this one : https://github.com/panva/node-oidc-provider/blob/master/example/express.js

[2019-09-01 08:18] panva commented on #524
You're using node 10 right? The sample uses an EdDSA signing key that isn't supported by node 10 runtime.

[2019-09-01 08:18] #524 closed

[2019-09-03 10:41] pttse opened #526 "invalid_request: unrecognized route or not allowed method (GET on /)"
**Describe the bug**

render problem

Have started all three versions( koa, express, standalone) one by one, but the rendered page all displays the same error message:

<img width="468" alt="Screenshot 2019-09-03 at 6 31 11 PM" src="https://user-images.githubusercontent.com/2939262/64166281-58576d00-ce79-11e9-8770-6f490a76aa80.png">

Not sure if I get the flow or not, have checked other issues in

[2019-09-03 10:45] panva commented on #526
Hi @pttse,

this is perfectly expected, there's no handler for the root route. You may wanna check `/.well-known/openid-configuration` where all the enabled protocol related stuff has its configuration metadata.

[2019-09-03 19:58] #526 closed

[2019-09-09 01:55] ofairfoul commented on #520
@panva thanks so much this is amazing work, it works perfectly.
The only minor suggestion I would like to make is to maybe include the key (and alg?) in the customizer function signature. I know which key is likely to be chosen based on my config and sort of hardcode it it but think it would be less prone to error to use the same key resolver as the token format model.

[2019-09-09 13:15] alecap7 opened #527 "Selecting multiple accounts"
Hi panva,
I'm following the example at https://github.com/panva/node-oidc-provider/tree/master/example.
Looking at the code related to the account selection feature, I wonder if it is possible to select between more than one active user (without switching and re-logging, being able to manage multiple active sessions).
In practice, is it possible to offer a UX as in the image using only features of

[2019-09-09 13:36] panva commented on #527
The Provider only maintains one end-user in its session. Your interactions may keep more of them and offer this `select_account` feature. This will however keep on changing the provider cookies and trigger cleanup logouts whenever the principal changes. You would also need to disable all "session bound" tokens by setting `expiresWithSession` to always return false.

I don't have a better answer fo

[2019-09-09 13:51] alecap7 commented on #527
Ok, i've got it.
Fortunately it was just a curiosity :relaxed:

Thanks for your work and your quick replies!

[2019-09-09 13:55] #527 closed

[2019-09-10 07:03] stefdaems opened #528 "on /token endpoint -> keyObject.asInput is not a function at sign"
**Describe the bug**
Whenever I send the a code retrieved from the authorization flow towards the /token endpoint I do get server_error keyObject.asInput is not a function at sign.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  authorize correctly
2.  send token to /token endpoint
3.

**Expected behaviour**
claims are retrieved

[2019-09-10 07:05] panva commented on #528
Hi,

node version v11.9.0 is not a supported runtime. Can you retry with one that’s supported first?

[2019-09-10 07:53] stefdaems commented on #528
Doesn't think the node version has got anything to do with it. The application is running in a docker container, just fyi.
Tried it with other node version (12.10.0) and there it is working.

What can be causing the error to be thrown?

[2019-09-10 07:58] panva commented on #528
It is the node version.

1) v11 has reached its end of life on 2019-06-01
2) @panva/jose - the underlying JOSE library is backfilling missing features from node 10 that aren't available in node 12, to do that its taking into consideration only the differences between v10 and v12, v11 was in a state where something was present thats in node 12 but not all.

Please use the indicated supported runtim

[2019-09-10 07:58] #528 closed

[2019-09-10 09:46] stefdaems commented on #528
Solved idd, changed node version to v12.10 and issue no longer exists.
Thanks for the quick feedback and help!

[2019-09-10 13:06] stefdaems opened #529 "Error invalid grant on enabling Redis adapter"
**Describe the bug**
Before everything was working using the in memory adapter. Now I've implemented the redisAdapter as per example, I do receive errors on targeting the /token endpoint.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  authorize correctly
2. send token to /token endpoint

**Expected behaviour**
tokens are retriev

[2019-09-10 13:20] panva commented on #529
Did you copy the redis adapter as-is or made changes? When i run the samples with the redis adapter i'm able to authenticate just fine.

[2019-09-10 13:22] stefdaems commented on #529
Hi, Thanks for the quick support. I've copied them as-is

[2019-09-10 13:27] panva commented on #529
I'm going to need more details as i cannot reproduce. "as in your examples" is not sufficient.

[2019-09-10 13:28] panva commented on #529
anyway,

The Authorization Code is found but the session's account identifier that the code is bound to is not the same anymore.

[2019-09-10 13:31] stefdaems commented on #529
I've tested it using the https://openidconnect.net
Redis adapter used:
`
const Redis = require('ioredis'); // eslint-disable-line import/no-unresolved
const isEmpty = require('lodash.isempty');

const client = new Redis(process.env.REDIS_URL, { keyPrefix: 'oidc:' });

const consumable = new Set([
  'AuthorizationCode',
  'RefreshToken',
  'DeviceCode',
]);

function grantKeyFor(id) {
    console.l

[2019-09-10 13:41] panva commented on #529
I am 100% certain the adapter sample works fine as i cannot reproduce the issue. Once more I ask for the rest of your configuration.

[2019-09-10 13:44] stefdaems commented on #529
Sorry, the configuration is here

[code]

[2019-09-10 13:45] panva commented on #529
What's your `findAccount`?

[2019-09-10 13:50] panva commented on #529
I’m thinking your accountId values may be integers. That could cause confusion. Throughout openid connect the sub claim, account id, whatever you call it - must be a string.

[2019-09-10 13:53] stefdaems commented on #529
The accountId doesn't contain integers, but mailaccounts. Maybe the @ signs can cause problems?

[2019-09-10 13:55] panva commented on #529
Nope, that’s not it. If its a string it works.

[2019-09-10 13:57] panva commented on #529
What's your `findAccount`?

[2019-09-10 13:58] stefdaems commented on #529
[code]

[2019-09-10 14:01] panva commented on #529
@stefdaems these examples are not helping if I don't see the Account implementation.

Also note that `findById` is not used in v6.x anymore - which examples did you copy this from?

[2019-09-10 14:02] stefdaems commented on #529
https://github.com/panva/node-oidc-provider-example/blob/master/03-oidc-views-accounts/account.js

[2019-09-10 14:10] stefdaems commented on #529
This is the implementation of the Account
[code]

[2019-09-10 14:19] stefdaems commented on #529
Can it be an issue if I don't add the accountId to the sub? like this

[code]

But I do it like this

[code]

[2019-09-10 14:26] panva commented on #529
That first sample's `sub` is completely wrong.

Using all the steps from https://github.com/panva/node-oidc-provider-example everything works fine. Hence i'm going to close this as not a bug, confirming the current label that the problem is your code/environment. Please retrace your steps and re-apply your changes in step by step manner.

I don't have the capacity to debug your code. My recommenda

[2019-09-10 14:26] #529 closed

[2019-09-10 14:29] stefdaems commented on #529
Thanks for your support;

so this sub is fine

[code]

[2019-09-10 18:04] stefdaems commented on #529
Fixed

[code]

Caused to account object to be filled up with another accountId object. This made the structure go nuts.

[2019-09-11 10:24] panva commented on #228
After writing `.d.ts` typescript definitions for openid-client, @panva/jose, and paseto I took a stab at doing so for `oidc-provider`.

I kindly ask everyone to try them and provide feedback, 👍 or 👎 in #530

[2019-09-11 10:24] panva commented on #419
After writing `.d.ts` typescript definitions for openid-client, @panva/jose, and paseto I took a stab at doing so for v6.x `oidc-provider`.

I kindly ask everyone to try them and provide feedback, 👍 or 👎 in #530

[2019-09-17 14:22] panva commented on #228
Typings released in v6.9.0

[2019-09-17 14:22] panva commented on #419
TypeScript Typings released in v6.9.0

[2019-09-18 17:09] KalleV opened #531 "Unable to cancel end_session logout without revoking grants"
Hello, I'm setting up the session management feature for my project and running into an issue with cancelling logouts. On the default end session page, when I cancel the logout, it is still hitting this block: https://github.com/panva/node-oidc-provider/blob/4ac3905aac5a32c9dc2ccba29975f68587bf77b2/lib/actions/end_session.js#L199 and revoking all the grants such as the AccessToken.

How can I prev

[2019-09-18 17:30] panva commented on #531
There’s no logout cancel. There’s logout completely or logout just from the RP that initiated it.

[2019-09-18 17:31] #531 closed

[2019-09-18 18:09] KalleV commented on #531
So there isn't a way to prevent the grants from being revoked if the user selects "No, stay signed in" from the logout page?

[2019-09-18 18:24] panva commented on #531
No, it proceeds with a specific RP logout (clears data from session) but keeps the OP session overall.

[2019-09-18 18:43] panva commented on #531
You can however add your own markup to the logout confirmation prompt that doesn't submit the form and simply leads anywhere with processing the OP side of the logout.

[2019-09-18 19:59] KalleV commented on #531
Thanks, I'll try that!

[2019-09-19 07:45] kareha opened #532 "How do I check if a session is present?"
I want to use oidc-provider to built a identity management.
How do I implement single sign on?
When I call http://localhost:3000/auth?.. to login, I get redirected to /interaction/:uid every time, even if I already logged in. Is there no option to stay logged in?

How can I check if the user is logged in, when I configure a route like http://localhost:3000/account to create a page for user profile

[2019-09-19 07:50] panva commented on #532
This library exposes just the oidc interface, nothing more - it does not expose identity management.

That being said you have multiple options

1) your identity management platform is a client of the OP itself - you can adopt the interaction policy to skip consent prompts for this client and just get yourself the tokens.

2) see #494 - use the fact that the session may already be established and

[2019-09-19 07:50] #532 closed

[2019-09-19 08:04] kareha commented on #532
Thank you. Maybe I can use something like:

[code]

Or would you advise against it?
I think you helped me out :) thx

[2019-09-19 08:09] panva commented on #532
sounds about right, and when there's no session you likely want what's described in the first bullet - an "OP Client" to login the user.

[2019-09-24 11:18] javlund opened #534 "Callback TypeScript signature changed"
Hi @panva

I came a few days late to the party when it came to reviewing the new types, but I'm so happy that they're in and I've been spending some time updating my application to using version 6 of oidc-provider.

There seems to have snuck in a regression in 6.10.0 though. As I need to initialize oidc-provider before I call the callback function, I have something like this in my code:

[code]

T

[2019-09-24 11:33] panva commented on #534
Fixed in v6.11.1

[2019-09-24 11:35] javlund commented on #534
Lightning fast answer and resolution, thanks so much. You rock!

[2019-09-25 10:30] kareha opened #535 "Questions: Local login to idp without client"
Hi,

I need to develop management pages around oidc-provider, like _https://idp.example.com/account/manage_ or _https://idp.example.com/admin/create-client_ .
How would I design a local login?

For example:
User goes to idp.example.com to just create a session with the idp (no redirect to other pages/clients)
Should user gets redirected to
_https://idp.example.com/login_
 or
_https://idp.example.c

[2019-09-25 10:44] panva commented on #535
You can either set up a local client or use any out of band authentication mechanism on any of your pages with credentials and use `provider.setProviderSession` to establish the session.

For something like this you should probably use a strong authentication confidential client and grant_type code. But the restriction to localhost comes from the spec and there are plenty of issues i've answered a

[2019-09-25 10:44] #535 closed

[2019-09-26 13:29] javlund opened #536 "Logout without prompt"
I'm looking for a way to have the RP log out the user from the OP without directing the user through a prompt.

I have read the [spec](https://openid.net/specs/openid-connect-session-1_0.html#RPLogout) on this matter and realize that it states that "the OP SHOULD ask the End-User whether he wants to log out of the OP as well", and that OIDC-Provider as a faithful provider adheres to this. On the o

[2019-09-26 13:45] panva commented on #536
Hi @javlund,

using `logoutSource` and defining the conditions under which you want to go "promptless" ergo rendering a self-submitting is the only way I want to support.

There's a lot of logic in the confirm prompt action that i do not wish to duplicate to the end_session_endpoint.

I considered yet another helper function that controls whether `logoutSource` or a static self-submit is called bu

[2019-09-26 13:55] javlund commented on #536
Thanks for a blazingly fast response again!

I would love an option to have the endpoint act as a self-submitting form as I believe it's a common usecase and would spare several developers from a bunch of boilerplate, but understand if it's not a priority.

[2019-09-26 13:58] panva commented on #536
If that's the case people will chime in on either of the existing issues. If the issues guide them to `logoutSource` or a new helper function i don't think makes a difference.

`logoutSource` should be updated by everyone anyway so i don't think of this as boilerplate.

[2019-09-26 13:58] #536 closed

[2019-10-01 13:35] bob-sheknowdas opened #537 "findAccount invoked on request at Auth-Endpoint"
Hi,

I'm observing, that the findAccount-method is invoked when a client sends a request to the auth-endpoint.

What i found in your source code is, that you [bind findAccount to 'authorization'](https://github.com/panva/node-oidc-provider/blob/aaf5740df8d7fad766ae8225449b9c1a6907494b/lib/actions/authorization/index.js#L150).

I'm handling my authentication logic on my own in a dedicated method th

[2019-10-01 13:36] panva commented on #537
@bob-sheknowdas `findAccount` is called to confirm the account in the session is "still there". If you wish to make the findAccount a no-op, you can, the claims() method can also be async.

[2019-10-01 13:36] #537 closed

[2019-10-02 13:51] phwowcs opened #538 "Support Multiple Databases"
Hi @panva

Firstly, thank you for making a cool library!
My authentication service needs to support a database for each customer. Could you please give me a hint about the best way to handle this use case? Thank you so much.

[2019-10-02 13:55] panva commented on #538
@phwowcs switching storage based on contextual information is something you can place in your adapter (entity storage such as tokens), similarly the `findAccount` helper can switch the used storage based on context.

All of javascript language is available to you.

[2019-10-02 13:55] #538 closed

[2019-10-02 14:16] phwowcs commented on #538
Fast support! Thanks @panva
I have a concern here, how an adapter knows the context to switch between multiple database connections for each request?

[2019-10-02 14:20] thecopy opened #539 "invalid_client_metadata with grant_type "implicit" and response_type "id_token token""
**Describe the bug**
Im getting
[code]

For this client configuration:
[code]

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]
// keystore(s) - if they affect the behaviour
[code]
// client(s) configuration
[code]

Steps to reproduce the behaviour:

1.  Create this file:

`index.ts`:
[code]

2. Install dependencies: `
npm install @types/koa @types/koa-mount @types/node

[2019-10-02 14:36] panva commented on #539
https://github.com/panva/node-oidc-provider/blob/v6.12.3/docs/README.md#responsetypes

`id_token token` is not enabled by default as it is no longer recommended for use by new application by the IETF OAuth 2.0 WG.

[2019-10-02 14:36] #539 closed

[2019-10-02 14:56] thecopy commented on #539
Thank you.

[2019-10-02 15:01] panva commented on #538
@phwowcs i was always reluctant to add `ctx` to the adapter, which part of the context do you depend on to decide on the storage?

[2019-10-02 15:14] phwowcs commented on #538
@panva I'm not sure about this, but I need something like that:
Each request will have a header or a query param contains the database connection info ( as I said before each customer will have a database ), after that, I want the adapter to use this database connection.
Thanks for the great support.

[2019-10-02 15:17] panva commented on #538
I think you may wanna use multiple Provider instances on different domains (tenants) instead.

[2019-10-02 15:21] phwowcs commented on #538
Got it. Thank you!
By the way, just one more question, can we have multiple instances of Provider in one Express app?

[2019-10-02 15:23] panva commented on #538
so long as you mount or execute their callbacks properly, yes.

[2019-10-02 15:24] phwowcs commented on #538
awesome, thanks!

[2019-10-02 19:59] ianmobbs opened #540 "DynamoDB Adapter?"
I've seen in a few issues that there are a couple known implementations of a DynamoDB Adapater for `node-oidc-provider` - I was wondering if you could link them, or include an example of one in the `example/adapaters/` folder? In addition to this, it would be awesome if there was some sort of data model explaining the tables, fields, attributes, and indices needed. I've seen the [my_adapter](https

[2019-10-02 20:31] panva commented on #540
All examples i have at hand are already in that folder + all access patterns are described in the adapter file and docs. That ought to be enough to get started.

If you do indeed wish to contribute your sample when you’re done, we will for sure welcome the contribution.

[2019-10-02 20:31] #540 closed

[2019-10-02 20:33] ianmobbs commented on #540
Thanks @panva! I was just hoping you'd be able to link to a specific DynamoDB examples you've said you've seen [here](https://github.com/panva/node-oidc-provider/issues/126#issuecomment-312714426). I have seen the [mongodb adapter](https://github.com/panva/node-oidc-provider/blob/master/example/adapters/mongodb.js) already.

[2019-10-02 20:41] panva commented on #540
It shouldn’t come as a surprise that i’m not able to share and disclose source code that i’m not an author or an owner of.

[2019-10-02 20:42] ianmobbs commented on #540
Ah, I assumed they were open source implementations, not closed source - considering the platform we're on :)

[2019-10-02 22:16] alvis opened #541 "Return Types in Adapter"
Should `void` instead of `undefined` be the right type in the return of `upsert`, `consume`, `destroy` & `revokeByGrantId` of Adapter?

If it's `undefined`, it imples that these functions must expliticly return `undefined`.

https://github.com/panva/node-oidc-provider/blob/a842b7123854ee5ac5f6b30fd2c53a9ef8b11d5d/types/index.d.ts#L779
https://github.com/panva/node-oidc-provider/blob/a842b7123854ee

[2019-10-03 06:42] panva commented on #541
Just following what `dtslint` said here. If that's not the norm in TS please let me know i'll add void back and silence the linter instead.

[2019-10-03 07:16] #541 closed

[2019-10-03 10:46] alvis commented on #541
Unless you expect an explicit return, which I don't think so, the return type should be void.
See https://github.com/microsoft/dtslint/blob/master/docs/void-return.md

To demostrate, here are some examples

[code]

[2019-10-06 14:28] dobby5 opened #543 "Clients via mongodb"
Hello,

i have been trying for days to retrieve client information via a database (MongoDB). But without success.

The Mongodb adapter is included and I tried different methods.

[2019-10-06 17:28] CallMeLaNN commented on #543
Client metadata is statically defined in `clients` configuration but for dynamic clients, you have to turn on `features.registration` to enable OIDC "Dynamic Client Registration" and follow the spec to register new client at `/reg`

[2019-10-06 18:21] panva commented on #543
@CallMeLaNN that’s not entirely true. Clients, when not found in the static configuration are also using an adapter to load the metadata.

@dobby5 you’re going to be more specific with your question.

The adapter method find(id) is used to retrieve metadata (the same metadata object and types you otherwise configure statically)

[2019-10-06 18:21] #543 closed

[2019-10-06 20:18] dobby5 opened #544 "Account and Mongodb"
Hello again,

I am thinking about retrieving the user data from a database (MongoDB). Now my question would be, which procedure would be the best, safest and how should I proceed?

Greeting Dobby ;)

[2019-10-06 20:27] panva commented on #544
Hi Dobby,

Please read the docs before opening question issues. If you don’t spend the time trying to understand the project i won’t spend answering whats in the docs.

[2019-10-06 20:27] #544 closed

[2019-10-08 16:00] msg-mmenendez opened #545 "help needed: our interaction session is not being found after login"
**Describe the bug**
When our client (An angular app using angular-oauth2-oidc library) starts is redirected to the provider correctly.
Then the login page apear, user introduce username & password and then user gets ´SessionNotFound: invalid_request´ error.

**Source code**

oidc.config.js
[code]

database.adapter.js
[code]
main.js
[code]

interaction.controller.js
[code]

**Environment:**
 - oid

[2019-10-08 16:09] panva commented on #545
Writing "as the user sees it" is not really helpful, can you provide a HAR of the exchange the browser does?

[2019-10-08 21:47] #545 closed

[2019-10-11 12:06] kareha commented on #492
If it does help anyone:
You can remove the policy by:

[code]

Add the basePolicy to configuration. That will skip the "this is a new authorization .. scope .. continue"-part.

[2019-10-14 11:58] bob-sheknowdas opened #546 "cookie management"
Hi,

I'm trying to set custom cookies.
As suggested [here](https://github.com/panva/node-oidc-provider/issues/343) I'm trying to set the cookies in a custom post-middleware.

however, that doesn't seem to work.
No cookie is created...

My code looks like this:
[code]

Am I doing anything wrong here?

[2019-10-14 12:08] panva commented on #546
`set-cookie` headers are being returned with the response when i try your post middleware.

What do you expect happens? What use do you have for returning `set-cookie` headers from a token endpoint call?

[2019-10-14 12:08] #546 closed

[2019-10-14 14:49] kareha opened #547 "Question: Own session handling"
Hi,

is it possible to have an own session handling like "express-session" or "cookie-session" combined with passport for example?

The reason behind that is, that it would allow to add another type of provider like saml, and both could share the same single sign on or provider login session.

Is there a way of telling oidc-provider how to start a session and how to check for a session?

Or maybe

[2019-10-14 14:54] panva commented on #547
There is not.

You can force a session on the provider during a request using `provider.setProviderSession`, you can't change "how to check a session exists"

Custom session model overrides, interaction policy to begin with. It's not intended tho so i can't guarantee you'll manage you'll manage to do it.

[2019-10-14 14:54] #547 closed

[2019-10-14 15:32] marekmicek opened #548 "Dev interactions don't work with mountPath other than '/'"
**Describe the bug**
When using a mountPath as described in https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#mounting-oidc-provider the dev interactions POST action URL still points to the '/interactions/<%= uuid %>'

**To Reproduce**

[code]

Steps to reproduce the behaviour:

1.  Made a valid request to the provider, that would require the redirection to the dev interaction

[2019-10-14 15:54] #548 closed

[2019-10-14 15:56] panva commented on #548
Thank you for raising this @marekmicek

[2019-10-15 02:32] lin826 opened #550 "How would this provider work with form_post in implicit flow?"
Hello,

I tried to set `response_mode` as `form_post` for a demo backend client (using [panva/node-openid-client](https://github.com/panva/node-openid-client)). But Nothing is shown in the body of the response ([error_message](https://github.com/panva/node-openid-client/blob/70dc0e1cca491eaea3cc3c392cb172caab463b6b/lib/client.js#L367)). How would this provider work with form_post in implicit flow?

[2019-10-15 05:43] panva commented on #550
Cmon man, the error message on the client tells you what to do.

The request body just need to be parsed with, e.g. app.use(express.urlencoded())

[2019-10-15 05:43] #550 closed

[2019-10-16 17:43] thomasvargiu opened #551 "TS "policies" type"
Hi,

the configuration "features.registration.policies" type doesn't allow use of async functions.

I suggest to change it from:
[code]
to:
[code]

[2019-10-16 18:51] #551 closed

[2019-10-16 18:52] panva commented on #551
@thomasvargiu thanks for reporting this. It'll be included in the next release.

[2019-10-17 14:39] stefdaems opened #552 "Axios request for authorization not redirect to external login page"
**Describe the bug**
I do have a react app running on localhost:3000, besides that there is an openid service running on localhost:4444, which is taking on the requests and performing the authentication. Third and last service is the service on which I want to finish, a basic app running localhost:3300 where the /finish target uri is located.

On localhost:3000 a start button is placed with an Axi

[2019-10-17 15:13] stefdaems commented on #552
Thanks for the quick response

[2019-10-17 15:51] kartikchauhan opened #553 "Different class structures in helpers/errors.js"
Few Error classes have been declared directly and few have declared inside a `forEach` loop. I couldn't understand the reason behind it. Is there any specific reason to not declare all the classes inside the `forEach` loop?

[2019-10-17 16:10] panva commented on #553
Hi @kartikchauhan

Their constructors or handlers differ. That’s why.

[2019-10-17 16:10] #553 closed

[2019-10-17 17:05] stefdaems commented on #552
After reading the response again following remarks:

1. I've updated the config cookies.short.path as you suggested, no luck.

2. The authorization call redirects internally to the /interaction/:uid, it is in that function that the redirect towards an external login is made.

it is still not clear to me why the sequence of calls I'm trying to make from in my apps is not working properly, as it is

[2019-10-18 14:00] kareha opened #554 "Signing JWT Access Tokens per client"
Hi,

is there a way to set a asymmetric key pair for signing the jwt access tokens (jwt-ietf) per client?
For example create a pair, set the private key at client object and put the public key at the resource server?

If not, how is the proper way for a resource server validating an access token?

Thank you!
Kind regards

[2019-10-18 14:30] panva commented on #554
Hi @kareha

There's no way to have client specific asymmetric keys to sign assertions with. Everything the provider signs comes from its keystore that it publishes at the `jwks_uri`.

[2019-10-18 14:30] #554 closed

[2019-10-22 12:14] tedbellhop opened #555 "Deleting the dynamically created client does not delete the registration access token"
Hi,

Deleting the dynamically created client does not delete the registration access token associated with that client.

This is how I have my dynamic client registration features configured, rest of the configuration is as in your [example](https://github.com/panva/node-oidc-provider/blob/master/example/support/configuration.js):
[code]

I've also tried rotating the registration access tokens (`f

[2019-10-22 12:22] panva commented on #555
Hi @tedbellhop,

nice catch, i'll add a test and fix soon.

[2019-10-22 12:28] tedbellhop commented on #555
Thanks for the reply!

There seems to be a related bug though.

Making a delete request to non-existing client (non-existing `uid`) with `features.registrationManagement.rotateRegistrationAccessToken` set to `true`, removes the `RegistrationAccessToken` even if that token already belongs to existing client.

Example request:
[code]

[2019-10-22 12:31] panva commented on #555
That's not a bug but intended

[2019-10-22 12:48] tedbellhop commented on #555
Thanks for clarification.

Is there a way to reissue the access token for the client in that case, or should client re-register?

[2019-10-22 12:50] panva commented on #555
[code]

[2019-10-22 12:58] #555 closed

[2019-10-22 20:23] stefdaems opened #556 "no refresh token returned when token_endpoint_auth_method not set to none"
**Describe the bug**
When the token_endpoint_auth_method is not set to none, the refresh token is never returend upon the /token request.
eg.
{
    client_id: 'test_website',
    client_secret: 'test',
    grant_types: ['authorization_code', 'refresh_token'],
    response_types: ['code'],
    redirect_uris: ['https://openidconnect.net/callback'],
    token_endpoint_auth_method: 'client_secret_basi

[2019-10-22 20:28] amaciver commented on #556
https://github.com/panva/node-oidc-provider/tree/master/docs#issuerefreshtoken this might be what you are looking for

[2019-10-22 20:38] stefdaems commented on #556
scope: openid offline_access, is set in the request for authorization
grant_types: refresh_token is set in the client config

according to the default config, this should return true so the refresh token should be returned... no?

[2019-10-23 07:00] panva commented on #556
Your request is probably missing `prompt=consent` that's why scope offline_access is ignored and pulled from the scopes.

There have been similar issues opened in the past, the FAQ has an entry about this and its totally unrelated to token endpoint auth method.

[2019-10-23 07:00] #556 closed

[2019-10-23 14:57] joolfe opened #558 "supported responseTypes not validated before oidc required"
**Describe the bug**
When oidc-provider is configured with only response type of value 'code' ( in config `responseTypes: ['code']`) and we send in an authorize request a response type of 'id_token', is not failing because unsupported response type, is asking for a nonce with an error "missing required parameter 'nonce'"

**To Reproduce**

I have a create a repo with some test that reproduce the e

[2019-10-23 15:06] joolfe opened #559 "Incorrect private_key_jwt return 400 instead 401."
**Describe the bug**
When using 'private_key_jwt' authentication, if the jwt is incorrect (not follow rules described in https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) for example don't have claim sub, oidc-provider is returning a 400 error and should be a 401 Unauthorized

**To Reproduce**
I have a create a repo with some test that reproduce the error here 'https://gi

[2019-10-23 15:10] panva commented on #559
Hi @joolfe

Why? When the format is incorrect, its clearly an invalid_request and as it'll never pass even if you changed the existing claims.

Once the token is passable as a client_assertion for the server, at that time the error becomes 401 and it swallows the validation message as to not give any clue about what to change to the attacker. Before this, the format to follow is clear and comes fr

[2019-10-23 15:11] panva commented on #558
Hi @joolfe

there are validations bound to run before others, i'm happy to move this validation up the middleware stack tho. Expect a "fix" soon.

[2019-10-23 15:17] #558 closed

[2019-10-24 08:43] panva commented on #559
The 400 in the example is not normative. invalid_client can be either 400 or 401 depending on the context. invalid_request on the other hand is always 400.

I guess it depends on the point at which is the assertion is deemed "acceptable".

The specification is followed once the general token request with client assertion auth format gets satisfied.

[code]

[code]

[2019-10-24 09:43] joolfe commented on #559
I understand perfectly what you mean, and seems like neither oauth or openid specify exactly what to do in this situations...

But from my point of view security layer is on top of all other layers so if for any reason the "client credential" that is being sent is not valid (and this include incorrect format or missing parts) the server should return a "invalid_client" and don't do more validation

[2019-10-24 10:28] joolfe commented on #559
Yes, and also is in violation of 6749 about the status code because Oauth say:

               Client authentication failed (e.g., unknown client, no
               client authentication included, or unsupported
               authentication method).  **The authorization server MAY
               return an HTTP 401** (Unauthorized) status code to indicate
               which HTTP authentication s

[2019-10-24 10:41] panva commented on #559
But because the "OAuth Assertion Framework" is an extension is allowed to modify the behaviour of the base RFCs because you are amending behaviours.

I doubt you'll get a sign-off on this statement.

Example: when a client submits both authorization header and a client_secret, following 6749 its an invalid_request. But following your explanation, when the client submits an authorization header and

[2019-10-24 11:37] bob-sheknowdas opened #560 "Is there a method to validate tokens?"
Does oidc-provider expose a convenience method to validate tokens?

I'm not talking about the introspection endpoint.
Im talking about a js method I can call from my code...

I need to extend my express app by adding some extra non-oidc-functions.
But I want to make these functions accessable only for requests containing a valid bearer token...

I searched through the [provider](https://github.com

[2019-10-24 11:40] panva commented on #560
Hi @bob-sheknowdas

There's no such a thing.

You can do this

[code]

and then check its scope, audience, clientId, grantId, and/or sender constraining mechanisms as the other resource endpoint (userinfo) does.

[2019-10-24 11:40] #560 closed

[2019-10-24 11:42] raymondsze opened #561 "Default path is incorrect for code_verification when using device flow"
**Describe the bug**

<img width="1079" alt="Screenshot 2019-10-24 at 7 37 47 PM" src="https://user-images.githubusercontent.com/15674149/67482242-fefc0500-f695-11e9-9152-f455115b21e3.png">
The form 'action' should be `/oidc/device` instead.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

**Expected behaviour**
The form 'action' should be `/oidc/device` instead.

**En

[2019-10-24 12:02] #561 closed

[2019-10-24 12:04] panva commented on #561
Thanks for reporting this. It'll be fixed with the next v6.x release.

[2019-10-24 12:35] joolfe commented on #559
About

Yes i know, Openid + oAuth + extension, are clashing all the time... but for the concrete case of the "client_assertion" 6749 don't say anything about how to manage this, is even not mention in 6749, so in theory if you want to use this kind of client authentication (the extension) you should follow the rules described in "OAuth Assertion Framework" and make this rules supersede the existin

[2019-10-24 12:40] panva commented on #559
Cool, i’ll mull it over again but will probably not change anything at this point.

Thanks for raising the issues, i appreciate the discussion.

[2019-10-24 12:40] #559 closed

[2019-10-25 08:04] bob-sheknowdas commented on #560
Thanks for your fast reply.

My Issue with that solution:
Im using an express app, not koa. So I dont have access to the koa ctx object and therefor no access to ctx.oidc.getAccessToken.

provider.AccessToken.find(value) does not work with the simple token string that I get from the request header.

Also, you are not using JWTs for the access tokens, so that I could verify the signature part of th

[2019-10-25 08:31] bob-sheknowdas commented on #560
Oh, I just had a really stupid mistake in my code.
Sry for not looking properly -.-

Everythink works now as expected.
Thank you very much.

[2019-10-29 15:05] joolfe opened #562 "PKCE question"
Hi,

Just a question about PKCE feature, Is there a reason why the PKCE feature is mandatory when using a native app and "code" response type? i mean, why is not a enable/disable feature like others?

Thanks in advance!

[2019-10-29 15:08] panva commented on #562
@joolfe https://tools.ietf.org/html/rfc8252

[2019-10-29 15:08] #562 closed

[2019-10-29 15:15] joolfe commented on #562
Great thanks!!

[2019-10-30 10:16] phuongduongcxagroup opened #563 "Can node-oidc-provider work with Nestjs?"
Hi. Currently I'm using Nestjs ask a framework for my nodejs project.
I need to implement node-oidc-provider package.
Do you think the node-oidc-provider will work well with Nestjs.
Please help. Thanks

[2019-10-30 10:20] panva commented on #563
I really have no idea, so long as you can mount a node style http listener `(req, res)` returned by `provider.callback` it should be fine.

[2019-10-30 10:20] #563 closed

[2019-10-31 08:43] bob-sheknowdas opened #564 "oidc-provider and sessions"
I have some issues understanding the session management employed by this library.

In my configuration I added
`features: {sessionManagement: {enabled:false}}`
However there is still an _session cookie created as well as an _interaction cookie.

With the sessionManagement feature disabled, is the expiresWithSession function still effective or will it be ignored?

Could you please elaborate the fun

[2019-10-31 15:10] tmedanovic opened #565 "Interaction routing doesn't work on v6.x.x with AWS lambda"
**Describe the bug**

Same koa mounting (or routing?) code that correctly works on v4.x.x doesn't work on v6.x.x.
I can GET .well-known/openid-configuration correctly (jwks also) but when the client initiates implicit flow i get following:

![image](https://user-images.githubusercontent.com/5676600/67958594-b5f90300-fbf7-11e9-859f-db772997408c.png)

![image](https://user-images.githubusercontent.c

[2019-10-31 15:39] panva commented on #565
@tmedanovic similar to #521, i do not have the bandwidth to aid in debugging different function deployments that mess around with the path.

My AWS lambda test deployment is using an ALB with a custom domain certificate with the lambda as a target and https://github.com/dougmoscrop/serverless-http for wrapping server for the function. Using this setup i don't have an issue which leads me back to -

[2019-10-31 15:39] #565 closed

[2019-11-01 13:09] joolfe opened #566 "'session/end' endpoint create session if not exist"
**Describe the bug**
When call to the 'session/end' enpoint without session (no cookie) is generating a new session and continuing the logout steps.

**To Reproduce**
I have a create a repo with some test that reproduce the error here 'https://github.com/joolfe/node-oidc-provider-issues'

Steps to reproduce the behaviour:

1.  Download the example code from 'https://github.com/joolfe/node-oidc-pro

[2019-11-01 13:46] panva commented on #566
Hi @joolfe

Isn't the end result all that matters? An empty session gets created to store a CSRF token to submit at the confirmation prompt, that I cannot change (Your test case is invalid because of it). That session, once confirmed gets deleted.

I agree there's a room to improve in some scenarios but its definitely not to redirect straight away or error.

[2019-11-01 14:29] #566 closed

[2019-11-03 12:52] tmedanovic commented on #565
@panva Could you post a gist of your serveless.yml, interaction route and file where you mount your app? It would help a lot. I am trying for a week now to get it working, the thing is that I **can** get to the routes that are part of oidc library like /.well-known/openid-configuration and /auth but I **can't** get to the routes I defined like /interaction/:uid. I thought it is somehow connected w

[2019-11-03 14:34] tmedanovic commented on #565
I managed to get it working, here is how:

**serverless.yml** (Added root path)

    events: #Define the events that trigger the lambda
    **# Added this part**
    - http:
        path: / # this matches the base path
        method: ANY
    **# Added this part**
    - http: #Define an HTTP endpoint that respond to any routes
        path: /{proxy+}
        method: ANY
        cors: true

**handl

[2019-11-04 08:08] panva commented on #565
So it was the API gateway... ALB does not need any special care when it comes to routes.

[2019-11-04 09:37] joolfe commented on #566
Hi @panva,
Seems very clear for me that this is an incorrect behaviour, if a session not exist you should not create a empty one in the end-session operative, you should inform the user about there are no session to remove.
About the way to show this... straight redirect or show an error are just some ideas, can be a "no session" screen if you prefer, but don't handle the situation is definitely n

[2019-11-04 09:40] panva commented on #566
I think c6b1770 dealt with the issue. There's no form for the end user anymore and the end-result is that there's no session cookie nor session object in the db.

[2019-11-04 09:42] joolfe commented on #566
up sorry, didn't see the commit id, thanks!

[2019-11-04 16:21] joolfe commented on #566
Hi @panva,

I have review your code changes and indeed with this change you avoid an user interaction when no session is present, i don't think pass for the '/session/confirm' endpoint is needed, because there are no things to remove from the session (because just recent created), but is ok...
But i think that solution is breaking the ability to customize the logout form, i mean, there are a "logo

[2019-11-04 16:27] panva commented on #566
yeah, `form_post` has a standard handler that cannot be customized for any of its uses and i don't think it has to. It's a standard self submitting form where the user can't interact unless the user-agent has JS disabled.

[2019-11-04 19:54] fiznool opened #567 "Well-Known URI should always be present in the root regardless of path prefix"
**Describe the bug**

The documentation [describes how to mount the provider instance in an express/koa application with a path prefix](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#mounting-oidc-provider), for example:

[code]

The problem is that the `/.well-known` path is also mounted with this prefix, which appears to violate the [Well-Known RFC](https://tools.ietf.org

[2019-11-04 20:09] panva commented on #567
Indeed, but there’s no way for the package to reroute the upstream app. You need to do that yourself with e.g. koa-rewrite or whatever express alternative.

[2019-11-04 20:09] #567 closed

[2019-11-04 20:16] fiznool commented on #567
Thank you for your quick reply.

I think my overall point was that the documentation describes how to mount the application at a different prefix, but this ends up violating one of the RFCs relating to the OIDC ecosystem. At the very least I would hope to see a disclaimer to this effect in the docs.

For anyone else who comes across this, as a workaround I am declaring a custom routes object which

[2019-11-04 20:22] panva commented on #567
That’s certainly one way to do it. However if one chooses to include the path in his issuer identifier its not needed.

Bottom line, plenty of ways to handle this, i’ll see if i can include some more guidance in the docs.

[2019-11-05 10:02] sureshvarman opened #568 "Token request - re-issue the same token"
I have written an custom password grant flow, is there any way, i can re-issue the same set of token, if the user requests for token again.

It will be a combination of rate-limiting but issue the same token again, instead of restricting the user with updated expires_in field.

[2019-11-05 10:05] panva commented on #568
Hi @sureshvarman I don't see how you could "issue" the same token again, but since you control the implementation of the grant and the db why don't you pull up the previous token and return that instead.

[2019-11-05 10:05] #568 closed

[2019-11-05 13:53] fiznool opened #569 "Can't access `Interaction` type in application code"
**Describe the bug**

The [Interaction type](https://github.com/panva/node-oidc-provider/blob/master/types/index.d.ts#L173) is not exported, meaning it cannot be used inside TypeScript application code.

i.e. the following does not compile:

[code]

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Add code as above
2.  App does not

[2019-11-05 14:17] panva commented on #569
None of these are exported on purpose since they are tied to a `Provider` instance with its configured and instantiated adapter, e.g. `provider.AccessToken`, `provider.Interaction`.

Therefore i can't accept the following since it is invalid.

I'll leave this open for a bit to see if someone has a suggestion that doesn't require changing the actual library exports while allowing the types to be re

[2019-11-06 06:14] sureshvarman commented on #568
Thanks, @panva .

I thought of the same.

[2019-11-06 12:22] tmedanovic opened #570 "Can't get interaction details after redirect from SAML Idp"
[code]
SAML is specific because I can't get Idp provider to redirect to dynamic route like /interaction/:uuid.
I'm sure that im missing something. I tried setting cookies path to '/' but that didn't changed anything:

[code]
Could you point me to right direction? Should I somehow resume session?

[2019-11-06 12:31] panva commented on #570
setting the path is definitely needed, but what you're missing is that the interaction cookies are `sameSite=lax` which means they're not attached to cross site origin requests such as the POST from your SAML idp.

[2019-11-06 12:31] #570 closed

[2019-11-06 15:38] jacobvinzent opened #571 "Subdirectories in endpoints"
Hi can I get a subdirectory added to my endpoints, so the all the endpoints URLs get oidc as subdirectory
eg.
authorization_endpoint: "http://test.com:3001/oidc/auth",

[2019-11-06 15:40] panva commented on #571
- https://github.com/panva/node-oidc-provider/tree/v6.13.0/docs#mounting-oidc-provider
- https://github.com/panva/node-oidc-provider/tree/v6.13.0/docs#routes

[2019-11-06 15:40] #571 closed

[2019-11-07 12:00] fiznool commented on #569
Ok, with a little help of Stack Overflow I have come across some code that allows me to infer the type without it being explicitly exported.

Here is the code:

[code]

[2019-11-07 12:14] panva commented on #569
Wouldn't this do the same trick then?

[code]

[2019-11-07 12:25] fiznool commented on #569
Not quite: TS issues this error:

`Cannot access 'Provider.Interaction' because 'Provider' is a type, but not a namespace. Did you mean to retrieve the type of the property 'Interaction' in 'Provider' with 'Provider["Interaction"]'?`

But I've just found a much more succint way, thanks for the tip! I'll update my answer above.

[code]

[2019-11-07 12:38] panva commented on #569
great!

[2019-11-07 12:39] #569 closed

[2019-11-07 16:05] CarterDawson72 opened #572 "DPoP htu validation fails if provider is not at /"
**Describe the bug**
When requesting a DPoP token with a provider (using express) not mounted at / but on another directory:

`
app.use( '/oidc' , oidc.callback );
`

The validation for the **htu** at the code file **lib/helpers/oidc_context.js** on function **get DPoP** fails since provided path does not equals to the computed path.

       if (payload.htu !==  "${this.ctx.origin}${this.ctx.path}

[2019-11-07 16:13] panva commented on #572
Hi @CarterDawson72

can you try this?

[code]

[2019-11-07 16:17] CarterDawson72 commented on #572
Yep, it works now.  The htu is validated correctly.

[2019-11-07 16:23] panva commented on #572
Thank you, i just did a release a few moments ago before this issue so i'll wait a bit with releasing the fix. Latest sunday if nothing new pops up.

[2019-11-07 16:23] #572 closed

[2019-11-09 08:23] RalphBragg opened #573 "https://tools.ietf.org/html/rfc7523 - Authorization Grants"
**Is your feature request related to a problem? No - new feature
Feature request - the provider supports private_key_jwt which is specified in section 2 of the RFC. The RFC also defines authorization grants in section 3 and 4.

Authorization Grants are to be used by the OBIE UK - PSD2 program to standardize a means of TPP "Re-Authentication" of a long lived consent which they're obliged to do so e

[2019-11-09 09:20] panva commented on #573
Hi @RalphBragg

The [registerGrantType](https://github.com/panva/node-oidc-provider/blob/v6.14.1/docs/README.md#custom-grant-types) interface is perfectly suitable for registering these extension grants.

When a grant is registered like this the clients will still get authenticated, the grant still must be whitelisted in client's `grant_types` metadata, etc. It's just the actual grant processing t

[2019-11-09 09:20] #573 closed

[2019-11-09 21:49] azaxarov opened #574 "Impossible to override "resume" cookie options"
**Describe the bug**
When logging in multiple times, I see a bunch of "resume" cookies generated for some unique path. The problem is that when starting a new interaction, "resume" cookie does not get overwritten, but instead a new one is issued. The reason a new one is issued is that it is impossible to overwrite path property of "resume" cookie.

I traced the issue back to the following line: ht

[2019-11-09 22:14] panva commented on #574
Hi @azaxarov,

This is absolutely intended as denoted by the fact that the commit that it was introduced in was labeled as a fix, this was always the intended behaviour since the cookie value is only needed on the resume path which isn’t dynamic.

The resume cookie is deleted after resume, and if interactions are aborted - its still a short duration cookie

I struggle to understand why you’d want

[2019-11-09 22:18] panva commented on #574
Note: this + the unique interaction urls solve a common problem - concurrent interactions in multiple tabs.

[2019-11-09 22:48] azaxarov commented on #574
Hi @panva, and thanks for the swift response!

You have some valid points.

I guess my use case is somewhat different, which is why the issue with fixed path is bothering me. Say my authorisation server runs on http://localhost:8000. Whenever it asks for an interaction, it redirects to another application (presentation logic only) running on http://localhost:8001.

The authorisation server sends a

[2019-11-09 22:56] panva commented on #574
I definitely envision interactions taking place on another domain so maybe what’s missing is actually ignoring the short cookie domain configuration for the resume cookie?

[2019-11-09 23:06] azaxarov commented on #574
Yes, that is true. The two application will live under the same hostname. For instance, the auth server is at the root level at https://{some.tld} and the interactions are under https://{some.tld}/interactions. In that case, I believe the problem will go away in production (or in an environment with a stable hostname).

Thank you for your time and help!

[2019-11-10 17:57] #574 closed

[2019-11-12 12:15] fiznool opened #575 "Question: (ab)using interaction session?"
This is a follow on to a point originally raised in [this comment](https://github.com/panva/node-oidc-provider/issues/381#issuecomment-457825568).

I'm building a 'multi-step' interaction which works as follows:

- OIDC interaction begins with a route `/interaction/:uid/email`, this shows an input to the user for capturing an email address
- User enters email address and submits form
- Email addre

[2019-11-12 12:19] panva commented on #575
Well, there's no "meta" property defined on `Interaction`, you're essentially saying hey if there's a "meta" prompt, this is its result. I guess its fine.

[2019-11-12 12:19] #575 closed

[2019-11-12 12:21] fiznool commented on #575
Thanks for your super quick reply 😄

The `meta` property I'm referring to is the one described in the docs under [User Flows](https://github.com/panva/node-oidc-provider/tree/master/docs#user-flows) -> `#provider.interactionFinished(req, res, result)`:

[code]

[2019-11-13 07:05] tmedanovic opened #576 "How to return standard claims in IdToken?"
I trying to return standard claims like name or preferred_username in IdToken but I can't get it to work.

**configuration**

[code]

**findById**

[code]
Output from above:

CLAIM sub 00eac89c-9e4d-4e0d-b609-092e88f00584
CLAIM name Test Test

**login method**

[code]

Am I missing something obvious?

[2019-11-13 07:14] panva commented on #576
https://github.com/panva/node-oidc-provider/wiki/FAQ#id-token-does-not-include-claims-other-than-sub

[2019-11-13 07:14] #576 closed

[2019-11-13 11:06] joolfe opened #577 "Not require mandatory params when using request_uri or request in /auth"
**Describe the bug**
When use request_uri in the '/auth' endpoint without any additional param is not returning an error.

**To Reproduce**
I have a create a repo with some test that reproduce the error here 'https://github.com/joolfe/node-oidc-provider-issues'

Steps to reproduce the behaviour:

1.  Download the example code from 'https://github.com/joolfe/node-oidc-provider-issues'
2.  execute `

[2019-11-13 11:25] panva commented on #577
Hi @joolfe,

1) you're using [PAR](https://tools.ietf.org/html/draft-lodderstedt-oauth-par-01#section-4) in your example.

oidc-provider's PAR implementation uses a unique `urn:` scheme that allows it to process the request without any other parameters. For regular request_uri use (client-hosted) you still need to provide at least the client_id parameter.

2) OIDC's Request Object by Reference is

[2019-11-13 11:25] #577 closed

[2019-11-13 11:41] panva commented on #572
I've updated the test suite (e2c6156) to run all the tests while

- unmounted (using the provider's koa app)
- mounted to '/' in an express app
- mounted to '/oidc' in an express app
- mounted to '/' in a koa app
- mounted to '/oidc' in a koa app

to make sure these issues are uncovered early on.

[2019-11-13 11:58] joolfe commented on #577
thanks! totally agree with your arguments.

[2019-11-13 13:13] fiznool commented on #567
Following up on this, thanks for the guidance - I've simplified by setting the issuer path to be equal to the route mount path. Everything works well and to-spec then!

[code]

[2019-11-14 06:08] ofairfoul opened #578 "Question: Protected Dynamic Client Registratrion Initial Access Token"
Hi @panva I was wondering if you could help me and hopefully others to understand a bit better how to use Dynamic Client Registration and InitialAccessToken correctly. From my understanding of OIDC spec the initial token should be obtained by using Client Credentials or Implicit Grant when not allowing open registration. And this usually would include a scope specific for DCR. And if the initial t

[2019-11-14 06:38] panva commented on #578
Please enlighten me on this ... can you link the spec sections?

[2019-11-14 11:01] fiznool opened #579 "Question: split adapters into their own modules?"
Forgive me if this has been asked before, I couldn't find anything in the issue tracker.

Is it worth considering the creation of a module for each adapter, rather than requiring that the adapter is hand-coded each time? I imagine that most people will cut and paste an adapter from the [example](https://github.com/panva/node-oidc-provider/tree/master/example/adapters) so I was wondering if making

[2019-11-14 11:05] panva commented on #579
I don’t have the bandwidth to maintain these modules. Furthermore, they’re just examples and require adaption for everyone’s specific deployment. e.g. sentinel for HA redis, index lifecycle maintenance for mongo...

To begin with, yeah, but i don’t imagine they’re final, they’re just starting points.

[2019-11-14 11:05] #579 closed

[2019-11-14 15:07] panva commented on #497
https://github.com/panva/node-oidc-provider/blob/master/recipes/implicit_http_localhost.md

[2019-11-14 15:07] panva commented on #63
https://github.com/panva/node-oidc-provider/blob/master/recipes/implicit_http_localhost.md

[2019-11-14 15:07] panva commented on #321
https://github.com/panva/node-oidc-provider/blob/master/recipes/implicit_http_localhost.md

[2019-11-14 15:07] panva commented on #147
https://github.com/panva/node-oidc-provider/blob/master/recipes/implicit_http_localhost.md

[2019-11-14 16:41] ofairfoul commented on #578
Thanks for the quick reply @panva

Some links as requested:
https://tools.ietf.org/html/rfc7591#section-3.1

   this example as an OAuth 2.0 Bearer Token [RFC6750], but any OAuth
   2.0 token type could be used by an authorization server.

https://tools.ietf.org/html/rfc7591#appendix-A.1.2

   this initial access token and the method by which the authorization
   server validates this initial acce

[2019-11-14 17:09] panva commented on #578
Definitely not. Aside of Initial Access Tokens backed by an adapter you also have the possibility to plug in and require the `software_statement` (see the expandable details [here](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#extraclientmetadata), would need some adaption to accomodate policy), such software statement can be again retrieved through various places that can

[2019-11-14 17:09] #578 closed

[2019-11-14 23:15] fiznool opened #580 "Interaction saved with invalid TTL"
**Describe the bug**

Interaction Session is being saved with a ttl that is calculated as `NaN`. When using the example redis adapter, this results in a TTL of -1, meaning the value never expires.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Use the example with the redis adapter.
2.  When the interaction finishes, view the re

[2019-11-14 23:35] fiznool opened #581 "Consider removing session uid when session is destroyed"
When [the session ends and it is destroyed](https://github.com/panva/node-oidc-provider/blob/master/lib/actions/end_session.js#L190), the `uid` still lingers in the adapter and becomes dangling. It will eventually be cleaned up due to its TTL, but would it be nice to also remove the uid key?

[2019-11-15 08:28] panva commented on #581
I assume this is about the redis adapter. Both device code's `userCodeKeyFor` and session's `uidKeyFor` aren't getting cleaned up. In order to do that, you'd have to load the object by its primary identifier first to get those values. I chose to not to do that so that there's no unnecessary I/O for the delete operation.

Since this is an _example_ adapter to begin with, you can choose to further o

[2019-11-15 08:28] #581 closed

[2019-11-15 09:01] panva commented on #580
This isn't a problem per se, since at that point you're redirecting back to resume authorization and the interaction will be destroyed. Nevertheless, all the objects that expire should have an `exp` property ... 🐛

Thanks for raising this @fiznool

[2019-11-15 11:06] fiznool commented on #581
Sorry yes, I forgot to add that piece of info 😊

Yes I see the trade-off here. Since the uid and userCode keys have a TTL they will eventually be cleared anyway.

I've settled on listening for the `session:destroyed` event in the app, and cleaning up the uid that way. I think this has a few advantages:

- It happens 'out of band', meaning that the main request isn't delayed by the extra I/O, and a

[2019-11-15 11:11] fiznool commented on #581
If using TypeScript things are slightly complicated by the fact that we are adding a new method to the Adapter, so here's a working example for TS:

[code]

[2019-11-15 18:49] matthew-nichols-westtel opened #583 "Session Management OP check iframe CSP script nonce"
**Is your feature request related to a problem? Please describe.**
Session Management iframe doesn't work if CSP script-src is set to `'strict-dynamic' 'nonce-random'` (or equivalent).

**Describe the solution you'd like**
Something less fragile. Automatically parsing the CSP header and adding the nonce where needed seems like the most automatic solution (similar to how `keepHeaders: false` automa

[2019-11-15 19:19] panva commented on #583
Hi, I have no idea what this is for. Can you explain please?

[2019-11-15 19:26] matthew-nichols-westtel commented on #583
https://csp.withgoogle.com/docs/strict-csp.html

Essentially I'm using koa-helmet with `scriptSrc: ["'self'", "'strict-dynamic'", `'nonce-${ctx.state.nonce}'`, "'unsafe-inline'"]`

And by "doesn't work" all the scripts on the page (`/session/check` by default, part of the sessionManagement feature) are blocked by the browser on load (because CSP violation)

[2019-11-15 19:30] panva commented on #583
And what needs to be changed to make each of them work?

[2019-11-15 19:32] matthew-nichols-westtel commented on #583
All the <script> tags need to have a nonce attribute attached

[2019-11-15 19:44] panva commented on #583
I'm not likely to parse random nonces out of the `Content-Security-Policy` header and adding them to the script.

[code]

☝️ this does feel like an appropriate solution. You have my 👍

I can't do that either because it would bar me from making changes to the session state calculation in the future and i tend to keep these `source` helpers for end-user facing html that needs to be styled, which isn

[2019-11-15 19:46] panva commented on #583
What about an optional function helper `features.sessionManagement.scriptNonce` that can return the nonce to add? Default returns `undefined`, when falsy the nonce attribute won't be added?

[2019-11-15 20:07] matthew-nichols-westtel commented on #583
That sounds very useful.

And this may technically be a second related issue (can't depend on external CDNs): I'm thinking something where I can bundle/compile ```import run from "oidc-provider/session_check"; run();``` to use in the session management iframe (with rollup, webpack, etc) so that session state calculation is still an internal detail of the library. There may be a better solution tho

[2019-11-15 20:12] panva commented on #583
At that point you're better off replacing the source with a similar to solution to the above where you replace the cdn delivered polyfills and libraries.

[2019-11-15 20:32] matthew-nichols-westtel commented on #583
Is ctx.body for the check_session route constant for a version of oidc-provider?

Aka will

[code]

be generally expected to work (and then yell loudly when it doesn't?)

[2019-11-15 20:35] panva commented on #583
It is, given that you don't change the `state` cookie name configuration.

[2019-11-15 20:39] matthew-nichols-westtel commented on #583
Fair enough

I just want it to yell loudly when it changes

[2019-11-15 20:40] panva commented on #583
For CI i presume.

[2019-11-15 20:41] matthew-nichols-westtel commented on #583
Yep

[2019-11-15 20:41] panva commented on #583
Please see #584

[2019-11-15 21:13] #583 closed

[2019-11-17 16:45] Rogger794 opened #585 "Create client with client credential grant"
Hi, I was creating clients using the registration endpoint, but when I try to only create a client with only the credential grant without redirect_uris, it return an error because redirect_uris is mandatory, but in this case, I dont need redirect_uris.

**To Reproduce**
I run my project and use postman. This is my query:
[code]

**Expected behaviour**
[example in prerequisites for token-instrospec

[2019-11-17 16:52] panva commented on #585
You may not need redirect_uris but the property, like others, are required.

They may be empty tho, see a test here https://github.com/panva/node-oidc-provider/blob/5a1181344b70647430b048ed85a187a56c13d56c/test/configuration/client_metadata.test.js#L1161

[2019-11-17 16:52] #585 closed

[2019-11-18 00:00] Rogger794 commented on #585
Thanks, that way works for me.

[2019-11-19 08:57] scriptcoded opened #588 "Back-channel logout headers"
**Is your feature request related to a problem? Please describe.**
We're setting up an OIDC service which reads account information from a separate service. To do this our OIDC service sends an API token with it's requests to the account service. We'd like to implement a similar system for the call to the back-channel logout URI as well, but there is no way to add headers or any other details to t

[2019-11-19 09:22] panva commented on #588
@scriptcoded there's nothing extra needed. Just configure `httpOptions` to do this for you.

[code]

[2019-11-19 09:22] #588 closed

[2019-11-19 10:00] scriptcoded commented on #588
@panva Oh sorry, missed that. Thanks for pointing it out. And great library - it's been a life saver for our company :)

[2019-11-19 10:03] panva commented on #588
I'm glad it's of use. Please consider [supporting](https://github.com/sponsors/panva) its ongoing maintenance and development efforts.

[2019-11-20 08:34] phuocleanh opened #589 "Do POST /token endpoint support Content-Type = application/json?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2019-11-20 08:39] phuocleanh commented on #589
Hi @panva ,
When I try to call /token endpoint with **Content-Type = application/json** I got the error:
{
    "error": "invalid_request",
    "error_description": "only application/x-www-form-urlencoded content-type bodies are supported on POST /token"
}
So can we configure the provider to support to use Content-Type = application/json on this endpoint?
Thank you for your support!
Phuoc

[2019-11-20 08:39] panva commented on #589
Hi @phuocleanh

[No.](https://tools.ietf.org/html/rfc6749#section-4.1.3) It's not intended to.

[2019-11-20 08:39] #589 closed

[2019-11-20 08:45] phuocleanh commented on #589
Got it. thanks @panva

[2019-11-20 22:41] marcelalburg opened #590 "Add JWT Access Token as Cookie before Redirect"
Hello,

i've a single page application and don't like to store any tokens into memory or local storage. I found a [page](https://auth0.com/docs/cross-origin-authentication) that describes a solution for that.

After a successful authentication i would like to set a custom cookie with the JWT Access Token for a specific path. With a Pre/Post Custom Middleware i could set this cookie but i don't fou

[2019-11-21 08:05] panva commented on #590
@marcelalburg I don't see how Auth0's cross-origin authentication relates to the client not liking to store any tokens.

As such I am not considering adopting anything that's not covered by the existing standards bodies.

[2019-11-21 08:05] #590 closed

[2019-11-21 08:57] marcelalburg commented on #590
Hello, thanks for your fast answer. Maybe the link is not a valid one, but it shows that it should be possible to add a cookie on a custom domain so that you don't need to store the JWT Token in local storage nor in memory.

My question was more, how can I generate a Access Token in Pre/Post Middleware and set this as a cookie ?

Thanks for your help

[2019-11-21 10:33] stavros-wb opened #591 "JTI claim for ID Tokens"
Hello @panva

**Is your feature request related to a problem? Please describe.**
Scanning through the RFCs it seems that `jti` is an [optional](https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-01#section-2.2) claim when it comes to `JWT`. I also see that `access_tokens` with `JWT` format include this claim by default because they're [persisted](https://github.com/panva/node-oidc-provi

[2019-11-21 11:27] panva commented on #591
Why?

[2019-11-21 11:56] stavros-wb commented on #591
for audit logs mainly. being able to associate logs cross monitoring systems

[2019-11-21 12:45] #591 closed

[2019-11-21 12:46] panva commented on #591
How about using a hash of the ID Token value for that? I don't feel like `jti` in an id token adds any value. If you can get it through regular claims, so be it.

[2019-11-22 11:29] fiznool commented on #207
I also had this issue. The fix in more detail: add the property `token_endpoint_auth_method: 'none'` to your client configuration.

There is also an `application_type: 'native'` property which should be set too for native apps.
Putting it all together:

[code]

[2019-11-22 11:52] fiznool opened #592 "Add FAQ item for native mobile apps"
I've been working on integrating a native mobile app with the provider and thought I'd document the approach here. I can't figure out how to add it to the wiki or submit a PR for it, so please add it if you see fit to do so.

    # How do I set up a native mobile client?

    Native mobile apps should use the [AppAuth](https://appauth.io) library wherever possible, which enforces the current best

[2019-11-22 12:03] panva commented on #592
Thank you @fiznool, i'll see what i can do.

[2019-11-22 12:03] #592 closed

[2019-11-23 08:33] cgeduhn opened #593 "RefreshToken in JWT Format"
Hi,

we‘ve been using version 5x before and we would like to update to version 6x but the refresh token were in jwt format in version 5x. So we expect some issues for some clients which might expext a jwt formatted refresh token.
I‘ve tried to to set the RefreshToken: jwt option in the configuration but it seems to have no effect.
Could someone help us out please :) ?

[2019-11-23 08:46] panva commented on #593
Hi,

From the 6.x changelog

Other tokens or artifacts don’t make sense as JWTs. In order to limit the surface to maintain i will not be reintroducing this

[2019-11-23 08:46] #593 closed

[2019-11-27 03:44] dnandola-wyze opened #594 "Token introspection request using bearer token authorization instead of client authentication?"
Hi,

First of all, thank you for all your effort in maintaining this repository and the comprehensive documentation provided to integrate it with others' environment. I've been playing with the package for a couple of weeks and am evaluating if this is a right solution for our organization.

I am trying to make introspection request and while I am able to make requests using basic client authentic

[2019-11-27 07:18] tmedanovic opened #595 "How the check if user the is logged in/session active?"
Im trying to implement change password route so I need to check if the user is logged in or the session is active and maybe get accountId if that is something that is stored in the session.
What would be the best approach?

[2019-11-27 08:18] panva commented on #595
Hi @tmedanovic

#494
#532
https://github.com/panva/node-oidc-provider/wiki/FAQ#how-to-display-on-the-website-of-the-op-itself-if-the-user-is-signed-in-or-not

[2019-11-27 08:18] #595 closed

[2019-11-27 08:19] panva commented on #594
Hi @dnandola-wyze

You're not missing anything.

The latter (separate oauth 2.0 access token) is not supported by oidc-provider.

[2019-11-27 08:19] #594 closed

[2019-11-29 15:47] Rogger794 opened #598 "Federated Login"
Hi @panva,
I would like to know how to implement federated login like using Google. Is there an example or where can I see how to implement your library using federated login? as I see in your example https://tranquil-reef-95185.herokuapp.com/setup when login is clicked.

[2019-11-29 15:48] panva commented on #598
Hi @Rogger794,

`https://op.panva.cz` which is the instance that client page uses is [here](https://github.com/panva/node-oidc-provider/blob/master/certification/oidc.js). It is not the only way to do so, but its an inspiration.

[2019-11-29 15:48] #598 closed

[2019-11-29 15:50] Rogger794 commented on #598
Thanks you @panva.

[2019-12-01 20:34] colinyip opened #599 "Adapter implementation"
I am recently trying to build something on top of node-oidc-provider and start thinking about what database to use to persist data. I've seen a few implementations in the example. Here are my questions, and would be really appreciated if there's any insight or if you can point me to any existing documentation:
- Should I pick a database that comes with built-in TTL support such as MongoDB and Redi

[2019-12-02 08:04] panva commented on #599
It doesn't matter, the provider does not require you to drop expired records. It's all up to you, TTL support is convenient, but not required. If you choose to leave documents hanging around, it's your choice.

It's okay to both return undefined or return the expired document. All documents include an "exp" field and the provider will check it before passing the rest of the data to the model layer

[2019-12-02 08:04] #599 closed

[2019-12-02 10:31] shayim opened #600 "interaction session and authentication session mismatch"
Could you please help me understand "interaction session and authentication session mismatch" error.

configuration:
****************
interactions: {
    policy: interactionPolicy.base(),
    url(ctx) {
      return `/account/${ctx.oidc.uid}`;
    },
  },
clients: [
    {
      client_id: 'client',
      client_secret: 'secret',
      **default_max_age: 60**,
      redirect_uris: ['http://example.

[2019-12-02 10:52] panva commented on #600
https://github.com/panva/node-oidc-provider/blob/v6.17.0/lib/actions/authorization/resume.js#L41-L43

The above you posted wouldn't be enough for anyone to reproduce your issue.

[2019-12-02 10:52] #600 closed

[2019-12-02 14:08] ChristofSchwarz opened #601 "Plug-in concept for check_scope.js?"
In my implementation of this oidc-provider I had to add a custom behaviour into lib\actions\authorization\check_scope.js where I am adding the session id issued to a global array of my NodeJS app. I don't like to change it that way, because if I do "npm install" again, this is part of the imported modules. Is there a way to add this without overwriting your check_scope.js?
I also want to add my ow

[2019-12-02 14:17] panva commented on #601
You're modifying `check_scope.js`?

1) do you realize that's private API and not to be relied upon?
2) even if you required the implementation and wrapped it, it's still a private API not to be relied upon.

The actual "what do you want to achieve" is not clear here and no there's no way to plug in to an arbitrary private API.

[2019-12-02 14:17] #601 closed

[2019-12-02 15:20] ChristofSchwarz commented on #601
The short version is, I want to achieve a single-signon for Qlik Sense, so I am issuing a ticket number for a user-claim before the signin starts. The signin begins with contacting the authentication_endpoint (/auth?client_id=...state=...return_uri=...) ... at this very moment your oidc-provider issues a _session number to treat the incoming authentication request and sets a browser cookie. I need

[2019-12-02 15:24] panva commented on #601
What I still don't get why is a solution to something like that overwriting `check_scope`. Especially given there are a number of [events](https://github.com/panva/node-oidc-provider/blob/master/docs/events.md) emitted or a post-[middleware](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#pre--and-post-middlewares) available for you to hook into.

[2019-12-02 15:31] ChristofSchwarz commented on #601
That is what I overlooked, such per-design hook points. Seems to be exactly what I was after. Thanks for the great work on this oidc-provider

[2019-12-03 20:26] colinyip commented on #599
Thanks for the explanation. :)

[2019-12-05 12:49] kareha opened #602 "Passing Errors to the client in the callback"
Hi,

when I get an error, for example:

`oidc-provider:authentication:error uid=nXErYso3GrKtA81mJX_qL { error: 'unauthorized_client', error_description: 'response_type not allowed for this client', state: 'oJhxDUa3kghj4ssV28cL161ihh0mJJtD-UDFxyKMoDc' } +24ms`

What happens is, that the client (node openid-client) does not get the error in the callback. I don't know why or what I do wrong.
I'm usin

[2019-12-05 14:07] panva commented on #602
Unfortunately I can't possibly know from this report either.

Errors are always redirected back to the client if the client_id and redirect_uri is verified.

[2019-12-05 14:07] #602 closed

[2019-12-05 15:23] kareha commented on #602
The response_mode was a good hint. I added { response_mode: 'form_post' } and I received the error message.
Didn't find anything on the documentation.
Thank you.

[2019-12-05 22:49] jogee opened #603 "Add first party client flag to client attributes"
In some flows we might want to skip user consent, for example when you own both the authorization and the client application so there is a high level of trust between the two. In current flow you might also create an account and get presented a consent screen immediately after logging on the first time asking to have access to your data even though you didn't use the application yet.

If we could

[2019-12-06 02:13] dnandola-wyze opened #604 "Dynamic scopes documentation"
Hi,

I am trying to design custom scopes for auth server, which can be configured in different clients and came across dynamic scopes configuration. However, I don't find  much documentation or specifications on it. Is there a brief explanation on what the dynamic scopes are used for and how to implement them?

Thanks
Dhrumin

[2019-12-06 07:11] panva commented on #603
https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#extraclientmetadata

You can already define whatever client metadata using this configuration.

[2019-12-06 07:11] #603 closed

[2019-12-06 07:46] panva commented on #604
Other than [this](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#dynamicscopes) I don't have any other material.

I'll say that its intended for exactly what's in that expandable section there, scope values that have dynamic portions in them.

I recognize that today's way of configuring and checking if arbitrary scope values should be allowed to be requested is not great an

[2019-12-06 07:46] #604 closed

[2019-12-06 08:05] jogee commented on #603
That will do too, thanks.

[2019-12-06 19:24] dnandola-wyze commented on #604
@panva , I see, thank you. So, if I define a dynamic scope, do I need to configure allowed scopes with exact value when I configure a client? I see that dynamic scope is not supported on the client side. Or, all clients also support dynamic scopes defined in the configuration?

[2019-12-06 19:31] panva commented on #604
There's an undocumented feature for this.

[code]

[2019-12-06 19:35] dnandola-wyze commented on #604
Perfect, thank you! This is exactly what I was looking for.

[2019-12-07 00:58] dnandola-wyze opened #605 "Conformance/Sanity test for custom adapters"
Hi @panva ,

I plan to write my own custom dynamodb adapter (and maybe combine with cache like DAX for faster lookup based on performance testing), to be used  in my project and hopefully I can contribute the solution once all goes well. I am wondering if there are any set of conformance/sanity tests which I can use to inject my adapter and see if I am able to comply to all the flows?
Thanks for a

[2019-12-07 07:00] panva commented on #605
There isn’t. But I’ll be happy to review your work.

[2019-12-07 07:00] #605 closed

[2019-12-07 20:46] jogee commented on #603
I've added the flag with the help of the extra client metadata and it's working but I still can't get entirely past the consent screen since we use a mobile app and we need to have a refresh token. Then we need to use the `prompt=consent` which always shows the consent screen.

The oidc spec states 'MUST ensure that the prompt parameter contains consent unless other conditions for processing the r

[2019-12-07 20:58] panva commented on #603
`offline_access` scope which is the default condition for issuing a refresh token is 100% conditioned by `prompt=consent`. If you wish to issue refresh tokens under other conditions, [configure them](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#issuerefreshtoken).

I do not recommend skipping consent even for first party apps unless they use claimed https uris tho.

[2019-12-09 18:01] dnandola-wyze commented on #605
Thank you!

[2019-12-10 08:43] tmedanovic opened #606 "Allow some applications to bypass consent?"
We have some in-house application that we trust so I want to bypass all authorizations for specific applications, my solution is to add custom scope to these clients. Here is code where I changed default policy trying to skip check when client have certing scope in this case 'ourapp':

[code]

Login from app1 works fine, and then I try to login from app2 and get:

[code]

[2019-12-10 08:48] panva commented on #606
You need to set prompted and/or rejected scopes. See the [expandable detail](https://github.com/panva/node-oidc-provider/blob/v6.17.3/docs/README.md#user-content-interactions-policy-disabling-default-checks) of interactions configuration and what [resume does](https://github.com/panva/node-oidc-provider/blob/v6.17.3/lib/actions/authorization/resume.js#L97-L126) which you need to emulate in an inte

[2019-12-10 08:48] #606 closed

[2019-12-10 09:30] tmedanovic commented on #606
@panva I don't understand why can't I just conditionally do something like this consent prompt details function:

[code]

You mean I have to check in my interaction route for prompt.name = 'consent',
and then if it's safe client I return something like this? Or am I off by much?

[code]

[2019-12-10 09:39] panva commented on #606
But you can, you're just not doing it in the code you've posted above.

[2019-12-10 13:10] tmedanovic commented on #606
@panva Thanks, I changed acceptedScopes to promptedScopes and added ensureClientContainer.

[code]

[2019-12-10 20:35] baechul opened #607 "ctx.oidc.entity('AuthorizationCode', code) failed when Amazon Neptune adaptor is used"
**Describe the bug**

When I use Amazon Neptune as an adaptor, I was able to get an auth code but failed in /ticket call.

2019-12-10T17:36:33.395Z oidc-provider:server_error:trace ResponseError: Server error: {"requestId":"316a94d3-8a9c-45f1-9208-0c84c55f5d73","code":"UnsupportedOp
erationException","detailedMessage":"Unsupported property value type: java.util.LinkedHashMap"} (499)
    at Connect

[2019-12-10 20:51] panva commented on #607
This report makes no sense to me, `OIDCContext.emit` does nothing with the `"adapter"` - storage - used within the context of this library. It merely [emits an event](https://nodejs.org/api/events.html#events_emitter_emit_eventname_args) within the Node.js runtime to its registered listeners.

[2019-12-10 20:51] #607 closed

[2019-12-11 08:58] chakwok opened #608 "ID token still does not include claims other than sub [after reading the FAQ]"
The program return an idtoken (from the redirected after login) that does not include claims other than sub. I tried requesting from either scope parameter and claims parameters.

Also, I would also like to ask this is best way in v6.0+ to get both idtoken(with custom claims) and refresh_token?

In v5.x I used to do, but it seems to be no longer working in v6.0+
`/auth -> /login (get both idtoken

[2019-12-11 09:07] panva commented on #608
1) your authorization request parameters are weird, there should be no grant_type or access_type
2) Don't use Math.random as a nonce, neither as a state
3) This request will never issue both `id_token` and a `code`, you need to actually request the hybrid response_type `code id_token`
4) Given this configuration, if you're not getting claims its because `accounts.findOne` is not actually returning

[2019-12-11 09:07] #608 closed

[2019-12-11 09:33] chakwok commented on #608
3. Didn't you mention in [FAQ1](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#id-token-does-not-include-claims-other-than-sub). that Only response types that do not end up with an access_token (so, response_type=id_token) have end-user claims other than sub in their ID Tokens.

4. the `accounts.findOne` returns a json object of the user. I am using the same implementation

[2019-12-11 09:37] panva commented on #608
3) you provided the `conformIdTokenClaims: false` option to get around that spec behaviour
4) i see your error now, in v6.x feature configurations are [objects](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#featuresclaimsparameter), not booleans.

[2019-12-11 09:45] chakwok commented on #608
Ohhh, how did I miss that the whole afternoon...

Anyways, thanks for your help and for the awesome library

[2019-12-11 09:47] panva commented on #608
No problem, please consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if it provides value and the support was of help.

[2019-12-11 13:38] thecopy opened #609 "TypeScript definitions regression: incompatible with koa-mount"
**Describe the bug**
I used `6.12.7`, i upgraded to `6.17.3` (latest as of writing), then the issue appeared. I upgraded to latest `koa-mount` and `koa` (`4.0.0` and `2.11.0` respectively) but the issue persisted.

**To Reproduce**
`app.use(mount(oidcProvider.app))` yeilds:
[code]

Steps to reproduce the behaviour:

1.  Use oidc-provider `6.17.3`
2.  Try to mount on Koa

**Expected behaviour**

**

[2019-12-11 13:53] panva commented on #609
@thecopy there was no change in the typings related to `Provider.prototype.app` since v6.12.7, hence I don't see where a regression could have been introduced.

Furthermore, i can't reproduce your issue...

package.json
[code]

[code]

No compile problems.

[2019-12-11 13:53] #609 closed

[2019-12-11 16:17] stefdaems opened #610 "unrecognized route or not allowed method (GET on /session/end/confirm)"
**Describe the bug**
Default config for terminating/ending a session results in error:

unrecognized route or not allowed method (GET on /session/end/confirm)

The default logoutSource is used, not overwritten by a custom configuration. It should be performing a POST request, but the default config is not executing it as POST, but as GET.

**To Reproduce**
[code]

Steps to reproduce the behaviour:

[2019-12-11 16:29] panva commented on #610
@stefdaems Can you paste the rendered confirmation page html? I doubt there's an issue here other than something either specific browser or environment related.

[2019-12-11 18:02] stefdaems commented on #610
`
<html><head>
  <meta charset="utf-8">
  <title>Logout Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);button,h1{text-align:center}h1{font-weight:100;font-size:1.3em}body{font-family:Roboto,sans-serif;margi

[2019-12-11 18:04] stefdaems commented on #610
Remove the urls but this is the form which I get. No method="post" could be found
[code]

[2019-12-11 18:06] panva commented on #610
Really?

[2019-12-11 18:16] #610 closed

[2019-12-12 17:56] chakwok commented on #608
Just a side note. I am not sure if it is expected, but it seems strange to me.

When I put `&scope=openid%20offline_access` in my auth url. The OP always recognize the `scope: 'openid'`. But when I use `&scope=openid%20email`, it works just fine getting ` scope: 'openid email'`. The configuration I use for OP is the same as above.

[2019-12-12 17:58] panva commented on #608
That's intended, `offline_access` is ignored unless combined with `prompt=consent` as per the Core 1.0 specification.

[2019-12-12 17:59] panva commented on #608
https://github.com/panva/node-oidc-provider/blob/v6.17.3/lib/actions/authorization/check_scope.js#L44-L62

[2019-12-13 01:28] vdtn359 opened #611 "Custom session"
**Is your feature request related to a problem? Please describe.**
I use express-session to create our own session in the Redis store. I would like to tie the OIDC session to the Redis store session so they have the same lifetime. However, it does not seem easy to create your own OIDC session.

**Describe the solution you'd like**
Would it be possible to pass the OIDC context to the adapter constr

[2019-12-13 07:05] panva commented on #611
Very unlikely to happen, for one, adapter constructor is only called once for each model class, not instance, two, oidc context is not passed around alone anywhere. I guess what you mean is to get access to the koa ctx in adapter method calls, but even that i'm not a big fan of and don't have a solution for right now.

[2019-12-13 07:05] #611 closed

[2019-12-14 15:22] brandonros opened #612 "How to link interactionResult/Session to AuthorizationCode?"
1. `/auth` request is kicked off
2. user gets redirected to `/interaction/:interactionId`
3. consent check happens, then user gets redirected to `/interaction/:interactionId/finish`.
4. `interactionResult()` is called with

[code]
1. Successful interaction/authorization is turned into an `AuthorizationCode`
1. user calls `/token` with `code` + client credentials
1. there is no way to link sessionI

[2019-12-14 18:17] panva commented on #612
You can do `provider.Session.findByUid(token.sessionUid)` to get the session it came from...

[2019-12-14 18:17] #612 closed

[2019-12-16 09:58] stefdaems opened #613 "/end/session/confirm doesn't delete session in redis Adapter"
**Describe the bug**
I follow the session/end and /session/end/confirm/ flow to get users redirected to the login pages again and revoke their current login. Just the usual logout flow should be executed resulting in a relogin for the users. But it seems the users session can be found in the redis again and the user is automatically logged in again, no credentials are requested.

**To Reproduce**

[2019-12-16 10:02] panva commented on #613
https://tranquil-reef-95185.herokuapp.com logout works as intended, its even certified with the OIDF certification tools to actually process the logout.

@stefdaems i don't know enough about your deployment but based on your past issues there must be something wonky going on.

[2019-12-16 10:02] #613 closed

[2019-12-16 14:19] ddolcimascolo opened #614 "Regression in 6.17.4 - TypeError: features are no longer enabled/disabled with a boolean value, please see the docs"
Hi @panva

I have failing tests when upgrading from v6.17.3 to patch release v6.17.4. As these are breaking changes you should either:
*  Revert
*  Release as a new major version

Thanks,
Regards,

David

[2019-12-16 14:23] ddolcimascolo commented on #614
I've spotted the new configuraiton format, I must have missed than when migrating to v6... Anyway, I strongly suggest you do not remove support for boolean features in a patch release

Thx,

David

[2019-12-16 14:25] panva commented on #614
This format was actually removed with v6.0.0, there's no regression and no breaking change.

v6.x never supported boolean feature values - as in, its not using them, at all, instead its falling back to the feature's default values when non object is encountered.

You've just been alerted to having invalid configuration now... i'd say thats good.

[2019-12-16 14:25] #614 closed

[2019-12-17 11:52] fiznool opened #615 "Change Access Token TTL based on account"
I'd like to be able to set the access token TTL to a specific value, depending on the user account associated with the token.

I can see that the `ttl.AccessToken` configuration key can be a function, which is passed three args:

[code]

Since this function must return a number synchronously, I cannot use `token.accountId` to query my user database for the TTL to use. Instead, I thought I could us

[2019-12-17 11:55] panva commented on #615
`ctx.oidc.entities.Account` should be already loaded for you by the time an access token is being issued.

[2019-12-17 11:55] #615 closed

[2019-12-17 12:04] fiznool commented on #615
Perfect, just what I needed, thanks!

[2019-12-17 12:07] panva commented on #615
No problem, please consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if it provides value to your or your company and this and the previous support was of help to you.

[2019-12-19 05:04] jim-king-2000 opened #617 "Logout, then choose "No", still logged out."
**Describe the bug**

Open the oidc client sample [here](https://tranquil-reef-95185.herokuapp.com/client), login then logout, but choose "No, stay signed in". See it is signed out.

**To Reproduce**
Steps to reproduce the behaviour:

1.  Open "https://tranquil-reef-95185.herokuapp.com/client" in browser.
2.  Create any client, and click "login".
3.  Click "logout" and choose "No, stay signed in".

[2019-12-19 06:58] panva commented on #617
Please read the prompts and implemented behaviours carefully. You are choosing to keep the end user session on the OP by clicking “no”. The RP session is already dropped by the RP and the OP merely removes records of that particular RP visit from the session, but it keeps the user signed as prove. By subsequent authorizations not requiring authentication.

[2019-12-19 06:58] #617 closed

[2019-12-19 11:00] jim-king-2000 commented on #617
I'm quite new to OIDC. The difference is too trivial to a newbie. Is it possible to remove the prompt (which means always choose "yes")?

[2019-12-19 14:18] panva commented on #617
Presenting a prompt for the end user is RECOMMENDED by the specifications.

1) you can customize the logout source to only show the one button you want if you find the functionality isn't needed for your deployment by providing the `logoutPrompt` configuration which you should be providing to style it anyway
2) you can skip the entire prompt or better selectively skip it once you understand the re

[2019-12-19 16:31] jim-king-2000 commented on #617
Got it. Thanks.

[2019-12-20 03:02] SeanStannard opened #619 "WhitelistedJWA.idTokenSigningAlgValues not working for PS256"
**Describe the bug**

I'm setting up a simple OIDC server.  The code is:

`const { Provider } = require('oidc-provider');

const provider = new Provider('http://localhost:3002', {
  claims: {
    email: ['email', 'email_verified'],
    phone: ['phone_number', 'phone_number_verified'],
    profile: ['birthdate', 'family_name', 'gender', 'given_name', 'locale', 'middle_name', 'name', 'nickname', 'pi

[2019-12-20 06:47] panva commented on #619
You must provide your own jwks. The default dev one does only have RS256 key in it.

[2019-12-20 06:47] #619 closed

[2019-12-20 16:22] kareha opened #620 "Restrict users to access specific clients (by not giving them access tokens)"
Hi,

I want to restrict users to some clients (e.g. at authorization_code grant)
I was thinking about where to implement that check functionality.
Since the user could have an existing session with the provider und just calls the auth endpoint to do the redirect things, I could not use my interaction routes, because they are never trigger then.

So I have been looking at the interaction policy. I

[2019-12-20 16:29] kareha commented on #620
Btw: Prompt and Check constructor signature is inconsistent. Prompt takes an object of parameters and Check takes multiple parameters for each attribute. Don't know if that is wanted :)

[2019-12-20 17:46] panva commented on #620
Yes, an interaction policy is the way to hook in policies that should prevent tokens and codes from being issued when they shouldn't. You can abuse the check and throw e.g. `access_denied` when encountering something you don't want to allow and otherwise just resolve them.

Personally, i'd always pull these into new non requestable Prompt object, knowing it'll just be throwing and not actually ask

[2019-12-20 17:46] #620 closed

[2019-12-23 16:25] kareha commented on #620
Found my issue, now it works. It didn't trigger, because I got the constructor parameters order wrong.
If someone else has the same issue, they are:

new Prompt({ name<string>, requestable<boolean> }, details<function>)
new Check(reason<string>, description<string>, error<string>, check<function>, details<function>)

Thanks a lot! It helped.

[2020-01-02 06:23] lewiscxa opened #621 "Different protocols of issuer and other properties when accessing /.well-known/openid-configuration"
This might actually not a bug but a question. So basically, we have our server under a nginx proxy. The nginx server handle the https and certificate stuffs while the nodejs server only support http. When users try to access this API /.well-known/openid-configuration then here is the values for property `issuer` and `jwks_uri`.
[code]
This is how we construct the oidc-provider.
[code]
It looks lik

[2020-01-02 07:27] panva commented on #621
Please check the docs FAQ or actually search the issue tracker

https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#why-does-my-well-knownopenid-configuration-link-to-http-endpoints-instead-of-https-endpoints

[2020-01-02 07:27] #621 closed

[2020-01-03 09:16] jim-king-2000 opened #622 "How to handle "wrong username or password"?"
I'm using node-oidc-provider as OIDC server. The default sample allows any username and password. Now I'm adding username/password verification to the server. The expected behavior is: if the username or password is wrong, redirect to the "login" page and show a warning test. How can I do it? How can I pass a parameter from "/interaction/:uid/login" to "/interaction/:uid"?

[2020-01-03 09:22] panva commented on #622
How you structure and develop your interactions is intentionally out of scope for my support as well as the library, it’s completely agnostic to this.

Please proceed as if you were developing the interactions in isolation, not tied to submitting the results on every form submit. Instead, only submit if you are satisfied with the result and then this is nothing more than your standard web developm

[2020-01-03 09:22] #622 closed

[2020-01-07 14:54] jim-king-2000 commented on #622
I'm trying to use session to transfer the error message. So I'm calling `provider.setProviderSession()`.

[code]

But the session is undefined when I read it from `provider.interactionDetails()`.

[code]

Is there something wrong? Or I can't use session?

[2020-01-08 14:12] fiznool opened #623 "`ResponseType` is different in this repo to the one in openid-client"
When trying to use the same object for a provider and a client, I can see that the `ResponseType` typings are different in this provider repo to the `openid-client` repo.

Here are the differences:

[code]

As you can see, the provider repo allows the string `'id_token token'` as one of the allowed types, whereas the client repo does not.

Relevant lines:

- [Provider typing](https://github.com/pa

[2020-01-08 14:14] panva commented on #623
Clearly an omission on the client types. Please open a PR.

[2020-01-08 14:14] #623 closed

[2020-01-10 09:14] jim-king-2000 opened #624 "Question: How to generate a JWT access token?"
In Auth0, we can acquire JWT access token by assigning an "audience" parameter so that we can verify it in the API side. Can we do the same in node-oidc-provider? If yes, how? If no, how can we use node-oidc-provider in backend API?

[2020-01-10 09:21] panva commented on #624
@jim-king-2000 please get familiar with the available configuration first, it has the answers you need.

Configuration > `formats.AccessToken` > `jwt-ietf` + enable the [IETF draft format](https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#featuresietfjwtaccesstokenprofile)

You can't use the audience parameter but you can use the `resource` parameter as per the specification y

[2020-01-10 09:21] #624 closed

[2020-01-10 09:31] jim-king-2000 commented on #624
Many thanks.

[2020-01-10 09:39] jim-king-2000 commented on #624
Forgive me, it is too complicated.

[2020-01-10 10:02] panva commented on #624
In that case please realise I do not have the bandwidth to support developers who clearly don't have the decency to read the documentation before opening issues that consume my time.

[2020-01-12 13:43] ShlomitG opened #625 "Adapter is undefined on latest version"
Hi,
I just upgraded from 5.5.2 version. I managed to adjust all the calls, and oidc-provider is starting up ok, but yet - sequalize adapter is undefined,
Is a change in adapter implementation required? I couldn't figure out such from the change log.

Please advise.

Using adapter in latest version (not working):
_import SequelizeAdapter = require('./adapters/sequelize');
....
    oidc = new Provid

[2020-01-12 13:57] panva commented on #625
None of the adapters are part of the library. Never were. Notice they’re in the “example” folder.

[2020-01-12 13:57] #625 closed

[2020-01-13 11:17] thecopy opened #626 "Typescript interface for jwks not 100% correct"
**Describe the bug**
`Configuration.jwks` is declared as JSONWebKeySet, but instantiation of new `Provider` instance will fail if any key in the `jwks.keys` is an instance of a class and not a "pure" JS object. In this example classes from `JWK.Key` from the `jose` library. (Easily fixed by calling `Key.toJWK()`)

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Yields:

[2020-01-13 12:00] panva commented on #626
If you can think of a way to ensure it is plain object in the types, please open a PR for that. Any other input than a plain object is not intended to be valid.

[2020-01-13 12:00] #626 closed

[2020-01-14 09:24] vlad-cirstean opened #627 "Disable implicit flow and keep id_token response type"
In lib/helpers/configuration.js:172 if the word token (token or id_token) is found in response_type then the implicit grant type is enabled in the server. I want to disable the implicit flow from the server but keep the id_token response type. It is a bug?

[2020-01-14 09:30] panva commented on #627
No this is [intended](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata), the implicit grant in there still means just `id_token` response type is enabled.

[2020-01-14 09:30] #627 closed

[2020-01-14 13:26] bob-sheknowdas opened #628 "weird error on relogin with different user"
So here is my setup:
- I have my web application.
- This web app is using a keycloak server for user management.
- This keycloak on the other hand uses an oidc-provider app as secondary idp.

Here is how to reproduce my problem:
1. open web app and get redirected to keycloak
2. choose to log in via oidc-provider
3. type in username and password and confirm
4. get redirected to web app and be logge

[2020-01-14 13:30] panva commented on #628
I don't, the error is not from the library, it is likely from an adapter implementation of yours. Maybe related to a missing field in your DB schema? I dunno.

[2020-01-14 13:30] #628 closed

[2020-01-14 16:12] phmz opened #629 "Omit fields in /reg GET response"
Currently the client_secret is returned when calling /reg with HTTP GET method. In a previous issue https://github.com/panva/node-oidc-provider/issues/104#issuecomment-301886002, it was said that it would be prefarable to omit the client_secret from the response but we did not find how to do it.

Is there an option we missed to omit certain fields from the response, and if not, is it possible to i

[2020-01-14 16:19] panva commented on #629
https://github.com/panva/node-oidc-provider/blob/v6.18.1/docs/README.md#pre--and-post-middlewares

Use an after/post middleware to hide the fields you don't want to return.

[2020-01-14 16:19] #629 closed

[2020-01-14 16:35] phmz commented on #629
Thanks for your quick answer. It worked for me.

[2020-01-14 16:37] panva commented on #629
Glad i could help, please consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if it provides value to you or your company and this support was of help to you.

[2020-01-15 09:02] bob-sheknowdas opened #630 "Logout problems with invalid id_token_hint"
My oidc-provider issues access and id tokens, each valid for 1 hour.

If my app calls the "end session"-endpoint after that 1 hour expires, I get an error "post_logout_redirect_uri can only be used in combination with id_token_hint".

However, an id_token_hint is given as request param. It is just, that the given id token is expired...

Is that expected behaviour?

[2020-01-15 09:10] panva commented on #630
@bob-sheknowdas if you're getting `post_logout_redirect_uri can only be used in combination with id_token_hint` then `id_token_hint` is for sure NOT part of the request.

The [code](https://github.com/panva/node-oidc-provider/blob/v6.18.1/lib/actions/end_session.js#L34-L66) speaks for itself.

[2020-01-15 09:10] #630 closed

[2020-01-15 09:16] panva commented on #630
Please be diligent in your own investigation before opening issues and consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if you wish to continue getting answers to issues such as this one or the [previous](https://github.com/panva/node-oidc-provider/issues?utf8=%E2%9C%93&q=author%3Abob-sheknowdas) ones.

[2020-01-16 11:28] phmz opened #631 "Support custom function to compare client secret"
Currently oidc-provider does not allow to compare salted and hashed client secret. Same as https://github.com/panva/node-oidc-provider/issues/104, we would like to store the client_secret as a salted hash in our database.
Because we are using an irreversible hashing function for our client secret we cannot use the adapter to decrypt the stored client secret.

We wrote the necessary code (https://g

[2020-01-16 13:30] bob-sheknowdas commented on #628
For future readers encountering a similar problem.

My error was caused by the library calling `adapter.revokeByGrantId()` with `undefined`.
This happened whenever I logged in with user1, logged out and then logged in again with user2 (aka when a "_session" cookie was already present in my browser).

The error has the following stack trace:
[code]

The error does not accur when using the default m

[2020-01-16 15:20] panva commented on #628
This is the most valuable part of your comment. It helped me find two bugs i'll be fixing with the next release.

For the future, please understand i can't "reproduce" stuff that is unique to your deployment such as keycloak, interactions, adapters. If the reproduction steps were useful, so would be my previous response to you.

[2020-01-18 12:28] panva commented on #631
@phmz I definitely want to support the scheme where client secret is one-way hashed and/or encrypted.

But I don't necessarily think a function like this is a way to do it. For one, the description does not mention the fact that this locks the provider out of supporting a slew of other features, such as symmetric encryption or symmetric signatures.

Rather then going with a front and center config

[2020-01-19 12:45] ShlomitG commented on #625
Yet, in the CHANGELOG of your package, you write:

method._

If so, in my adapter (sequelize), where should I call sequelize.sync(), previously called from connect()? in the constructor?
(btw, in your example, connect is still there: https://github.com/panva/node-oidc-provider/blob/master/example/adapters/sequelize.js)

[2020-01-19 13:29] panva commented on #625
Yeah so? It's not called by the library tho. See how the example folder deals with it. https://github.com/panva/node-oidc-provider/blob/v6.18.2/example/koa.js#L49-L70

Please keep in mind you said that `"adapter" is undefined`, with no stacktrace, no useful details.

[2020-01-20 03:36] ajmas opened #632 "interactionUrl not part of Typescript definition for provider"
**Describe the bug**

I am getting the following error when specifying 'interactionUrl' as a parameter to the Provider constructor, per the example:

  Object literal may only specify known properties, but 'interactionUrl' does not exist in type 'Configuration'. Did you mean to write 'interactions'?ts(2345)

**To Reproduce**

I am following the following example:

https://github.com/panva/node-oid

[2020-01-20 06:32] panva commented on #632
This is an example issue, the types are correct. Thanks for raising it, i’ll review the example.

[2020-01-20 06:32] #632 closed

[2020-01-20 09:50] phmz commented on #631
@panva Thanks for your feedback.

I read your commit and I agree it is better to overload the prototype function.
The code you provided is working as expected.

Do you think you'd be able to implement this feature for the next release?

[2020-01-20 17:48] #631 closed

[2020-01-20 17:48] panva commented on #631
yup

[2020-01-21 05:04] ajmas opened #633 "details.claims.accepted issue in 03-oidc-views-accounts example"
**Describe the bug**

I am trying to add node-oidc-provider by following the example below:

https://github.com/panva/node-oidc-provider-example/blob/master/03-oidc-views-accounts

I call the server via:

`http://localhost:6031/oauth2/auth?response_type=id_token&client_id=foo&redirect_uri=https%3A%2F%2Fdummysite%3A8081%2Fgoogle%2Fredirect&scope=openid&state=1234zyx&nonce=321`

This results in `Can

[2020-01-21 07:41] panva commented on #633
Of course there are undefined properties when you’re rendering consent view for what should be a login prompt.

In the example a different template is rendered based on the detail’s prompt name

[2020-01-21 07:41] #633 closed

[2020-01-23 12:57] joolfe opened #634 "Little error in mongodb adapter example"
**Describe the bug**
I know is just an example (for documentation purpose) but i think there are a error in the mongodb adapter implementation here [mongodb.js](https://github.com/panva/node-oidc-provider/blob/master/example/adapters/mongodb.js), when choosing the index depending of the `name` as for example here:
[code]
Is using snake_case for the model names but reading the comments in [my_adapt

[2020-01-23 13:19] panva commented on #634
@joolfe see https://github.com/panva/node-oidc-provider/blob/v6.18.2/example/adapters/mongodb.js#L49

[2020-01-23 13:19] #634 closed

[2020-01-23 13:31] joolfe commented on #634
Ups sorry, i didn't see that line.

[2020-01-23 18:17] alshaikh1 opened #635 "Authentication using OTP (SMS)"
How to authenticate users using OTP (SMS) but not username/password?
any implementation for that?

[2020-01-23 18:19] panva commented on #635
End-User interaction implementations are out of scope of the library and the protocols. Yes you can easily implement this, authentication can be implemented any way you like, but no, there are no examples.

[2020-01-23 18:19] #635 closed

[2020-01-25 19:00] mikejpeters opened #636 "Session isn't ended on browser close when remember=false"
**Describe the bug**
If configuration `cookies.long.sameSite` is set to "none" (default), when calling `provider.interactionFinished()` and setting `login.remember` to `false`, the session is still persisted even after the browser is closed.

I believe this happens because legacy cookies are created for sameSite compatibility, but not updated correctly to be transient by the session middleware.

*

[2020-01-25 19:18] #636 closed

[2020-01-30 21:31] bvitale opened #638 "preventing duplicate client registration?"
With dynamic registration, is it typical to prevent the same `client_name` in two registrations? With no async permitted in `extraClientMetadata.validator`, I'm not seeing an easy way to do this, so I must be missing something? Thanks very much.

[2020-01-30 21:37] panva commented on #638
@bvitale it isn't typical, the only uniqueness required from the generic AS perspective is the `client_id`.

I'd recommend to put this validation in your adapter. You can `throw new Provider.errors.InvalidClientMetadata('message')` right from your adapter store.

[2020-01-30 21:37] #638 closed

[2020-01-31 10:08] Eomm opened #639 "Question: retrieve user data"
Hi,
I would like to ask clarification about retrieving the user data.

I have customized the `interactions` behaviour and I'm using successfully the `oidc.interactionResult(request.raw, reply.res, result)` in a custom endpoint.

In the HTTP endpoint, I'm doing a query to a MongoDB to check if the user has enough permission, but then, in the `findAccount` function parameter, I must re-do the query

[2020-01-31 10:09] panva commented on #639
Yes, any extra checks you do in your own interactions before resolving is "your land", the library needs the `findAccount` operation for many other operations.

[2020-01-31 10:09] #639 closed

[2020-01-31 11:39] fiznool opened #640 "Allow clients to configure 'long' cookie parameters"
**Is your feature request related to a problem? Please describe.**

When working with native clients (e.g. mobile apps), the 'long' session cookie is problematic for situations where you don't want to launch a browser instance to end the session.

Here is the scenario I'd like to support:

- Web-based clients which use long cookie session and end_session endpoint as normal
- Native mobile app clie

[2020-01-31 12:13] panva commented on #640
I do agree that a more granular control on a library and API level over the cookie TTLs would be great. That being said i don't have any concrete plans to work on this now. I'll ponder on it for a bit and when starting it i'll ping you for feedback.

Please note that if you or your company were to [support](https://github.com/panva/node-oidc-provider?sponsor=1) the library I'd be happy to prioriti

[2020-01-31 12:13] #640 closed

[2020-01-31 12:36] fiznool commented on #640
Thank you @panva for your detailed reply. I will investigate the adapter idea, that's not something I had considered.

I appreciate the time you are taking to provide answers like this so quickly. Open source is such a force for good, and figureheads such as yourselves make my job and that of others so much easier. I will reach out to my client and see if there is any support we can provide.

[2020-02-01 14:16] hadyrashwan opened #641 "Missing fields in OAuth 2.0 Dynamic Client Registration Protocol RFC7591"
**Description**

I do not get jwks_uri after the registration is done in the response object.
I do not know how to set `software_id` and `software_version` while registering.

**To Reproduce**

Use the following configurations https://github.com/badgewell/badge-connect-implementation/blob/master/apps/oauth/src/controllers/oauth.controller.ts for OAuth server configuration.

I Use the following cod

[2020-02-01 19:08] panva commented on #641
Hi @hadyrashwan

I cannot replicate the `jwks_uri` part, which is the only weird part in your report...

[code]

For `software_id` and `software_version` which requires some form of validation, and imo should be accompanied by a software statement, please use configuration option [`extraClientMetadata`](https://github.com/panva/node-oidc-provider/blob/v6.20.0/docs/README.md#extraclientmetadata) to

[2020-02-01 19:08] #641 closed

[2020-02-02 07:03] hadyrashwan commented on #641
Got it. I was confused cause I'm not familiar with the standard as callback in the OpenID library error said it was not provided by the issuer. I thought it should be provided by the host server not being sent by the RP when registering in the first place. Thanks for the help :)

[2020-02-03 21:27] amaciver opened #642 "Corss-client Introspection question"
**Describe the bug**
I have questions about the intended behavior when trying to introspect a token that was issued to Client A, using credentials from Client B for introspections.

My main question: When request hits the same issuer i can introspect Client A from Client B, is this intended? I see in the code (4.x-6.x) that it is only when
[code]
I am curious your thoughts about how this aligns wi

[2020-02-03 21:38] panva commented on #642
Yes, public clients cannot introspect token's other than those issued to them. Resource Servers with a tight relationship with the AS can introspect tokens issued to other clients since they would otherwise not be able to. Since Client !== Resource Server.

This is the default behaviour and the moment you establish Resource Indicators and issue tokens to a client but with a RS audience you can use

[2020-02-03 21:38] #642 closed

[2020-02-03 22:03] amaciver commented on #642
thanks!

[2020-02-04 14:52] alvis opened #643 "The `interaction.started` event incorrectly emits a prompt object instead of an interaction"
**Describe the bug**
The `interaction.started` event incorrectly emits a `prompt` object instead of an `interaction` stated in the documentation (or the doc incorrectly states the wrong object):
https://github.com/panva/node-oidc-provider/blob/e5ecd85c346761f1ac7a89b8bf174b873be09239/docs/events.md#L39
https://github.com/panva/node-oidc-provider/blob/e5ecd85c346761f1ac7a89b8bf174b873be09239/types/

[2020-02-04 15:04] panva commented on #643
i guess that's what needs to get fixed, docs and types. I'd rather have it be the interaction object but that would be a breaking runtime change.

[2020-02-04 15:15] alvis commented on #643
I agree, also it makes more sense to emit a prompt than an interaction when it starts.

[2020-02-04 15:16] #643 closed

[2020-02-10 10:08] codestorycooked opened #644 "SessionNotFound : invalid_request"
Hi @panva ,
I am upgrading our library from 5.x -> 6.x and facing session issue with interaction.
Currently my config as below:

[code]

our previous interactionUrl was `/saml` and same setting has been updated on interaction.url as shown above.
When user tries to use our service he is redirected to /saml where authentication happens but when the callback is called I get following error:

[code]
I

[2020-02-10 10:27] panva commented on #644
@codestorycooked you gotta check that the cookie is sent with the request. `/saml` callback indicates that you may be authenticating with an upstream saml idp with a post binding, if that happens on a cross-origin from a samesite perspective then by the new chrome rules cookie won't be set.

I think this might not be related to your upgrade but rather the recent changes to cookies?

If you're work

[2020-02-10 10:27] #644 closed

[2020-02-10 11:36] Lakshman1996 opened #645 "Memory usage increasing as Clients increases"
Hello,

I have dynamic client registration enabled and clients are increasing every day. While debugging i found that client information is in memory. I am assuming because of this my app memory usage is increasing.  Is there any way to not cache this. ?
Thanks

[2020-02-10 11:39] panva commented on #645
Client model instances are [capped](https://github.com/panva/node-oidc-provider/blob/v6.20.1/lib/models/client.js#L195) at 100 instances through an LRU cache mechanism.

[2020-02-10 11:39] #645 closed

[2020-02-10 12:09] Lakshman1996 commented on #645
Are you considering to make cache mechanism  configuration in future?

[2020-02-10 12:13] panva commented on #645
I do not, with the client metadata validation and instantiation process being a rather heavy operation, cache is crucial.

[2020-02-10 16:09] Lakshman1996 commented on #645
Okay. Thanks for the info

[2020-02-10 18:09] thomasvargiu opened #646 "Error with dependencies"
Hello! I was updating my project and I have some errors:

[code]

Why types dependencies are in `dependencies` and not in `devDependencies`?

https://github.com/panva/node-oidc-provider/blob/4f95a708ef6ed3c1d08d9d3aca92d33f9f1be3de/package.json#L51-L52

[2020-02-10 18:13] panva commented on #646
@thomasvargiu

Some TS developers want them part of the dependencies, some don't. What would you have me do?

[2020-02-10 18:26] thomasvargiu commented on #646
I didn't know why types should be in `dependencies`. Looking at [this Stack Overloflow question](https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies) and [this conversation](https://github.com/mui-org/material-ui/issues/14508) I think that `@types/koa` can be in `dependencies` but probably it should be better to exclude `@types/node`

[2020-02-10 18:29] panva commented on #646
Please reach out to the other typescript users from the other typescript threads asking about this. I'm happy to make that change if there's consensus.

If i don't hear back i'ma do it anyway because it kinda makes sense to me, but its better to have consensus.

[2020-02-10 18:39] thomasvargiu commented on #646
I agree, but I didn't find a conversation about this. I saw that node definitions are in `dependencies` since the first release where you added the typescript definitions.

[2020-02-10 18:52] panva commented on #646
@alvis @thecopy @ajmas @ulrikstrid @fiznool @javlund

Thoughts on the comment [above](https://github.com/panva/node-oidc-provider/issues/646#issuecomment-584272559) and this issue in general?

[2020-02-10 18:57] ajmas commented on #646
@types/* should be in devDependencies, but would need to see if there a right way to make it available to downstream during dev time.

Maybe something here: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

[2020-02-10 19:18] fiznool commented on #646
Looking at the `index.d.ts` file, I’d agree with the comment above.

- `@types/node` should be in devDependencies, since it is inferred via a tripe-slash reference, rather than directly imported. This is pretty commonplace amongst types - a typescript project would generally always specify its own (dev) dependency on `@types/node`, according to the version of node that they are using (subject of c

[2020-02-11 08:44] #646 closed

[2020-02-11 09:00] panva commented on #646
Moving `@types/node` to devDependencies i get that exact error in CI's lint now. TS is infuriating me yet again, this "awesome types ecosystem" can't decide how to handle requiring its own types, @types/koa requires @types/node as a dependency.

What's a library developer to do when its own regular runtime dependencies require types and they're conflicting with my library users... Infuriating.

[2020-02-11 15:30] fiznool commented on #646
One thing I've also seen in the wild is library authors using a more relaxed semver range for the types, so for example here the dependency on node typings could be

[code]

Would this help to solve the problem?

[2020-02-14 04:36] codestorycooked commented on #644
Thank you setting sameSite:none worked.

[2020-02-14 10:14] codestorycooked opened #647 "offline_access support"
Hi @panva,
With version 5.x there was setting alwaysIssueRefresh token which would issue `refreshToken` if calling clients had `refresh_token` grant type.

But with 6.x if  I do not specify `offline_access` in scopes section `refresh_token` grant is not available, so I have updated config object as below:

Questions:
How do I enable `refresh_token` grant so clients can be created with that `grant_

[2020-02-14 10:32] panva commented on #647
That seems to be the [case](https://github.com/panva/node-oidc-provider/blob/v6.20.2/lib/helpers/configuration.js#L168-L182). I'll see if that can be changed.

[2020-02-14 10:44] #647 closed

[2020-02-14 10:48] panva commented on #647
@codestorycooked thanks for raising this. You can get the grant exposed just by reconfiguring the default `issueRefreshToken` configuration function.

https://github.com/panva/node-oidc-provider/releases/tag/v6.20.3

You seem to be a long time user of the library, please consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if it provides value to you or your com

[2020-02-17 06:26] tmedanovic opened #648 "Access token, interations and sessions saved to db"
My introspection, session management and revocation features are disabled but for some reason OIDC provider saves access tokens, sessions and interactions to database.

I understand why grants are saved to Db but I don't see any reason to store things I mentioned above? Can you give me some insight?

Why is this necessary and can it be turned off?

![image](https://user-images.githubusercontent.co

[2020-02-17 07:56] panva commented on #648
`introspection`, `sessionManagement` or `revocation` features aren't the trigger to start storing anything extra.

Interactions are the end-user login/consent requests. Access Tokens from the authorization point of view aren't stateless (even if they're JWTs), they get stored so that entire chains of tokens can be revoked when anomalies (double auth code use) or regular flows (refresh token revoca

[2020-02-17 07:57] #648 closed

[2020-02-17 08:27] big-kahuna-burger opened #649 "Configuration generator issue with embedded multiline html"
**Describe the bug**
docs/README.md have a trimmed version of HTML for frontchannelLogout.logoutPendingSource function due to error in update-configuration.js

**To Reproduce**
<img width="870" alt="Screen Shot 2020-02-17 at 9 25 09 AM" src="https://user-images.githubusercontent.com/11753867/74636021-74b93e80-5167-11ea-864b-dd5fce5d3d66.png">

Steps to reproduce the behaviour:

**Expected behaviou

[2020-02-17 09:11] tmedanovic commented on #648
Well, I don't use auth code or refresh tokens, and since I'm validating access tokens using JWKS I really don't see any benefit to storing access tokens in database, since even if I revoke it - it is still valid.

So signed cookie is not enough to determine if the user is logged in? (Sorry if I'm missing fundementals)?

[2020-02-17 09:17] #649 closed

[2020-02-17 09:18] panva commented on #649
fixed https://github.com/panva/node-oidc-provider/commit/8a14919f3311654c6370205aad9235f951436d5a?w=1

Thank you @big-kahuna-burger

[2020-02-17 09:22] panva commented on #648
So you're using `id_token token` flow? That's unfortunate, since that flow has so many issues that it's actually getting deprecated by upcoming [oauth security topics](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-14#section-2.1.2)

You may be, the provider doesn't, so when a userinfo request is made, it checks its records. If you don't have use for this, just don't store them, i me

[2020-02-17 12:37] tmedanovic commented on #382
@skeltonm How did you solve this in the end? I also feel like this is wrong UX wise, but it makes sense what @panva described. Are the any security concerns with increasing max age to lets say 24h?

[2020-02-17 16:15] kareha opened #650 "SessionNotFound because oidc-provider compares objects, not strings"
**Describe the bug**
Ran into SessionNotFound error because accountIds couldn't be compared in
Line: https://github.com/panva/node-oidc-provider/blob/master/lib/provider.js#L62

**To Reproduce**
I used mongoose as mongodb models
Same setup like your mongodb-Adapter example.

Steps to reproduce the behaviour:

Added following output to Line 62 (before compare):
[code]

Got output:
[code]

Recommend

[2020-02-17 16:24] panva commented on #650
No, because it's not needed.

Have you considered that the fact that your account is set to an object and not a string is the actual problem?

It's meant to be a string in the first place. Don't pass in mongoose/mongo ObjectId objects.

[2020-02-17 16:24] #650 closed

[2020-02-17 18:07] kareha commented on #650
The problem was, I just defined the session Schema with `payload: {type: Object}`, because of flexibility to your library.
But then all ID Strings are stored as ObjectID.

Thanks for the hint. It works now, by defining a specific Schema.
And sorry for the stupid question :)

[2020-02-18 17:33] solaris765 opened #651 "JWKS and Cookie Key Rotation"
Background:
I'm currently running an oidc-provider based auth system in a kubernetes cluster.  One of the features that I'm currently exploring is automatic secret rotation.

Ex: when a secret is mounted as a file, the file is automatically updated in a running pod some time after the secret is updated in the cluster.

I know your docs list restarting the service as best practice. My concerns are:

[2020-02-18 19:17] panva commented on #651
No

I don't know and since it's not the intended mode of operation, i can't recommend it.

It is, any distributed system should be capable of having a rolling restart triggered.

[2020-02-18 19:17] #651 closed

[2020-02-20 07:16] rickwang7712 opened #652 "Interface to manage current sessions/tokens"
**Is your feature request related to a problem? Please describe.**

May I ask is there a management interface to handle actions like `delete all authenticated sessions of a specific user`? For example, I will need to revoke user's existing sessions/tokens after the user change password.

**Describe the solution you'd like**

An API or any method to revoke user's related authentication/consent sess

[2020-02-20 07:38] panva commented on #652
There isn’t and won’t be, its out of scope for a protocol implementation. You control the adapter layer, build you API on top of it.

[2020-02-20 07:38] #652 closed

[2020-02-20 09:40] stekycz opened #653 "Allow custom token formats/serialisations"
## Is your feature request related to a problem? Please describe.
I want to make sure that any user who has access to the DB of tokens is not able to recreate a valid token from the data saved in the storage. We have created a custom format used in older versions that is not possible to use after the latest major update.

The format has 3 parts:
1. JTI (as it is generated in the library, the value

[2020-02-20 10:26] panva commented on #653
Ahoj Martine,

v6.0.0 and onwards does not support overloading the token formats as the previous version did. The methods you're mentioning are now private and used slightly differently.

This is because maintaining that "API" has hindered maintenance and further development of internal formats as it was a dirty practice made public in the first place.

I'm afraid that without a decent amount of r

[2020-02-20 10:26] #653 closed

[2020-02-24 13:06] totolef opened #654 "SessionNotFound: invalid_request - External login page"
Hi, I know it might be more a problem on my side than a bug. I'm seeking help if it is possible here.

**Describe the bug**
/interaction/:uid/login step return SessionNotFound error.

My authentication process is the following :
User goes on localhost:3006/login, on an express server using oidc passport strategy with the following configuration :
[code]
It redirect user to http://localhost:3000/in

[2020-02-24 13:11] panva commented on #654
Because `http://localhost:3001` is a different origin from `http://localhost:3000` and the cookies are set to `sameSite=lax`, a POST from 3001 to 3000 will not contain the cookies needed.

[2020-02-24 13:11] #654 closed

[2020-02-25 09:02] jim-king-2000 opened #655 "OIDC-provider prevents mongodb.ObjectId to be an accountId."
**Describe the bug**

If we use the default _id field from mongodb as accountId, oidc-provider would fail quietly.

[code]

Then, oidc-provider does not work. Function `provider.interactionDetails` returns 400 and the browser shows "Bad Request". But it works if we switch back to memory adapter.

**Analysis**

After a long time debugging, we locate './lib/provider.js' line 62.

[code]

OIDC-provid

[2020-02-25 09:35] panva commented on #655
same as in #650

🙇 thank you, this is really great

I think this is what i'll put in, if its not a string it'll just throw at you when you call `interactionFinished` or similar.

[2020-02-25 09:58] kaboume opened #656 "Trusting TLS offloading proxies : Apache configuration"
Hi,
For those who use Apache as Reverse Proxy, here is the configuration to do for TLS offloading:

ProxyRequests off
ProxyPreserveHost On
RequestHeader set X-Forwarded-Proto https
ProxyPass  / http://localhost:9001/
ProxyPassReverse  / http://localhost:9001/

[2020-02-25 10:07] panva commented on #656
I think this might not be 100% correct, setting the proto always to https is only okay if your server listens only on 443. The proto should be set to an evaluated expression by apache e.g `REQUEST_SCHEME` from https://httpd.apache.org/docs/trunk/mod/mod_rewrite.html

[2020-02-25 10:07] #656 closed

[2020-02-25 10:38] #655 closed

[2020-02-25 22:04] stekycz commented on #653
Thanks! The project it is used in is unfortunately in maintenance only phase 😞We decided to use opaque without the feature we wanted. It is still secure enough and if the package will introduce the new API you are mentioning we will probably use it.

I will pass the sponsoring to the product owner. And I hope we will support you 😉

[2020-02-26 10:30] jim-king-2000 opened #657 "Question: Is there any sample code of dynamic client registration?"
# requirement

We need to list all the existing clients of the provider, and need to do CRUD to a specific client.

# investigations we did

1. We see this in the document of oidc-provider, then we know it is feasible. But we can't find the sample code.

2. We find `features.registration` and `features.registrationManagement` in the doc. So we open both of them in our server code, since we are not

[2020-02-26 12:32] panva commented on #657
Hi @jim-king-2000

[`features.registration`](https://github.com/panva/node-oidc-provider/blob/v6.21.0/docs/README.md#featuresregistration) opens up the POST to `registration_endpoint` and GET to the dynamically registered client's `registration_client_uri` from [Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html)

[`features.registrationManagement`](http

[2020-02-26 12:32] #657 closed

[2020-02-27 11:39] victorherraiz-santander opened #658 "Track the full consent trip"
I am looking for a simple way to track a full trip from push auth request to token endpoint. At the moment is quite dificult to match and correlate all the steps in a single journey. This is required for audit and debug, at the moment we are doing something really dodgy (e.i. request_uri -> interaction_id -> grant_id...)

I would like to have an Identifiar, if it is not current available, to corre

[2020-02-27 11:43] panva commented on #658
iirc interaction ids are now always equal to the grant id, for PAR, i'll consider to store the uid of the PAR request and use that for the auth request in a future revision.

[2020-02-27 11:43] #658 closed

[2020-02-27 11:44] panva commented on #658
Please consider [supporting](https://github.com/panva/node-oidc-provider?sponsor=1) the library if it provides value to you or your company. Supporting the library means, amongst other things, that your feature request will get a priority when deciding what to work on next.

[2020-02-27 14:58] victorherraiz-santander commented on #658
Iteraction Id are not equal to grandId in version 6.21.1 (we just merge the last tag)

[2020-02-27 15:03] panva commented on #658
You're right. I just checked myself. In any case, i've added this to the backlog.

[2020-02-27 15:04] panva commented on #658
You're right. I just checked myself. In any case, i've added this to the backlog.

[2020-02-27 17:22] alvis opened #659 "typescript: KoaContextWithOIDC is not correctly defined"
In oidc-provider, an OIDCContext is assigned at `ctx.oidc`. However, it's incorrectly defined in the typescript definition due to the type parameter mispositioned in `ParameterizedContext`.

The correct definition of `KoaContextWithOIDC` should be
[code]

instead of the one we have today below

https://github.com/panva/node-oidc-provider/blob/71a4a7df23873ef1f6457c3c843c1ff68370bce8/types/index.d.

[2020-02-27 17:22] panva commented on #659
@alvis thank you and can you propose a PR?

[2020-02-28 01:22] alvis commented on #659
sure. I'll do it later. ;)

[2020-02-28 07:35] #659 closed

[2020-02-28 07:45] panva commented on #658
@victorherraiz-santander

As a short term quick solution `51b128d` exposes the `Interaction` and `Session` entities on a `ctx.oidc.entities` object.

This will aid you because you can now tie in more entities together in the listeners for events such as `interaction.started` and `authorization.success`. Please note that `PushedAuthorizationRequest` is only present on those on the first load of the

[2020-02-28 13:21] kareha opened #661 "Question: Second factor authentication"
Hi,
where would I ideally place a two factor authentication?

Could the interaction policy be a place for that, like a consent?
Or better place this at the routes and return an error at provider.interactionFinished() after POST login with the request? How to add more variables to the session for that?

I tried it by policy, but then the session is created anyway and the user is logged in :/
Hope y

[2020-02-28 13:26] panva commented on #661
@kareha your own interactions, ideally you don't resolve "login" before MFA is resolved when MFA is required after credential authentication. And policies if you want to be able to step-up authenticate on demand.

[2020-02-28 13:26] #661 closed

[2020-03-02 19:20] 625dennis opened #663 "post_logout_redirect_uris loopback listener support for native applications"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

When setting redirect_uris, I can use any localhost uri for application_type="native". This isn't true for post_logout_redirect_uris. I was wondering if this should be included or if maybe my flow is designed wrong.

**Describe the solution you'd like**
A clear and concise de

[2020-03-02 19:27] panva commented on #663
`post_logout_redirect_uris` is validated to be a valid [`URL`](https://developer.mozilla.org/en-US/docs/Web/API/URL). That means loopbacks are allowed too because the hostname is not evaluated...

[2020-03-02 19:27] #663 closed

[2020-03-02 19:33] 625dennis commented on #663
It requires a static port though.
`postLogoutRedirectUriAllowed(uri) {
      return this.postLogoutRedirectUris.includes(uri);
    }`

This is in contrast with `redirectUriAllowed(value)` which removes the port during evaluation.

[2020-03-02 19:38] panva commented on #663
I fear you didn’t mention anything about the dynamic port part. I see.

If you want this behaviour feel free to overload the client method in question. Its public API.

[2020-03-02 20:10] 625dennis commented on #663
@panva I'm not sure how to configure the public api for client. I tried changing the client object in the new Provider() call, but that seems to get stripped out. Also, I don't think we have access to the Client prototype. Can you guide me to some documentation on this?

[2020-03-02 20:11] 625dennis commented on #663
I found extraClientMetadata. I'll look into this for now

[2020-03-02 20:28] 625dennis commented on #663
Found this https://github.com/panva/node-oidc-provider/issues/423#issuecomment-450750364

[2020-03-02 21:28] panva commented on #663
its basic javascript really

[code]

[2020-03-03 08:37] kartikchauhan opened #664 "Omitted fields not getting treated as null when updating client's metadata."
According to section [Client Update Request](https://tools.ietf.org/html/rfc7592#section-2.2) in [RFC-7592](https://tools.ietf.org/html/rfc7592),

From what I understood from this statement is that when a client is updating its metadata by making a `PUT` request on the client registration URI, the client has to provide all its previous registered metadata. If the client omits any field in the requ

[2020-03-03 08:55] panva commented on #664
The specification is contradicting itself. In the same section it says

[code]

So there's that.

[code]

You're not missing anything, it's an underused feature that rarely anyone uses. I'm glad you brought it up.

It is not only considered, it is a certified OpenID Connect Provider. OIDC Certification has a limited scope and client registration management protocol isn't part of it.

As-is, with t

[2020-03-03 13:19] kartikchauhan commented on #664
Thanks, Filip for an immediate response.

Though, the specification says every field must be included in the statement

   the client from previous registration, read, or update operation.

But there can be a possibility the client doesn't pass all the registered fields in its request. In that case, shouldn't we treat them as null fields and delete them from the client metadata as the specificatio

[2020-03-03 13:34] panva commented on #664
I'm not convinced this server implementation needs to be made ready for that case, the client can always do a GET first and then the PUT with all properties.

Nevertheless I'll relax this.

[2020-03-03 16:43] kartikchauhan commented on #664
Thanks, Filip for asking OAuth WG.

[2020-03-03 20:39] ionizer opened #666 "Typescript implementation does not support directly using JWKS from jwks.json file"
**Describe the bug**
I tried to make an example to run this library with Typescript, but I'm getting this typing error if I try to use a JWKS file (jwks.json) like in the step-by-step example and use `tsc` to build.

[code]

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Create a jwks.json file containing a JWK like the above cod

[2020-03-03 21:04] panva commented on #666
@alvis ideas?

[code]

[2020-03-03 22:22] fiznool commented on #666
The issue is that since `jwks` is an object, there is nothing to stop the following from happening:

[code]

TS is therefore falling back to assumming that the `kty` field should be a string, rather than anything stricter. For that, you'd need an explicit type:

[code]

Sadly this doesn't help the case where you are importing from a JSON file. I don't think there's much else you can do here, since

[2020-03-04 03:42] wilsonjackson opened #667 "Migrating to 6.x: keeping old tokens active?"
**Is your feature request related to a problem? Please describe.**
Not sure that "feature request" is exactly the right descriptor here, but it's definitely not a bug. I'm in the process of upgrading an app based on oidc-provider up to 6.x and we want to avoid, if at all possible, invalidating every user's tokens when we release.

We use postgres for the backend, with an account provider based on

[2020-03-04 06:48] panva commented on #666
Thank you.

[2020-03-04 06:48] #666 closed

[2020-03-04 06:50] panva commented on #667
this can't be done, effort ain’t worth it depending on your 5.x storage format.

[2020-03-04 06:50] #667 closed

[2020-03-04 10:26] tmedanovic opened #668 "Session never expires"
We are using implicit flow with response types ` id_token token` and we are using **silent refresh** to rotate tokens during user session.

The long cookie is set to:

      long: { signed: true, path: '/', maxAge: 3600000 }, // 1 hour in ms

However, the session with OIDC never expires and user keeps rotating tokens until he explictly logs out.

How can I limit the session with OIDC to 1h and sti

[2020-03-04 10:48] panva commented on #668
@tmedanovic the session refreshes its TTL whenever it is used in a request. If you want to limit sessions to 1 hour, do so using your Session dedicated adapter.

[2020-03-04 10:48] #668 closed

[2020-03-04 11:22] tmedanovic commented on #668
Thanks.

Ok, and the long cookie is overwritten with new export time? In my case it would be on silent refresh?

The behaviour seems little odd to me because IMO it's common that you want to expire session after some time Wouldn't it be better to add some kind of flag to settings in which you can control whether the cookie gets refreshed after a maxAge?

If we just let the cookie expire, session w

[2020-03-04 12:07] panva commented on #668
Yes, because the user "resurfaced".

As evidenced by this being the first occurence in 5 years of this project, no, its not common. The most common scenario is that developers want to keep the user session active for as long as possible, not to have the users re-authenticate all the time.

I don't think we need a flag, as i said, you can orchestrate sessions having a hard TTL regardless of their r

[2020-03-04 12:39] tmedanovic commented on #668
Thank you for detailed explanation. Well, in financial applications - it is a common use case. Do you stay logged in at you online banking web application for days?

[2020-03-04 12:42] panva commented on #668
In financial application i would never accept the use of deprecated `id_token token` flow in the first place, neither would i support any form iframed silent refresh.

[2020-03-04 12:46] tmedanovic commented on #668
@panva Yes, you are right. this is POC. But still a valid use case.

[2020-03-04 17:06] #664 closed

[2020-03-04 17:10] panva commented on #664
@kartikchauhan thanks for raising this, after clarifying with the spec authors i've removed the check and released v6.23.1

[2020-03-04 22:21] theseventhflow opened #669 "The first login user cannot refresh tokenset after the second user logs in"
**Describe the bug**
Hi panva, I tried to implement oidc in my project. If I have only one user, the refresh function works perfectly. However, once the second user used another client to log in, the first user's tokenset cannot refresh anymore.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

[2020-03-04 22:23] theseventhflow commented on #669
Could you give me any suggestions?Thank you!

[2020-03-05 06:39] panva commented on #669
https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#expireswithsession

[2020-03-05 06:39] #669 closed

[2020-03-05 07:34] panva commented on #669
Basically, since the token family is bound to the session (the helper above resolves to true for you without offline_access) and you're logging out the first user to log in the second one, the family is invalidated. Test in different browsers or an anonymous window.

[2020-03-05 13:29] ionizer commented on #666
This does mean I have to install the `jose` package (`npm i -S jose`) just to have the type though...

[2020-03-05 13:47] panva commented on #666
FWIW it's already installed, `oidc-provider` depends on it.

[2020-03-05 16:58] ionizer commented on #666
Some ESLint rules seems to be not very happy about this apparently. It gives me the following error if I don't specify `jose` in my package.json and install it.
[code]

Though, I can probably get away with just disabling the rule specifically for my type import. Thanks a lot for the help!

[2020-03-08 10:44] faisalov opened #670 "model names."
hello there,
just a small question. can i control the naming of the models in MongoDB adapter, like changing "AccessToken" to "access_token"  etc.. ?

thank you.

[2020-03-08 10:54] panva commented on #670
Yes, in your adapter feel free to change what you store and where all you like.

[2020-03-08 10:54] #670 closed

[2020-03-09 15:07] theseventhflow commented on #669
Oh thank you so much! It works when users use different browsers.

[2020-03-09 16:54] baronnoraz opened #671 "v6.21.1 breaks authorization code flow"
**Describe the bug**
In versions of `oidc-provider` prior to `6.21.1` our web app login works correctly using the authorization code flow.  `6.21.0` was the last version that worked.

**To Reproduce**
Provider configuration
[code]

Client configuration
[code]

Steps to reproduce the behaviour:

1. Click Login button on my site:

[code]

2.  Presented with login screen from oidc-provider
3.  Enter

[2020-03-09 17:07] panva commented on #671
As per the Core specification, all subject values are to be strings, so this was nothing more than a bug fix. #650 and #655 are all issues related to that topic.

I didn't realize numbers got through before this fix but the current state is the  only intended and correct one.

[2020-03-09 17:07] #671 closed

[2020-03-09 17:27] baronnoraz commented on #671
Thanks for the quick response.  To be sure, you're saying that the `token.accountId` should be a string and not a numeric value?

[2020-03-09 17:29] panva commented on #671
yes, absolutely.

[2020-03-12 08:12] lewiscxa opened #672 "Passing RSA certificate into jwk"
This is actually a question. I'm having an issue with passing the  RSA certificate into OIDC provider. Currently, my jwks API is returning these values:
[code]
As you can see from the above jwk then prop `x5c` and `x5t` are missing. It's obviously because I haven't passed the RSA certificate into ODIC provider. The thing is I can not find an instruction for including the cert into ODIC provider. T

[2020-03-12 08:18] panva commented on #672
You're passing the RSA private key as a JWK in a JWKS. All you have to do is add the x5c member with your cert in it.

[2020-03-12 08:18] #672 closed

[2020-03-12 08:35] lewiscxa commented on #672
@panva Sorry for the mis-info. I actually pass the JWK generated from RSA private key into `configs.jwks`. Does that mean I'll only need to add the missing props into the JWK then OIDC provider will handle the rest?

[2020-03-12 08:42] panva commented on #672
[code]

[2020-03-12 14:15] martonboti opened #673 "scopes_missing when starting new session"
Hi, I have a question about the authorization.

I log in using email/pass, I get to the authorize page, hitting continue, all good there. But then if I open an incognito window, I log in with the same user and the authorize page comes up again.

Is there a way to get rid of the re-authorization everytime a new session is created or am I supposed to store the sessions?

[2020-03-12 15:23] panva commented on #673
Storing grants outside of the session is not part of the default interaction policy. I'm saying default because you can define your own policy and store pre-existing grants any way you want.

[2020-03-12 15:23] #673 closed

[2020-03-13 15:36] Tyrben opened #674 "Simple working example"
Hi all,
New to api and node in general. I was suprised to find some deprecated examples over the Internet (depending on oidc provider v2.0.0). So I switched to the last version and decided to follow the Readme.
My surprise was when running the example, my client received the error

The minimal example of a Readme shouldn't be a working example?

I'm certainly wrong in some way, but maybe I'm right

[2020-03-13 16:34] panva commented on #674
well, it is a fully working example, `/` is not a useful route and the example tells you to check `/.well-known/openid-configuration`.

[2020-03-13 16:34] #674 closed

[2020-03-15 00:55] kartikchauhan opened #675 "Unable to understand the significance of `devInteractions` field in featues."
In the section [features.devInteractions](https://github.com/panva/node-oidc-provider/blob/v6.23.1/docs/README.md#featuresdevinteractions), the documentation says

What I inferred from this statement is that one doesn't need to build his own frontend if he wants to experiment with the library and by default the library will show its frontend pages to the User.

But after setting the value to `fals

[2020-03-15 01:56] panva commented on #675
You inferred right but you don’t set interactions with just a boolean anymore. Its { enabled: false } to override the default.

[2020-03-15 01:56] #675 closed

[2020-03-15 02:32] kartikchauhan commented on #675
Yes, this is how I set the value in `support/configuration.js`
[code]

When it didn't work, I overrode the default value in `defaults.js` as well.
[code]

[2020-03-15 08:36] Tyrben commented on #674
Ok, thanks, that was maybe unclear.

[2020-03-15 10:24] panva commented on #675
[code]

Afterwards, navigating to `http://localhost:3000/auth?client_id=foo&response_type=id_token&nonce=foo&scope=openid` shows there is no default UI from the `devInteractions` feature.

[2020-03-16 04:51] codestorycooked opened #676 "When access_token is introspected iss is not returned as part of response."
**Describe the bug**

When using 6.x library version introspection response does not include `iss` when access_token is active

**To Reproduce**
Provider and Client configuration: (inline or gist)

configuration objects introspection property is enabled

[code]

Steps to reproduce the behaviour:

1.  Login using IDP provider
2.  when we recieve access_token send that access token to introspection

[2020-03-16 07:46] #676 closed

[2020-03-16 11:54] dobby5 opened #677 "Generating InitialAccessToken"
Hello,

I have a question regarding the InitialAccessToken. How are they generated?
 I have already tried to register the clients with a "normal" AccessToken, but without.  The entry InitialAccessToken exists in the database, but no data is inserted there.

[2020-03-16 13:55] panva commented on #677
Its all in the docs for the registration feature, surprisingly.

[2020-03-16 13:55] #677 closed

[2020-03-17 21:16] ComputerWolf opened #679 "Multi-factor Authentication"
I know there are multiple issues surrounding multi-factor and two factor auth, but none seem to document the proper flow and I am not sure I am doing this properly.

I am attempting to show a screen requesting a code after the username/password screen.

At first I attempted to make the multi-factor code request a Prompt that would fire after the login Prompt, however, I saw that @panva stated that

[2020-03-17 21:39] panva commented on #679
I wrote a rant. I deleted it. I wrote it again. Realized you're not to be mad at, it's my shitty documentation and examples. So I deleted it.

Interactions are your land, you control them 100% - their location, when they're requested, when they're resolved, what web framework they use, what middlewares you use in them.

If you're happy with your separate MFA approach, that's fine - i stated that t

[2020-03-17 21:39] #679 closed

[2020-03-19 07:30] lewiscxa opened #680 "Increase lfetime of short session"
AFAIK then short session is used for storing non-logged users' metadata. The default lifetime is 10m if I was not mistaken. I'm just wondering whether or not it's ok increase its lifetime to a longer time like 1 day or 1 month. Will there be security risks of doing that? Also do you know where can I can the related spec for short sessions?
[code]

[2020-03-19 09:06] panva commented on #680
short cookie config applies to the Interaction model, that one has nothing to do with user's metadata per se, it's to store details about why an interaction is requested and, when part of an already authenticated flow, tie to to its session.

I'm wondering why one might want that? Are you expecting end-users to take 1 day or a month to fill out a login form?

[2020-03-19 09:06] #680 closed

[2020-03-19 09:14] lewiscxa commented on #680
@panva I'm having an issue that we're throwing the invalid_request error when the short cookie expires. Right now it's set to 10 minutes. There can be a case that users reach the login page and just go out and comeback after 1hour for example. If they try to login again then they'll see that error. I intend to increase the session lifetime to 1h but I'm just a bit worry about security stuff so I'm

[2020-03-19 09:16] lewiscxa commented on #680
I'm also quite new to OIDC so I don't really understand about the purpose of short cookie lifetime. Will it be for removing unnecessary temporary data only or is there any security reasons for that?