[2017-10-27 09:03] panva commented on #167
I don't see how oidc-provider would add a description for an error it's not throwing, so let's provide an object with both error and error_description. Else I agree, state and valid response mode handling will be handled by the existing implementation.

[2017-10-27 09:11] KtorZ commented on #167
I don't see any room for custom error codes in the standard, which means that there's a fix list of values that could go in this `error` property and therefore, a corresponding list of descriptions that go with these errors. Don't you agree?

[2017-10-27 09:20] panva commented on #167
I don’t agree, someone will just return a custom error for his closed ecosystem provider and will want to provide a description of his own ;)

[2017-10-27 09:23] KtorZ commented on #167
I guess you're right. Let's go for an object: `{ error: ..., error_description: ... }` then to indicate a failed interaction. I will work on a PR.

[2017-10-27 10:10] panva commented on #164
PR merged, to be released with 2.5.0 when #167 is also resolved.

[2017-10-27 10:10] #164 closed

[2017-10-27 10:44] panva commented on #167
PR Merged, to be released with 2.5.0 in the coming days.

[2017-10-27 10:44] #167 closed

[2017-10-27 10:48] KtorZ commented on #167
By the by, thanks for the diligence in handling those issues & PR :+1:

[2017-10-27 11:05] panva commented on #167
You're welcome and thank you for the contributions! I took the liberty of ditching the assert and http-errors require since ctx.throw will take care of stringifying the error and result consent/login won't be used anyway if the result will throw. I know of a few users that accumulate these results and would likely just accumulate an error and then return the whole thing.

[2017-10-30 10:27] da-pingwing opened #169 "[Question] Passport + OIDC"
When using Passport how to authorize a user through OpenID Connect?
I've been trying to use the interactions but they just trigger "id must be provided to Session#find"

Thanks in advance

[2017-10-30 12:04] panva commented on #169
This question makes no sense in the provider context, sorry.

[2017-10-30 12:04] #169 closed

[2017-10-30 12:26] #166 closed

[2017-10-31 13:20] janhalama opened #170 "OIDC provider & location header relative reference"
Hi,
OIDC provider redirects to interaction endpoint using relative reference in location header:

Using relative reference location header values has been standadized by [RFC 7231](https://tools.ietf.org/html/rfc7231) which is relatively new (June 2014).

We do encounter problems with relative redirections on https protocol. Is it possible to configure OIDC provider to use absolute URIs?

Thanks.

[2017-10-31 13:34] panva commented on #170
Hello @janhalama,

to answer your question yes, it's [configurable](https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/defaults.js#L335-L346), it even logs a warning for you since 2.x.

What do you see wrong with the redirect in terms of 7231?

[2017-10-31 15:24] janhalama commented on #170
Hello @panva,
thanks for prompt response.

InteractionUrl is what I was looking for.

We run identity provider behind Traefik reverse proxy, which might cause the problem.  Browser receives redirection responses with http status code 200 instead of 302.

Jan

[2017-10-31 15:27] panva commented on #170
Ok, so you're not seeing an issue with the library. Glad I could help.

[2017-10-31 15:27] #170 closed

[2017-11-01 13:23] jorgenkg opened #171 "Checking session validity using the Provider (Session Management)"
I'm trying to implement an SSO wrapped around an external OAuth solution, using `node-oidc-provider`.

Ideally I would love to use the Session Management's user cookie to check whether the current login session is valid (to spare the end user from having to type their credentials again).

I've tried to dig into the internals of the koa router, but the code is unluckily to too efficient/performant

[2017-11-01 14:01] panva commented on #171
Isn't the supported [Session Management](https://openid.net/specs/openid-connect-session-1_0.html) not exactly what you're looking for?

[2017-11-01 14:30] jorgenkg commented on #171
I believe Session Management allows a third party client to validate whether a session is active using a redirect/iframe?

While I'm hoping for a way to check whether the user's browser is currently in a active session based on the cookie. The Session Management might indeed be used to do the session validation, but I'm not sure how to call the internals of the Session Management from within the s

[2017-11-01 14:52] panva commented on #171
This is what Session Management is for and there's no server call or internals involved, only RP and OP frames.

[2017-11-03 11:04] tony-kerz opened #172 "question: "id must be provided to Session#find" from http client"
i'm trying to write a test that uses `oidc-client` and `oidc-provider` to simulate a client authenticating, so attempting to programmatically:

1. GET the `authorization_endpoint` form
1. POST what the form would post if user/pass was provided and form was submitted

my question is around why calling GET on the `authorization_endpoint` from an http-client such as [axios](https://github.com/axios/a

[2017-11-03 12:14] panva commented on #172
sorry, either do it from a browser environment or make sure your "user-agent" persists and mimics a cookie-jar behavior like your browser does. I cannot offer you support for doing a simulation in an invalid setup environment.

[2017-11-03 12:21] panva commented on #172
Issue is your user-agent, simulating http calls without the proper cookies that the calls set will not work.

[2017-11-03 12:21] #172 closed

[2017-11-03 13:03] tony-kerz commented on #172
thanks for the tip Filip!

this did the trick: https://github.com/3846masa/axios-cookiejar-support 👍

[2017-11-04 18:28] #171 closed

[2017-11-05 09:24] panva commented on #171
Why are you mixing in Session Management then? The description you are providing is massively confusing and lacks detail. Your diagram says Client, which i assume now is not an RP either.

Anyway. Few issues i see with your fn.
- Unless `session.expiresAt` is something you provide on your own then there's no such property present and it sure is not a Date object.
- can't really say what doesnt wor

[2017-11-05 09:33] jorgenkg commented on #171
I didn't manage to sufficiently describe what I desired to do. Nevertheless, if someone else comes across this GitHub issue:

[code]

If you believe this is logic is flawed, please point out my mistakes

[2017-11-05 09:37] panva commented on #171
Why are you mixing in Session Management then? The description you are providing is massively confusing and lacks detail. Your diagram says Client, which i assume now is not an RP either.

Anyway. Few issues i see with your fn.
- Unless `session.expiresAt` is something you provide on your own then there's no such property present and it sure is not a Date object.
- can't really say what doesnt wor

[2017-11-05 10:13] jorgenkg commented on #171
The utility function above works. It retrieve and validate sessions as expected. The utility itself is merely a re-purposing of internal functions from the excellent *iodc-provider* library. I just wanted to share the function in case it was helpful to others.

1. Why I mentioned Session Management:
I assumed the library implemented functions to validate whether the cookie (ctx.cookies) of a RP co

[2017-11-05 10:40] panva commented on #171
You’re offering this to RPs? With no authz or proof it authorized before?

I don’t understand the need to avoid using to be standardized and supported way which takes privacy and security into consideration and requires no server communication on top of it.

[2017-11-08 02:56] joshperry opened #173 "Client credential returning id_token for service account"
We'd like to implement the concept of a service account for our API, and I've [documented](https://jsapi.apiary.io/previews/pdkauthapi/introduction/authentication-flows/client-credentials-flow) how I think we'd like it to work using the client_credentials grant.

I've looked in the source code and it looks like I could monkey patch the `provider.ClientCredentials` class to send an id_token respons

[2017-11-08 06:57] panva commented on #173
There’s a feature in place allowing you to add grants. But it can be used to replace the existing ones if you need custom behavior.

It is the recommended way.

https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#custom-grant-types

Note: the doc has a broken link, it is intended to link [here](https://github.com/panva/node-oidc-provider/tree/master/lib/actions/grants) to

[2017-11-08 16:26] joshperry commented on #173
I see, so if I implement `client_credentials` grant it will override the built-in. Thank you.

[2017-11-08 16:26] #173 closed

[2017-11-22 08:31] slavab89 opened #174 "scope param in successful token response"
When receiving the response token from a successful authentication i've noticed that its missing a scope param. It is optional most of the time but required at others.
My current workaround is to send an additional `introspect` request right after the token response to get the granted scopes.

I'm basic this on https://tools.ietf.org/html/rfc6749#section-4.1.4 and https://tools.ietf.org/html/rfc67

[2017-11-22 08:59] panva commented on #174
I believe there's no harm in returning it all the time. Would you prepare a PR where this is reflected in both authorization_code and refresh_token responses?

[2017-11-22 09:08] panva commented on #174
see https://github.com/panva/node-oidc-provider/commit/79fea3e0988fb361f7d26c20a6167bc2b5a000df and close if it's fine for you

[2017-11-22 09:26] slavab89 commented on #174
😱 you're fast! i just started cloning and doing that change.
Thanks!

[2017-11-22 09:26] #174 closed

[2017-11-22 09:28] slavab89 commented on #174
btw, wanted to ask if you think there is any harm in exposing the list of granted scopes to the end user (via and API endpoint).. Mostly to be able to limit the visibility of some UI components based on the presence of different scopes.

[2017-11-27 22:35] mogeda opened #175 "additional metadata for client"
There is a comment, 'Additional Client Metadata parameters MAY also be used' in http://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata so I wonder whether there is any way to add extra metadata for client registration. It looks registration payload filtered by RECOGNIZED_METADATA in client_schema.js.

[2017-11-27 22:51] panva commented on #175
Hi @mogeda, there is no support for extending the recognized client metadata. What use would you have for these?

[2017-11-27 23:33] mogeda commented on #175
trying to add scope for client

[2017-11-28 07:50] panva commented on #175
Still don’t see how it would be picked up and used by the existing functionality.

[2017-11-28 09:39] panva commented on #175
What i can do for the next release (since it does actually touch client metadata and restructures alot) is to put all consts from client schema to a separate js file, this will allow you to require this file from within your app and change them, i.e. add 'scope' and make sure it's validated as a string.

[2017-11-28 12:17] mogeda commented on #175
I was referring to https://tools.ietf.org/html/rfc7591#section-2 though it's for oauth2 rather than openid, will check the branch you pointed. Thanks a lot.

[2017-11-28 13:35] panva commented on #175
Specifications usually read this way to support extensions, in your case there's none, but the update will allow you to diverge from the specs and set this up.

[2017-11-28 13:35] #175 closed

[2017-11-30 08:07] elendirx opened #176 "CORS at the token endpoint"
Hi,

would it be possible to have CORS enabled at the token endpoint? I'd like to call it from within a single page JS app. Or is it against rules?

If it's ok, I'll submit PR.

[2017-11-30 09:18] maitscha commented on #176
This should be doable without chaning the oidc-provider. Register some CORS middleware at the token endpoint prior to registering the oidc-provider.

[2017-11-30 09:40] elendirx commented on #176
Thanks for your response. I must admit I'm clueless. If I register my custom token route prior to the oidc-provider, [this line](https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/initialize_app.js#L80) still gets called later during the init. Also, when registering my custom token route with my custom CORS middleware, how do I register the library's default [token middleware](htt

[2017-11-30 09:54] maitscha commented on #176
How do you currently register the oidc middleware? for example for express:
[code]

[2017-11-30 10:08] elendirx commented on #176
[code]

I have no problem with changing it to something similar to your code snippet:

[code]

Then I can register another middleware prior to registering oidc-provider. But I still don't quite understand how to register CORS for the token endpoint this way. I believe I have to use Router to do that, right? Then what happens when the oidc-provider tries to define the token route during its own ini

[2017-11-30 10:24] maitscha commented on #176
In Express you can register middleware functions for a specific path only, for example `app.use('/oidc/token', cors())`. This would call the cors middleware only for the `/oidc/token` path. I assume it works the same way in Koa?

[2017-11-30 10:41] elendirx commented on #176
I believe I'm starting to understand your point. It's little different in Koa but I think you kicked me in the right direction. I will try to register CORS route prior to the oidc-provider initialization.

Thanks a lot for taking the time to help me!

I'm closing the issue for now.

[2017-11-30 10:41] #176 closed

[2017-11-30 11:50] panva commented on #176
or,

[code]

[2017-11-30 12:09] elendirx commented on #176
Yes, I'm trying to do something non-standard, please don't even ask. I don't feel good about it so I'm trying to deviate from the standard as little as possible and enabling CORS should suffice.

Thank you!

[2017-12-04 16:21] mogeda opened #177 "updating client_secret in client information"
Is it possible to update client_secret?
I'm also trying to set client_secret_expires_at during the registration time but it looks it's not allowed but always set to 0, never expired.

[2017-12-04 16:36] panva commented on #177
`client_secret_expires_at` is not a client input, it's part of the response formed by the provider. Right now there's no built-in support for reseting, expiring or updating secrets through the registration specifications and this implementation. You're going to have to find an OOB solution which goes into your adapter storage and changes the secret and then reloads the processes with such clients

[2017-12-04 16:47] mogeda commented on #177
got it, thanks!

[2017-12-04 17:21] #177 closed

[2017-12-08 07:00] atomicleopard opened #179 "Fail to initialise oidc when using webpack"
The basic express example fails when processing an app with webpack.

initialise_app.js - line 54

        configuration.grantTypes.forEach(grantType => {
          try {
            const grant = require(`../actions/grants/${grantType}`) // eslint-disable-line global-require, import/no-dynamic-require
            this.registerGrantType(grantType, grant.handler, grant.parameters)
          } catch

[2017-12-08 09:05] #179 closed

[2017-12-09 16:19] mogeda opened #180 "supporting dynamic scopes"
I pull scopes first from other service before I create oidc-provider object but it looks scopes can't be updated once the provider created and initialized. Is there any way to update scopes in config dynamically without restarting my service? Thanks.

[2017-12-09 17:11] panva commented on #180
what's stopping you from waiting for the pulled scopes and then initializing? Currently I don't see a supported way to change the configuration.

[2017-12-11 00:48] jdiamond opened #181 "Dynamic access token TTLs"
Hi, is it possible for different clients to have different TTLs for their tokens? Thanks.

[2017-12-11 03:37] atomicleopard commented on #179
Thanks for this fix (and the speed of the turn around). Further usage has shown that this is also an issue on the 1.x stream, which it turns out I need.

[2017-12-11 06:47] panva commented on #181
Hi @jdiamond, yes and no, since you're in charge of the actual storage you're able to simply remove documents earlier to invalidate them depending on your policy, however this won't affect the oidc-provider responses, so things like introspection, and expires_in values will still report the configured values.

[2017-12-11 06:49] panva commented on #179
I'm assuming you're pushing your oidc to lambda through webpack/babel then? If that's the case i'd recommend to exclude this package from being required through webpack altogether.

[2017-12-11 07:16] panva commented on #179
anyway, pushed to v1.x and published too, probably the last backport to that branch, with lts/8 coming to lambda soon v1.x is useless now

[2017-12-11 08:55] atomicleopard commented on #179
Much appreciated - very much looking forward to lts/8 native, but for now some of the v2 dependencies are causing trouble (like new URL) which is more hassle than its worth solving. Thanks for your awesome work. 🙌

[2017-12-11 12:40] mogeda commented on #180
admin need to restart service whenever scopes added or updated in other service. It might be not that often like daily bases but restarting service will interrrupt clients which rely on the service.
I see new grantType could be added via registerGrantType so was wondering whether there is a way for scopes too.

[2017-12-11 19:25] panva commented on #180
sorry you're going to have to work around this, implement a rolling restart ;)

[2017-12-11 19:25] #180 closed

[2017-12-11 20:21] jdiamond commented on #181
Thanks for the reply. Not sure I would want to go that route, though.

We have about a dozen clients configured with our provider. The default 8-hour TTL is fine for all but one. It's a dashboard app that's on a big display and we want it to stay "logged in" for much longer than that.

I was looking through the code and found where the ttl section in the provider configuration is consulted. Would

[2017-12-11 21:40] panva commented on #181
Can you work out a PR? The individual ttl parameters could accept a function (now they do just a number), when ttl would be a function it accepts one parameter (ctx) and would return the number for this particular context.

It really should not :)

[2017-12-12 02:21] jdiamond commented on #181
I started to look at this and the path that seemed like it might work is changing every place that references `expiresIn` to treat it like a function and pass in `ctx`. It does seem like most of the places where `expiresIn` is used, there is a `ctx` in scope.

But I'll let you think about it because that was a pretty intrusive change that I wasn't feeling too confident about being able to pull off

[2017-12-12 06:56] panva commented on #181
Unfortunately you are incorrect, the calls for the Class getter expiresIn from the grants and authorization endpoint is only there for those responses, it doesn't control the ttl of the token. In BaseToken (a model) context there's no context, and shouldn't be.

Anyway, you can get your problem solved by overloading the `BaseToken` (to define this for all token types) or just `AccessToken` expirat

[2017-12-12 06:56] #181 closed

[2017-12-12 08:32] TestExCi01 opened #182 "2.8.1 crashes when using a custom grant type"
Sorry I found no release notes or beaking change information but this is what worked some days ago :-)

[code]

Now it crashes in initialize_app.js line 51 since only well known grant_types are allowed:
[code]

[2017-12-12 08:46] panva commented on #182
ah damn, didn't see this coming, can you move oidc.registerGrantType after oidc.initialize?

[2017-12-12 08:47] TestExCi01 commented on #182
Sure. I tried going back to 2.8.0 but if this has no further consequences why not. I'll test it right now...

[2017-12-12 09:02] TestExCi01 commented on #182
Looks good - thanks! But IF we did nothing wrong so far I would suggest to mention this change somewhere (or perhaps custom grant types are that uncommon than keep it to us). Although it might be that I overread some ordering hint in the docs - who knows :-)

[2017-12-12 09:10] panva commented on #182
I honestly just missed this, i can call it unintended and assert inside `registerGrantType` that initialize was called first for non-standard grants :)

[2017-12-12 09:16] JochenAtWork commented on #182
Good enough for us. Thanks again!

(Just it's me - just used the wrong GitHub Account)

[2017-12-12 09:17] panva commented on #182
yw.

[2017-12-12 09:17] #182 closed

[2017-12-12 17:44] panva commented on #182
third time's the charm... 2.8.2 should resolve the issue as well

[2017-12-13 00:18] jdiamond commented on #181
Thanks for the example. My tokens now get saved with my dynamic TTL, but the responses return the static TTL because of lines like this one:

https://github.com/panva/node-oidc-provider/blob/85193fb71729c58da1cdf3ccfbaf721260f36855/lib/actions/authorization/process_response_types.js#L21

Would it be OK to change lines like this from using the static `expiresIn` property to using the non-static `ex

[2017-12-13 06:39] panva commented on #181
it would

[2017-12-15 14:26] maitscha opened #184 "Interaction and resume cookies"
Hi!

I have a very general question:

The Open-ID Connect provider uses URLs to redirect the user to the grant pages, and back to the done-page, for example `/auth/:grantId`. What is the reason for the interaction and resume cookies? Are they required at all, since the grant-id is already defined with the URL path?

Thank you for your help!

[2017-12-16 10:00] panva commented on #184
Multiple reasons actually

1) The cookie travel's with the browser and the interaction is therefore bound to it.
2) It has a signed component through KeyGrip
3) In the future will use Token Binding to not be a bearer token anymore, will not be exfiltrate-able anymore
4) You can customize the interactionUrl not to include the grantId in the url and then the cookie is the only way for your interacti

[2017-12-18 13:45] #184 closed

[2017-12-19 15:11] dashton82 opened #185 "Pass ctx through to Client.find"
Hi,

We've been using your project for some time now with great success. We've taken advantage of implementing our own adapter for getting our clients, and also have a separate API for our user store. One thing that we would like to do is to persist a correlationId between requests so we can track any issues easier - from looking at the source code i think this can be done by adding the following

[2017-12-19 15:21] panva commented on #185
Hi @dashton82, I'm glad the library is seeing use and it makes me glad there's even success.

Controller details and request context should not, in my opinion, play a role in any model's `find()` and as such do not belong.

If ever, in 3.x down the road, i decide to restructure the middlewares, unify all models across the board, etc., i might reconsider this as a global sweeping change, not for no

[2017-12-19 15:27] dashton82 commented on #185
Hi @panva,

Thanks for the quick response - I can see your point that the request context may not be the best thing to pass - all I am really looking for is a specific header value to be passed through - is that something you would potentially consider at this point? No problem at all if not, I can work around it

[2017-12-19 15:30] panva commented on #185
No, not at this point. My apologies.

[2017-12-19 15:32] dashton82 commented on #185
No problem!

Cheers,
Dan

[2017-12-19 15:32] #185 closed

[2017-12-25 08:44] MeenaAlfons opened #186 "Q: How to provide my own mechanism of creating JWTs?"
Creating JWT (for id_token) could be implemented in several ways. for example:

- I want to use client_secret to sign the JWT
- I want to put multiple signatures in the JWT

I don't see anyway to do that with oidc-provider. Please help me if there is a way.

[2017-12-25 09:44] panva commented on #186
Hi @MeenaAlfons,

What you're asking is possible, but since you have the need to ask i feel it would be appropriate to read up on the specifications since it would be clear otherwise...

If you want to use a symmetrical key for signing or derived symmetrical key for encryption just set the appropriate [client metadata](http://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata).

[2017-12-25 09:44] #186 closed

[2017-12-26 12:20] MeenaAlfons commented on #186
Thanks you @panva . That was enlightening.
I figured that putting multiple audiences will solve my case. But I couldn't found a way to do it in node-oidc-provider.

[2017-12-26 17:08] panva commented on #186
I can confirm no such feature is available. If you specified based on which mechanism you’d expect this i can work something out. We can also agree on a solution and PR is always welcome.

[2017-12-26 19:18] MeenaAlfons commented on #186
Let's start with the specs then I'll talk about a possible mechanism.

This part talks about the format of `aud` field of the ID Token which allows multiple audiences. This part also describes the general case to have `aud` as  "an array of case sensitive strings".

The following part puts two validations regarding `aud` field. It has two important information:
1. The client must find its `client_

[2017-12-26 21:46] panva commented on #186
Hi @MeenaAlfons , i'm aware of azp/aud and what it means providing multiple aud claims, the thing i struggle with is finding a mechanism that works well for all general uses of this library,

- clients loaded during initialize
- clients registered dynamically
- clients loaded from an adapter

I believe this must be a well structured policy defined by each AS a simple hook in the ID Token class mig

[2017-12-28 13:27] neeravarora opened #187 "Passing additional parameters to auth endpoint"
I need to pass additional parameters to the auth end point something like the following
`http://localhost:9000/auth?client_id=foo&response_type=id_token+token&scope=openid+email&nonce=foobar&prompt=login&newParam=abc .

Is it possible to do the same ?

[2017-12-28 13:56] panva commented on #187
Did you read the documentation at all before opening an issue?

- https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#extending-authorization-with-custom-parameters
- https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#extraparams

[2017-12-28 13:56] #187 closed

[2017-12-28 14:02] neeravarora commented on #187
Thanks @panva

[2017-12-29 11:19] MeenaAlfons commented on #186
Hi @panva , I've thought about it and looked into the code. oidc-provider already gets claims from the `account` which gives the user of the library the flexibility to provide they own claims. I think the `aud` claim could be treated the same. The user of the library would provide audiences as they need and the library will add the direct client to the audiences if it doesn't exist.

Proposed Usag

[2017-12-29 11:51] panva commented on #186
This would make aud appear in regular json userinfo responses, i'd rather go with a helper function approach similar to findById.

Thank you @MeenaAlfons, i'll take it from here.

[2017-12-29 12:37] MeenaAlfons commented on #186
There is something I didn't mention before because I thought it would be off topic (we were talking about id_token). Here it is:

Multiple audiences concept exists in other places like UserInfo Endpoint:

`SHOULD be or include` seems that UserInfo MAY have multiple audiences as well.

UserInfo is intended to `return Claims about the authenticated End-User`. So naturally `aud` is not part of it. Bu

[2017-12-29 13:55] panva commented on #186
Yes it is relevant and already handled as such (as id_token with all expected claims).

[2018-01-03 10:24] panva commented on #150
@Lichtjaeger as i see you still struggle and there seems to be no progress or interested in nailing it down, in 2.9.2 of oidc-provider the debug messages include the actual used verb and the 405 error_message is also more descriptive. Hope it helps.

[2018-01-03 11:03] Lichtjaeger commented on #150
The output is now:
(manualy added some line breaks)
[code]

thanks

[2018-01-03 11:18] panva commented on #150
yeah well, there you go :)

[2018-01-12 16:51] KtorZ opened #189 "Access Token introspection: token_type semantic"
Hey, I just noticed that the `token_type`returned by the introspection endpoint takes one of the following values:

- access_token
- refresh_token
- client_credentials

(source: https://github.com/panva/node-oidc-provider/blob/master/lib/actions/introspection.js#L113-L126)

However, this conflicts a bit with the `token_type` returned when creating a token (where values are in that case `bearer` or

[2018-01-13 07:39] panva commented on #189
Interesting about `token_type`, never occured to me.

The introspection endpoint is not only for introspecting access tokens as suggested by the presence and registry reference of `token_type_hint`, with that in mind, are there different means for the introspection endpoint to communicate the token type (access/refresh, ...)?

You can see how one might overlook the actual token_type when the endpo

[2018-01-13 14:18] KtorZ commented on #189
Reading a bit more in depth the RFC 7662, it seems that indeed, the introspect endpoint was thought with both refresh tokens and access tokens in mind.

      is the "access_token" value returned from the token endpoint
      defined in OAuth 2.0 [RFC6749], Section 5.1.  For refresh tokens,
      this is the "refresh_token" value returned from the token endpoint
      as defined in OAuth 2.0 [RFC6

[2018-01-13 14:33] panva commented on #189
Are actually running into issues due to the token_type values?

[2018-01-13 16:48] KtorZ commented on #189
well, not any "issues" indeed, though I would rather have a correct implementation. Since I, heavily rely on node-oidc-provider, I'd prefer to submit a patch instead of patching my api.

[2018-01-13 17:39] panva commented on #189
So i'm actually leaning towards out right removing the property. I don't find it critical and would not do that until 3.x. If you wish to remove the claim from your instance it's as simple as

[code]

[2018-01-13 17:50] KtorZ commented on #189
Thanks for the update! I am not necessarily on a hurry either, so I'd simply grap the 3.x when released :+1:

[2018-01-13 18:29] #189 closed

[2018-01-15 16:08] cmahna opened #190 "Determining ACR based on available claims"
I'm pretty new to node and I'm using the example provider as a starting point. What I'm trying to do is provide an ACR (as a level of assurance) based on what claims are available. For example LoA1 only requires first_name, and LoA2 requires everything for LoA1 plus last_name, birth_date etc. I've already implemented the LoA calculation in the claims() function in account.js. How would I go about

[2018-01-15 16:50] panva commented on #190
Your interactions should push this to the result just like the timestamp, amr or user identifier

[2018-01-15 16:51] panva commented on #190
Please keep in mind the example interactions dont include necessary features like csrf protection, request throttling and bot/abuse protection.

[2018-01-15 17:30] cmahna commented on #190
got it, thanks

[2018-01-15 17:30] #190 closed

[2018-01-15 17:51] panva commented on #190
You see ACR is by definition based off the authentication, not just the available claims, and the given acr you provide is only returned to that one authorization request results, all subsequent fall back to the first one available which should be like a "session" kind of acr.

[2018-01-15 19:36] cmahna commented on #190
So would you recommend just defining a claim separate from ACR that would indicate the identity assurance level?

[2018-01-18 14:45] codestorycooked opened #192 "Security Measures"
Hi @panva,

Does this library carry out all the best practices for Threat Analysis mentioned in https://tools.ietf.org/html/rfc6819? Are there any security holes which as a consumer of the library I need to handle?

Thanks for you help.

[2018-01-18 14:58] panva commented on #192
Hi @codestorycooked,

- Threats related to TLS (mostly eavesdropping) are to be covered by your deployment. I.e. TLS offloading proxy which enforces https only access.
- Threats related to User Interactions are to be covered by your own Interaction implementations, since oidc-provider comes with none.
- Threats related to RPs (e.g. leaking tokens), no TODO on OP
- Token revocation upon detected co

[2018-01-19 03:24] maxkorp opened #193 "Cookies are occasionally missing on posting login"
I suspect I have something configured incorrectly, but I've been digging for a number of hours and cant quite figure out why this is happening, and I'm hoping maybe you might have some insight or know of some common implementation pitfalls that might cause this.

My interaction base route and login route are ripped pretty plainly from the examples
[code]

[code]

My login post route on rare occasi

[2018-01-19 08:29] panva commented on #193
- which oidc-provider major version?
- the cookies have an hour ttl, might that be the case you're hitting?
- does `interactionDetails` reject?

[2018-01-21 18:26] slavab89 opened #195 "login from a "third party""
I'll try to explain my use-case while also trying to understand the need and usage of `initiate_login_uri`.

Given that a user wants to reset his password OR he is partially registered (got invited any only needs to set his password) i would like to "auto" login him into the system after he does that.

First of all, is this a viable flow? Should i force him to re-enter his username and new passwor

[2018-01-21 19:39] panva commented on #195
"[Initiating Login from a Third Party](http://openid.net/specs/openid-connect-core-1_0.html#ThirdPartyInitiatedLogin)" is a flow the OP starts by redirecting the user to RP's `initiate_login_uri` which is part of its client metadata. The client will then start a regular authz flow. Knowing the client and your issuer identifier you can construct the uri just fine on your own and there's nothing nee

[2018-01-21 19:39] #195 closed

[2018-01-21 20:42] #192 closed

[2018-01-21 22:07] slavab89 commented on #195
Thanks for the clarification.

So i'm trying to run in my head what youve suggested about the custom prompt. If this custom prompt is happening using the regular `authentication` flow then the user, possibly, wont have a session throwing him on the first interaction check of `no_session`, no?
Moreover, even if that somehow passes then when the user enters his username for the pw reset in the UI, t

[2018-01-21 22:16] panva commented on #195
You know you can check for prompt presence even in interactions right? Regardless of the state the prompt will make sure user ends up in interactions. Handle the interaction as an anonymous pw reset flow every time and then resume the auth with no results. Strip the callback params (xcept for state) and the user will end up on an rp site with email in his inbox triggered by your interactions. Fini

[2018-01-22 15:51] telemmaite opened #196 "Question about interaction flows"
I will start with explaining what is my current understanding of how the Login UI is implemented in the example.

By checking https://github.com/panva/node-oidc-provider/blob/master/example/index.js#L59
At the moment when we hit `/auth?client_id=foo&response_type=id_token&scope=openid&nonce=123`
We will get redirected to `/interaction/:grant`
and from there we extract the details with `const detai

[2018-01-22 22:06] RedTn opened #197 "Documentation for client_id & ridirect_url dynamic configuration?"
Hi, great library!
Is there a standard way to register new client_ids without doing it at initialize? I know in your documentation you mentioned via the adapter [https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#clients](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#clients). Is there a configuration that I'm missing or do I have to const

[2018-01-22 22:13] JoshAntBrown opened #198 "Question about setting up a user registration"
Hey, I'm looking at adding a user registration journey to my app. I had a look and couldn't find any examples of this. I'm happy that I can create this as part of my express app and handle all the user creation logic myself.

I guess the last part I'd like to be able to do (which is where this library comes in) is once the user has finished registering then I'd want to redirect them to a default c

[2018-01-22 22:41] panva commented on #197
OpenID Connect Dynamic Client Registration 1.0 is the spec/feature you want to enable.

[2018-01-22 22:41] #197 closed

[2018-01-22 22:43] panva commented on #198
There's no default client, you should have everything as part of an authorization request, even registration, that's where user interactions come in.

[2018-01-22 22:43] #198 closed

[2018-01-22 22:46] #196 closed

[2018-01-22 23:33] JoshAntBrown commented on #198
Thanks for the quick response! That makes sense, although I'd like to have links that go straight to registration.

It looks like I could pass some flag inside of the state parameter that I could read to show the registration form rather than login although this feels a bit like a hack.

Is this the best option or is there a better parameter I could pass the authorisation endpoint to direct the us

[2018-01-23 09:05] panva commented on #198
It's not usual for the RP to dictate the views. But ultimately you have the following mechanisms available

- custom prompt value
- JWT encoded state parameter you will handle in your interactions
- custom parameter you will handle in your interactions as well as the `interactionCheck `[https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#interactioncheck] helper

[2018-01-23 13:19] robertymb opened #199 "Issue with Routes URLs on .well-known/openid-configuration config"
Hi there, I have a question related with [Issue #79](https://github.com/panva/node-oidc-provider/issues/79)

I'm using **nginx** and your [sample](https://github.com/panva/node-oidc-provider/tree/master/example) with some modifications such as issuer, claims, and others,

The question is my **.well-known/openid-configuration** where the routes are defined, they all have HTTP protocol instead of HT

[2018-01-23 13:50] panva commented on #199
Hi @robertymb, thanks for reaching out. This indeed points to an issue with the headers and having the app trust them.

don't, this won't do a thing.

Can you push these proxy_set_header declarations in the server context?

[code]

[2018-01-23 14:58] panva commented on #199
Anyway, i tried your example with few modifications and it works for me just fine.

[code]

[2018-01-23 16:06] robertymb commented on #199
Hi @panva, thanks for the quick reply.

I tried the new headers on the server context, but I got the same behavior.

The server starts, and everything seems to work. But whenever I get to the well-kown page, the "redirect" redirects me to host_name:3000 and I can't acess it (Secure Connection Failed), how you said looks like an  issue with the headers and having the app trust them (probably becaus

[2018-01-23 16:08] panva commented on #199
Again, see what i've posted above all works as expected. You gotta dig in your setup.

[2018-01-23 17:07] robertymb commented on #199
@panva, it was setup problem.

I'm using nginx on Windows, and it create one process when nginx is started. After some `nginx -s reload` I had five processes running nginx, and it wasn't routing right.

So I kill them all, started again and know works. (I should have done on docker since beginning haha)

Thanks for all your help and time.

[2018-01-23 17:16] panva commented on #199
@robertymb yw

[2018-01-23 17:16] #199 closed

[2018-01-23 18:33] cmahna opened #200 "Customization of where claims appear based on scope?"
In my implementation, I define a custom scope, but I don't want certain claims to appear in the id_token. I was able to achieve this by making a slight modification to the library but I was wondering if there's already a way to easily customize this through the configuration? Thanks!

[2018-01-23 18:50] panva commented on #200
There probably is a way, not sure how easy tho, can I see your modification?

[2018-01-23 18:59] panva commented on #200
The easiest way to remove claims from IdTokens would be something along these lines.

[code]

[2018-01-23 19:36] cmahna commented on #200
I did something like this where you can define a scope like a claims parameter:
https://github.com/cmahna/node-oidc-provider/commit/37d5277fd939ce987582a471a5b6f8d6b5bc26d0

Probably not the best, I'm pretty inexperienced with JS.

[2018-01-24 09:04] panva commented on #200
Ok, can you describe the behavior in words, what should be made possible with the configuration? If simply not including some claims in the id token, you can use the snippet above (in theory, didn't test yet). If something more i'd need more details so that the feature can be included.

[2018-01-24 13:27] panva commented on #200
Once a release with https://github.com/panva/node-oidc-provider/commit/58d281fdde3af5af6d73d17c7f70f83362b0cfa3 is published you should have enough details in the findById() helper and its linked claims() call to decide which claims to return.

[2018-01-24 13:27] #200 closed

[2018-01-24 13:47] cmahna commented on #200
Perfect, thanks

[2018-01-24 13:52] panva commented on #200
And please keep in mind oidc-provider will still attempt to mask the claims depending on the scope automatically. This is intended for fine-tuning or avoiding to load external claims in some cases.

[2018-01-24 15:40] panva commented on #193
closing for lack of feedback.

[2018-01-24 15:40] #193 closed

[2018-01-25 08:28] Lichtjaeger commented on #150
I eventually found the problem. In my NginX loadbalancer I used `return 301 https://$server_name$request_uri;` to force SSL. This changed the POST request into a GET request.

Now I use `return 308 https://$server_name$request_uri;`, but I get some other errors.

`/.well-known/openid-configuration` endpoints return only http and not https adresses. Gitea doesn't handle the 308 status, so it result

[2018-01-25 09:13] panva commented on #150
wiki can help.
https://github.com/panva/node-oidc-provider/wiki/FAQ#why-does-my-well-knownopenid-configuration-link-to-http-endpoints

[2018-01-25 09:56] Lichtjaeger commented on #150
Yes, thanks. I simply missed the `proxy_set_header X-Forwarded-Proto $scheme;` line.

I've done the rest from the start.

[2018-01-25 12:23] codestorycooked commented on #143
@panva  @slavab89  Is it possible to delete the only client which is edited from cache? If YES where can I do it programmatically?

Thanks a much

[2018-01-25 12:37] codestorycooked opened #201 "redirect_uri did not match any client registered redirect uris"
Hi @panva
I have deployed my authorization server on AWS with two instances. so whenever we update redirect_uri  for the specific client it does not get updated in all instances due to the separate memory cache of each instance. any ideas on tackling this. Can I override client session with my custom adaptor so all sessions are stored in a single point?

[2018-01-25 12:45] panva commented on #143
@codestorycooked it is not.

[2018-01-25 12:55] codestorycooked commented on #201
Thanks for quick response. @panva

[2018-01-26 14:53] robtweed commented on #149
I'm struggling with this same issue, and unfortunately don't understand @panva's response sufficiently to know how to handle an invalid username/password entered by the user to produce an error on the login form, getting the user to try again.

@sa-emcvey did you come up with a solution?

Many thanks for any assistance

[2018-01-26 14:58] robtweed opened #203 "Handling invalid username / password"
I've added a follow-up question to
https://github.com/panva/node-oidc-provider/issues/149

I'm unfortunately unable to figure out how to handle invalid entry of usernames/passwords in the login form so the user is given an appropriate error and asked to re-try.  Any pointers to examples would be greatly welcomed

[2018-01-26 15:10] panva commented on #203
I'm sorry but user interactions, user accounts and your login/registration flow is outside of the scope of a protocol implementation library. May I suggest to implement these views without considering oidc first and then hook them in. If such a system is not something you're up to then maybe a you're looking for a different solution such as a commercial offering or one that provides less flexibili

[2018-01-26 15:10] #203 closed

[2018-01-26 22:22] telemmaite opened #204 "Central error handling (renderError)"
I am checking a few things into my interaction callbacks when something is missing I just throw error.
Normally it is successfully caught by renderError (which I also have redefined for me).
However when I throw error in `'/interaction/:grant'` or for example here ->
https://github.com/panva/node-oidc-provider/blob/master/example/index.js#L60
Error will directly dump as UnhandledPromiseRejectionWa

[2018-01-26 22:31] telemmaite commented on #149
My app flow is

- User see only email field and Next button
- Next triggers ajax to check if that email is registered
- If yes User is asked for password, so far because the AJAX we are at same starting place/interaction
- however once the User enters his password and presses Submit/Next we land at route interaction/login
- I check `Account.authenticate(req.body.email, req.body.password)` if I am

[2018-01-27 09:27] panva commented on #204
You've just described a perfectly expected behavior since user interaction space is not part of this library. Please handle errors just like you would in any other app?

[2018-01-27 09:27] #204 closed

[2018-01-30 15:16] telemmaite opened #206 "Redis adapter from example->upsert"
I know that it is example and it is up to us to implement it...
https://github.com/panva/node-oidc-provider/blob/master/example/adapters/redis.js#L44

What I see is we expect async behavior of this function when we call provider.save
https://github.com/panva/node-oidc-provider/blob/master/lib/models/session.js#L52
https://github.com/panva/node-oidc-provider/blob/master/lib/shared/session.js#L16
ht

[2018-01-30 15:33] panva commented on #206
Hi @telemmaite, ioredis pipeline `exec` returns a promise when called without a callback function, so how is it not handled exactly?

[2018-01-30 15:38] telemmaite commented on #206
OK my bad then, I did not see `// exec also returns a Promise:`. from ioredis documentation
I was pretty sure same as **Issue-193** that my session is sometimes not saved on time as expected.
Will have to search elsewhere for my problem.

[2018-01-30 15:38] #206 closed

[2018-02-02 22:40] wilsonjackson opened #207 "Native client with PKCE in 2.13.0"
Hi there. First off, this is a great library and I really appreciate the effort you've put into it.

I'm building an OP that needs to support both web and native clients. For native clients, I'm following the OAuth 2.0 for Native Apps BCP spec and attempting to use PKCE for the token requests. The intent is to use AppAuth-Android and AppAuth-iOS in the apps.

From #83 I gather that the AppAuth lib

[2018-02-02 23:02] wilsonjackson commented on #207
Actually, nevermind, I just found in the changelog where you specify to use method `none` and that works perfectly.

[2018-02-02 23:02] #207 closed

[2018-02-05 13:12] codestorycooked opened #208 "Rotation of Initial access token?"
Hi @panva

Can we have array of Initial access token for rotation ?
[code]

[2018-02-05 15:07] panva commented on #208
Just set the value to true which makes them load from your adapter.

[code]

[2018-02-05 15:07] #208 closed

[2018-02-06 04:43] codestorycooked commented on #208
Thanks But I don't want to use an adapter. Is it possible the other way( I meant without using an adapter) ?

[2018-02-06 07:58] panva commented on #208
How will you ever run a production system without an adapter where sessions and tokens are bound to memory in each process?

I will accept a PR with what you are suggesting, assuming it is test covered.

[2018-02-07 04:41] senseibaka opened #209 "invalid_request - could not parse the claims parameter JSON"
Hi there,

Note: I am using `v1.x.x`, but I suspect this issue might occur in `v2.x.x` too.

Recently I've been messing around with submitting a signed request JWT to the `/auth` endpoint.
I'm using your `node-openid-client` and its handy `requestObject` function.

When the signed JWT contains claims, things get interesting.

After all the interaction stuff, my client ends up being redirected to t

[2018-02-07 05:29] panva commented on #209
Somewhere along the way this was fixed already as 2.x is not affected. I believe i ended up stringifying the claims parameter coming from a signed jwt so that downstream handling can remain the same for both ways of passing the param (param and request).

[2018-02-07 05:33] senseibaka commented on #209
Thanks

I look forward to when Lambda supports node 8 (whenever that'll be...) so I can upgrade to `v2.x.x` 😛
In the meantime, `koa-qs` seems to be the way to go.

[2018-02-07 10:16] #209 closed

[2018-02-07 12:14] panva commented on #209
You can also send the claims parameter in the jwt as encoded json in 1.x, although not intended it will continue to work even in future releases.

[2018-02-08 05:44] codestorycooked commented on #208
Hell @panva  can I create custom Initial Access Token and store it in the database. If not is there any recommendation?

[2018-02-08 14:54] JochenAtWork opened #210 "Question: Database Maintanance"
Actually I can't really believe that this question has not yet been answered but I'm not able to find the answer. So here's the point: if you use the provider together with a MongoDb adapter the collections seem grow indefinitly. Only some data has a time tag (e.g. expiration time for access tokens) but for most entities there seems to be no easy way to see if its is obsolete and could be deleted.

[2018-02-08 15:02] panva commented on #210
iirc all collections with the exception of clients and their registration access tokens do have a ttl index and corresponding values for it, at least in the example adapter

in any case - the expiresIn argument pushed to adapter#upsert is what you should be using to set your deletion policies as documented.

[2018-02-08 15:02] #210 closed

[2018-02-12 18:25] aurelienshz opened #211 "Question: How to correctly implement identity delegation in microservices?"
Hi! :wave:

**tl;dr** : Is exchanging an access token against a JWT at the edge of the API layer a correct way of delegating identity through microservices?

We are using node-oidc-provider to manage identities through several microservices, with an API gateway in front of them to distribute requests to the right service and aggregate responses. We will be consuming this API layer through several

[2018-02-12 18:40] panva commented on #211
Hi @aurelienshz, I believe you're better off asking these questions in the IETF or OpenID WG mailing lists.

Registering a custom grant type > see doc https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#custom-grant-types

[2018-02-13 15:56] codestorycooked opened #212 "Override save and find method`"
@panva
I want to override `save` and `find` method of baseToken. This is very basic example I came up with. But `find` is not working as expected. Any ideas or example? Thank you so much for your help.
[code]

[2018-02-13 16:14] panva commented on #212
@codestorycooked I don't understand what you're trying to achieve.

https://github.com/panva/node-oidc-provider/blob/master/lib/models/base_token.js#L110-L184 shows the BaseToken public methods that you can safely overload so long as you can follow what they do, with these a change to token structure is possible.

[2018-02-13 16:14] #212 closed

[2018-02-13 16:16] panva commented on #212
also find is not an instance method, you have to change that one on the constructor. e.g.:

[code]

[2018-02-13 16:16] #211 closed

[2018-02-13 16:45] jpavlick opened #213 "Clients defined in configuration expire in cache and don't get re-found"
Hey @panva, thanks for creating this codebase - it has been really useful for our implementation of oidc and has been very nice to work with.

We are using a combination of a homebuilt Postgres adapter and also defining a few clients in the config on startup.
[code]
It appears that the clients get added to the client cache on startup, but upon TTL expiration cannot be found again via the adapter.

[2018-02-13 17:11] codestorycooked commented on #212
@panva  thanks a ton for that last example. I was struggling with find method which was on constructor.

[2018-02-13 20:36] panva commented on #213
Hello @jpavlick, clients coming from initialize should not expire at all, that's unintended and definitely a bug.

[2018-02-13 20:51] #213 closed

[2018-02-13 20:54] panva commented on #213
Can you try with master and confirm this change resolves your issue?

[2018-02-13 22:58] jpavlick commented on #213
Hey @panva, that fix works! Thanks for fixing it so quickly.
For what it's worth, we aren't planning on keeping very many initialize clients, but there are a few clients that don't belong in our organization's client datastore (such as our example client, which we'd like to keep around for testing).

[2018-02-14 02:10] aurelienshz commented on #211
Hi! Thanks a lot for your very quick reply, your suggestion of heading to the IETF mailing lists, and thanks for closing the issue. We're going to try and implement the draft I linked in my question.If that works well, would you be interested in a PR for this as an experimental, opt-in feature, or do you feel like that would fall out of scope of this project?

[2018-02-14 06:42] panva commented on #211
I feel like it’s going to end up littered with custom policies specific to your IdP, nevertheless i’d be interested in the solution and if along the way you feel like the lib doesn’t have the tools to achieve this let me know.

[2018-02-16 15:24] mcnijman opened #214 "accountId in interaction details"
Hi,

Thanks for your awesome work with this module. Probably I just overlooked this, but I've been looking for too long now. If I understand correctly the default behaviour is to show the consent page if there is a logged in session and the client making the authorization request isn't authorized yet. With the knowledge that there is in fact a logged in user session, it would be likely possible to

[2018-02-16 18:19] panva commented on #214
You might as well read the value of the op session cookie, load the op session and read it there. But I agree that's too much hassle, i'll add the accountId into the interactionDetails when it is available.

[2018-02-17 16:49] mcnijman commented on #214
Thanks! I got it working like this:

[code]

Not that much hassle, but making it available in the interactionDetails would be a great anyways.

[2018-02-17 16:49] #214 closed

[2018-02-17 16:58] panva commented on #214
Actually i gave it a shot and realized its not as simple, it is to put in, but might be misused in cases such as login prompts etc. so i’ll just provide a similar helper to load the session details and document it. So you’re not far off from what i’ll bring forward

[2018-02-18 21:59] mcnijman commented on #129
Is there a reason you don't want to support this out of the box? I think the current flow just skips the authorization part, and grants whatever scope is available if the client is authenticated (and thus allowing access to all resources protected by the OP. The specs (https://tools.ietf.org/html/rfc6749#section-1.3.4) describe it differently, if I understand correctly.

I assume it should not be

[2018-02-19 08:23] panva commented on #129
The grant is supported out of the box assuming the client is the resource owner, just like the spec describes it. If the other way is what you are expecting then you simply [register a custom grant](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#custom-grant-types) and enforce your IdP policies there. You can use the [referred](https://github.com/panva/node-oidc-prov

[2018-02-19 08:46] mcnijman commented on #129
Oh I see, thanks for the clarification

[2018-02-20 16:00] sa-emcvey opened #215 "session check errors on "greet frame" message"
Whenever I load a tab where a user is already logged in, so the cookie, session state, etc are already set and no redirects are necessary, I get an error from the session check. The very first message the iFrame receives is a "greet frame" message. When that is split into parts here:
[code]
There is actually only one part, "Greet frame," so clientId is incorrect and actual is undefined.

When you

[2018-02-20 18:41] panva commented on #215
i’m not aware of any standard that tells browsers to send “greet frame” messages. The fact that this works with the example linked in readme tells me that much. Could you elaborate?

It seems this is indeed a problem with oidc-client-js as the handling in the frame is as intended - invalid message formats get responded to with an error.

[2018-02-20 23:14] sa-emcvey commented on #215
My bad, I mistook it as a browser thing but it is actually fullstory, a third party user analytics tool we use. In the last section of [this page](https://help.fullstory.com/using/recording-iframes?from_search=21967143), they mention something about using postMessage, and how that can cause problems with others also using it. An excerpt:
[code]

While the main issue here seems to be that oidc-clie

[2018-02-21 06:09] panva commented on #215
Syntactically invalid messages are to be rejected as per [spec](https://openid.net/specs/openid-connect-session-1_0.html#OPiframe).

I’m sorry you’re running into issues but they seem to be related to a specific environment.

For one a tracking library could have a mechanism like nofollow to ignore a certain frame. Then you might also defer loading this frame to after tracking was initialized.

No

[2018-02-21 10:28] panva opened #216 "check_session_iframe message origin check"
Currently the iframe JS does not assert the parent origin being equal to the message origin.

TODO: add this assertion

[2018-02-21 10:32] panva commented on #216
`window.parent.location.origin` is sadly not possible to access due to DOMException

[2018-02-21 10:32] #216 closed

[2018-02-21 12:29] hoeselm opened #217 "User should not be able to skip authentication form because of set cookies"
Hi,

How can one configure the oidc-provider so that even though the user already filled out and submitted the authentication form once, the user has to fill it out again when coming back to the form?

I want this behaviour as the user should be possible to login with other credentials, even so when the user did not logout explicitly. Current behaviour is that the user is redirected immediately, l

[2018-02-21 12:36] panva commented on #217
Why don't you define your policy in the interactionCheck configuration helper -
 https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#interactioncheck

simply return a login_required error whenever you wish to bypass the oidc-provider (long cookie) session

[2018-02-21 12:36] #217 closed

[2018-02-21 18:05] sa-emcvey commented on #215
Do you mean modify the response so that it responds with a check session iFrame that is able to handle the other postMessages? I'll give that a try, just want to confirm that's what you mean. Thanks for the help.

[2018-02-21 19:07] panva commented on #215
Yep.

[2018-02-21 20:08] jdiamond commented on #215
The spec also says this:

I don't see the example in the spec doing that or the code in this repo.

Would checking the origin prevent this error from happening?

MDN has a pretty clear warning that you should always check the sender's origin in the docs for postMessage here:

https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage#Security_concerns

[2018-02-21 20:31] panva commented on #215
I realized the origin assertion is missing too yesterday. Unfortunately from the top of my head i don’t seem to be able to check that the parent origin is the same as message origin. See #216, suggestions are welcome

Also, if the message is triggered from a js loaded in the parent page the origin would be the same.

[2018-02-26 00:35] KleptoKat opened #218 "Session redis adapter stringify's to '[object Object]': ''"
I'm working with a default redis adapter and when session calls 'save' it copies the Session object and sends it to the adapter to upsert into Redis. Problem is, when the upsert function calls JSON.stringify it stringifies to `'[object Object]': ''`. And so when `provider.interactionDetails` is called, it receives these details: `{ '[object Object]': '',
  id: '04cc26c3-1502-4bcc-bb2d-394aec4ef670

[2018-02-26 05:16] KleptoKat commented on #218
Not sure how to mark this solved, but I did it!

I must be running on a different version of ioredis, because hmset was uploading [object Object] to the key directly. Problem was that upsert was stringifying the payload, creating the toStore object with that string as the dump parameter, and then passing the object directly to hmset which only accepts anything but it converts it to a string. So it

[2018-02-26 05:16] #218 closed

[2018-02-26 06:54] panva commented on #215
Thinking about this some more i believe there should be no issue so long as the RP frame is properly implemented to only accept and handle messages from the right origin.

The OP frame responds with messages to the message source, the RP frame. That frame ought to have no tracking library of yours included tbh. If a message is received from the parent window and error is responded with that one sh

[2018-02-26 06:54] #215 closed

[2018-03-02 10:34] mihaerzen opened #219 "[Question] When is RP shown an error page vs being redirected?"
It seems there are two different ways how errors are reported to the RP:

1. Showing a `400` status page with `error` and `error_description`.
2. Redirect with `error` and `error_description` as a query parameters.

In which cases should an RP see the error page and when it should be redirected back?

I can see this described in the standard, however, my confusion came to place when I was passing

[2018-03-02 11:10] SokratisVidros opened #220 "[Question] Client credentials flow does returns an access token rather than a JWT"
Hi,

I am executing a client credentials flow by posting at http://oidc.test/oidc/token using `grant_type=client_credentials` as a parameter. The client is configured with `response_types: ['none']`. The response is an access token but not a JWT id_token token. That is, API clients can't verify the request via the id_token on their side as expected.

Is this a configuration issue or is it by spec?

[2018-03-02 11:47] panva commented on #219
When client or it's redirect uri cannot be verified to be whitelisted the spec prohibits a redirect back to the specified uri. In those cases error is rendered and you customize the way it looks for the user by searching the configuration documentation. It's the `renderError` configuration option. In all other cases during authorization flow when an error is raised and the uri and client are ok, t

[2018-03-02 11:49] panva commented on #220
`oidc-provider` choses to implement only opaque tokens (access, refresh, codes), not JWTs. If jwt tokens are what you need please look into #93 where a public `BaseToken` interface was defined that allows you to change the way tokens are generated and serialized.

[2018-03-02 13:01] mihaerzen commented on #219
Perfect! Thx a lot for your explanation.

[2018-03-02 13:01] #219 closed

[2018-03-02 14:39] panva commented on #220
client_credentials is also not an OIDC feature hence no id token - the token is not related to a given user/identity, API clients using client credential tokens can use introspection to verify the token.

[2018-03-02 14:39] #220 closed

[2018-03-02 15:11] SokratisVidros commented on #220
Makes sense. Thanks a lot!

[2018-03-05 15:59] nico-schunke opened #221 "/session/check relies on availability of github"
Hi Filip,

we just noticed that the helper to check whether it is allowed to set thirdparty cookies (https://github.com/mindmup/3rdpartycookiecheck) ist hard coded at the /session/check action: https://github.com/panva/node-oidc-provider/blob/master/lib/actions/check_session.js#L86

To be honest I do not want to overwrite the whole logic to replace that url, called by the IFrame. Do you think ther

[2018-03-05 18:27] panva commented on #221
If you wish to host these on your own (knowing the implications, such as the point of the 3rd party cookie check actually being on a different domain for it to be able to do what it does) you can [register a middleware](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#pre--and-post-middlewares) in the koa app stack and change the response body. Such as

[code]

Current

[2018-03-06 09:30] #221 closed

[2018-03-06 09:39] nico-schunke commented on #221
Thanks for your answer. Your suggestion would work for me, tough it seems like to be a bit "hacky" to me. But anyways it does it fit my needs.

[2018-03-06 10:23] panva commented on #221
You might say it is, but there's unfortunately not enough bandwith for me to give a configuration option for everything. If you want you could submit a PR where these external resources are in the configuration and can be overwritten. Your call.

[2018-03-06 10:33] nico-schunke commented on #221
Understood. We'll think about when we come across again. Right now it is not really a showstopper. Thanks for your efforts and taking care.

[2018-03-07 10:20] codestorycooked opened #222 "Custom Scopes"
How do add Custom Scope like Auth0? I tried to add custom scopes to `consent` config but `check_scope.js` intersects it and removes scope added to `consent` config.

[2018-03-07 11:14] panva commented on #222
Hi, please read the configuration section of the docs.

[2018-03-07 12:20] codestorycooked commented on #222
In the configuration, we have set these scopes "openid profile scope1 scope2".
Our ID provider is sending us scope5 for a particular user.
I am trying to override and send this scope5 in `consent` in interactionFinished
[code]
But when i introspect the `access_token` I get only `openid profile scope1 scope2`

This is due to `check_scope.js` intersecting and removes scope5 in this case.

[2018-03-07 12:38] panva commented on #222
1. in the configuration you're supposed to provide an array of strings, not a string.
2. The rest I'm afraid I don't follow, please try and provide a clear description of what you think is wrong and why.

[2018-03-07 13:01] panva commented on #222
You need to add all supported scopes in the configuration, otherwise unrecognized scopes are ignored. This is intended.

[2018-03-07 13:01] #222 closed

[2018-03-07 13:16] codestorycooked commented on #222
Is there any way to override this behavior?

[2018-03-08 07:22] vikas-ss opened #223 "suppress logout prompt"
Is there a way to bypass logout confirm "Do you want to logout" during session end endpoint?

[2018-03-08 07:33] panva commented on #223
You can use the [logoutSource](https://github.com/panva/node-oidc-provider/blob/v2.14.0/docs/configuration.md#logoutsource) config option to render a self-submitting form.

[2018-03-08 07:33] #223 closed

[2018-03-08 18:06] ashrafakl opened #224 "How to change header alg value in access token to be "RS256""
Hi,

I'm using oidc-provider with mongodb adapter, with the following clients options

[code]

I checked  the access_token document created after a user logged-in successfully, I decoded the header value, the header alg value is equal to "none" not "RS256".
So there are something wrong or missing in client configuration ?

Thanks

Ashraf Akl

[2018-03-08 18:18] panva commented on #224
Hi @ashrafakl,

That's just leftovers from the way models were stored in 1.x (as signed JWTs), pay no attention to the header value. Access Tokens returned are opaque anyway, they are not JWTs. I only use JWT format (with no signatures) to have a unified model structure.

Sorry for the confusion, I plan to revise the data model completely in 3.x

[2018-03-08 18:18] #224 closed

[2018-03-09 07:58] ashrafakl commented on #224
Thanks @panva for your quick reply

It is possible to change this behaviour by extending the BaseToken class?

[2018-03-09 09:24] panva commented on #224
If jwt tokens are what you need please look into #93 where a public BaseToken interface was defined that allows you to change the way tokens are generated and serialized.

[2018-03-09 21:24] javiersuazomatus opened #225 "Can I call introspection method internally?"
I 'm integrating OIDC provider in a loopback project. I need to protect some endpoints through a middleware method that validates the access_token (or Bearer token) contained in the requests. How can i do this without calling the introspection endpoint?

[2018-03-10 09:26] panva commented on #225
Yeah you might, it depends.

Are you running within the same node process? If so, just `provider.AccessToken.find(bearer)`. If not, look at the internals and just query your storage.

[2018-03-10 09:26] #225 closed

[2018-03-11 23:04] javiersuazomatus commented on #225
Thank you very much for your answer. My question was not the most appropriate. Can I call the introspection method internally (the resource server and authorization server are the same server) and obtain the same response?

Example Response:

`{
    "active": true,
    "token_type": "access_token",
    "sub": "asdf@asd.as",
    "client_id": "modyo",
    "exp": 1520812924,
    "iat": 1520809324,

[2018-03-12 00:02] panva commented on #225
no you can't, you can look at what the introspection method does and just mimic that with what `provider.AccessToken.find(bearer)` yields to you.

[2018-03-12 21:13] javiersuazomatus opened #227 "Reusable Refresh Token"
By default, a refresh token its is mark as consumed when is used to obtain a new access_token by a call to refresh token endpoint. Can I configure the provider to obtain new access tokens using a refresh token more than once?

[2018-03-13 07:25] panva commented on #227
Hi @javiersuazomatus,

yes you can.
https://github.com/panva/node-oidc-provider/blob/v2.14.0/docs/configuration.md#refreshtokenrotation set to "none" as per https://github.com/panva/node-oidc-provider/blob/v2.14.0/lib/helpers/defaults.js#L492-L506

[2018-03-13 07:25] #227 closed

[2018-03-13 19:28] javiersuazomatus commented on #227
Thank you very much for your answer. Greetings from Chile!

[2018-03-15 16:59] ulrikstrid opened #228 "TypeScript"
Any thoughts on TypeScript?

I'm using this lib right and as I'm working I'm building some types for it. Is that something you would be interested in taking as a contribution?

I would also be willing to contribute to a rewrite in TS if your interested.

[2018-03-15 19:23] panva commented on #228
Hi @ulrikstrid,

unfortunately I do not have the free bandwidth right now to do a rewrite, plus I don't see the point.

As I'm not familiar with the TypeScript ecosystem, could you elaborate on what maintaining types would entail? Is having types exposed the bare minimum for TypeScript projects to be able to work with oidc-provider?

[2018-03-16 08:47] ulrikstrid commented on #228
Maintaining external types might be painful if you want to change the API a lot but I guess that will mostly be between versions. I have the following types right now that at least lets me get going with TypeScript but is no where near complete.

[code]

I have some time to spend, if you want I could just change a few files and open a PR to show the difference.

[2018-03-16 09:00] panva commented on #228
You can give it a shot, but I cannot promise to take it over and maintain it given i'm not a TypeScript user myself.

[2018-03-16 09:04] ulrikstrid commented on #228
Of course, that's why I want to start with just a few files. 👍

I will try to get this done in during the day so that you can give a thumbs up or down.

[2018-03-16 20:05] panva commented on #228
Looking at the PR this seems totally not worth a rewrite :)

[2018-03-16 20:59] mogeda opened #231 "authorization_endpoint response header with helmet/koa-helmet"
I'm using koa-helmet like below.
const helmet = require('koa-helmet');
app.use(helmet());
I tested endpoints and validated that extra headers starting with 'X-' were added as expected except for authorization_endpoint(/auth). Is there any special reason that authorization_endpoint was skipped for this? Thanks.

[2018-03-16 21:27] panva commented on #231
can't reproduce your issue @mogeda

[code]

[code]

It's all there.

[2018-03-17 01:08] mogeda commented on #231
I was using app in oidc like below instead of mounting

(async () => {
  await oidc.initialize();
  oidc.app.use(helmet());
  oidc.app.listen(3000);
})();

[2018-03-17 02:33] mogeda commented on #231
I'm all set now, thanks a lot.

[2018-03-17 07:52] ulrikstrid commented on #228
I agree, I would rather maintaining typings for the parts that I use. But it was worth a shot

[2018-03-17 08:59] #231 closed

[2018-03-17 09:20] panva commented on #228
no worries

[2018-03-17 09:21] panva commented on #231
Doing that you've been pushing helmet at the end of the middleware stack, authorization which doensn't await is one where it is clear, any error handled call would be another.

[2018-03-19 19:35] apowers313 opened #232 "EAP"
I want to implement the FIDO bits of [EAP](http://openid.net/specs/openid-connect-eap-acr-values-1_0.html). Can you give me some hints of where to hook in to add acr values?

[2018-03-19 20:15] panva commented on #232
Hi @apowers313

1) configure the OP to support your values

[code]

2) When acr is requested, as a result of the subsequent interaction pass the acr using the `provider.interactionFinished` helper, or other means using your adapter.

[code]

[2018-03-20 23:12] #232 closed

[2018-03-25 19:30] psmiraglia opened #234 "Make PKCE supported challenge methods configurable"
According to the current code, PKCE enabling is more or less a boolean setting. If true, the OP enables the support for `plain` and `S256` challenge methods. Unfortunately, this approach makes the OP unable to operate in an iGov context where `plain` is not allowed (see https://xml2rfc.tools.ietf.org/cgi-bin/xml2rfc.cgi?Submit=Submit&format=ascii&mode=html&type=ascii&url=https://bitbucket.org/open

[2018-03-25 19:49] psmiraglia commented on #234
With this new feature I think `pkce` could be always managed as `Object`

[code]

[2018-03-25 19:52] panva commented on #234
I like the feature request. Wasn't aware of the iGov profile requirements. Will do in the next couple days.

That being said you can already get it going that way today.
Post middleware to remove the plain value from discovery and a pre middleware to throw when plain is used.

[2018-03-25 20:52] psmiraglia commented on #234
Nice! If interested, I'm already drafting the solution...

https://github.com/psmiraglia/node-oidc-provider/tree/issue/234

[2018-03-26 05:58] panva commented on #234
Looked briefly, you shouldn't assume the default is S256 if nothing is provided. iGov only says that plain must not be used, the way a method is passed in remains unchanged and so S256 as a method should be provided by clients explicitly.

[2018-03-26 07:45] panva commented on #234
Couple of changes i made:
- Default values for features are to be booleans, on/off toggles, when on and in need of fine-tuning then they may be objects.
- Switched the order of check / default code_challenge_method to stick to default plain but also allow not supporting it with an appropriate error.

It'd be great if you could do some testing.

[2018-03-26 16:14] #234 closed

[2018-03-26 16:42] psmiraglia opened #237 "TypeError: provider.use is not a function"
When in my Express app I try to define a custom middleware like that

[code]

I receive the the error

[code]

Apparently it seems to be solved if I use

[code]

Should the [documentation](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#pre--and-post-middlewares) be fixed?

Is it my fault?

[2018-03-26 17:14] panva commented on #237
Which provider version are you using? This was only just recently added in 2.15.0

[2018-03-26 17:20] psmiraglia commented on #237
I'm using the `2.14.0` version. I'll try by updating to `2.15.0`. In the meantime, I (apparently) solved with

[code]

[2018-03-26 17:22] psmiraglia commented on #237
Confirmed. It works with `2.15.0`. Thanks!

[2018-03-26 17:22] #237 closed

[2018-03-26 17:22] panva commented on #237
that's what the docs said for 2.14.0 yeah... 2.15.0 just makes it built in and preserves the order of .use()

[2018-03-27 10:31] psmiraglia opened #238 "Fine tuning on recognized client metadata"
According to [OpenID Connect Registration specs](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata)

Does the current implementation permit a fine-tuning on recognized client metadata parameters According to the following code, the list of recognized parameters is not tunable.

https://github.com/panva/node-oidc-provider/blob/146136acac81c027182706512b6004fa5af8131d/lib/

[2018-03-27 10:37] panva commented on #238
It does not by any public API.

NB: I'm pretty sure you can just require the client_attributes upfront, add attributes and go. Has the same value as what you're proposing.

[2018-03-27 10:59] psmiraglia commented on #238
Could you provide me with an example?

[2018-03-27 11:10] panva commented on #238
Simple actually:

[code]

Either this or further work on #239 to make it possible scoped for each instance.

[2018-03-27 11:28] psmiraglia commented on #238
Oh sure...

About #239, what do you think about that?

[code]

[2018-03-27 11:44] panva commented on #238
That's a good start, but passing in just value won't do it tbh - i'd say you also need all the other metadata and somehow have the option to set values for other metadata from these functions.

It should also be a part of the `new Provider` constructor call, not `initialize` and should be called for each property that's registered, not just the ones with values.

[code]

[2018-03-28 12:02] panva commented on #238
@psmiraglia your feedback/comments are required for #240

[2018-03-28 15:14] Alex-d14 opened #241 "How to get SSO between 2 native apps (AppAuth samples)?"
Hi,

First, thanks for this great library.

I'm trying to test the [AppAuth](https://github.com/openid?q=AppAuth) sample apps (iOS and Android) against a Node.js web app based on "node-oidc-provider".

I have 3 apps: native sample app 1, native sample app 2 (both are using the same client id) and another web app (a different client id).

Here are the steps I'm following:
- Sign-in using sample app

[2018-03-28 15:27] panva commented on #241
Hi @Alex-d14, if you're seeing SSO between one app and a browser then everything works as expected and issues are likely related to the specific AppAuth libraries (they vary from platform to platform) or their setup of yours.

NB: [this](https://github.com/panva/panva.github.io/blob/master/_drafts/appauth.md) unpublished article might be useful to you to see the common issues. On iOS for example,

[2018-03-28 16:03] Alex-d14 commented on #241
Thanks for your answer. I'll try to dig into it.

[2018-03-28 17:32] panva commented on #241
1) This would not happen if both apps would use different clients (as they should!). Before anything else please fix this on your end.
2) It is indicative of one thing - by the time you go to authorize the session is not synced between the apps, but by the time you press cancel it is.
3) There's a bug in the native app forced interaction check that i'll look into.

[2018-03-29 08:26] panva commented on #241
3) should be fixed in master

[2018-03-29 08:31] #238 closed

[2018-03-29 08:58] #241 closed

[2018-04-04 17:27] marcortw opened #245 "Re-use an existing session"
I implemented a working authorization code flow between my RP and my OP. The is OP based on your step-by-step node-oidc-provider-example, using express and ejs; session management is enabled. The RP is implemented with node-openid-client. I understand that my RP chooses a random state parameter in the redirect to the OP, and the OP then internally creates a random interaction ID/grant and redirect

[2018-04-04 17:47] panva commented on #245
You can use the OP session just fine, it is after all

- stored using your own adapter on the backend
- referenced by a cookie in the user-agent

If you're running in the same app/process as your provider instance and running koa this is very easy.

[code]

Since you're running express you must retrieve the session cookie value yourself (hopefully your provider is using keys to sign the cookies, s

[2018-04-05 08:32] marcortw commented on #245
Thanks a lot for your quick response which pointed me in the right direction! Out of curiosity: There's no library-provided way to start an OP session other than going through an interaction session?

[2018-04-05 08:35] panva commented on #245
There is not, but once you get familiar with the format, you'll sure manage.

[2018-04-05 08:35] #245 closed

[2018-04-05 10:37] kyvour opened #246 "Question: Supported response types"
Hi

I have a small question about supported response times.
As far as I understand since the library fully implements OpenID Connect Core 1.0, all listed in [Appendix A](https://openid.net/specs/openid-connect-core-1_0.html#AuthorizationExamples) response types are supported:
- response_type=code
- response_type=id_token
- response_type=id_token token
- response_type=code id_token
- response_type=

[2018-04-05 10:45] ulrikstrid opened #247 "extraClientMetadata when loading clients async"
I have the following in my config:
[code]

When I load a client the validator doesn't even get called, I have checked with a console.log in the function. And the modules property doesn't get added. Is this as intended?

[2018-04-05 10:47] panva commented on #247
first, sanity check, what's your oidc-provider version?

[2018-04-05 10:50] panva commented on #246
yes, and you can [configure](https://github.com/panva/node-oidc-provider/blob/v2.17.0/docs/configuration.md#responsetypes) your provider to only support a subset.

[2018-04-05 11:33] ulrikstrid commented on #247
I am so sorry, I was 1 version off and didn't realize this feature was so resent.

[2018-04-05 11:33] #247 closed

[2018-04-09 09:50] robaca opened #248 "iframe session_state not same as authenticate session_state"
I just try to implement OpenID Connect Session Management in our app against node-oidc-provider. I'm taking the `session_state` query parameter from the authentication request and pass that via ```postMessage(`${clientId} ${sessionState}`, ...)``` to the session-check iframe, but the values always immediately differ and I get back "changed".  There are no errors in the logs, even with debugging en

[2018-04-09 09:52] robaca commented on #248
One more info:
[code]
returns undefined

[2018-04-09 10:15] panva commented on #248
Hi @robaca,

there's likely something wrong with your cookie/domain/protocol setup.

Please open chrome console on the RP page where the OP frame is loaded, switch the context from `top` to your respective `rp frame` identifier and access `document.cookie`. It will likely not include the session state cookies.

[2018-04-09 21:58] togacaptain commented on #93
Any chance getting some implementation examples for this. I've looked at your POC, but it seems to fail on the getValueAndPayload return for access token due to it being formatted as a string. When "save" is called grant id can't be applied. I've tried splitting the token, but when I do this it completes, but doesn't actually return the token.

[2018-04-10 07:44] panva commented on #248
@robaca You can also see it working [here](https://tranquil-reef-95185.herokuapp.com), login in one tab, open another one and log out in it, the first one should alert with the status "changed" after doing so.

[2018-04-10 08:00] robaca commented on #248
@panva Maybe you are right, but I didn't find the root cause yet.

My config looks like this:
[code]
One other thing I encountered:
Closing the OP session does not happen. After clicking yes on "Do you want to logout from OP too?" I still get transparently re-logged-in

My client is working as expected in combination with another OIDC provider.

[2018-04-10 12:12] panva commented on #248
I'm seeing no issues on my end with your setup [running](https://gist.github.com/panva/a613a35f063926f14be92fe9cba1aecf).

start OP server with `node index`, authorize by navigating to `http://127.0.0.1:3000/oidc/auth?client_id=client&response_type=code&scope=openid`, finish authorization, from the callback get full `session_state`, e.g. `5e92d0730d975af997903c8f65ecfec4c8ea9aca595d3d924d825dd35db

[2018-04-10 18:58] debben opened #249 "Hooks for redirectUri verification"
Would it be possible provide a callback or other hook to allow for alternative verification of redirectUri? Right now I have an RP accessible via multiple host names that follow a pattern. For example `<tenant_prefix>.myawesomeapp.io`. I have a list of tenants that will that each access the service using their prefix. I'm trying to support this in the redirect_uris metadata property of a client fo

[2018-04-11 08:01] panva commented on #249
Supporting wildcards is not on my list of todo since it does open up a number of attacks on OAuth2.0 providers and is very simply put a bad practice, there's nothing wrong with invalidating your client cache (through supported API), or clearing a single one (through supported API) and expand the list of used redirect_uris on demand.

Setting `clientCacheDuration` to nothing (0, undefined, false) w

[2018-04-11 11:15] panva commented on #249
Out of curiosity, is this work you’re doing for plex?

[2018-04-11 13:41] debben commented on #249
Thanks @panva for the quick response. I'm not a fan of supporting wildcards either. After taking some time to think about it, I'm going to close this issue. I'm trying to keep my implementation of this library as general as possible and features like this would be very specific to my implementation. If I were to implement wildcards or even support frequent cache-invalidation when reply_uris change

[2018-04-11 13:41] #249 closed

[2018-04-11 14:05] panva commented on #249
Don't forget that should your RPs be supporting multiple IdP connections it is best practice to have unique callback routes for each.

[2018-04-12 12:26] robaca commented on #248
I'm getting closer to a solution.

My current process consists of two express instances - one for the main application and one for the oidc-provider. It seems that both of them register cookies with the same domain but without port number sometimes, and so requests to both instances seem to "steal" cookies for the other port.

I already tried to add cookie options like this:
[code]
But now I get t

[2018-04-12 12:47] panva commented on #248
Cookies do not provide isolation by port. Instead of changing the domain use `cookies.names` configuration option to change the cookie names.

[2018-04-12 13:16] robaca commented on #248
Hi @panva many thanks, renaming the cookies did the job.

[2018-04-12 13:58] codestorycooked commented on #97
How do I register the client with only 'client_credentials' grant?

[2018-04-12 14:03] panva commented on #97
Exactly as in the comment above, assuming you have client credentials grant enabled on your provider? There's even a [test](https://github.com/panva/node-oidc-provider/blob/v2.17.0/test/configuration/client_metadata.test.js#L776-L788) with exactly this.

[2018-04-12 14:15] codestorycooked commented on #97
Thanks. It worked. Have a gooday.

[2018-04-16 13:14] elendirx commented on #223
Hi, first let me say thanks again for this awesome library.
I'm trying to skip logout prompt too. Yes I can achieve that with a self-submitting form, but I feel that such extra step is not necessary. Do you think it would be worth creating a pull request with added config to skip rendering logout prompt page completely?

[2018-04-16 13:35] panva commented on #223
The auto submitting form is in my opinion sufficient enough solution that does not require an extra branch and logic that would have to be tested and cared for.

[2018-04-16 13:45] elendirx commented on #223
Ok, thanks for your opinion and quick response.

[2018-04-21 18:31] jonathan-casarrubias opened #256 "oops something went wrong when calling /me?access_token=XXXXXX"
Hi,

Sorry for disturbing creating an issue but I'm really close to finishing this implementation, to the day I'm able to do the entire flow

Using the https://openidconnect.net/

I'm able to:

1.- Configure using the .well-known configuration
2.- To login
3.- And to get the access_token
4.- And token_id.
5.- And able to successfully verify the token

But, when I use the access_token to get the us

[2018-04-21 18:54] panva commented on #256
Can you post your provider configuration and the client metadata? Also logs when running the op with DEBUG=oidc-provider:*

[2018-04-21 20:03] jonathan-casarrubias commented on #256
Sure...

Configuration:

[code]

And The Client Metadata

[code]

And the logs:
![image](https://user-images.githubusercontent.com/1533239/39088320-2145bb16-4575-11e8-9221-7d7782a98312.png)

[2018-04-21 20:04] jonathan-casarrubias commented on #256
Ok that helped me  a little, I see is something related to the "jwks_uri" though I'm not entirely sure what it refers to

[2018-04-21 20:12] #256 closed

[2018-04-21 20:31] panva commented on #256
Your client config tells the provider that userinfo must be returned as encrypted jwt with asymmetrical key, that one being fetched from the jwks_uri in your client document. The URL you have in there is not likely a jwks endpoint.

Also [events](https://github.com/panva/node-oidc-provider/blob/master/docs/events.md) provider.on('server_error') for uncaughts / server errors

[2018-04-21 20:57] jonathan-casarrubias commented on #256
Awesome I really appreciate you taking the time to answer, I took that metadata example from the specs so I’m not entirely sure about each prop so I’ll definitely research about those.

Cheers
Jon

[2018-04-21 21:10] jonathan-casarrubias commented on #256
yup it worked like a charm, thanks a lot @panva

[2018-04-22 09:38] panva commented on #256
On that note, when client jwks_uri cannot be refreshed it should probably throw `invalid_client_metadata` rather then `server_error`, i'll fix that.

[2018-04-22 12:58] jonathan-casarrubias commented on #256
@panva I think that would be best, but I would also recommend to add a reference to `DEBUG=oidc-provider:*` witin the https://github.com/panva/node-oidc-provider-example/tree/master/03-oidc-views-accounts repo, since it definitely is extra helpful to see those logs.

Cheers
Jon

[2018-04-22 13:14] panva commented on #256
It is right in the readme under debugging ;)

[2018-04-22 14:10] panva commented on #256
no worries :)

[2018-04-23 13:08] jonathan-casarrubias commented on #256
@panva actually my recommendation was to also add that info into the examples repo, I went to verify where it was located and I was unable to find it, so I assumed you were referring to the actual module repo in which that case you are right.

So I'll still recommend to also add it to the examples repo, I believe I spent most of my time implementing this module reading the examples repo than the a

[2018-04-23 13:15] panva commented on #256
How could I actually fix that? :) The example repo will never contain all the configuration options or documentation.

[2018-04-23 13:24] jonathan-casarrubias commented on #256
Great question indeed, the problem is that even though the main repo provides all the configurations, there are some folks like me that usually understand technology by reverse-engineering, therefore the example repo is the one providing me that possibility.

Then my following recommendation would be adding some note like in the following form:

You might want to add something like that at the top

[2018-04-23 14:01] panva commented on #256
How about this, can you open a PR?

[2018-04-24 16:46] nataliahering opened #258 "Extra parameters are ignored in the client auth flow"
The [extra parameters](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#extraparams]) are available in the `ctx.oidc.params`, only in the implicit flow.
It has been observed that they are not being added in the 2-leg auth flow.

The whitelist that is being created [here](https://github.com/panva/node-oidc-provider/blob/master/lib/shared/chains/client_auth.js) does not

[2018-04-24 17:04] panva commented on #258
That's incorrect, they're being parsed and available for interactions and helpers such as `interactionCheck` in every `authorization_endpoint` request regardless of the response_type. The original intention was so that e.g. tracking parameters can be passed to interactions for trusted clients and then displayed in the views.

It is working exactly as documented.

[code]

I'm not sure what you're t

[2018-04-25 10:15] nataliahering commented on #258
Thanks for the prompt reply. Here are some more details.
Assume we have set up the config to include `extraParams: ['extraParameter']`.
Flow:
step 1: `GET` to `oidc/auth` endpoint, `response_type=code`, `extraParameter=extraValue`
step 2: `POST` to `oidc/token` endpoint, using the `client_secret_basic` flow and the code returned from step 1. Include the extraParameter=extraValue in the body.

resu

[2018-04-25 12:48] panva commented on #258
It's really not so much :) The call to /token shouldn't need any extra parameters for conformant behavior, but anyway...

`extraParams` is only for the authorization_endpoint and does not mean parameters are stored with the or available in the token_endpoint call to you. The only things stored are the ones necessary for the protocol exchange and tokens having the right properties. From my POV this

[2018-04-25 14:12] nataliahering commented on #258
I see. Would this https://github.com/panva/node-oidc-provider/pull/259 be accepted?
We could then get the extra parameters in the mentioned flow.

[2018-04-25 14:13] panva commented on #258
It would not, i'm sorry. why don't you just reach out to `ctx.oidc.body` for the parameter you're expecting?

[2018-04-25 15:10] SokratisVidros commented on #258
My two cents, @panva I see your point, however it would be more intuitive for the `extraParams` configuration to apply also to the `/token` endpoint.

That way, clients implementing the auth code flow, can store the initial params of the `/auth` request in their own session storage mechanism and then piggyback them in the `/token` request during the second leg of the flow.

Hope that helps.

[2018-04-25 15:17] panva commented on #258
I feel like you're expecting extraParams to do something it doesn't do anyway. Anything you submit to /auth (and whitelisted as extraParams) won't be available in any other place then the authorization and interaction contexts. That's intended. If extraParams gets applied to /token it **will not** make parameters passthrough from auth to token.

Bending extraParams to do more than it was intended

[2018-04-25 15:34] SokratisVidros commented on #258
Yes, the issue is solved with the `ctx.oidc.body` hack. My suggestion is not related to the expectation of getting the params in the `/token` endpoint just by adding the fix. That's impossible since `/auth` is requested from the user agent whereas `/token` is requests from the OIDC RP.

I was just trying to find out whether in the code flow (as this is the only 2 leg flow) `extraParams` should app

[2018-04-25 15:50] panva commented on #258
`ctx.oidc.body` is not a hack, it's just that i didn't want to polute the `ctx` with the usual `ctx.request.body`. If you need to access the parsed body oidc-provider is working with, that's where you'll find it.

`extraParams` as documented enriches the authorization and interaction since there is a need to whitelist and pass only what's needed to interactions through multiple requests. That, plu

[2018-04-25 15:50] #258 closed

[2018-04-27 09:02] just-tomht opened #261 "Recommendations for adding properties to introspection response"
Hello

My API would like an additional identifier associated with access_tokens. We are not willing to pass the id_token to them however. So we're using /introspection to get the contents of an access token. As I understand it, you support userinfo to get additional claims from the id_tokens but, this would add an additional call of overhead for us. Also the introspection spec supports this:

So f

[2018-04-27 09:48] just-tomht commented on #261
Thanks for the prompt reply!

Good to know :)

I think I'm potentially just using slightly off terminology as I'm new to OIDC but what you said is what I'm doing already. I just meant extra call from the API to get those claims from userinfo, right now the APIs only need to call introspection.

Sweet! Thanks that helps a bunch yeah.

So the findById call is being invoked when a user authenticates

[2018-04-27 10:54] panva commented on #261
- Why don't you add the claim to the id token or userinfo?
- Why don't you actually call userinfo? Considering you're running an SPA you are likely using `id_token token` implicit flow. If your client is certified it is able to validate an access and id_token belong together (at_hash) and so in the end you have claims such as exp, iat, iss, aud, azp already at hand, plus whatever is in userinfo.

[2018-04-27 11:15] just-tomht commented on #261
We aren't passing the id_token from the SPA to the API for security reasons, the same with the third_party_id.

The API will only have the access_token from a Bearer header, nothing else.

The SPA can call userinfo and might, although we're putting claims into the id_token anyway. But, we'd prefer that the API only needs to call introspection, not both introspection and userinfo. We'll probably go

[2018-04-27 11:15] #261 closed

[2018-04-29 18:39] madarche opened #263 "Adding a model expiration test in the adapter conformance test?"
@panva do you think it would be appropriate to add *a model expiration test* in [the adapter conformance test](https://github.com/panva/node-oidc-provider/blob/master/lib/adapter_test.js)?

I have a test that checks that point on my custom implementation and I can try to put it upstream in  the adapter conformance test if you think this is a good idea.

Thanks

[2018-04-29 19:05] madarche opened #264 "Shouldn't the grant object be destroyed when its grant related models are destroyed?"
If I'm not mistaken, currently in the proposed [in-memory adapter](/lib/adapters/memory_adapter.js),  [redis adapter](/example/adapters/redis.js) and [mongodb adapter](/example/adapters/mongodb.js) the grant object (holding the references to the grant related models) is not destroyed when a model is destroyed.

Shouldn't this grant object be destroyed as well?

This is not a bug in the oidc-provid

[2018-04-29 21:40] panva commented on #264
What grant object?

[2018-04-29 21:41] panva commented on #263
For tokens the provider does not care, since it has all the checks necessary to handle returned but expired tokens. From my perspective it's not required for tokens. For sessions it currently is but that's something i'll tackle in 3.x.

[2018-04-29 21:41] #263 closed

[2018-04-30 07:38] panva commented on #264
Ah I see, if you can open a PR for the memory and redis one i'm happy to accept it. Mongo does not have that issue.

[2018-04-30 08:05] madarche commented on #263
I agree that **the expiration is well taken care of in the provider and that the provider has no problem regarding token expiration**.

The point here is to help developers to create clean custom adapters that don't leave expired models in the persistence layer. And that's why I propose to put this new test in [`/lib/adapter_test.js`](/lib/adapter_test.js), which is about *adapters* and nowhere re

[2018-04-30 08:13] panva commented on #263
I’ve had cases where expired tokens are still very much useful for BI.

[2018-05-01 21:17] adamrbennett opened #267 "Client Credentials grant breaks when client secret contains %"
With the recent changes in e691a105fef72a7433e4bfce11fd3a55ac2abaef, the Client Credentials grant now fails if the Client Secret contains a `%`. I haven't tested, but I imagine this also applies to Client IDs, as well as other URL "unsafe" characters.

1. Run latest oidc-provider
1. Perform the Client Credentials grant with a secret containing a `%`

[code]

[2018-05-01 21:53] panva commented on #267
Are you properly encoding those characters?

I agree the server_error response needs fixing, no problem, but either way the client authentication would fail with conform behavior in now.

[2018-05-02 01:02] MephistoSun opened #268 "why support ts"
why support typescript?I think typescript is good coding method.

[2018-05-02 06:50] panva commented on #268
#228

[2018-05-02 06:50] #268 closed

[2018-05-02 07:52] ulrikstrid commented on #268
See #228 and related PR.

[2018-05-02 07:58] panva commented on #267
Thinking a bit altho this was a bug fix, it is big enough of a breaking change that it deserves a major version bump and a proper thick bold explanation in the changelog.

[2018-05-02 08:31] panva commented on #267
1) deprecated 2.18.1
2) published 2.18.0 again as 2.18.2
3) release 3.0.0 with the fix applied and instead of a server_error properly communicate invalid request due to the credentials not being properly encoded.

[2018-05-02 08:31] #267 closed

[2018-05-02 11:29] #264 closed

[2018-05-04 14:22] madarche opened #270 "Configuration of the user session ttl on the OP"
Hello,

This is not a bug report. This is a question (or an evolution request).

For a usecase, I need user sessions on the OP to be rather short, 1/2 a day, compared to the 1 year default. I do it by the following configuration option:
[code]

Is this really the right way to configure the user session ttl on the OP?

I would rather expect the user session ttl to be in the [`ttl` configuration opt

[2018-05-04 14:30] panva commented on #270
Yes. It is used for setting the expiration on a cookie as well as ttl on the backend stored data.

As documented ttl is for configuring token expirations.

I'll think this over for v4.x as i'm also planning some changes to session expiration but wouldn't expect a change.

It is so that when the cookie gets dropped due to it's maxAge so should the stored session. That's why the adapter#upsert expir

[2018-05-04 14:44] madarche commented on #270
Thanks for this confirmation!

Yes. So that's not the right place for what I'm talking about. Agreed.

Maybe I was not clear enough: I was proposing this change to go *into* the 4 release.

I have read this recent commit, and yes this is a good thing to do.

So after having read your answer I'm changing my proposition 🙂 : what about a new configuration option called `userSessionTtl`(or any new nam

[2018-05-04 14:49] panva commented on #270
So cookie maxage would be in two places instead of one (long in userSessionTtl and short in cookies.short)?

Session expiration is bound to how long a cookie is kept in a browser.
If this is just about making it clear please propose a change to the `affects` section of cookies.long documentation.

Plus the long cookie values aren't ONLY used for sessions but also the session management cookies.

[2018-05-04 14:52] madarche commented on #270
OK, you're right @panva. This is clearly more of a documentation need. I'll propose a PR on the matter in a few days. Thanks!

[2018-05-04 14:52] #270 closed

[2018-05-04 14:54] panva commented on #270
Thank you @madarche

[2018-05-04 14:54] madarche commented on #270
But still a feeling: such an important thing as the user session ttl on the OP seems to require an option by itself rather than being a consequence of another option. That what caused me to ask the question in the first place.

[2018-05-11 13:45] robtweed opened #275 "Enabling BackChannel Logout"
I've been digging into the available information on and code related to enabling and  implementing Back Channel Logout, but haven't managed to figure it out.

I've turned on the feature:

         features: {
             backchannelLogout: true,
              ...etc
         }

and can see that it is enabled when I look at the response from the /.well-known/openid-configuration URI

        {

[2018-05-11 13:59] panva commented on #275
Why? That's a client property.

I'm guessing you assume backchannel logout is something the client triggers on the OP. That's not the case. No such back-channel mechanism exists.

First I'd recommend to understand the [spec](https://openid.net/specs/openid-connect-backchannel-1_0-04.html).

In brief:
After enabling the feature (which you've done), your clients can be configured with `backchannel_l

[2018-05-11 13:59] #275 closed

[2018-05-11 14:25] madarche commented on #270
I know this issue is closed, but one can still think on the subject. @panva what do you think about this following new proposal?

* remove previous property `cookies.long`
* remove previous property `cookies.short`
* add property `cookies.options` (definining secure, signed, httpOnly for all cookies) to be used for all cookies, long and short ones
* change option `ttl` to
  - `ttl.tokens` - expira

[2018-05-11 14:33] panva commented on #270
signed, not signed I fully agree. But,

one can be setting short cookies for a subdomain where his other app (hosting separate user interactions) is hosted, using the `domain` option.

one can also have user interactions requiring the cookie to be readable by javascript, hence dropping httpOnly for these only.

I've witnessed and wish to support both cases above.

[2018-05-11 14:44] madarche commented on #270
Understood. Thanks. I'm letting the subject rest a bit before trying to come up with a possible clean proposal compatible with those constraints. Thanks again for your time @panva 🙂

[2018-05-11 15:18] marcortw opened #276 "Notify an RP about changed user information"
Is it somehow possible to instruct an RP from the OP to ensure that new userinfo is fetched as soon as possible? For example, a user might have changed some of his attributes (e.g. the e-mail address) on the OP and I want to ensure that the RP gets that information as quickly as possible. This seems to be in a way similar to backchannel logout, where something happens on the OP and the RP should b

[2018-05-11 15:59] panva commented on #276
out-of-the-box, no
profiled specifications, no

this is all out of scope. but you might want to look into [secevents](https://datatracker.ietf.org/wg/secevent/documents/) and their use in some of the OpenID WG streams.

[2018-05-11 15:59] #276 closed

[2018-05-11 16:45] panva commented on #270
This is a big thorn for you, isn't it :)

[2018-05-11 16:49] panva commented on #275
You might also want to go through the [tests](https://github.com/panva/node-oidc-provider/blob/v3.0.1/test/backchannel_logout/backchannel_logout.test.js) for this feature to understand it.

[2018-05-11 16:55] madarche commented on #270
Yes the subject bothers me :-) But it's not actually a problem because the software works as expected (thanks to you). I'm a bit of a perfectionist.

Often, good solutions arose almost by themselves when one thinks to something else.

[2018-05-12 15:36] madarche commented on #270
@panva (no hurry, when you have time) what about this other proposal?

* remove previous property `cookies.long`
* remove previous property `cookies.short`
* remove previous property `cookies.keys`
* add property `cookies.security` (defining `httpOnly`, `secure`, `domain`, `signingKeys`), for all cookies. If `signingKeys` is present then the cookies will be signed
* add property `cookies.interacti

[2018-05-15 13:15] MeirionHughes opened #277 "Uninitialised Buffer Vulnerability - base64url"
https://hackerone.com/reports/321687

[2018-05-15 13:42] panva commented on #277
Hi, I’m aware. Working on a replacement. Unfortunately it’ll take some more time for node-jose to update.

Just to clarify, after my updates neither of the libraries is actually affected anymore since we’re always working with string inputs (headers, query strings) and so we’re never allocating a buffer with a number.

I’ll post an update here in a few with the new releases.

[2018-05-15 13:48] MeirionHughes commented on #277
No worries, I just stumbled upon it when looking this up. apparently `b64u` is a drop in replacement. I [PR'ed a quick fix](https://github.com/brianloveswords/base64url/pull/25) but it doesn't look like its being maintained.

[2018-05-15 13:53] panva commented on #277
Yeah, the hackerone report history shows attempts have been made to contact @brianloveswords on multiple channels with no success. I thought about using base64-url, the API i'm using is identical, could you run a few encode/decode benchmarks to choose between the two? (b64u and base64-url)

[2018-05-15 13:55] janhartmann opened #278 "Adapter for clients"
Thanks for this amazing library!

I am currently experimenting with creating a production ready oidc provider and wanted to move my clients to a storage.

I could not find any examples on how the adapter works for clients? Where is this adapter defined?

Jan

[2018-05-15 14:04] panva commented on #278
It's the [same](https://github.com/panva/node-oidc-provider/blob/v3.0.1/example/my_adapter.js) adapter. The constructor will get a name param which you can use to determine which model this instance is for.

[2018-05-15 14:05] janhartmann commented on #278
Ah pefect, thanks!

[2018-05-15 14:05] #278 closed

[2018-05-15 14:14] panva commented on #277
provider - https://github.com/panva/node-oidc-provider/tree/v3.0.2 released
client - https://github.com/panva/node-openid-client/tree/v2.0.3 released
token-hash - https://github.com/panva/oidc-token-hash/tree/v3.0.0 released
jose - https://github.com/cisco/node-jose/pull/179 PR pending

[2018-05-15 14:18] MeirionHughes commented on #277
Looks like its specific to node 4; >= 6 will complain about `new Buffer(1000, encoding)`.
base64-url has an engine requirement of >=6.
b64u is 4+ without input check so its still vulnerable.

Looks like base64-url is the way to go.

given node-oidc-provider has an engine requirement of 8 presumably it was never an issue anyway.

[2018-05-15 21:03] panva commented on #277
update & close

provider - https://github.com/panva/node-oidc-provider/tree/v3.0.2 released
client - https://github.com/panva/node-openid-client/tree/v2.0.3 released
token-hash - https://github.com/panva/oidc-token-hash/tree/v3.0.0 released
jose - https://github.com/cisco/node-jose/tree/0.11.1 released

[2018-05-15 21:03] #277 closed

[2018-05-16 09:13] adrai opened #279 "multiple client authorizations"
How do I have to configure the client settings, to have the possibility to get the authorization code only with the clientId but request the accessToken/idToken with clientId and clientSecret (via POST body)?

[2018-05-16 12:17] adrai opened #280 "working stateless (no session)"
Would it be possible to have the whole user authentication part completely separated, and as a result verify a token then in the oidc server?
And after the token validation continue with the oauth workflow code=>accessToken, idToken ?

[2018-05-16 13:28] panva commented on #280
Hi @adrai, could you elaborate on the flow you're thinking of?

[2018-05-16 13:32] panva commented on #279
Hi @adrai,

to get an authorization code you never need a secret, since this one is returned by the authorization_endpoint.

To set one of the client [authentication methods](http://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) for a token_endpoint use the values for `token_endpoint_auth_method` client property as per [Registration 1.0](http://openid.net/specs/openid-connect-

[2018-05-16 13:32] #279 closed

[2018-05-16 14:55] adrai commented on #280
I don't have a persistent session.
The only missing piece I have now is: How can I proceed with the openidconnect flow, trigger to generate an authorization code, etc... ?

[2018-05-16 16:30] panva commented on #280
Hi @adrai, I really don't follow what you're asking.

[2018-05-16 17:01] adrai commented on #280
sorry :-(
I try with a concrete question:
Seems like `interactionFinished` needs to access the cookies => https://github.com/panva/node-oidc-provider-example/blob/master/03-oidc-views-accounts/index.js#L122
Is there a proper workflow which will not need to access the cookies?

[2018-05-16 17:36] panva commented on #280
There is not. oidc-provider does not have a support for this.

[2018-05-16 17:43] adrai commented on #280
Is there a way I can workaround?
i.e. by generating the accesscode on my own? is there a function of you code I could use?

[2018-05-16 18:10] panva commented on #280
Sorry, I don't have the bandwidth to entertain such use cases.

[2018-05-17 13:33] #280 closed

[2018-05-17 15:29] panva opened #281 "handle Error: unsupported key type"
When `node-jose` encounters an unsupported key an error is thrown and the promise is rejected. It'd be better to ignore them instead or at least make that an option and document it.

affected:
- provider keystore
- client jwks and jwks_uri keystores

[2018-05-17 20:52] marcortw opened #282 "HTTP Request behaving different as expected"
I wanted, for demonstration purposes, use a proxy with TLS interception and configured some http options as mentioned in the docs:

[code]
This eventually calls the 'requestWrap' method, where my options are still around in the function call. However, when you return the Promise on https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/http/request.js#L38 you only copy the values from

[2018-05-17 21:17] panva commented on #282
I agree, would you open a PR for handling these extra options in the useRequest wrapper?

httpClient i’m not going to do

[2018-05-17 21:26] panva commented on #282
You’re right. Lemme fix that for the useRequest option.

[2018-05-17 21:43] panva commented on #282
can you try with the pass-all-to-request branch?

[2018-05-21 10:57] codestorycooked opened #283 "Adding extra properties to access_token"
I want to add extra parameters to `access_token` so when I introspect I get those values:

[code]
I want to add "account" and "tenantInfo" to `access_token`

Thanks for your help.

[2018-05-21 11:06] panva commented on #283
Hello @codestorycooked,

This isn’t supported, the introspection endpoint only works with claims stored directly on the token to avoid additional lookups.

That being said you’re free to extend the introspection response with [custom registered middleware](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#pre--and-post-middlewares). The token you’ll find in ctx.oidc.ent

[2018-05-21 11:06] #283 closed

[2018-05-21 14:20] floydprice opened #284 "Acquiring values from the user during the interactions workflow"
I'm using the interactionCheck function to provide the user with some extra interactions as part of the sign-in flow, for example, if a user "belongs" to more than one organisation I display an interaction asking them to choose which org they want.

This all works really well. except i lose all context when the findById method is finally called, what i pass back in the meta attribute on interactio

[2018-05-21 17:06] floydprice commented on #284
No it doesn't seem to, at this point i'm in the findByID callback with a token and no session. I have tried to retrieve the session using various methods including as illustrated in your answer but doesn't seem to work.

[2018-05-21 17:06] floydprice commented on #284
I have sort of made it work by

[2018-05-23 14:09] #282 closed

[2018-05-24 03:02] codestorycooked opened #285 "URL namespaced claims"
Do we support claims as url formats as below for OIDC configuration ? If yes how do I populate values for same.

[code]
Thank you for helping us constantly.

[2018-05-24 07:33] panva commented on #285
Hi @codestorycooked

I don't mind the occasional question, this however is pretty self explanatory and could be tried first before asking.

Regardless,

[code]

I'm going to ignore this as this looks like a piece of your config that has nothing to do with the configuration or any helper syntax.

As with any custom claims (as documented) you need to declare support for them, bind them to a scope (o

[2018-05-24 08:34] #285 closed

[2018-05-24 12:01] panva commented on #284
Well for one that's the wrong format for the [claims parameter](http://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter). Second, the moment your clients will use a claims parameter of their own this won't work.

Third, the returned meta from interactions is always going to be available in `ctx.oidc.session.metaFor(clientId)`, given this is part of a request from the user-agent.

Four

[2018-05-26 13:13] panva commented on #270
Hello @madarche i'll be sticking to the current configuration scheme for 4.x. I've dropped some of my goals for 4.x regarding configuration and this one is one of them. If and when I finally get around to reimplement the whole configuration scheme to allow for on-the-fly configuration i'll work this in.

[2018-05-26 13:36] madarche commented on #270
Perfectly understood! Thanks.

PS: I've seen you have stopped trying to use `superstruct`. I've no strong opinion about this, it's just to let you know that I'm reading the commits with interest.

[2018-05-26 13:40] panva commented on #270
`superstruct` is going to come back eventually for the new configuration scheme, I really like it. I just don't have the bandwidth to go through with it at the moment.

[2018-05-28 07:26] codestorycooked opened #286 "Passing custom object to interactionfinished."
Hi @panva , I am trying to send json in interactionFinished - > login -> account os that I can do some further processing internally. Is this fine to use this way or it will break in future?
[code]
Thanks.

[2018-05-28 09:06] panva commented on #286
Account should be a string, beyond that you're in an uncharted space and i can't tell you either if it's fine or if it won't break in the future.

Set your account properties out of bands as part of your interactions is my suggestion. To pass meta details and have them available in the resume route and in all user-agent related flows use the meta property.

[2018-05-28 09:06] #286 closed

[2018-05-28 11:55] codestorycooked commented on #286
Thanks @panva

I tried the approach you suggested as below:

[code]
but when I do `findById` I get an error saying `meta is undefined`

[code]
Can you help me with this. What I am doing wrong here?

[2018-05-28 12:03] codestorycooked commented on #285
Thank you so much @panva

[2018-05-28 12:20] panva commented on #286
For one accessing ctx.oidc.result.meta is not my recommendation. `ctx.oidc.session.metaFor(clientId)` is.

Second, do you understand this is stored on the user-agent session and will therefore only be available in contexts where findById is called from i.e. the `authorization_endpoint`? It will never be accessible from a `token_endpoint` call since the user's session is not loaded there at all.

W

[2018-05-29 08:07] #281 closed

[2018-05-30 17:21] nataliahering opened #287 "Redirect to custom URL after interactionFinished is executed"
Hi,

In my scenario I would like to execute the following flow
- call and execute `provider.interactionFinished` method (which is setting the header based on the interaction.returnTo)
and then
- redirect to a custom `url` (which will render a custom page).
The `response.headers` object cannot be overwritten and therefore I cannot change in my custom code the header calculated in the `interactionFi

[2018-05-30 17:30] panva commented on #287
Do it vice versa. Hold on to the results until you want to call interactionFinished.

Else just do a custom function emulating the same behavior.

[2018-06-01 10:19] #287 closed

[2018-06-04 19:43] mogeda opened #289 "set session cookie expired at end of session"
I used to set cookies.long.maxAge to 0 to let the session cookie expired at the end of session. Since exp was introduced in session model in v4.0, it looks it's even failing to set session cookie itself with cookies.long.maxAge=0. Is there any way to set the session cookie expired when the browsing session ends? Thanks.

[2018-06-04 19:53] panva commented on #289
This is likely a bug/overlooked setup/not tested for, I'll look into it. In your setup, how did you expire/delete the backend session objects, based on what?

[2018-06-04 20:08] mogeda commented on #289
By default, I set cookies.long.maxAge=0 while defined extra ttl for session record with the default as 14 days. I read cookies.long.maxAge from env, so if it's available in env then used it for expiresAt too.

[2018-06-04 20:13] panva commented on #289
This is the way to do it as documented. When calling interactionFinished you can set `login.remember` to false which will make it so that the cookies are transient.

[code]

[2018-06-04 20:16] jsmylnycky opened #290 "Question: How to bypass login check?"
Hey there,

I've been diving into an implementation of the library here, and so far it's pretty great.  I have run into a problem I'm having a difficult time getting past, however.

Background:

I have a reverse proxy in front of the OIDC Provider, which manages its own session and uses a different service for actually handling the logins.  My proxy sends along an `x-guid` header to the OIDC provi

[2018-06-04 20:20] panva commented on #289
That being said i can see a few issues with this approach and will look into a solution that restores the previous `0` value behaviour.

[2018-06-04 20:23] panva commented on #290
You can trust your header in the interactions and immediately redirect back with the results instead of rendering any views, this will then "seamlessly" establish the session for the provider based on whatever you trust.

But you can't run `oidc-provider` solely based on this header. The library has it's own session management for the various features it needs.

[2018-06-04 20:34] panva commented on #289
@mogeda please try with master.

[2018-06-04 20:39] jsmylnycky commented on #290
Hm that seems pretty reasonable, I'll give it a whirl.  Thank you :)

[2018-06-04 21:10] mogeda commented on #289
The fix works, I can see the session cookie set as expected with cookies.long.maxAge=0 now. Thanks a lot as always.

[2018-06-05 06:54] #289 closed

[2018-06-05 17:21] jsmylnycky commented on #290
Just to follow up with how I ended up getting this working:

[code]

I had some different issues going on regarding account creation that was hanging me up, and less so on this portion.

Thanks a bunch for your speedy replies and help with this :)

[2018-06-05 17:22] #290 closed

[2018-06-05 17:45] panva commented on #290
now you have a consent page, 👍

[2018-06-12 20:36] mithun-daa opened #292 "OIDC-View-Accounts example missing redis adapter"
I am not sure if I am missing something but
https://github.com/panva/node-oidc-provider-example/blob/master/03-oidc-views-accounts/index.js#L23

calls for the redis adapter
[code]

but that file is missing from the repo. I am guessing it uses a version or an instance of https://github.com/panva/node-oidc-provider/blob/master/example/adapters/redis.js. Am I right? Is there anything different?

[2018-06-12 20:53] panva commented on #292
did you follow *every* step? downloading the adapter is part of step 2

[2018-06-12 20:53] #292 closed

[2018-06-12 20:56] mithun-daa commented on #292
Sorry, I missed the `wget`. Thank you so much!

[2018-06-13 12:47] jainmanoj opened #293 "All Claims are not returned"
I am using noid-oidc-provider
and  configure a client
[code]

From  node-oidc-client - scope is set to retrive following claims
[code]

I have setup Account of users with all the above claims. But it is just returning userID as sub in userinfo

But it is not returning all the claims.
userinfo response
[code]

[2018-06-13 13:49] panva commented on #293
Please provide your oidc-provider configuration (including findById). It is likely you didn't configure your provider to return the claims for these scopes. see [docs](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#configuring-available-claims)

NB: the first code block definitely does not come from the client definition in oidc-provider (grant types would fail valid

[2018-06-13 15:07] jainmanoj commented on #293
module.exports.config = {
acrValues: ['session', 'urn:mace:incommon:iap:bronze'],
cookies: {
long: { signed: true, maxAge: (1 * 24 * 60 * 60) * 1000 }, // 1 day in ms
short: { signed: true },
keys: ['some secret key', 'and also the old rotated away some time ago', 'and
one more'],
},
discovery: {
service_documentation: pkg.homepage,
version: [
pkg.version,
process.env.HEROKU_SLUG_COMMIT ? process.

[2018-06-13 15:09] jainmanoj commented on #293
const assert = require('assert');
const _ = require('lodash');

const store = new Map();
const logins = new Map();
const uuid = require('uuid/v4');

const USERS = {
'23121d3c-84df-44ac-b458-3d63a9a05497': {
email: 'foo@example.com',
email_verified: true,
address: {
country: '000',
formatted: '000',
locality: '000',
postal_code: '000',
region: '000',
street_address: '000',
},
birthdate: '1987-10-16

[2018-06-13 15:19] panva commented on #293
would you mind formatting your messages? This is PITA to go through.

[2018-06-13 16:05] panva commented on #293
would you mind formatting your messages in the future? This is PITA to go through.

when using your account's findById i get all the claims requested by the authorization request. So you're likely not configuring it. Please see the [example](https://github.com/panva/node-oidc-provider-example) and most importantly [configuration](https://github.com/panva/node-oidc-provider/blob/master/docs/configu

[2018-06-13 16:05] #293 closed

[2018-06-16 13:56] panva commented on #93
#294 introduces the option to have any token returned to an RP as a JWT. Calling for comments and reviews.

[2018-06-16 13:56] panva commented on #220
#294 introduces the option to have any token returned to an RP as a JWT. Calling for comments and reviews.

[2018-06-16 13:56] panva commented on #127
#294 introduces the option to have any token returned to an RP as a JWT. Calling for comments and reviews.

[2018-06-16 13:56] panva commented on #72
#294 introduces the option to have any token returned to an RP as a JWT. Calling for comments and reviews.

[2018-06-18 14:46] infloop opened #295 "Application fails when there is no authorizations and client is making `session/end` request with id_token_hint"
Hi, we have a small issue when embedding `node-oidc-provider` in our project.

Steps to reproduce:
1) Run the provider application server with session management on.
1) Open any browser, open  `<oidc-server-host>/auth/?client_id=foo&response_type=id_token+token&scope=openid+email&nonce=foobar&prompt=login`
2) Do all the interactions and promts, receive `id_token` value
3) Open new **anonymous** ta

[2018-06-18 14:54] panva commented on #295
Hi @infloop

nice catch, would you open a PR with a fix and add a test case in `test/session_management/end_session.test.js`?

[2018-06-18 15:06] infloop commented on #295
Hi, @panva

Ok, Thanks for the information and the fix.

[2018-06-18 15:08] #295 closed

[2018-06-19 09:38] eirslett opened #296 "Configuring the hostname the browser should connect to"
In a typical oidc setup, there will be communication: browser <-> app server, app server <-> oidc provider and browser <- >oidc provider.

A typical scenario would be for the server to communicate with the oidc provider with a different hostname than the browser. For example, the server might want to call `http://127.0.0.1/.well-known/openid-configuration` which will return `"authorization_endpoin

[2018-06-19 15:00] elendirx opened #297 "Common middleware for custom grant types"
While implementing custom grant types, I need to run some of the checks already covered by the authorization middlewares.

One example is checking for required OAuth2 params as covered in [oauth_required.js](https://github.com/panva/node-oidc-provider/blob/210e6a5c400c2a93b134f9981bf1e3419fd1ab25/lib/actions/authorization/oauth_required.js).

I have to either copy+paste it or directly require the

[2018-06-19 15:07] panva commented on #297
Ahoj @elendirx,

you may reuse any of the errors (they're exposed under `Provider.errors`) but not the middlewares. I'd like to avoid exposing middlewares since then i'm essentially making them a public API and mustn't make breaking changes in 'em.

Makes sense?

[2018-06-19 15:13] elendirx commented on #297
I expected this answer, because yes you're right about the maintenance, but I tried to ask anyway. :-) I'll copypaste, no problem. Thanks!

[2018-06-19 15:13] #297 closed

[2018-06-20 14:38] jpreese opened #299 "Session Find Returns New Session"
It looks like the .find() method within the Session class will always return a new session, even if a session is not found.

I noticed this in my app when the interactionFinished method (within provider.js) threw an exception when trying to set the Location header to interaction.returnTo

If you search for a session that doesn't exist, a new session will be returned to you with no data )which mean

[2018-06-20 14:40] SokratisVidros commented on #299
Does this happen in version 4.x.x or 3.x.x?

[2018-06-20 14:44] jpreese commented on #299
We're currently running 2.13.1 -- but looking at the current commit of session.js I would expect similar behavior.

[2018-06-20 14:50] panva commented on #299
I see.

Are you dropping the sessions from your storage before they're no longer needed? The thing is, these helpers look for these sessions inside `getInteraction` which first looks for the cookie and session.find requires an id (the cookie value) to load a session.

[2018-06-20 14:59] jpreese commented on #299
If the flow goes as expected, there isn't really an issue. After the interaction is completed, the session is destroyed within resume.js

The problem arises generally when users click the back button after being dropped on the landing page.

1. You begin the interaction on the login page, and a session is given to you.
2. Credentials are entered correctly, and you're redirected to the landing page

[2018-06-20 15:00] panva commented on #299
Thank you for these steps, very helpful.

[2018-06-20 15:39] panva commented on #299
When the user submits the form and you call finished you might as well clear the interaction cookie set for the interaction path. That will prevent this from happening. That's a good thing to do nonetheless.

[2018-06-21 07:29] alejandrogj opened #300 "Error getting interaction details"
Hello!

First of all, thanks for your work developing this package.

I'm using the example in the repo (https://github.com/panva/node-oidc-provider/tree/master/example) as a starting point.

When sending an auth request

`http://localhost:3000/auth?response_type=code&scope=openid&client_id=client1&redirect_uri=https://example.com`

i get this server error

[code]
in this part of the code

[code]
P

[2018-06-21 08:02] panva commented on #300
Running `MONGODB_URI=mongodb://localhost/test ISSUER=http://localhost:8000 PORT=8000 node example` works just fine for me.

How do you `run`/what command the example?

[2018-06-21 08:32] alejandrogj commented on #300
Apparently something was wrong with my client registered in the mongodb, i added this client manually in the "client" collection

I tried again using the "registration" endpoint and the authorization request redirects me to the "Sign-in" page.

Thanks for your quick response!

[2018-06-21 08:33] #300 closed

[2018-06-21 09:58] #296 closed

[2018-06-21 13:20] panva commented on #299
See #301

[2018-06-21 14:05] jpreese commented on #299
Awesome, thanks @panva! This is more in line with what I would expect the behavior to be.

[2018-06-21 14:20] alejandrogj opened #302 "Error validating client secret"
Hello!

I´m sending a token request with this data

[code]
The client secret in my mongo database is

`WiMwbPYlqiI+7pQ117wi3p9R078d1mDe/WM3GZtvdMy2I0YnQ/L8tOXshRV1bx8uu`

But after this line of code

https://github.com/panva/node-oidc-provider/blob/master/lib/shared/token_auth.js#L73

the "+" is removed from the client secret. Because of this the client authentication fails

Thanks for your time

[2018-06-21 14:28] panva commented on #302
https://github.com/panva/node-oidc-provider/releases/tag/v3.0.0

please make sure you encode your username and password tokens in the Basic scheme according to the standard

[2018-06-21 14:28] #302 closed

[2018-06-21 14:42] alejandrogj commented on #302
Awesome! When URL encoding username and password works like a charm

Thanks!

[2018-06-21 14:43] panva commented on #302
`URL encoding` is not the same as `x-www-form-urlencoded` but sure, depends on the characters in the secret (space in particular) :)

[2018-06-21 14:47] #299 closed

[2018-06-25 13:44] davidgtonge opened #303 "Subject missing in jwt access tokens"
Hi,

Thanks for the new feature to support jwt access tokens.
Currently the tokens are issued without any `sub` claim. The claim can still be introspected via the introspection endpoint, but I would have thought that it should be included in the jwt to allow for key based verification rather than introspection, however maybe there is a reason that you don't expose the subject?

If it is an oversig

[2018-06-25 13:56] panva commented on #303
definitely an oversight, can you submit a fix PR with tests?

[2018-06-25 13:57] davidgtonge commented on #303
ok, sure

[2018-06-25 15:33] davidgtonge commented on #303
not sure where the best place to write tests for this is?
maybe in  `base_token.test.js`? why do you think?

[2018-06-25 15:36] panva commented on #303
you can leave the tests to me, i'll create a test file for every format later.

[2018-06-25 16:23] panva commented on #303
Ahh, initially opaque was remapping claims to be stored from accountId to sub, from clientId to azp. But I removed that requirement.

[2018-06-25 16:43] panva commented on #303
Fixed in v4.1.1

[2018-06-25 16:43] #303 closed

[2018-06-26 04:17] davidgtonge commented on #303
Thanks

[2018-06-28 07:47] s-a opened #304 "How to close server instance?"
Hi. I tried to call `.close()` method of koa server which is returned from `.listen` method but the node instance is still running. Do I need to clean up other things like mongo db connection or something else?

[2018-06-28 07:50] panva commented on #304
And does the server close? (that one is interesting to me)

If your node process is still running this has nothing to do with the provider and just means you need to close connections or other processes that are blocking your event loop from closing. That's a node thing.

[2018-06-28 08:02] s-a commented on #304
`HTTP` services are not available anymore. `server.address()` returns `null`. So yes it is down. I am sure the problem is in my provider server code. But no idea where it hangs. So far it loads only the provider server code which is based on the mongodb koa example. I thought maybe I need to close database adapter.

[2018-06-28 08:41] s-a commented on #304
Thanks a lot. It took while for me to figure out how to access the client instance from the mongodb provider. After call `.close` method of the mongo client the server exits as expected. By the way your support here is amazing. Do you have some paypal address to receive a donation outer there?

[2018-06-28 08:41] #304 closed

[2018-06-29 21:35] amaciver commented on #181
Hello @panva. You are an amazing human.
Any plans for officially supporting custom TTLs in client metadata? Happy to go the overload route, but curious whether there is something that would dissuade you from making this a feature.

[2018-06-29 21:56] panva commented on #181
token ttl is an AS policy, can't be part of client's metadata that could be dynamically registered with. i've been toying with the idea of providing a helper function like with audiences to determine a ttl of a token at creation tho, when i have the time

[2018-06-29 21:58] amaciver commented on #181
great, thanks for the quick feedback! 🙇

[2018-06-30 09:11] s-a opened #305 "feature request: pass wanings to custom handler"
I get warnings like `NOTICE: a draft/experimental feature (backchannelLogout) enabled, future updates to this feature will be released as MINOR releases` which are very usefull! But they crash my unit test log. Does there exist a way to implement a custom handler so I can pass them through my logger instance?

[2018-06-30 10:45] panva commented on #305
Nope, seems a bit overkill for what is essentially just an overload of console.warn and console.info

https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/attention.js

[2018-06-30 10:45] #305 closed

[2018-06-30 13:06] panva commented on #181
Btw you can already play around with the token’s instance getter ‘expiration’ and implement such policies.

[2018-07-02 15:17] lfurzewaddock opened #306 "id string provided to database adapter is not a valid UUID"
Hi, I'm currently developing a massive-js adapter for PostgreSQL and testing it with the provided AdapterTest class.

The problem is the id value string generated by node-oidc-provider is a 48 character string, rather than a valid UUID (32 character, hyphen separated groups), so it is rejected by a PostgreSQL table using a 'uuid' data type for its 'id' column.

The 48 character string is generated

[2018-07-02 15:29] panva commented on #306
Hi @lfurzewaddock

The identifier is not a uuid, if you find a piece of documentation saying so, please let me know.

https://github.com/panva/node-oidc-provider/blob/v4.1.3/example/my_adapter.js#L26-L27

If you're working on an implementation today i also highly suggest to use the `opaque` storage format.
- [1] https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#formats

[2018-07-02 15:51] lfurzewaddock commented on #306
Thanks for your quick reply @panva.

It was just an assumption that the identifier format should be a UUID as it is to be used for a unique primary key.

Thanks for the tip RE: storage format.

Currently my use case is focused around supporting OIDC Implicit flow for web applications. In that scenario would you recommend using `jwt` storage over `opaque`?

[2018-07-02 16:05] panva commented on #306
Depending on your use case. But only for AccessToken, for other tokens thia never makes sense.

[2018-07-02 16:06] #306 closed

[2018-07-03 07:08] slavab89 commented on #189
I saw that this change was implemented in v4.
How would you suggest to distinguish between client_credentials tokens and "user" access token? One option would be to include some specific scope for the client_credentials that's not available to end users.. are there any other options?

[2018-07-04 10:45] endyjasmi opened #307 "Any plan to implement UMA2?"
As the title said, any plan to implement UMA2?

[2018-07-04 10:48] panva commented on #307
Not at this point, but something i can consider. Care to share the relevant specification(s)?

[2018-07-04 10:58] endyjasmi commented on #307
The working group page for UMA2 is located at https://kantarainitiative.org/confluence/display/uma/Home.

The spec can be found here https://kantarainitiative.org/confluence/display/uma/Specifications+and+Auxiliary+Documents

[2018-07-04 12:44] panva commented on #307
It's not something i'm going to pursue in the near future. If time allows and this changes i'll reopen and let you know.

[2018-07-04 12:44] #307 closed

[2018-07-09 09:29] matej-prokop opened #308 "Question: Implementing token exchange draft"
Ahoj @panva,

I would like to implement [token-exchange-draft](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-14) and use it in our API gateway. It matches use-case described within https://github.com/panva/node-oidc-provider/issues/211:

`4. have the API gateway contact the OIDC provider to exchange the access token given by the client SPA against a JWT, and add this JWT to the reque

[2018-07-09 09:38] panva commented on #308
Hi @matej-prokop,

1) the need for client_id comes from the client's registered token_endpoint_auth_method. In your linked example the client_id is sent through `Authorization: Basic cnMwODpsb25nLXNlY3VyZS1yYW5kb20tc2VjcmV0`, you don't have to worry about it.
2) This isn't possible out of the box, the defined format is global. You'll have to write a custom format then using the four available publ

[2018-07-10 09:07] matej-prokop commented on #308
Hi @panva, thank you. It is great to you replied so quickly.

ad 1) I totally missed that `Authorization` holds `client_id` so I was confused. It makes sense now.

ad 2) As I am in prototyping phase, I decided to workaround by issuing an IdToken (that is configured to be in JWT format) instead of AccessToken (and pretend that it is access_token) in order to test entire flow. I know it is hack but

[2018-07-10 09:16] panva commented on #308
Specific implementations are inevitable with Token Exchange, that's why it can never be shipped by default.

I'll be shipping a tiny improvement to the custom grant that will allow you to specify parameters which can be "duped" (in case of Token Exchange that'd be audience and resource).

[2018-07-10 09:16] #308 closed

[2018-07-11 14:19] jayeshnazre opened #310 "client_secret_jwt and private_key_jwt questions, no Key found"
Hi this is what I am trying to do. I am trying to use introspection endpoint to validate the access token using the token_endpoint_auth_method: 'client_secret_jwt'.
This is the configuration of my client provider, I am using the second client configuration for RP to validate my access token. The first array set is used for implicit flow.

[code]

I am using postman to submit the following http req

[2018-07-11 14:43] panva commented on #310
The client_secret `secret` is not of sufficient entropy to form non-padded key usable for HS256.

[code]

If you specify `introspection_endpoint_auth_signing_alg` on the client the secret length will be validated.

[2018-07-11 18:20] jayeshnazre commented on #310
Changing to long client_secret helped. Thanks panva. By the way great work on this node oidc provider.
  A few follow up questions:
Question 1: The spec wants the introspection claim "exp” as required. I am a bit puzzled by this specification requirement, as the RP (Relying Party) can send anything to the OIDC in that field with epoch value > current time. So what is the real use of that field is

[2018-07-11 18:54] panva commented on #310
Some resources that might help you, I don't really see the need for examples in the OP library since a client library should help you create those assertions.

- [spec] http://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication
- [op check implementation] https://github.com/panva/node-oidc-provider/blob/v4.1.3/lib/shared/token_jwt_auth.js
- [rp assertion creation] https://github.com

[2018-07-11 20:31] cymarechal opened #311 "Features: proper user consent | limited client scopes | multi-user sessions"
Hi,

I was looking at multiple features Google OIDC implemented, as it would probably be a great idea to get inspired by it.

1. **Proper user consent** (I personally consider this one as a bug)
Now, user consent seems to be client-based. I can first ask for very basic scopes:

If the user accepts it, I can then ask for very sensitive scopes without any interaction from the user:

I believe that u

[2018-07-12 05:31] cymarechal commented on #311
Perfect, thanks!

[2018-07-12 05:31] #311 closed

[2018-07-12 11:28] jayeshnazre commented on #310
Thanks for your inputs - @panva. I will like to still continue with the questions based on just using oidc-provider as a server side option for OIDC, assuming the client can be written in any other programming language. With that in mind, I went along using private_key_jwt option for client side to validate the access_token through introspection endpoint. I have a few questions hopefully you can s

[2018-07-12 11:39] panva commented on #310
You have two ways of letting the OP know of the public keys
`jwks_uri` or `jwks` client properties (see property definitions in [Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html)

Either of these can yield multiple keys (see `keys` being an array?), you might as well register more clients. It depends on what you feel is right.

[2018-07-12 11:41] panva commented on #310
And since i can see legacy token format being used...

If you're working on an implementation today i also highly suggest to use the `opaque` storage format.

- [1] https://github.com/panva/node-oidc-provider/blob/v4.1.3/docs/configuration.md#formats
- [2] https://github.com/panva/node-oidc-provider/blob/v4.1.3/example/my_adapter.js

[2018-07-12 14:23] jayeshnazre commented on #310
@panva
Thanks for responding. My apologies for not doing a good job of formatting and I just realized that when I format in word and copy paste the same. the rich text box template capability in this site does not retain the styles – as usually ms-word.
Just so I understand, I am assuming that what I am doing in terms of using private keys RP end to sign and using public keys at OIDC end to verify

[2018-07-12 14:29] panva commented on #310
How else would you do it? expose your public so that it may be used to verify what you sign with private.

ad jwks_uri) yes, this is so that you can easily rotate your keys without having to reconfigure the clients on the OP.

[2018-07-13 06:28] #310 closed

[2018-07-13 07:11] MichaelCastiau commented on #228
I would actually really appreciate Typescript support for this library. Working in a production environment with virtually every node app in written in Typescript, it is a pain to have to move back to a library that only supports plain JavaScript (aka no intellisense support).

Notably, you are confronted with the fact that most popular libraries (I'm thinking of Express, Nest, Node itself, view e

[2018-07-13 07:36] panva commented on #228
Hello @MichaelCastiau

TLDR; Very simply put, while I'd love to see this to be a ts library, I just don't have the bandwidth to take something like this on to myself and myself only, neither am I willing to take the spare time I can devote to new features to just ts refactoring and learning the ts ecosystem.

I welcome each and every one's contribution to take the time and either write and maintai

[2018-07-13 12:16] ulrikstrid commented on #228
I could post my super incomplete bindings if needed.
Converting the whole codebase to typescript feels like a huge feat and will take a long time, especially if you don't know all the types. There are some things in the codebase like returning class definitions from functions that are really hard to type

[2018-07-13 17:09] skeltonm opened #314 "`expiresIn` argument is either seconds or timestamp"
Since version 4.0.1, the `expiresIn` argument to the adapter `upsert` function either is a value in seconds, or a epoch timestamp.  This changed with [this commit](https://github.com/panva/node-oidc-provider/commit/23172dbd8b4f49d65e1c8222c516da7393f97313#diff-1c25f2af06a7bfd6c36abff0f88b9a2b).

This is problematic since there is no marker showing if the value is seconds or a timestamp.

Should th

[2018-07-13 17:44] panva commented on #314
Just for session, right? Everywhere else its fine, isnt it?

[2018-07-13 17:53] skeltonm commented on #314
From what I have observed, yes.  It is only affecting session.

[2018-07-13 17:56] panva commented on #314
and only in `provider#interactionFinished()` helper. I'll have a fix shortly.

[2018-07-13 17:56] skeltonm commented on #314
Thanks!

[2018-07-13 18:09] #314 closed

[2018-07-13 18:10] panva commented on #314
thank you for reporting this!

[2018-07-13 19:20] #228 closed

[2018-07-16 12:39] cymarechal opened #315 "Inconsistent mountPath"
provider.js (line 120):
`instance(this).mountPath = url.parse(this.issuer).pathname;`

`http://localhost/OIDC` -> `/OIDC`
`http://localhost/OIDC/` -> `/OIDC/`

provider.js (line 196):
`return [mountPath !== '/' ? mountPath : undefined, routerUrl].join('');`

May return `/OIDC//auth/:grant:`, which is not a valid URL.

[2018-07-16 12:44] panva commented on #315
Don't mount 🤣, no really, thanks for the report @cymarechal, would you be able to write a failing test and submit a fix? Else, i'm happy to look into it when there's time.

[2018-07-16 12:57] cymarechal commented on #315
I'm on it! 👍

[2018-07-17 09:12] codestorycooked opened #317 "registration_access_token - Revoked"
Hi @panva

The standard mentions:

   with HTTP 401 Unauthorized and the registration access token used to
   make this request SHOULD be immediately revoked. (https://tools.ietf.org/html/rfc7592#section-2.1)

We can see that a `registration_access_token` is revoked(destroyed) when an incorrect `client_id` is provided for an GET/UPDATE/DELETE of a client => https://github.com/panva/node-oidc-provi

[2018-07-17 09:36] panva commented on #317
Hi @codestorycooked

Error returned is `invalid_token`. The above is just a description.

Two, actually. Choose the one that suites you best. The even route does not block the response sent to the caller, the middleware one might.

1) [README](https://github.com/panva/node-oidc-provider/blob/v4.3.0/README.md#events), [EVENTS](https://github.com/panva/node-oidc-provider/blob/v4.3.0/docs/events.md)

[2018-07-17 09:48] #317 closed

[2018-07-17 14:18] s-a opened #318 "server_error (oops something went wrong)"
I regularly get the following error message while login process.
The thing is that there does not apear an error on the oauth server. The client log looks like:

[code]

Where line 83 in app.js is

[code]

in the following code

[code]
From this point no login is possible anymore also no logout I guess every oauth process method is broken at this point.

I figuered out that it resolves the error t

[2018-07-17 15:18] s-a commented on #318
Thanks for the hint. I missed the the `DEBUG` config section. This provides detailed error log. I see now I made mistakes in code.

[2018-07-17 15:18] #318 closed

[2018-07-18 01:23] jpreese opened #319 "Assistance: Upgrading from 2.13.1 to 4.1.2 (Introspection)"
We're trying to upgrade from 2.13.1 to 4.1.2 and are encountering a strange issue. Our primary application, using implicit flow, works just fine. No issues with the upgrade. Another one of our apps, using client_credentials, also works just fine.

We do have one app that uses introspection however, and this no longer seems to work. Digging through the web logs, it's always returning an HTTP 400. I

[2018-07-18 05:02] panva commented on #319
Hi.

Do you have Logs? The response json? Which steps have you taken to figure the problem out so far?

[2018-07-18 05:06] panva commented on #319
I’m betting on the 3.x breaking change in fixing client_secret_basic authentication.

[2018-07-18 14:13] panva commented on #319
I'm going to go ahead and close this as there's no issue so far. If you have a client that's sending invalid client_secret_basic or sending auth a different way than is specified by whatever auth method it's using it needs fixing. If you find issues feel free to report them.

To help you debug use DEBUG (see readme) or register a handler for `introspection.error` event (see events)

[2018-07-18 14:13] #319 closed

[2018-07-18 20:11] deepaksrgm2010 opened #321 "Allow http in client redirect uri"
OIDC spec, https is required for client redirect_uri if grant type is implicit. But support redirect uri with http schema would useful for testing(for integration and e2e tests). Would grateful for such a feature.

[2018-07-18 20:46] deepaksrgm2010 commented on #321
Cool.  Thank you :D. Should have seen closed issues.

[2018-07-19 19:09] jpreese commented on #319
Just to keep you up to date, we're thinking it has to do with decodeAuthToken(). One of our secrets throw a URI malformed error.

[2018-07-19 19:11] panva commented on #319
That's what i kept saying

This was 3.x fix

[2018-07-19 19:14] jpreese commented on #319
Yep! We just weren't exactly sure with which piece. We just got to a point to where we can actually see the error being returned.

Testing in a chrome browser, we can see it's throwing an exception. So we'll need to change our secrets.

Is there a standard way of generating secrets? We were just using

Which apparently isn't going to work

[2018-07-19 20:15] panva commented on #319
Why would it not work? Just encode the username and password tokens according to the standard.

[2018-07-19 20:22] jpreese commented on #319
The secret had a % in it, which causes the decodeURIComponent() method that was introduced to throw an exception. So going forward, we just need to make sure the generated string doesn't throw an exception in this method.

[2018-07-19 20:36] panva commented on #319
No, you need to [encode your id and secret values into the basic header](https://github.com/panva/node-openid-client/blob/v2.2.1/lib/client.js#L864-L868) according to the spec. Just try and understand and implement it or get a well behaved client to do this for you.

Or switch to client_secret_body if you can't form url encode the tokens.

[2018-07-22 14:43] patrickmichalina commented on #228
Is this a feature you would support @panva if someone were to do it?

[2018-07-22 14:47] panva commented on #228
I’d like someone to commit to contributing and maintaining the types for the API that’s public, yeah. A ts rewrite, no.

I can point out the public methods (something i wanted to do a long time now).

[2018-07-24 09:13] marc0s commented on #28
Sorry to bump this one after so long, but I'm doing some tests before adopting `node-oidc-provider` and have a similar problem while implementing the `password` grant (which sadly we still have to support) as indicated in the docs https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#custom-grant-types And I didn't found the issue you asked to open.

I couldn't find no indi

[2018-07-24 09:19] panva commented on #28
You don’t have to make any changes to client schema. Just register the grant before initialize (should you still use static clients not in your adapter store).

[2018-07-24 09:55] marc0s commented on #28
@panva thanks a lot, I was registering it on the `initialize().then(` block.

[2018-07-24 09:59] panva commented on #28
There you go. You’re welcome.

[2018-07-24 13:15] kaito3desuyo opened #322 "example/adapters/sequelize.js not working on MySQL"
Hello.
Excuse me again.

I tried using sequelize adapter with sqlite. This was successful.
However, changing the setting to mysql will generate an error.
[code]
it was unhandledRejection, we observed with ```process.on('unhandledRejection', console.dir);```
The errors are as follows.

[code]

Is there any solution?
Thank you

[2018-07-24 18:20] panva commented on #322
Sorry, unfortunately something i can not help with. Adapters are userland to me :)

[2018-07-24 18:20] #322 closed

[2018-07-24 19:51] amaciver opened #323 "Promise.all in redis.js#destroy example"
**Describe the bug**
https://github.com/panva/node-oidc-provider/blob/master/example/adapters/redis.js#L87
should be `await Promise.all(deletions)` ?

[2018-07-24 22:05] panva commented on #323
Definitely. Can you submit a fix?

[2018-07-25 10:07] acodercat opened #324 "fuck doc"
fuck doc

[2018-07-25 11:38] panva commented on #324
PRs always welcome.

[2018-07-25 11:38] #324 closed

[2018-07-25 14:26] skeltonm opened #325 "Duplicate and unnecessary adapter calls"
While using this package, I was noticing some speed issues when testing it on local.  As it turns out, there was another issue unrelated to this package, but because of that issue, I logged the adapter calls this package makes during the login process.

I am using the Authorization Code Flow and shown below is a list of the 5 routes on the IdP that are called during this process as well as the ada

[2018-07-25 14:41] panva commented on #325
Hi @skeltonm

Can you trace the calls down to the caller and eliminate any that come from userland (interactions)? I will take a peak at this after my holidays.

[2018-07-25 18:50] skeltonm commented on #325
@panva The only change we have to your example that causes extra database interactions is the (get account 8f07862... in /interaction/7b95bf7c.../login).  In your example, you are just storing the logins in a `Map` so there isn't a call to a database to get a user.

Everything else works just like your example.

[2018-07-25 19:01] skeltonm commented on #325
Here is the logs of routes and adapter calls using the basic provider setup code as shown in the readme of this repo.

**/auth**
get 7132c180-b671-4e51-b194-20b56bab791f
upsert 656d936c-798b-4534-8681-3028d58aae52
upsert 7132c180-b671-4e51-b194-20b56bab791f

**/interaction/656d936c-798b-4534-8681-3028d58aae52**
get 656d936c-798b-4534-8681-3028d58aae52

**/interaction/656d936c-798b-4534-8681-3028d5

[2018-07-25 19:15] skeltonm commented on #325
Here is the logs of routes and adapter calls using the basic provider setup code as shown in the readme of this repo.

**/auth**
get Session 8316e19a-02c1-4fef-bfd3-f20102a8c2f3
upsert Session 856b5ea9-085a-44c9-95a2-c69febe4d595
upsert Session 8316e19a-02c1-4fef-bfd3-f20102a8c2f3

**/interaction/856b5ea9-085a-44c9-95a2-c69febe4d595**
get Session 856b5ea9-085a-44c9-95a2-c69febe4d595

**/interactio

[2018-07-25 19:21] panva commented on #325
I’m not sure what you’re getting at it with the redirect. Its not extra. It’s there by design.

[2018-07-25 19:34] skeltonm commented on #325
What is the purpose of that redirect the /auth/856b5ea9... after the user submits the login form?

[2018-07-25 19:39] panva commented on #325
As far as interactionFinished goes it does exactly what it should, loads the interaction session, upserts with the results and hands off the request to the resume path where the request middlewares take over.

Looking at the code i don't see any duplicate finds, so please post your adapter with the logging code in it to verify your results.

To end the user interactions and finish the authorizatio

[2018-07-25 22:36] amaciver opened #327 "Value of ctx.query after middleware"
**Describe the bug**
Hello, wondering if you have any advice:

I have inserted middleware to change a value of `req.query` in my express middleware stack (also have tried using `provider.use` both before and after `initialize`)

I can see that the value has changed throughout my middleware stack, but by the time it gets to `get_params.js`, I have verified that the value of `ctx.query` is the origi

[2018-07-25 22:41] panva commented on #327
The answer is in knowing the frameworks and how they parse and handle querystrings. Changing `req.query` in express really just changes some arbitrary parsed object express is handling for you. By the time the req reaches the provider and `koa` it's going to use it's [own parsing](https://github.com/koajs/koa/blob/2.5.2/lib/request.js#L196-L199) of the original request object's req.

[2018-07-25 22:41] #327 closed

[2018-07-26 05:41] stephen1706 opened #328 "How to get access token by exchanging authorization flow"
So i'm implementing the authorization flow, i'm able to get the authorization code using this client
request url
http://localhost:3333/auth?client_id=test_code&redirect_uri=https:%2F%2Ftestapp%2Fsignin-oidc&response_type=code&scope=openid%20profile&nonce=123&state=321

response
https://testapp/signin-oidc?code=MmZiOGE4N2YtYzM3YS00OWZiLTk5MTQtMDllNjBmOWY3ZGM5lbxoHX-_noVH0L6CNKi-0xfSxQgrLadyn-Oaa8op

[2018-07-26 05:51] #328 closed

[2018-07-26 13:13] skeltonm commented on #325
You can the adapter I used for testing [here](https://gist.github.com/skeltonm/f7580f09c0f84978e0ed83606a9dbcf2).  It is just the default memory adapter with the storage calls called through helper functions to enable the logging.

[2018-07-26 13:44] skeltonm commented on #325
I tracked down where the duplicate calls are coming from.

First, the duplicate session get.

The first call occurs when finding the interaction session during the resume process ([see here](https://github.com/panva/node-oidc-provider/blob/master/lib/actions/authorization/resume.js#L20-L23)).  The second call occurs when destroying the interaction session ([see here](https://github.com/panva/node-

[2018-07-26 14:11] panva commented on #325
Just as I suspected. Those second calls arent coming from adapter#find. You’re logging them as such but they arent.

[2018-07-26 14:14] #325 closed

[2018-07-27 03:42] stephen1706 opened #329 "create a refresh token for password grant type"

[2018-07-27 08:31] panva commented on #329
Since you asked in another issue how to complete a regular oauth flow i feel i have the responsibility to point this out here. Please don’t implement ‘password’ grant type. Its really terrible anti-pattern.

[2018-07-27 09:34] stephen1706 commented on #329
@panva is there any hybrid implementation supported in this library? what i want to achieve is actually using the authorization flow, but i don't want the client to open a web redirect, i want to use an authorization endpoint instead (via api). is it possible?

[2018-07-27 09:39] panva commented on #329
Sorry, you're looking at OpenID Connect, a standard, a well recognized one. All existing federation specs rely on redirects and handing off the user away. If you need API auth and hope that oidc/oauth2 ropc makes that an okay move, you're unfortunately mistaken.

[2018-07-27 15:47] pkeuter opened #330 "id_token does not include claims other than sub claim when response type is "id_token token""
First, thanks for this awesome lib!

When specifying response type `id_token token`, the scope will be set to fixed `openid` instead of `openid <claims>`. The "problem" seems to be here: https://github.com/panva/node-oidc-provider/blob/master/lib/actions/authorization/process_response_types.js#L73

I am not 100% sure if this is the expected behavior, but I would say that when I ask for an id_token

[2018-07-27 18:11] spruce-bruce opened #331 "My session is still remembered when calling interactionFinished, setting remember=false (v2.18.2)"
**Describe the bug**
I have a feeling this is in fact user error... but here we go. One important note: I'm still on 2.18.2. I see this in the release notes for 4.0.2 `fixed the remember=false option to apply to client session state cookies too` and perhaps the solution to my problem is to update?

When I log in everything is good.
If i then redirect my user back through the auth workflow the prov

[2018-07-27 19:07] panva commented on #330
Only response types not ending up with an access_token (`id_token`) have end-user claims in the id tokens. Otherwise you're supposed to fetch them with the access token. This is the Core 1.0 spec behaviour.

As seen in the code and defaults this was not the case until v4.1.0 with the (by default off) `conformIdTokenClaims` feature flag. In future major (v5.x) updates this will be flipped to on by

[2018-07-27 19:07] #330 closed

[2018-07-27 19:09] panva commented on #330
The relevant part of the spec is http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims
Read very carefully and you'll see requesting claims through the scope parameter only adds these claims to userinfo unless the response_type is `id_token` in which case they're added there.

[2018-07-27 19:11] panva commented on #331
Hi @spruce-bruce

That is a wrong expectation, remember true/false defines whether the session cookie is transient (session) or persistent.

[2018-07-27 19:30] spruce-bruce commented on #331
Ah, I didn't understand that completely, thanks.
Is it possible to configure the provider to not maintain a cookie at all, thus forcing the user to always reauthenticate every time?
I think I can accomplish this in my adapter by just choosing not to store the session, but I'm unsure of what side effects that might cause.

[2018-07-27 19:33] panva commented on #331
Nope.

I think you'll have to distinguish between interaction and regular cookies and I am not sure what the side effects might be either.

[2018-07-27 19:33] #331 closed

[2018-07-27 22:16] pkeuter commented on #330
@panva I see. Thanks for the clarification! It's actually stated pretty clearly in the spec.

[2018-07-27 22:36] panva commented on #330
Well. Up until a few releases ago I didn’t realize, hence the feature flag ;)

[2018-07-29 09:19] acodercat commented on #324
sorry

[2018-07-30 02:14] stephen1706 commented on #329
@panva so everything has to go a web redirect even though the client is a mobile app, meaning the app have to open a webview is it?
http://openid.net/specs/openid-connect-core-1_0.html#HybridFlowSteps

[2018-07-30 03:00] stephen1706 commented on #329
@panva and does the login web page we open currently, is it possible to customize it based on the client id?

[2018-07-30 07:49] panva commented on #329
See [BCP - Native OAuth 2.0](https://tools.ietf.org/html/rfc8252) and its implementations for ios and android on https://appauth.io

As far customization goes - you will have to code the complete end-user interaction yourself anyway (login, reg, pw reset, consent and so on) so style and customize it however you wish.

[2018-07-30 07:58] acodercat opened #332 "I want to modify the error body JSON"
**Is your feature request related to a problem? Please describe.**
I want to modify the error body JSON

[2018-07-30 08:02] stephen1706 commented on #329
@panva after seeing the docs section 4.1 and the demo appauth seems it also need to open the webview. i suppose there is no scenario that does not have a web redirect unless password grant. thanks!

[2018-07-30 08:11] panva commented on #332
Docs. https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#pre--and-post-middlewares

[2018-07-30 08:11] #332 closed

[2018-07-30 08:31] acodercat commented on #332
[code]
Cannot read property 'route' of undefined

[2018-07-30 08:33] acodercat commented on #332
sorry  i find it ,but i canot get error, i want in the middleware  modify the error body JSON

[2018-07-30 08:45] acodercat commented on #332
please!!!!!!

[2018-07-30 09:23] panva commented on #332
ctx.request, ctx.response, ctx.body, ctx.status => https://koajs.com

You’ve got the answer.

[2018-07-30 09:29] panva commented on #332
If you can’t get the hint and use the tools already available that can do what you want then i can’t help you any further.

[2018-07-30 09:33] panva commented on #332
For those passing by.

[code]

[2018-07-30 10:13] acodercat opened #333 "cannot catch error"
**Describe the bug**
https://github.com/panva/node-oidc-provider/blob/master/example/index.js#L65

here code cannot catch error

[2018-07-30 10:22] panva commented on #333
Based off this description i find it impossible to help you. You’re linking an example, that example works as intended, no bug to be seen.

It seems you’re resolving to opening issues before troubleshooting or trying to understand the code or examples yourself. Please refrain from doing so again.

[2018-07-30 10:22] #333 closed

[2018-07-30 10:34] acodercat commented on #333
https://github.com/panva/node-oidc-provider/blob/master/example/index.js#L63
I tried it.

the middleware not run
[code]

[2018-07-30 10:38] panva commented on #333
router.use? This is not provider middleware. Its for the router and its actions only.

[2018-07-30 10:43] acodercat commented on #333
i want catch error
That's not good.
[code]

[2018-07-30 10:47] panva commented on #333
There's no throwing from `await next()` in oidc-provider, all errors are handled to return valid codes and responses (even uncaughts).

Hence this:

[2018-07-30 10:51] acodercat commented on #333
That is, I can't get the error?

[2018-07-30 10:51] acodercat commented on #333
thanks

[2018-07-30 10:53] acodercat commented on #333
i see https://github.com/panva/node-oidc-provider/issues/317   You can mention it in this.

[2018-07-30 11:13] acodercat commented on #333
please

[2018-07-30 11:17] P4sca1 opened #334 "Use case of grant ids"
I'm trying to understand what's the use case of grant ids. I read that tokens with the same grant id belong together, so does an access token, a refresh token and an id token generated with the same /token call have the same grant id? Also, in how far is it necessary for security? Are there any official resources about the use of grant ids?

[2018-07-30 11:51] acodercat opened #335 "Thank you very much for your module node-oidc-provider"
Thank you very much for your module node-oidc-provider.
I'd like to make a few suggestions here for you:
1. We want to not handle HTTP exceptions inside Node-oidc-provider, just throw exceptions

2. Make Node-oidc-provider try not to be coupled with KOA or express.

We now want to develop based on Node-oidc-provider, but we can't catch exceptions for processing. thanks~

[2018-07-30 11:59] panva commented on #335
I don’t get the need to *catch* exceptions. If you just need to debug your own code look at the debugging section in the readme.

Otherwise exceptions are handled the way the protocol dictates and I won’t consider it any other way.

oidc-provider is written using koa, if you’re going to write custom code it might be useful to know koa but in general for interactions you can write them in whatever

[2018-07-30 11:59] #335 closed

[2018-07-30 13:02] P4sca1 commented on #334
Alright, that makes ist clear. Thank you!

[2018-07-30 13:02] #334 closed

[2018-07-31 00:09] bzuillsmith opened #336 "Client name limitation using the MongoDB Adapter"
I am building a full example of connecting a native app to a node js server running this library with the MongoDB adapter. I noticed that if the client name has a `.` then a server_error occurs while upserting the authorization code.

`{ _id: 'be4238b5-a6a6-4069-8178-8b944366a6a1',
  expiresAt: 2019-07-31T05:56:57.855Z,
  account: '00000000-a2ad-41a9-a4cf-93a8b7e13d5a',
  loginTs: 1532995017,
  au

[2018-07-31 05:49] stephen1706 opened #337 "how to create registration page"
i'm following the sample step by step successfully, now i want to add a custom web page for sign-up.

I added this code :
[code]

registration button :
[code]
is it allow to add custom page in the oidc provider such as sign up, forget password page?

[2018-07-31 07:55] panva commented on #337
oidc-provider does not care in what form you finish interactions, with a reg or a login, with or without mfa - don't care.
Don't forget basic principles in developing your interactions tho - csrf prot, conditional captchas and brute force protection - that's all up to you.

[2018-07-31 07:55] #337 closed

[2018-07-31 07:57] panva commented on #336
A nice catch but not really a bug, it's an example - not a 100% bullet-proof codebase that i'm pointing anyone to use. If you wish please submit a PR with a comment code in it that suggests workarounds.

[2018-07-31 07:57] #336 closed

[2018-08-01 08:04] panva commented on #337
Use the interactionUrl helper and cookies short configuration to direct the interactions to this service and load/save data and redirect back in a similar manner the interactionDetails and interactionFinished provider instance methods do.

[2018-08-01 11:26] P4sca1 opened #338 "Adapter test fails: expected code to be found"
I wrote my own mongodb adapter using mongoose but it fails with the message above. I tried to find out why a saved authorization code can't be retreived using the find method and I came across this assertion error:

[code]

This is the stored authorization code that it fails to find (it exists in the database, seems to be a jwt issue?):

[code]

Is there something wrong with my key store?

[2018-08-01 11:29] panva commented on #338
Would have to see the adapter. But please try to see how the example one is handling this.

[2018-08-01 11:31] P4sca1 commented on #338
I used the example adapter as a guideline, here's my code:

[code]

[2018-08-01 11:49] P4sca1 commented on #338
Okay I was able to trace the problem down to the opaque verify function not getting the payload but the whole token object. It gets this
[code]

instead of this

[code]

which is why verification fails.

[2018-08-01 14:06] panva commented on #338
Also your other methods refer to payload.

[2018-08-01 14:51] panva commented on #338
In other words, you can choose your data model but what comes in to upsert’s second argument is what needs to come out of find. You can “payload” the thing but transform it on the find. And make sure consumed is returned too in the same manner.

[2018-08-01 15:17] P4sca1 commented on #338
Okay, everything is working now. I switched from mongoose to the default mongodb client, as mongoose is not very useful in this case. Thank you for your help!

[2018-08-02 02:45] sihunqu123 opened #339 "Scope can be changed after user logged in."
This is my scenery

**prerequisite**:
grant_type: code.
OIDC defined scope: A B C D.
registered RP: clientA.
user(the browser): userA.

**steps to reproduce this bug**:
1. userA click login link on clientA.
2. clientA redirect userA to OIDC server's authorization with requested scope 'A B', which result to a login page.
3. userA logged in and consent for scope 'A B'.
4. OICD redirect userA to clie

[2018-08-02 07:00] panva commented on #339
See #311

I didn’t want this cookie or session based. I’d rather have you track accepted scopes backend wise and use the interactionCheck helper function to request consent if scopes change. Seeing this re-occur tho I agree with the point that some default way of this should be baked in. Probably session based.

I’d also like to point out that thinking of just scopes is invalid. Claims need to be

[2018-08-02 09:43] stephen1706 commented on #337
@panva when i redirect back from website after user input credentials, it need to call the interactionDetails to get the client id, etc, seems it need to looks for the cookies. do i need to pass all the cookies to the login website? or is there any other way to authenticate the session other than using cookies?

[2018-08-02 09:50] panva commented on #337
The cookie and the url can be used to cross-check-validate the user-agent and based on that load the details from your adapter. In a similar matter then save before redirecting back to the provider. The functions don’t do anything else special.

[2018-08-02 17:41] panva opened #340 "accepted Scope and Claim tracking"
Tracking progress here, discussion welcome.

- [x] it should be possible to return interaction results with less claims
  - something along the lines of interaction result object's `consent.rejectedClaims` property (`Array[String]`)
- [x] it should be possible to return interaction results with less scopes
  - something along the lines of interaction result object's `consent.rejectedScopes` proper

[2018-08-03 12:10] P4sca1 commented on #340
What is meant by non-system claims?

[2018-08-03 12:15] P4sca1 opened #341 "Error when using signed cookies with mounted oidc-provider"
When mounting oidc-provider to a koa (express is most likely also affected, not tested) application, it has problems with signed cookies. I was able to fix the issues by doing this in my koa application:

[code]

Is this intended? If so, we should add it to the documentation.

[2018-08-03 12:42] panva commented on #341
Yes, but if you're working with koa you know to set the keys on your instance, and then set the same ones on the provider too.

[2018-08-03 12:42] #341 closed

[2018-08-03 12:43] panva commented on #340
e.g. given_name, email. Essentially every other claim than the system ones mentioned above.

[2018-08-03 12:59] codestorycooked opened #342 "Refresh Token not returned in Authorization Grant Flow."
Hi,
I am not able to get refresh_token back in authorization grant flow.

I registered client with following parameters:

[code]

Made a request with:

[code]

I have provided `offline_access` but server does not returns refresh_token.
More Info:
`alwaysIssueRefreshToken` is set to default value.
library version: 2.5.0

[2018-08-03 13:04] panva commented on #342
Try with a properly encoded authorization request.

[code]

[2018-08-03 13:05] #342 closed

[2018-08-03 13:10] codestorycooked commented on #342
I have decoded string for readability in this issue. Yes, I have enabled offline_scope and can see that on wellknown endpoint.

[2018-08-03 13:55] panva commented on #342
This is a well-tested core feature. I'm 100% sure something's wrong with your setup or in where you expect the refresh_token to be returned.

1) goto https://tranquil-reef-95185.herokuapp.com
2) select `with_refresh` client setup
3) login
4) refresh token is returned from the token endpoint

[2018-08-03 13:59] panva commented on #342
Ah yeah, that's it - you're missing `prompt=consent`.

[2018-08-03 18:36] panva commented on #339
I’ll be tracking this in #340. Please subscribe to that one for updates.

[2018-08-03 18:36] #339 closed

[2018-08-03 18:36] panva commented on #311
I’ll be tracking a subset of this in #340. Please subscribe to that one for updates.

[2018-08-04 13:58] panva commented on #215
I've implemented some more sanity checks for the message format and the message origin check in 6c27f10.

Note that this does not follow the current normative requirement since that one is not possible with the same-origin restrictions in current browsers but does at least provide some sanity check to avoid sending 'changed' when it should be 'error' if the origin is clearly not allowed.

[2018-08-05 12:04] panva commented on #340
revised the MVP

[2018-08-06 03:04] sihunqu123 commented on #340
Hi @panva, thanks for your quick reply. The suggestion of using interactionCheck is
really helpful, and I'am working on it now. For the 2nd suggestion,
_I didn’t want this cookie or session based._
does it mean we should NOT store scope value(that user agree to grant client) in ctx.oidc.session?

[2018-08-06 06:44] panva commented on #340
I mean my preference would be that you track this somehow on your own if it should persist (for confidential clients) across sessions. My built-in solution that i’m working on will have this on the session anyway.

[2018-08-06 07:03] panva commented on #340
progress in https://github.com/panva/node-oidc-provider/tree/feat/scope-claim-tracking

[2018-08-07 17:57] amaciver opened #343 "Specify a set of cookies that will be sent with every redirect."
**Is your feature request related to a problem? Please describe.**
I would like to send a custom set of cookies to the InteractionURL, beyond those defined in cookies.names. These cookies would be part of the original request, or set on the proxy level, and I would like them to be sent to the IdP. We are setting up a canary cluster and would like traffic to be faithfully routed across an entire fl

[2018-08-07 18:03] panva commented on #343
How about a custom middleware to set your cookies whenever you want? https://github.com/panva/node-oidc-provider/blob/v4.5.0/docs/configuration.md#pre--and-post-middlewares

[2018-08-07 18:12] amaciver commented on #343
Thanks for this suggestion. I will go that route.

[2018-08-07 18:12] #343 closed

[2018-08-08 08:06] stephen1706 commented on #337
@panva so after i press submit in my reactjs website, it will call an api (/interaction/:grant/login) in the provider that will trigger interactionFinished, but since i call the api using fetch library, it cannot open the web redirect in my external website, it will just redirect in the background and i cannot fetch the code. is there an particular way i should call the interactionFinished from ex

[2018-08-08 08:11] panva commented on #337
Finish your interactions (call interaction finished or just manually set the results on the interaction details object) and then in whatever manner you have available redirect back to the resume endpoint. Just calling interactionFinished is not going to give you the code, you must redirect the user-agent to resume. No other means of finishing the authorization request is supported.

[2018-08-09 03:10] sihunqu123 commented on #340
Hi @panva, appreciate for your quick code action. Currently, **session based** is already enough for my case. Now I can see these code changes on branch scope-cliam-tracking, and that's what we really want.

[2018-08-09 07:40] stephen1706 opened #344 "public key for jwt access token and id token"
how do i get the public key for my other service to verify the signature of the generated access token and id token? i generate the keystore.json using your step by step tutorial. not quite sure which one is the private and public key since the field name is only 1 character like e,n,d,etc

[2018-08-09 08:15] panva commented on #344
Fetch them from the provider's `jwks_uri`.

Please refrain from asking generic "how do i OIDC" in the future, contrary to popular belief this is not an oidc support tracker but an issue tracker for oidc-provider. Thank you.

[2018-08-09 08:15] #344 closed

[2018-08-09 15:24] panva commented on #340
@sihunqu123 cool, but it'll take some time for me to ship, as-is it's not finished and i'm not happy with it to ship just yet.

[2018-08-10 06:30] stephen1706 commented on #337
@panva for the authorization endpoint, my base url is not a plain example.com/auth instead it is example.com/something/auth because the use of load balancer. when i open the page, it does not redirect to example.com/something/interaction/:grant, but instead it redirect to example.com/interaction/:grant. how to change this behaviour?

[2018-08-10 06:37] panva commented on #337
It is literally mentioned in the docs section linked above.

[2018-08-10 09:08] lomboboo opened #345 "Question: Auth0 rules"
First of all, thank you for all the work you've done here. This is a great project.

I'd like to ask a question related to [auth0 rules feature](https://auth0.com/docs/rules/current).
As far as I understand there is no such a thing as *rules* in the OIDC specification. Is there any way I can imitate this feature using node-oidc-provider?

[2018-08-10 09:14] panva commented on #345
`interactionCheck` configuration option, `meta` returned in the interaction results object and the fact that interactions are completely standalone should do it.

[2018-08-10 09:30] lomboboo commented on #345
@panva thank you for your quick response. Indeed `interactionCheck` looks to do the job.

[2018-08-10 09:40] #345 closed

[2018-08-10 23:19] SamMcKay opened #346 "Custom JWT payload"
Hi @panva

Great work on this library. It is fantastic and constantly getting better.

Can you suggest an appropriate method to customize the payload of a jwt access token?

I would like to embed a users roles within the token itself.

Thanks

[2018-08-11 06:31] vikas-ss opened #347 "Implementing two factor authentication"
Hi,

I would like to know, currently is there a provision to implement (or already implemented in-built) two (or multi) factor authentication using email or google authenticator in this provider.

Kindly guide me any links or tutorials if it is already there or how should I achieve it with current setup.

[2018-08-11 06:36] panva commented on #347
No end-user authentication interactions are bundled in this library. This is a protocol implementation and whenever end-user interaction is needed the request is offloaded to your own flows that you implement.

That being said, MFA can be a part of your signin process you just have to implement all of the auth yourself.

[2018-08-11 06:36] #347 closed

[2018-08-11 06:38] panva commented on #347
https://github.com/panva/node-oidc-provider/blob/v4.5.0/docs/configuration.md#interaction

[2018-08-11 07:49] panva commented on #346
I think working with the public BaseToken API is your best shot.

https://github.com/panva/node-oidc-provider/blob/v4.5.0/lib/models/base_token.js#L130

[2018-08-11 07:49] #346 closed

[2018-08-11 08:58] acodercat opened #348 "password grant type does not have scope"
**Is your feature request related to a problem? Please describe.**
The password grant type does not have scope, `get /me` does not have userinfo.

[2018-08-11 09:03] panva commented on #348
Password grant is not bundled with this library. Its your implementation, your responsibility.

[2018-08-11 09:03] #348 closed

[2018-08-13 01:45] BadLambdaJamma opened #349 "limiting scope by client for client_credentials grant"
I want to clone /lib/actions/grants/client_credentials.js and register it as a custom grant type so I can limit scope by client

I am unsure how to access **audiences** and **scopes**  like the standard client_credentials factory (getClientCredentialsHandler) from within my custom grant

`const { audiences, scopes } = instance(provider).configuration();`

How do I achieve the above line of code in

[2018-08-13 07:50] panva commented on #349
You dont have to.

[2018-08-13 08:49] JSantha opened #350 "interactionFinished custom response handling"
I would like to implement login interaction in AJAX way and handle redirection on client side. This is not easy to achieve since `provider.interactionFinished` has standard 302 redirect hardcoded.

[code]

It's off course possible to monkey-patch response to achieve AJAX behaviour but it's not obviously a proper solution:

[code]

Does OIDC allow custom response handling on interaction finished? O

[2018-08-13 08:53] panva commented on #350
This has nothing to do with OIDC, it's internal handling. The function is merely storing what you pass in the interaction object's results and then redirects to the returnTo path. You can easily read what the function does and not use it at all, do it on your own. The only important thing is that after your ajax call finishes you redirect to that location.

[2018-08-13 09:01] JSantha commented on #350
Thank you, I thought about this but got afraid of properly setting expiration on save since I need to "reimplement" calculation of expiration `interaction.exp - epochTime()` in my application code.

Maybe it would be great to extract following lines to independent method:

[code]
So I can reuse this logic but handle response by myself. What do you think?

[2018-08-13 09:33] panva commented on #350
Sure.

[2018-08-13 13:02] JSantha commented on #350
Created PR #351.

[2018-08-13 13:14] panva commented on #337
See #351 from @JSantha to set the interaction results and have it return the url.

[2018-08-13 14:54] #350 closed

[2018-08-13 15:43] skeltonm opened #352 "Add metadata to setProviderSession"
**Is your feature request related to a problem? Please describe.**
I am implementing a password complexity check system during the login process, and I would like to add some metadata to `setProviderSession` that I can retrieve later when updating the user's password.

**Describe the solution you'd like**
Would it be possible to add a `meta` key to the object passed to `setProviderSession` that ca

[2018-08-13 16:05] panva commented on #352
Sure, so long as the meta is scoped under a client. So that the result is inline with what `interactionResult` meta does.

Can you work out the PR for adding this and tests for it?

[2018-08-13 16:11] skeltonm commented on #352
Sure, I'll work on that.

[2018-08-13 16:16] panva commented on #352
i'm thinking something like this should be the signature

[code]

[2018-08-13 19:32] #352 closed

[2018-08-13 20:16] BadLambdaJamma commented on #349
I have implemented a simple custom grant `provider.registerGrantType('client_credentials_scoped'` . This limits the scope by the client id when issuing an access token.  This requires all my clients to use a custom grant name. Is there anyway for clients to use the standard "client_credentials" grant name?

If not,  is it fair to say that if I require scope limiting by client id, I can not impleme

[2018-08-13 20:57] panva commented on #349
You can disable the default grant implementation by disabling the feature and then register the custom one with the standard name.

[2018-08-14 09:00] elendirx opened #354 "Redis adapter not retrieving Sessions"
With the latest version of oidc provider and the latest version of example redis adapter I'm getting
[code]
during the auth code flow. I believe the correct command should be `hgetall`. I fixed it by adding 'Session' to the [grantable set](https://github.com/panva/node-oidc-provider/blob/4085e3fa3d0cf4b875fe19bd780cd750c5b07c36/example/adapters/redis.js#L8).

Should I submit a PR?

[2018-08-14 09:03] panva commented on #354
That’s defo the wrong fix. I’ll look into it. Thanks!

[2018-08-14 11:54] BadLambdaJamma commented on #349
Thanks for your help and a great library!  This is all working as expected for our use case.

[2018-08-14 12:44] #354 closed

[2018-08-14 12:53] elendirx commented on #354
I must admit I didn't really understand the problem. Thanks for the quick fix, I confirm it works now!

[2018-08-14 12:55] panva commented on #354
one more refactor 438c42a, should bundle all grantable deletes into one redis command

[2018-08-14 13:01] elendirx commented on #354
Tested it and it works, thanks again!

[2018-08-15 16:33] puneet-warikoo opened #355 "How can i customize the .well-known/openid-configuration"
I do not want to expose some of the features in the Openid-Configuration.
Is there a way i can hide some of the metadata in the document?
@panva

[2018-08-15 17:00] panva commented on #355
https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#pre--and-post-middlewares

Modify the response in the block after await

[2018-08-15 17:01] #355 closed

[2018-08-16 20:05] jsmylnycky opened #356 "RFC Compliance Question: Client Scopes"
Hello!

I have a question and hoping to leverage your expertise of the RFC.

For my company, we're looking to build a Client Credentials-only workflow, with a UI built to manage clients and what scopes they're allowed to utilize, and a REST interface into OIDC to handle these clientss.

One thing we're considering is how do we handle if the clients may need new scopes created for them that OIDC is

[2018-08-16 22:05] panva commented on #356
Hi @jsmylnycky,

My apologies if I come out blunt.

If there’s a particular oidc-provider related question about “how-to” that’s not clear from the docs I’m happy to help. But this is not the forum to ask architectural questions.

May I suggest stackoverflow or similar.

[2018-08-16 22:05] #356 closed

[2018-08-17 13:07] lomboboo opened #357 "Question: Native apps custom URI schema"
So I have a question about `redirect_uris` for native mobile app.
[code]
This configuration does not work due to this condition inside `client_schema.js`
[code]

I couldn't find this type of limitation in the OIDC specification. Could you please clear this for me? And how should `redirect_uri` looks like when configuring native client app?

[2018-08-17 13:10] panva commented on #357
This comes from https://tools.ietf.org/html/rfc8252 which is enabled by default. (`features.oauthNativeApps`).

[2018-08-17 13:17] lomboboo commented on #357
Thanks for quick response. You mean last paragraph of 7.1 section, right? So it basically done to remain scheme unique? In this case valid uri is `appname.domain.com://somecallback`?

[2018-08-17 13:20] panva commented on #357
It will pass the validation, but as per the RFC a reverse domain name notation should be used instead `com.domain.appname.://somecallback`.

[2018-08-17 13:20] #357 closed

[2018-08-23 22:58] gobengo commented on #228
@ulrikstrid Please post the types as best as you have them?

[2018-08-24 06:02] ulrikstrid commented on #228
@gobengo these might be a bit outdated but they are what I use. I think I'm a major version (or 2) behind as we have not had time to test a upgrade.
[code]

[2018-08-24 07:13] vietlongn commented on #118
Hi @ghalimoums,
I'm also running into this situation. Did you archived it?

[2018-08-24 16:31] gobengo commented on #228
@ulrikstrid Thank you!

[2018-08-24 19:34] panva commented on #340
https://github.com/panva/node-oidc-provider/compare/master...feat/scope-claim-tracking

[2018-08-24 19:48] panva commented on #340
✅ https://github.com/panva/node-oidc-provider/compare/master...feat/scope-claim-tracking

This is what i intend to ship. For those with explicitly provided `interactionCheck` this is 100% backwards compatible and you have to optin to use the new features to fix the "scope can be changed at will" issue unless it was already a part of your own (👍)

For those who use the implicit default `interaction

[2018-08-24 21:47] panva opened #358 "support for receiving encrypted id_token_hint"
TODO: when receiving encrypted id_token_hint (authorization, end_session) attempt to decrypt it

[2018-08-26 15:40] #340 closed

[2018-08-27 08:47] sunpeinju opened #360 "How to config oidc-provider to support large concurrent incoming requests?"
**Is your feature request related to a problem? Please describe.**
We setup a Koa server with oidc-provider, and use load test tool (artillery.io) to understand oidc-provides's performance. When testing `/token` endpoint for token refreshing, we found:
- 30 RPS (requests per second) will lead Node.js to hit 100% CPU. (Our Koa server doesn't leverage multi-core and I don't know whether oidc-provide

[2018-08-27 09:32] panva commented on #360
No. No plans. This is still just a package that you require and configure in your runtime. You're expected to deploy any cluster manager that will utilize your infrastructure cores just like if you ran your own app.

You must support RS256 but your client configuration can choose a different one, there's plenty supported. Going lower than 2048bits sounds ridiculous.

oidc-provider does not impleme

[2018-08-28 02:49] sunpeinju commented on #360
@panva , thank you!
I like #202 and think using more Node's crypto module is a good idea.

I verified your PR locally, it's supper fast.
RPS raises from 30 to 200 with 2048 bit RSA256 key.

Looking forward to see it get merged.

[2018-08-28 07:18] panva commented on #360
https://github.com/cisco/node-jose/pull/214 brings more of native node which either wasn't available or was buggy during its initial implementation into node-jose

[2018-08-31 18:58] #358 closed

[2018-09-05 08:50] acappella2017 commented on #349
@panva @BadLambdaJamma

We have exact the same requirement to limit scope by client.

I added code to override the default client credential handler as your suggest, and also **disabled** the clientCredential feature.

[code]

It works well until we add a client with client_credential grant_type in the default client list. provider failed to be initialized with the InvalidMetadataException.

But i

[2018-09-05 08:52] panva commented on #349
Can't you just `provider.registerGrantType` before calling initialize?

[2018-09-05 15:21] BadLambdaJamma commented on #349
Add the client information that is causing the schema validation to fail.   Some of these items are not obvious based on the grant type. (redirect_uris and grant types including authorization_code).  We are registering the custom grant in initialize of the provider using the value "client_credentials'

[2018-09-06 01:39] acappella2017 commented on #349
@panva @BadLambdaJamma Thanks for your response!

option 1) causes our customized handler by override by default implementation again.
option 2 works well for us.

Thanks!

[2018-09-06 05:26] panva commented on #349
If its being overriden with the feature flag disabled than this is a bug.

[2018-09-07 17:35] amaciver commented on #334
Curious if there is a reason that the adapter examples don't set an expiration on `grant` keys. Redis is keeping a lot of old grants around.

Do you see a downside to doing something like
[code]
?

[2018-09-07 18:02] panva commented on #334
Its this part that i dont like. Redis isnt one i use so maybe you can suggest a different but still efficient structure.

[2018-09-07 20:40] amaciver commented on #334
perhaps:
[code]

is there an edge case where the grant record still needs to exist past the expiry of any token?

[2018-09-09 10:29] panva commented on #334
Not fond of the extra command needed tbh.

[2018-09-11 09:58] supermanHub opened #361 "If client secret contains character '+', it will cause invalid client error."
**Describe the bug**
If there is symbol `+` in client secret, it will cause `client authentication failed`, the detail error information is 'invalid secret provided'.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Dynamic register a client, and make sure there is character `+` in the `client_secret` field of registration respons

[2018-09-11 10:08] supermanHub commented on #361
There is a high probability of existing character '+' in the client_secret field, if you dynamic register a client with default `defaultSecretFactory (in class: lib/actions/registration.sj)`.

I don't understand why we have to replace `+` with space ' ' when decoding the `client_secret`. Should it be `%2B`, not `%20`?

[2018-09-11 10:13] lomboboo opened #362 "Question: Preferred way to limit registration for specific clients."
My question is pretty much in the title. I'd like to know is there a preferred way to limit registration for specified client? At the moment I have this config for registration
[code]
I noticed in the [docs](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#featuresregistration) that there are couple of choices for `registration`, but don't really understand how can dis

[2018-09-11 10:29] panva commented on #361
This is actually conform behaviour and not a bug. It was fixed from what you're expecting in 3.0.0. The client_secret_basic is not 100% basic http auth, the username and password tokens are supposed to be additionally formencoded.

A proper way of submitting `client_id` and `client_secret` using `client_secret_basic` is `Authorization: base64(formEncode(client_id):formEncode(client_secret))` as pe

[2018-09-11 10:31] panva commented on #362
Hi, I don't follow the question.

[2018-09-11 10:41] lomboboo commented on #362
@panva is there a way to disable registration based on client's configuration? By `client_id` for example

[2018-09-11 10:43] panva commented on #362
registration is to create clients, how would you disable registration by clientid when the point of the registration to obtain one?

[2018-09-11 10:50] lomboboo commented on #362
Oh, I misunderstood the purpose of `registration`. I'm closing this one.

[2018-09-11 10:50] #362 closed

[2018-09-11 15:15] #361 closed

[2018-09-12 06:54] SokratisVidros opened #363 "Pending error handler prevents error propagation"
**Describe the bug**
Errors thrown in OIDC flows are caught by the following pending error handler https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/initialize_app.js#L47

**Expected behaviour**
Errors thrown in OIDC callbacks such as "renderError" should propagate to parent error handling middlewares.

**Environment:**
 - oidc-provider version: [e.g. v4.4.0]
 - node version: [e.