[2018-09-12 07:40] panva commented on #363
Are you throwing from `renderError` on purpose or did this cause you pain while debugging a problem with your `renderError`?

The reason of this block is that during device flow error handling there are session changes that need to be saved but the session handling middleware is finished by then. Since I can't use something elegant like `on-headers` in koa easily i need another middleware like thi

[2018-09-12 07:53] SokratisVidros commented on #363
@panva thanks for the quick reply.

In renderError I throw the error explicitly in order to handle it in my global koa error handling middleware.

Same applies to the following snippet in my app regarding OIDC server events. Events are transformed to errors and they are expected to bubble up.

[code]

Previously we were using node-oidc-server v3.x.x. Since we upgraded to v4.x.x the error handler p

[2018-09-12 07:57] panva commented on #363
Unintended use of renderError, but still interesting. I’m travelling atm so unless I get some “me” time earliest expected change will be sunday

[2018-09-12 08:17] SokratisVidros commented on #363
I see, renderError is mainly used to output the error HTML. However, when oidc is part of another koa app, error handling & rendering can be factored out in one place.

Is there anything I can do to help?

[2018-09-12 08:29] SokratisVidros commented on #363
Ok, then we will patch that code on our end temporarily and we will wait for a fix.

Thanks in advance.

[2018-09-12 10:45] supermanHub opened #364 "Login request always stay in pending at the first time of login in Chrome version 69.0.3497.92"
**Describe the bug**

When users use chrome to login to the oidc provider for the first time in very clean environment,  the login request always stay in pending state, and not redirect user's agent back to RP(Stay in login page).

If user want to make the request redirect to the RP callback endpoint, the can do it by clicking the login button second time after waiting for a short time.

**This bu

[2018-09-12 11:17] panva commented on #364
I doubt this is related to library or example code.

Please use debug, provide logs, compare them with other logs from browsers where it works for you.

[2018-09-13 03:14] supermanHub commented on #364
@panva Environment setup problem? Do you mean browser environment or application environment?

The bug is only exist in Chrome!

The application environment is almost same to example code.  And I found it is easy to reproduce the bug by example code:

1. Clone the node-oidc-provider and install dependencies
2. Add client configuration in `node-oidc-provider/example/support/configuration.js`, like

[2018-09-13 09:30] lomboboo opened #365 "Overriding response mode with registerResponseMode"
I have this setup:
[code]
and I'd like to override `fragment` response mode, but instead of overriding `fragment` it **adds new one**. So basically I end up with 2 `fragment` response modes. What did I do wrong?

[2018-09-13 09:33] panva commented on #365
Its an internal undocumented method intended to register a mode, not overload one.

[2018-09-13 09:37] lomboboo commented on #365
thanks you for the response. There is nothing I can do to customize `fragment` response mode? Do you plan to add a support for it in the future?

[2018-09-13 09:38] panva commented on #365
The code allows that tho. Where do you get the two modes?

[2018-09-13 09:39] panva commented on #365
What modification are you making? As is the modes are conform. No need for anything extra as far as i can see.

[2018-09-13 09:48] lomboboo commented on #365
At the moment `fragment` returns `access_token, expires_in, id_token, session_state, state, token_type`.
I would like it to return also `scope`

[2018-09-13 09:51] supermanHub commented on #364
It's a bug of Chrome, refer to [here](https://www.syscore.dk/blog/3140/jquery-ajax-requests-pending-in-chrome) and [here](https://productforums.google.com/forum/#!topic/chrome/66KuWxygDLA);

[2018-09-13 10:08] panva commented on #365
Again, Where do you get the two modes?

[2018-09-13 10:09] panva commented on #364
There’s no ajax involved. Doubt it.

[2018-09-13 10:28] lomboboo commented on #365
`provider.js`:
[code]

[2018-09-13 10:55] panva commented on #365
Yeah but why would there be two with the same name? It’s a Map. Please show me where you get two registered fragments and what your handler even is.

[2018-09-13 11:07] lomboboo commented on #365
[code]

and console.log inside `registerResponseMode  (provider.js)` gives:
![download](https://user-images.githubusercontent.com/12416377/45484876-f37da100-b755-11e8-94cc-8d632a4a61d3.png)

[2018-09-13 11:18] panva commented on #365
Then call it after initialize and you’re set.

[2018-09-13 11:18] #365 closed

[2018-09-13 11:31] lomboboo commented on #365
thanks for the help, I'll keep it in mind

[2018-09-13 15:23] kenjinsama opened #366 "Tokens's TTLs customization not working except for AccessToken"
**Describe the bug**
When I try to customize tokens's TTLs (except for AccessToken), the value that is passed to the adapter is the default value.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Configure the ttl to 5 seconds for each token (RefreshToken is the most visible since his default ttl is high)
2.  Add logs into your ad

[2018-09-13 15:57] panva commented on #366
The logs you show display only access token which is correct. Can you show a code, refresh token too?

[2018-09-13 20:32] panva commented on #366
Hi @kenjinsama, i'm unable to confirm this, when i set the ttl for any kind of token that value is used and propagated to the adapter's upsert expiresIn argument. I'm closing this as there's no clear problem on my end when i try or in your provided logs. Feel free to reply with more details if necessary.

[2018-09-13 20:32] #366 closed

[2018-09-14 07:15] kenjinsama commented on #366
I maybe don't understand but what is this ?
Session EXPIRE 5d95f9aa-99eb-444c-8978-1bb263939369 --------------------------------> 1209600
It seems to match the default TTL for the refresh token. I'll try to provide more information.

[2018-09-14 07:37] panva commented on #366
That would be a Session, d’oh, stored on the backend, referenced in the browser by a pushed cookie. It’s ttl is controlled by the cookie’s maxage.

[2018-09-14 09:41] kenjinsama commented on #366
But I do not have the sessionManagement active, then it would be the session for interaction ?

[2018-09-14 09:44] panva commented on #366
No. Regular OP session. Still needed regardless of sessionManagement

[2018-09-14 09:47] kenjinsama commented on #366
If I understand I can ajust time management by using "long" and "short" cookies parameters ?

[2018-09-14 09:52] kenjinsama commented on #366
I have some TTL that does not expire :

[2018-09-14 09:59] panva commented on #366
Yup. The redis adapter structure isn’t perfect and doesn’t expire these. In your adapter instance feel free to set an appropriate ttl yourself.

[2018-09-14 10:01] kenjinsama commented on #366
Thanks for your explanations, I will try to digest that :+1:.

[2018-09-14 10:03] panva commented on #366
Long cookies for op session. Short cookies for interaction. As documented

[2018-09-14 10:03] kenjinsama commented on #366
Yup, saw that, thanks :+1:.

[2018-09-14 18:37] panva commented on #334
@amaciver -> 28abbde

[2018-09-14 18:54] panva commented on #366
28abbde updates the redis example adapter with grant list expiration

[2018-09-14 19:33] GitStorageOne commented on #228
Just try it out. Every JS code is a valid Typescript, which means, that JS can be just renamed to TS and you immediately get many TS features. For example, currently jsdoc used to provide some information about parameters. With TS, it's possible to define exact type, class, interface or union of that. Another awesomeness is that TS produce JS files as output, every browser or node will consume it

[2018-09-14 19:33] panva commented on #363
how's this 7a6c439?

[2018-09-14 22:34] panva commented on #228
Thank you, this just saved me a 10 second google search.

[2018-09-15 06:00] SokratisVidros commented on #363
Looks good at first sight. I will try it out in more detail. Thanks @panva!

[2018-09-16 14:15] #363 closed

[2018-09-16 14:17] panva commented on #365
7f7ea79 fixes default implementations of the defined response modes overwriting custom implementations

[2018-09-16 18:12] lomboboo commented on #365
great! Would you consider to add some description into the docs?

[2018-09-16 19:56] SokratisVidros commented on #363
Thanks @panva

[2018-09-17 10:44] andreasenberg opened #367 "No key found error with introspection_endpoint_auth_method configuration set to client_secret_jwt"
Hi!

I've been trying to configure the node-oidc-provider to use `client_secret_jwt` as the auth method when invoking the token introspection endpoint but I'm unable to get that working.
All I'm getting is an "no key found" error which seems to be thrown by the underlying node-jose lib.

I thought at first that it was missing in my keystore but my understanding is that node-oidc-provider itself ad

[2018-09-17 10:50] panva commented on #367
I'm guessing your secret is not of sufficient length. Same as in [#310](https://github.com/panva/node-oidc-provider/issues/310#issuecomment-404195329). I'm also guessing your client doesn't have a `introspection_endpoint_auth_signing_alg` because otherwise the provider validates the secret has sufficient length to form a signature.

I'm going to introduce a breaking change in 5.x that will validat

[2018-09-17 10:51] panva commented on #367
it's not, and you should not provide a `kid` for client_secret based symmetrical jwts in OIDC

[2018-09-17 12:29] andreasenberg commented on #367
Yes, it appears that the client secret I was using while testing was not of sufficient length. I did not have the `introspection_endpoint_auth_signing_alg` configuration on the client I was using.
Adding that configuration gave me the error message you pointed out and changing the secret length resolved the issue.

Thank you for your help in clarifying this!

[2018-09-17 12:29] #367 closed

[2018-09-18 19:29] SokratisVidros opened #368 "Question: Should tokens and interactions be delete from the DB on logout?"
Supposedly a user has authenticated once with OIDC. In the DB one token and two session entries will be recorded. Should all the previous records be delete when visiting the logout endpoint? If so, is it something that the db adapter should handle?

Thanks in advance.

[2018-09-18 20:52] panva commented on #368
Hi @SokratisVidros, can you be more concrete?

[2018-09-18 20:57] SokratisVidros commented on #368
Let me rephrase. Is it suggested to remove all issued tokens and session records for a particular user upon logout?

I mostly wonder about the best and most secure practices on the topic. Should tokens be kept in the database even long after a user has logged out from the OIDC server or after their expiration?

Hope that helps.

[2018-09-18 21:19] panva commented on #368
This is a policy you have to define, I am not in a position to make "best practice" recommendations on the topic. Your OP = Your security profile = Your call on the topic.

[2018-09-18 21:19] #368 closed

[2018-09-19 05:07] SokratisVidros commented on #368
Cool thanks

[2018-09-20 15:10] GitStorageOne opened #369 "example/support/account.js question"
Hello.

Looks like mistake here.

[code]

[2018-09-20 15:14] panva commented on #369
no mistake - if you have an adapter persisting clients, sessions and tokens but didn't connect your account model yet, the in memory account store isn't going to have the id after process restart.

[2018-09-20 15:14] #369 closed

[2018-09-20 15:49] GitStorageOne commented on #369
Thanks, now i see that "new Account(id)" also automatically writes itself in store.
Without second store search:
[code]

[2018-09-20 15:54] panva commented on #369
yeah, and obviously this is just for testing, intended to allow any credentials to be entered into the example form.

[2018-10-01 08:55] stavros-wb opened #372 "Session#sid missing for all clients but first one"
hello @panva

I've noticed that upon consecutive logins from multiple clients. The `session.authorizations` look like:

[code]

I think these fields only get filled in the `resume` action and since the user is already authenticated the action is never called. Another side effect of this is that the associated `{ AuthorizationCodes, Tokens }` don't get an `sid` in their payload.

Is this by design?

[2018-10-01 09:01] panva commented on #372
I can't repro

1. go to https://tranquil-reef-95185.herokuapp.com
2. set up a basic client, go through login
3. click on New client setup and setup another one
4. go through login
5. tokens have an `sid`

[2018-10-01 09:05] panva commented on #372
I **think** you might have a setup where you don't require an interaction for every new encountered client, correct?

Or at the very least, you don't have this in your `interactionCheck` helper.

[code]

If that's the case you have to fill that `sid` in just like resume does automatically, generate a `sid` of your own and call `ctx.oidc.session.sidFor(ctx.oidc.client.clientId, sid)` from that func

[2018-10-01 09:14] stavros-wb commented on #372
yes you're correct, I don't require a user consent when a user accesses another client in the same session. I'll add the call to `sidFor` in my interaction check helper. Also I'd like to note it's not only the `sid` all the other info (scopes) is missing from the session itself.

Do you think this case should be a part of the library?

[2018-10-01 09:17] panva commented on #372
No I don’t and see my edit in the comment above.

Why not? There may be cases where this kind of flexibility is needed. Don’t think it’s a general case tho as it does pose several security risks such as exposing end-user unconsented scopes and claims.

[2018-10-01 09:17] #372 closed

[2018-10-01 14:24] ddumontatibm opened #373 "CONTRIBUTING documentation"
Could you please include a file describing the best way to provide code contributions?  And maybe outline how your code pedigree process works?

Do you have a CLA?

[2018-10-01 15:56] panva commented on #373
- open an issue describing the feature/bug you wish to contribute first to start a discussion, explain why, what and how
- follow the eslint rules
- write tests covering 100% of the library code you produce
- one PR per feature/fix unless you follow [standard-version](https://github.com/conventional-changelog/standard-version) commit guidelines

I'll see if i can get CONTRIBUTING.md and CLA assist

[2018-10-01 17:13] ddumontatibm commented on #373
Thanks!

[2018-10-02 16:32] #373 closed

[2018-10-02 16:32] panva commented on #373
@ddumontatibm @ahmetcetin Thanks for pushing me to do this.

[2018-10-03 19:24] skeltonm opened #375 "Authorization Codes never expire after consumed"
One thing I have noticed about this package is that authorization codes do not expire (in the database) but are only marked as consumed.  For a large scale system with millions of users logging in, this would quickly create a massive amount of database records that never go away.

Why are authorization codes saved without an expiration date on the database record?  I would appreciate any of your t

[2018-10-03 19:36] panva commented on #375
They are not saved without an expiration date. How did you come to this conclusion? Are you not getting a ttl on upsert?

[2018-10-03 19:46] skeltonm commented on #375
Apologies, this is an issue with our adapter.  It is saving the expiration when the Authorization Code is created then removing it when the Authorization Code is consumed.

Regarding the consumed flag, what is the purpose if marking a token as consumed?  What is the reason for doing this rather than simply deleting the token?

[2018-10-03 20:00] panva commented on #375
https://tools.ietf.org/html/rfc6749#section-4.1.2

[2018-10-03 20:00] #375 closed

[2018-10-03 20:01] skeltonm commented on #375
Thanks!

[2018-10-04 11:46] rakeshostwal commented on #123
@haoruiqian how did you generate the refresh token in the password grant type using Handler?

[2018-10-04 11:49] panva commented on #123
Oh come on! Stop using ROPC. For real, If you need it today something's wrong!

https://youtube.com/watch?v=qMtYaDmhnHU
https://youtube.com/watch?v=zuVuhl_Axbs

[2018-10-05 03:01] haoruiqian commented on #123
@rakeshostwal , the argument of handler is the oidc provider instance,  the instance
has reference to RefreshToken class https://github.com/panva/node-oidc-provider/blob/master/lib/provider.js#L124, then you may create a refresh token using `new instance.RefreshToken(...)`.

[2018-10-09 10:23] SokratisVidros opened #376 "Scopes per client"
Hi there

Is there a recommended way to define allowed scopes per client?

Thank you in advance.

[2018-10-09 10:34] panva commented on #376
My __personal__ recommendation

- [extraClientMetadata](https://github.com/panva/node-oidc-provider/blob/v5.1.0/docs/configuration.md#extraclientmetadata) to validate the values, set defaults and in general process
- automatically push the ones client requests but doesn't have permission for to interaction result `consent.rejectedScopes` or overload OIDCContext `requestParamScopes` or similar, i t

[2018-10-09 10:34] #376 closed

[2018-10-09 17:20] KalleV opened #377 "Feature request: support hash in redirect_uri for Single Page Apps"
**Is your feature request related to a problem? Please describe.**
I am unable to specify a hash in the redirect URI in order to mount the OIDC flow on a nested client-side route such as `<host>/#/login/callback`.

**Describe the solution you'd like**
If oidc-provider allowed redirect URIs with a hash, it would provide the ability to specify client-side routes in the redirect URI for SPAs. For exa

[2018-10-09 17:31] panva commented on #377
Can't do that, see https://tools.ietf.org/html/rfc6749#section-3.1.2

[2018-10-09 17:32] #377 closed

[2018-10-10 07:55] SokratisVidros commented on #376
Thanks a lot!

[2018-10-10 08:13] stavros-wb commented on #376
Hello @panva, I can see the above working for User interactions (implicit, auth code), but can't find an appropriate hook for filtering scopes in Client Credentials flow. Should we create a custom grant to support that?

[2018-10-10 13:17] skeltonm opened #378 "Referenced to `unsupported` configuration option"
In the configuration.md file, there is a line that reads:

Now that the `unsupported` property is no longer part of this package, this line should be updated to reference the new `whitelistedJWA` property.

[2018-10-10 13:22] panva commented on #378
@skeltonm thanks!

[2018-10-10 13:44] sunpeinju opened #379 "Question: does oidc-provider provides way to upgrade storage data when upgrade versions?"
When we upgrade oidc-provider from V4.3 to V5.1, we found the initialAccectToken format changes and our early version initialAccessToken fail to work. So I would like to raise a question here:

How does oidc-provider consider storage data format backward compatibility? When upgrade from version to version, what's the suggested practice for handling the existing data?

[2018-10-10 13:52] panva commented on #379
It doesn't for major version updates. When you upgrade major versions it's expected you go through the changelog to see what affects your project and upgrade with extra care and testing.

[2018-10-10 13:55] panva commented on #379
No

[2018-10-10 13:55] #379 closed

[2018-10-12 01:03] sunpeinju commented on #379
thanks for the answer.

[2018-10-15 13:37] skeltonm opened #381 "Question: Login to the Identity Provider"
As the title states, this is a question not an issue.

We would like to allow users to login to the Identity Provider without starting from and going to a Relying Party.  We would then have account management features in the Identity Provider such as update profile, change password, etc.

How would you recommend implementing this type of feature?

[2018-10-15 13:43] skeltonm opened #382 "Question: Short cookie max age is very short"
As the title states, this is a question not an issue.

The default value for the max age of short cookies is 10 minutes.  Is there a reason why it is so short?  We have implemented a forgot password feature which will likely take many users more than 10 minutes to complete so we will be increasing the max age of the short cookie.  However, I want to understand why you have the default setting so s

[2018-10-15 13:44] panva commented on #381
Aren't you already familiar with the `setProviderSession` helper?

Other then establishing the session for the OP for future authorization with the above helper this goes beyond a protocol implementation that oidc-provider brings, don't you think?

[2018-10-15 13:49] skeltonm commented on #381
I have used the `setProviderSession` helper in our implementation of this package, but I didn't notice the following sentence:

Based on that sentence and your comment, are you suggesting using `setProviderSession` to create a session that can be used for logging users into the Identity Provider and then sending the users to the login route?

[2018-10-15 13:53] panva commented on #381
Why would you establish the session and then send the users to a login route? What you're after isn't an OpenID Connect flow, that goes for the actual authentication too.

So if e.g. you want a profile page for the user that is not behind an OIDC client (for whatever reason unknown to me, i think it should be ...) then get the user authenticated with whatever standalone means you have (not related

[2018-10-15 13:55] panva commented on #382
This is for interaction.

If your password reset link the user goes to after receiving the password reset mail is the one from within an interaction it's wrong. This should be a standalone flow. For obvious reasons, the interaction is bound to that cookie and if i open the link on another device it ain't gonna work.

Good call to raise this question, as mentioned above it's probably not the right

[2018-10-16 13:17] skeltonm commented on #381
Thanks for the info.  In response to your comment about a profile page for a user that is not behind a OIDC client, do you think there is an issue with that?  If so, are websites like GitHub wrong to have the Identity Provider perform additional operations like profile pages (or in the case of GitHub, everything)?

[2018-10-16 13:40] panva commented on #382
That's fine, just implement what you feel is right. How you're going to complete an interaction on another device tho is a mistery to me, unless you relax some of the design decisions I've put forth.

TBH this is a very standard experience we have today and client's can be registered with an initiate_login_uri (see core 1.0 section 4) that when set, you can redirect to after the flow is finished a

[2018-10-17 12:20] #382 closed

[2018-10-17 12:20] #381 closed

[2018-10-19 11:52] mgjm opened #383 "HTTP/2 Compatibility"
**Describe the bug**
The provider expects an http or https request and response object in [assertReqRes(req, res)](https://github.com/panva/node-oidc-provider/blob/531dfbf64a4d9a3dd7e5403f211fab4d4a590941/lib/provider.js#L37-L48). This will throw an AssertionError if an [http2](https://nodejs.org/api/http2.html#http2_compatibility_api) request and response object is provided. But Koa supports the

[2018-10-19 11:56] panva commented on #383
I never tried exposing an https server directly, always had a tls terminating proxy. If this is just about the instanceof assertion can you open a PR?

Nice find, thank you @mhjm

[2018-10-19 15:12] #383 closed

[2018-10-19 16:09] panva opened #385 "update Resource Indicators for OAuth 2.0 from draft 00 to draft 01"
update from Resource Indicators for OAuth 2.0 - `draft 00` to `draft 01`. [DIFF](https://tools.ietf.org/rfcdiff?url2=draft-ietf-oauth-resource-indicators-01.txt)

[2018-10-23 08:51] panva commented on #383
oidc-provider v5.1.2 released with a min koa version bump to incorporate said PR changes, note this does not change how http2 host is detected in scenarios where oidc-provider is mounted to an existing koa version that isn't at least 2.6.1

[2018-10-23 21:44] brandonros commented on #376
@panva What about a dynamic issuer configuration option? Would that be hard to do? I am using your package and have a need to sign ID tokens as a different issuer per-client.

[2018-10-24 07:38] panva commented on #376
@brandonros that's very unlikely to ever land in oidc-provider.

[2018-10-25 12:13] javlund commented on #228
@ulrikstrid Thanks for your efforts, are you or anyone else considering making the types into an npm library (e.g. named @types/node-oidc-provider)?

[2018-10-25 13:35] ulrikstrid commented on #228
@javlund nope, feel free to contribute those to definetly definitelytyped. You can consider them as MIT.

[2018-10-25 22:09] brandonros opened #386 "urlFor resume/auth being called with this.ctx.ref = 'http://http://...`"
[code]
calls and routes to

[code]

which works, but returns a 302 to `Location: http://http/a/consumer/api/oidc/auth/be7199ba-ac02-4a5b-bbff-831c4b035145`

I added debugging logging to lib/helpers/oidc_context.js:

[code]

and it outputs:

[code]

What am I configuring wrong?

`OIDC_ISSUER=http://127.0.0.1:8080`

[code]

[code]

[code]

[2018-10-25 22:33] brandonros commented on #386
This was related to some middleware I wasn't aware my app was using overriding `req.host`.

[2018-10-25 22:33] #386 closed

[2018-10-26 14:00] SSKasture opened #387 "OiDC Session maintaince"
Interaction/Session getting lost after we redirect to our identity provider.

[code]

Steps to reproduce the behaviour:

1.  User get redirected to Login page hosted by our IDP server
2.  Idp return response with authentication to app.post('/interaction/:grant/submit' during this step we are  loosing Session/Interaction
3.  we are getting error Invalid Session
[code]

Provider should not maintain

[2018-10-26 14:14] panva commented on #387
Can you post a full example app to verify your setup? Strip the adapter logic, just the provider app and your interactions. Thanks.

[2018-10-26 14:25] GilVieira opened #388 "Access_token scope returning string"
Hi,
my scope, in the access_token, is returning a single string ('openid api1') instead of an array (['openid', 'api1']). How can I configure to return an array?

I'm trying to validate the access_token in a .Net 4.5 application with IdentityServer3.AccessTokenValidation.

Thks.

[2018-10-26 14:28] SSKasture commented on #387
This  is my complete code
const express = require('express');
const Provider = require('oidc-provider');
const Account = require('./account');
const bodyParser = require('body-parser');
const Clever = require('clever');
const request = require('request-promise');
const app = express();
const parse = bodyParser.urlencoded({ extended: false });

let testGrant=null;

const clients = [{
    client_id:

[2018-10-26 14:29] panva commented on #388
`scope` is always communicated as a single string with space delimited scope names.

[2018-10-26 14:29] #388 closed

[2018-10-26 14:30] panva commented on #387
this?

[2018-10-26 14:31] SSKasture commented on #387
That is my application which actually authenticates user login

[2018-10-26 14:33] panva commented on #387
and it makes the user-agent post username and password to `/interaction/:grant/submit`?

[2018-10-26 14:33] SSKasture commented on #387
Yes

[2018-10-26 14:39] panva commented on #387
A hunch tells me thats not true and its a backend call instead.

Can you show me the html it renders to the user. One with the form that posts to the interaction submit route

[2018-10-26 14:41] SSKasture commented on #387
It's complete different application which do user authentication and send response back to provider

[2018-10-26 14:42] panva commented on #387
Can you show me the html it renders with the form that posts to the interaction submit route?

[2018-10-26 15:04] GilVieira commented on #388
What a shame, because when I validate the token the .Net library requests the required scopes in an array, for example ["api1"], but if I have all a string ("openid email api1") it recognizes the three as a single token and does not release access.

[2018-10-26 15:14] panva commented on #388
You’re gonna have to work with the public storage format options to define your own access token serializer that follows .net’s custom format.

FYI this is all proprietary formats. There’s no standard defining. So it might be easier for you to overload the validation in your client instead.

[2018-10-29 07:48] panva commented on #387
Gave this a thought and i’m certain you’re not using the library as intended. If you would, provide a stripped down running example exhibiting your problem. Thank you.

[2018-10-29 07:49] panva commented on #387
I’m closing this but feel free to post if you wish to get help.

[2018-10-29 07:49] #387 closed

[2018-10-29 16:11] javlund commented on #228
@panva @ulrikstrid

I've made a (very) rough draft based on @ulrikstrid 's work. I'm sure I'm missing a lot but it does compile with my current setup. Let me know what you think, please make corrections etc.!

https://github.com/javlund/DefinitelyTyped/blob/node-oidc-provider/types/node-oidc-provider/index.d.ts

[2018-10-29 16:22] panva commented on #228
just what i like to see as a starting point, there are definitely things to fix but we can work on that!

Can you open a PR so that we can get reviews etc. going?

[2018-10-29 22:50] javlund commented on #228
OK @panva , I have a PR here: https://github.com/panva/node-oidc-provider/pull/389

As I'm really not the most seasoned TS dev, I'd like input from more experienced people on this, or at least just someone else's opinion.

[2018-10-30 07:54] panva commented on #228
@ulrikstrid @MichaelCastiau @patrickmichalina @gobengo @GitStorageOne and anyone else passing by.

Please go ahead to #389 and, if you wouldn't mind, contribute a bit of your time via review and your thoughts and answers.

[2018-10-30 20:33] SSKasture opened #390 "Feature Request to Integrate with OAuth2 IDP"
Can we use this library to connect to a OAuth2 compliant IDP (like Clever) and generate OIDC tokens? We’ll need to do the
OAuth2 Authorization Grant Flow behind the scenes to get the user information as documented on their site:
https://dev.clever.com/docs/identity-api

[2018-10-30 20:38] panva commented on #390
Your end-user interactions can either be full blown views with forms or just something that communicates with an upstream idp, so yes. It's not standard, but easily doable if you'll take the time to understand how oidc-provider works, e.g. just stick to the expected contract of how interactions work and you should be fine.

[2018-10-30 20:38] #390 closed

[2018-10-31 11:46] supermanHub opened #391 "consent prompt does not work on oidc-provider resume's interaction check"
**Describe the bug**
When RP send a authentication request with parameter `prompt=consent`, and the request scope & claims weren't accepted by end-user, the OP never display a consent page to end-user

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Make sure there is no `session` for `RP` in database
2. RP send a authentication r

[2018-10-31 11:55] panva commented on #391
I cannot confirm this as a bug. Just something omitted from devInteractions on purpose.

The default devInteractions don't have login followed up consent, yes.
Are you saying they should? What for, you're not going to be using the dev interactions for long anyway and then you're supposed to provide your own interactions that are going to have a consent screen and flows of your own.

see https://gi

[2018-10-31 14:02] panva commented on #391
Would you work out a PR for this or shall i take care of it when i have the time?

[2018-10-31 14:03] supermanHub commented on #391
BTW: I suggest we change the return value of `interactionResult` from `return interaction.returnTo` to `return interaction`. By this way, developers can reduce the additional query in their `interactions` code.

For example, if I want to get the `client_id` in post login, I can do it like this way:
[code]

do you agree with that?

[2018-10-31 14:09] panva commented on #391
you'd always be loading using `interactionDetails` (to validate the user-agent still having the cookie etc.) before this step so you already have it, don't you?

[2018-10-31 15:18] supermanHub commented on #391
I would like to be a contributor and will work on it in this week. Thanks filip

发自我的 iPhone

[2018-11-01 09:51] panva commented on #391
Actually, there's a feature i wanted to get to for a while now and this would give me a chance to smooth this necessary integration step for developers.

I've been slowly working towards what i call a `results builder` DSL. An API that's used inside interactions to aid in figuring out what to do next, as in, what's the next likely check the provider would fail during resume given existing configur

[2018-11-01 09:51] #391 closed

[2018-11-01 10:14] supermanHub commented on #391
Hello Filip, Do you mean not submit PR for the `interactionResult ` function change at the moment, and you will handle it in your `result builder` DSL?

[2018-11-01 10:20] panva commented on #391
I will not be changing `interactionResult`, you should not skip loading `interactionDetails` and you should be doing that before posting results.

I meant not to work on changing the devInteractions to have a somewhat feature-complete consent screen.

[2018-11-01 10:52] supermanHub commented on #391
Yes.
In my customized `interactions` flow,  the `interactionDetails` is a pre-condition for determining what to do next.

sometimes, we can call `interactionResult` directly due to it can do some same work as `interactionDetails`.

[code]

[2018-11-01 16:33] KoosieDeMoer opened #392 "Revoking of tokens by resource owners"
The current standards seem to support only one mechanism for revoking access and refresh tokens before expiry ([RFC7009](https://tools.ietf.org/html/rfc7009)).  This implies that the client is the only actor with the authority to explicitly revoke tokens (when the user, for example, logs out).  In an Open Banking ([PSD2](https://en.wikipedia.org/wiki/Payment_Services_Directive#Revised_Directive_on

[2018-11-01 18:12] panva commented on #392
is that the gist of it? is the user on the IdP portal? I assume so, then it's nothing more then looking at your own records, isn't it? Unless i'm missing something.

It would be really helpful if you described the whole thing in OAuth or OIDC terms, it's not clear to me if the bank is the IdP and whatnot...

In any case:

Nope.

Not unless there's a related specification or a profile for an existi

[2018-11-02 15:49] apparentvisuals opened #394 "Custom properties for InitialAccessToken with extra validation"
**Is your feature request related to a problem? Please describe.**

When registering clients using an InitialAccessToken, I would like to be able to validate the client metadata against values in the InitialAccessToken to ensure the client only registers what they requested as part of the InitialAccessToken request.

If this is something that sounds like a good feature to you, I also do not mind s

[2018-11-02 16:01] panva commented on #394
Hi @apparentvisuals

I already have this in my private backlog so it definitely does sound like a great feature.

Posting my private notes 👇

There are two things the initial access token should be able to carry

**1. defaults for properties**

- Simple, if a property wasn't provided (is undefined) the default from IAT is applied.

**2. policies**

- E.g. only register pairwise
- E.g. only allow R

[2018-11-02 16:03] panva commented on #394
This is what i've been doing so far too. The drawback isn't that bad. But i have to implement it both to registration and update separately.

[2018-11-02 18:48] apparentvisuals commented on #394
If I understand you correctly, we would have a new data type say RegistrationPolicy that can be retrieved via the adapter and the id would be stored in the IAT. This value can contain policies as well as defaults.

I was also thinking something more simple like exposing a method through provider configuration could work, something like:

`
async validateClientRegistration(ctx, iat, metadata) {
  .

[2018-11-02 22:01] brandonros commented on #150
I'm struggling to pass cookies from a frontend OpenID proof of concept.

[code]

does not pass the cookies for interaction/session. Am I doing something wrong?

[2018-11-02 23:53] mitni455 opened #395 "Examples - Login / Register"
So how do you login and register a client with the examples?

[2018-11-03 09:12] panva commented on #395
You mean the example running on your local? Either through initialize or dynamic registration features.

Or the example running on heroku? Through dynamic registration features.

[2018-11-03 09:12] #395 closed

[2018-11-03 09:15] panva commented on #394
Not a data type stored in the DB. the IAT would have a string reference to a policy, that policy will be declared during provider configuration and ran every time an IAT is used to register or every time a client is updated (the policy reference would transfer from IAT to RAT (reg. access token).

also an option, but one that is less "framework"-y. Let me write down a design doc and of what i'd ac

[2018-11-03 09:17] panva commented on #150
1) I believe you shouldn't be doing authorization code exchange with a public client unless you're using PKCE
2) fetch WHATWG API does not send cookies by default, a simple google search on how to have fetch send cookies will help you.

[2018-11-03 16:10] brandonros commented on #150
Does that mean I should be calling /token server side?

Regards,

Brandon

________________________________
From: Filip Skokan <notifications@github.com>
Sent: Saturday, November 3, 2018 5:17 AM
To: panva/node-oidc-provider
Cc: Brandon Ros; Comment
Subject: Re: [panva/node-oidc-provider] "Method not allowed" error (#150)

Am I doing something wrong?

  1.  I believe you shouldn't be doing authoriz

[2018-11-04 09:19] KoosieDeMoer commented on #392
Hi @panva
Thanks for quick response.

Yes the user is on the IdP portal but we believe it is cleaner for the OIDC token validity and scopes to be usable as an authoritative source, rather than reverting to the scopes stored against the user by the IdP on each use of a resource.

Here follows a detailed explanation of the roles and what we are trying to achieve.

The bank is the IdP and the resourc

[2018-11-04 09:50] panva commented on #392
Not what i was suggesting. The idp has access to all access and refresh token records as well as grants in its db.

Revoke a client grant, query all tokens with that grant, delete them.

Again confusion. You said bank is the idp / provider.

I’ma close this as there’s no action item here but feel free to continue with the questions, but stay consistent or explain better please. And if you wouldnt

[2018-11-04 09:50] #392 closed

[2018-11-05 06:06] KoosieDeMoer commented on #392
The bank as an enterprise owns to both the IdP and Provider (and an Open Banking portal[OBP]). These are separate systems which we would prefer to keep separate. Calls to the OBP from external clients include an access token in the header, which is used to test access rights to data using token introspection.
In order to keep the Provider separate from the IdP we plan to expose an interface on the

[2018-11-05 06:37] panva commented on #392
I think you’re better off asking your standards body, OB, FAPI /cc @jogu

[2018-11-05 09:06] jogu commented on #392
The business need is quite common about the UK OB system (and I think such management is a requirement of the FAPI spec), but I'm having a bit of trouble following the exact proposed architecture here to be honest. I think I'd probably recommend you get some expert consultancy to help you match your business needs and the legislation to the appropriate way to apply the protocols; I've worked with

[2018-11-05 09:08] panva commented on #392
And if there's anything you need out of oidc-provider in terms of promoting a given API to public please let me know. I'm more than happy to help and support FAPI.

[2018-11-08 08:32] panva commented on #360
node-jose 1.1.0 was released, make sure to upgrade your dependency tree...

- if you're on oidc-provider ^5.x just npm upgrade oidc-provider / yarn upgrade oidc-provider
- if you're on oidc-provider ^4.x npm upgrade node-jose --depth=9999 / yarn ???
- if you're on oidc-provider < 4, upgrade to 5 :trollface:

[2018-11-12 18:50] apparentvisuals commented on #394
That sounds good. I can review the design doc and then I will likely understand your design better.

In your design, would policy still be dynamic? The immediate way I would use this feature would be for tenant bound IAT so the tenant would be part of the payload such that no other tenant (unless they knew the tenant name and secret) so I wonder if the policy design would cover the use case.

[2018-11-12 18:52] panva commented on #394
Please elaborate if necessary, but a policy's implementation is dynamic - it's your function that will get executed.

[2018-11-14 07:37] mackwan84 opened #396 "Clients with the custom grant type "password" can not have response type "token" or "id_token""
Clients with the custom grant type "password" can not have response type "token" or "id_token"

[2018-11-14 08:29] panva commented on #396
Please elaborate

[2018-11-14 09:29] panva commented on #396
And of course it can.

[code]

Please note that it goes against the best practices to use both ROPC and implicit allowed in the same client. It goes against the best practice to even implement ROPC in 2018 and soon enough it will be the best practice to use code flow + pkce in favor of implicit.

[2018-11-14 09:29] #396 closed

[2018-11-14 09:33] panva commented on #150
In gist, it means the token endpoint call does not care about the cookies you send to it. They're not needed. The other issue you opened in openid-client shows you're doing something completely weird and i'm not sure if it's intentional or you just don't understand the flows.

[2018-11-14 11:40] GilVieira opened #397 "Question: Interact URL and Flow"
I would render the login interface, registry, consent, etc in the react, I am trying to use the interactionUrl, but my code does not pass through this function. And there is some example with redirect to consent page after login (do not know how to force consent_required error).

My interactionUrl block:

[code]

can anybody help me?

[2018-11-14 11:48] panva commented on #397
`interactionUrl` is for where interactions go in general. To prevent the authorization server from responding and forcing an interaction you configure(overwrite) the [`interactionCheck`](https://github.com/panva/node-oidc-provider/blob/v5.3.0/docs/configuration.md#interactioncheck) function.

Keep in mind you SHOULD carry over the default behaviours that are in there unless you know exactly what y

[2018-11-14 11:48] #397 closed

[2018-11-14 18:17] GilVieira commented on #397
I will render the UI by the provider, but how do I validate the consent in the interactionCheck if the function is only called after interactionFinished and flow is returned to the client? is there a way to invoke interactionCheck after login without interactionFinished?

[2018-11-14 18:39] panva commented on #397
No, you ought to be able to understand what interactions will be required without calling interactionCheck all the time. That’s why the docs say you must resolve all interactions that you might halt at at once.

That being said i have some things planned for this.

[2018-11-14 23:19] brandonros opened #398 "How to access interaction result data from findById?"
My finishInteraction looks like this:

[code]

Later on, oidc-provider calls `findById` (multiple times).

How can I pull up `interactionResult.login.user` reliably from `findById`? Do I need to key off of a `ctx.oidc` entity?

[2018-11-14 23:55] brandonros commented on #398
It seems like the interaction result is stored in a Session record. From there, it is turned into a AuthorizationCode record with the same ID, but the Session record is deleted...

How can I achieve what I am trying to achieve?

[2018-11-15 08:31] panva commented on #398
As you can see in the [documentation](https://github.com/panva/node-oidc-provider/blob/v5.3.0/docs/configuration.md#interaction) the result's login section is well defined and while you may be able to reach the result in some scenarios, it's not supported.

Your best shot for something that does reach the session (for requests that come from the end-user's user-agent and are intended to work with

[2018-11-15 08:31] #398 closed

[2018-11-15 16:00] brandonros commented on #398
Those calls are all linked to a common grant/sessionId, no?

Why is this package overriding the original interaction result through the adapter, I guess is my question.

I'm trying to achieve user resolution but findById doesn't work for me because my user resolution process isn't as stateless as that function design would like. It depends on incoming request headers + cookies and I am trying to a

[2018-11-15 16:10] panva commented on #398
You won't be able to access anything from the session, which is tied to end-user's user-agent and access it within token or userinfo calls.

It's not overriding anything, interaction session is short term, afterwards the well-defined parameters are transformed into properties in a regular end-user user-agent bound session.

Probably look for a different oidc provider then. If you can't make an acc

[2018-11-16 15:33] skeltonm opened #399 "Add username to introspection response"
**Is your feature request related to a problem? Please describe.**
We are setting up a resource server that will be provided with an access token that will validate the access token agains the IdP token introspection endpoint.  We need to know the identity of the user, but the resource server does not have access to the database that the sub is stored in.  Thus, we would like to add a user identif

[2018-11-16 15:42] panva commented on #399
Hi @skeltonm,

you may enrich the success json introspection response with anything you want using a custom post-middleware.

[code]

Makes sense? I think there's no need for a new feature.

[2018-11-16 15:47] panva commented on #399
Also, a dupe of #261

[2018-11-16 15:49] panva commented on #29
See #261 and #399

[2018-11-16 15:54] skeltonm commented on #399
Thanks for the info.  I had seen the other issue that was opened, but I was assuming since the username response parameter is an optional parameter of the OAuth 2.0 spec, it would be more core to the OIDC Provider than adding a custom middleware function.

Is there a reason why it shouldn't be made more core functionality?

[2018-11-16 15:57] panva commented on #399
There is, since claims outside of `sub` are completely implementation specific and OIDC doesn't even standardize the `username` claim (but `preferred_username`) AND, the big one I'd like to keep introspection endpoint lightweight so that it doesn't need to load the user at all.

[2018-11-16 15:57] #399 closed

[2018-11-16 15:58] skeltonm commented on #399
Sounds good.  Thanks for the explanation!

[2018-11-17 13:16] #385 closed

[2018-11-19 09:08] panpansh opened #401 "error_description: 'unrecognized route'"
**Describe the bug**
render problem

I just clone the master and start koa version

**To Reproduce**

Steps to reproduce the behaviour:
node example/koa.js

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Environment:**
- os: win10
 - oidc-provider version: master
 - node version: v10.13

**Additional context**
Add any other context about the problem here.

[2018-11-19 09:11] panva commented on #401
Hi @panpansh, see that this is a request to /favicon.ico made by your browser. There's nothing to fix. You may add a static favicon.ico to your koa app if you wish.

[2018-11-19 09:11] #401 closed

[2018-11-19 09:13] panpansh commented on #401
Hi  @panva  :) it's the same for getting root
oidc-provider:error uuid=undefined path=/ method=GET error={ error: 'invalid_request', error_description: 'unrecognized route' } detail=undefined +0ms

[2018-11-19 09:14] panva commented on #401
the provider doesn't have/need one. Just go to /.well-known/openid-configuration

[2018-11-19 09:18] panpansh commented on #401
but you have views _layout.ejs login.ejs
idk why is not working with your example

[2018-11-19 09:20] panva commented on #401
maybe this example for you then https://github.com/panva/node-oidc-provider-example

[2018-11-19 09:29] panva commented on #401
oidc-provider is not a full blown account management solution with root page, signup and login pages etc, it is merely a customisable protocol implementation

[2018-11-19 15:15] panva commented on #394
wip https://github.com/panva/node-oidc-provider/compare/master...feat/registration-policies

please let me know what you think before i proceed

[2018-11-20 02:12] greenboxal opened #402 "Custom Attributes"
Is there a supported way of adding custom attributes to a client? We want to store some extra information that relevant to flow.

For example, adding a "trusted" flag so we can skip the consent screen for our own apps.

I tried just adding the attribute but when using `provider.Client.findById`, I don't get the value inside the object.

[2018-11-20 05:18] panva commented on #402
https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#extraclientmetadata

[2018-11-20 05:18] #402 closed

[2018-11-21 08:51] marcelalburg opened #403 "Duplicate Cookies with different Path's"
Hello,

i created a default serverless oidc-provider and when i make this curl i got cookies with a wrong path - /auth instead of /inteaction

[code]

I debugged and enabled logging and see that someone is adding the same cookie with a different path:

`Serverless: [302] {"statusCode":302,"body":"Redirecting to <a href=\"/interaction/394e95c8-c590-448b-a0ea-61f8450ebf70\">/interaction/394e95c8-c59

[2018-11-21 09:00] panva commented on #403
Hi @marcelalburg,

this is intended and it's not someone, it's the provider :) see the responsible code [here](https://github.com/panva/node-oidc-provider/blob/v5.4.2/lib/actions/authorization/interactions.js#L207-L215).

The reason is that i don't wish to just rely on the path id component on the resume, the interaction session and it's resume must be bound to the user-agent so that you can't sta

[2018-11-21 09:00] #403 closed

[2018-11-21 09:06] panva commented on #403
ad serverless, are you using lambda to host? care share the adapter (i'm guessing dynamo) with the rest here?

[2018-11-21 09:09] marcelalburg commented on #403
Hello, thanks for the super fast answer. I checked and debug this lines of code and the path at this lines is correct.

and i using 90% of the code from https://github.com/AKIRA-MIYAKE/serverless-oidc-provider

Marcel

[2018-11-21 09:10] marcelalburg commented on #403
And i use lamba proxy offered from aws.

[2018-11-21 09:32] panva commented on #403
I think the adapter used in that project is not atomic when it comes to keeping track of tokens bound to a single grant, under load [this](https://github.com/AKIRA-MIYAKE/node-oidc-provider-dynamodb-adapter/blob/master/lib/index.js#L110-L131) part of the code doesn't maintain the list atomically.

[2018-11-21 09:37] marcelalburg commented on #403
Ohh, interesting. Didn't know that the adapter can influences the cookies. I'm don't use this lib and copy the most of them to a custom code: https://gist.github.com/marcelalburg/284d09e40d86db6cc91a44ac73d9f7ce

but this don't handle this part you mention in you comment.

[2018-11-21 09:42] panva commented on #403
this has nothing to do with the cookies, i was just interested in the adapter in use.

[2018-11-22 19:06] #394 closed

[2018-11-24 23:20] driesdroesbeke opened #404 "3th party authentication example"
I'm looking for an example where the user uses an external authentication form (idp,social,...) .

If I can get it to work I would like to contribute to the examples folder with a social login example since a lot of users have been asking related questions.

****************************************
I still have a problem (re)using the same session when the user is redirected from the external IDP

[2018-11-25 07:42] panva commented on #404
Another thing, your interaction root is /auth/login. So the interaction cookie is by default scoped to that path and anything “below” it. So by tge time the idp redirects to /auth/calback that cookie wont be found.

Notice how the interaction example routes are all subresources of the interactionUrl result.

I think that’s your issue.

[2018-11-25 20:04] driesdroesbeke commented on #404
Thx! I didn't notice the path specific cookies.

Do you accept a pr with an example for this setup?

[2018-12-04 10:14] supermanHub opened #405 "QUESTION: are you plan to handle missed interaction in resume?"
Hello @panva ,

I have a question of `resume` under this scenario:

1. Client send a authentication request with parameter `prompt=consent`
2. Developers only handle `login` process and forget to handle `consent` process in their interactions. for example, call `interactionFinished(req, res, result)` directly without any consent information in `result` object in POST login.

for such scenario, are

[2018-12-04 10:45] supermanHub commented on #405
@panva thanks for you explain. I agree with you, developers should to handle the whole interactions in one redirect to improve the performance. thank you

[2018-12-09 08:05] melorbany opened #406 "Sign-out"
**Describe the bug**

I am trying to sign-out from my session and after visit the usr "/session/end" I checked the redis keys I found that sign out is only remove the session key not the access token  and after redirecting to the main app it automatically sign-in without asking for login credential.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce th

[2018-12-09 12:57] panva commented on #406
Can you provide a dumbed down working example?

Tokens aren't getting dropped automatically when an end-user signs out, it only drops the session, that's working as intended (for this version anyway, i'm working on a new one where this is significantly improved and follows the recent oauth wg bcp discussions.

Again, please a fully working sample i can repro with, this is basic behaviour that's te

[2018-12-10 14:27] keeneagle opened #407 "Make openid a configurable scope?"
We used the oidc-provider to provide the oAuth 2.0 support for our production. Actually, we don't need id_token for oAuth authorization. But at current, it's always been generated since the openid is a must have scope in oidc-provider.
@panva, is there any consideration to make openid a configurable scope rather than a must have scope? Thanks

[2018-12-10 15:13] panva commented on #407
Hi @keeneagle, there isn't since this is an openid connect provider implementation and its behaviour when openid as a scope is not requested is by spec undefined.

[2018-12-10 15:13] #407 closed

[2018-12-11 07:54] melorbany commented on #406
Thanks, @panva I think the problem is related to the web client log out so I will check this and get back if I found anything related

[2018-12-11 07:54] #406 closed

[2018-12-12 10:49] panva commented on #407
I understand, but who defines the behaviours when openid scope is not requested, which of the openid features should be gated then.

By default the openid scope just makes it so that you get a token accepted by the userinfo endpoint and an id token containing information about the authentication, no claims. I don’t see the extra weight for a client who just needs oauth. Please elaborate.

[2018-12-12 11:24] panva commented on #407
actually, not that difficult now that i think about it

**These authorization parameters would require the `openid` scope to be present.**

- acr_values
- claims
- claims_locales
- id_token_hint
- max_age
- nonce

**access tokens are only usable at the userinfo endpoint if they have the `openid` scope**

**response types with id_token require the `openid` scope**

**token endpoint grant calls only

[2018-12-12 12:36] keeneagle commented on #407
Hi @panva, glad that you've thought it more deeper. 👍 Hope this feature would be released soon. :-)

[2018-12-12 12:49] panva commented on #407
Don't get your hopes up. I wouldn't expect the next feature release (looking at the changes i can already say it's breaking - so 6.x) until 2019 ;)

[2018-12-12 13:24] sunpeinju commented on #407
6.x is good enough, `oidc-provider`'s evolution is so quick:)

Your change list covers mine:
- stop returning id_token at /token endpoint if no openid scope
- check openid scope to guard /userinfo endpoint
- About the params check, you are expert:)

[2018-12-12 17:00] panva commented on #407
For the record openid will always be required to be available. What i’m gonna do is just make it optional in authorization requests together with the scope parameter

[2018-12-12 18:18] fauxsoup opened #408 "oidc-provider cannot update cookies in /session/end"
**Describe the bug**
[code]

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]
I suspect that only sessionManagement is important here, but have included my full config for reference.

I am currently using development-only keystore, and I do not believe it would impact the behavior.

Clients are using dynamic registration with InitialAccessToken. Working with `openid-clie

[2018-12-12 20:48] fauxsoup commented on #408
Hi @panva,

I assure you, I have version 5.5.1. I have just double-checked the package.json in node_modules; I also checked session.js and confirm that the forEach appears on line 34 in my node_modules too. I am running through `esm`; I wonder if that could change the line number being reported?

I am not mounting to a `koa` application; I'm mounting to `express@4.16.4`. I've been considering swit

[2018-12-12 21:04] fauxsoup commented on #408
I can no longer reproduce this issue after changing my usage of `remember` in `setProviderSession` and `interactionFinished`, so I suspect it is very likely my fault. I will close this issue.

[2018-12-12 21:04] #408 closed

[2018-12-13 02:14] deadmanhead1602 opened #409 "iOS Shared session (SSO) between native safari and UIWebView(in app browser)"
**Is your feature request related to a problem? Please describe.**
After iOS 11, the cookie space between each Safari instance cannot be shared except using ASWebAuthenticationSession to start the login flow. But the [document](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession?language=objc) tells that 'session cookies' still cannot be shared.

I found nod

[2018-12-13 07:32] panva commented on #409
Your interaction result should pass remember: true in the login block, this will make the session cookie have expiration and not be transient.

[2018-12-13 07:32] #409 closed

[2018-12-13 22:01] SokratisVidros opened #410 "Implicit flow with ID & Access token"
Hi there,

Just a quick question regarding implicit flow configuration.

I am using oidc-provider 4.8.2 and I am trying to test an implicit flow and receive both an ID & access token.

My client is configured with `id_token` and `token` response types. However, when I navigate to

`http://localhost:5000/oidc/auth?client_id=my_client&nonce=deadbeef&scope=openid&response_type=idtoken%20token`

the f

[2018-12-14 03:02] fauxsoup commented on #410
`idtoken` is incorrect. should be `id_token`.

[2018-12-14 05:51] panva commented on #410
Hi @SokratisVidros

I see that your authorization request is incorrect, the registered mode is `id_token token`, not `idtoken token`. And the error you're showing is a client validation error, this could mean one of two things, either your configuration also uses `idtoken token`, or you're passing in two array members [`id_token`, `token`] which is not the same as a single `id_token token` value.

[2018-12-14 05:51] #410 closed

[2018-12-14 10:32] GilVieira commented on #148
To skip the interaction dynamically I added an "sso" field in my client table (for internal clients), how could I retrieve this information in the `interactionCheck`, I know I can retrieve the id `ctx.oidc.client.clientId`, but I would not like to have to do another search in the database, is there a way I can add the property on the client object of the provider and retrieve it in the `interactio

[2018-12-14 11:05] panva commented on #410
[For the record](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-10) implicit flows returning access tokens are soon to be deprecated and discouraged from being used for new solutions.

[2018-12-14 11:09] SokratisVidros commented on #410
Makes sense @panva. Thank for the reminder.

[2018-12-14 11:56] GilVieira commented on #410
Hi @panva ,

so what approach should I use for a SPA application?

[2018-12-14 12:13] panva commented on #410
code + pkce

See the bcp draft.

[2018-12-14 12:21] panva commented on #410
Also [here, specific to browser apps](https://tools.ietf.org/html/draft-parecki-oauth-browser-based-apps-02) these are drafts and heavily discussed atm on the oauth WG mailing list. While they are subject to change the recommendation is not to use implicit for new development.

oidc-provider is ready for this if you do a post-middleware to open up the token endpoint to cors (this will be updated i

[2018-12-14 14:04] GilVieira commented on #410
@panva , correct me if I'm wrong, this case use the hybrid stream, and I will need a backend to pass the authorization code via https (POST) that will connect with the OP and then return the acess_token to the SPA:

1. **SPA** redirect with `code id_token` and `implicit` to **OP** (authorization_endpoint);
2. **OP** return `id_token` and `code` to **SPA**;
3. **SPA** send `code` to **backend (not

[2018-12-14 14:17] panva commented on #410
To begin with, if your use case is just login you should be using `type=id_token` and `mode=form_post` just to get details about the user. There's no point in handling secrets or access tokens if all you use it for is securing your own app.

If you need to get an access for a third party API then...

You have a backend to your SPA? Use whatever flow that doesn't return an access_token from the aut

[2018-12-17 19:18] brandonros opened #411 "Cannot send secure cookie over unencrypted connection"
[code]

I'm using Express serving HTTP behind nginx which handles turning it into HTTPS.

I don't understand how to enable secure + signed cookies in the described setup above. Any information you can offer would be a benefit.

[2018-12-17 19:23] panva commented on #411
Additional to that flag you must also configure your nginx to pass some headers. This is pretty standard and unrelated to oidc-provider.

https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#trusting-tls-offloading-proxies

[2018-12-17 19:23] #411 closed

[2018-12-17 22:36] kramer99 opened #412 "Question: id_token_hint validation?"
Apologies if any part of this question is vague, I'm quite new to OIDC.

I'm trying to get an OIDC flow from Microsoft Azure working, based off your tutorial examples. Azure passes an id_token_hint, which causes the initial interaction to fail:

`{ error: 'invalid_request', error_description: "could not validate id_token_hint (Cannot read property 'jwksUri' of undefined)",`

...which is thrown at

[2018-12-17 22:43] panva commented on #412
Hi @kremer99,

Not sure what you refer to here.

???

More context please.

[2018-12-17 22:54] panva commented on #412
_previously issued by the Authorization Server_ - it doesn't seem like whatever is calling your oidc-provider's authorization endpoint is passing an id_token_hint with a value that's previously issued by this provider.

The cryptic error "Cannot read property 'jwksUri' of undefined" inside the actual validation error is something i'll fix, but it won't change the outcome.

Please provide more cont

[2018-12-17 23:38] kramer99 commented on #412
Hmm, I see... that would make sense, as there has not been a successful authorization yet. Does that imply that Microsoft is not following the spec correctly with regard to id_token_hint?

Sure, I've taken the example here: https://github.com/panva/node-oidc-provider-example/tree/master/03-oidc-views-accounts and modified the client initialization values like so:
[code]
The auth call made by Azure

[2018-12-18 07:10] panva commented on #412
Would you please share the documentation you’re following?

Please explain what the two OPs are for and what your intentions are with this setup.

[2018-12-18 07:46] panva commented on #412
@selfissued Mike, it appears that when Azure makes an openid request to an external openid claims provider it send an `id_token_hint` which is an ID Token of Azure and not the one it previously received from the external claims provider.

An `id_token_hint` not issued by the OP itself will fail validation and therefore result in `invalid_request` error. Am I missing something or is Azure in the wr

[2018-12-18 09:16] Sh4dow opened #414 "client authentication failed when try get refresh tokent"
I don't think this is a bug, rather my configuration problem. This is how my client is configured.

[code]
Everything is working, I've got access and refresh token in response. But when i'm trying to refresh token i'm getting `client authentication failed` error.
Strange thing is when I log in to OP client token_endpoint_auth_method is checked against and array with one value `[ 'client_secret_bas

[2018-12-18 09:25] panva commented on #414
Hi @Sh4dow,

The problem is indeed your configuration, your client is using client_secret_post, not client_secret_basic.

What's weird is you it does an authorization code exchange with basic, and then refresh token exchange with post. I suggest you dig in your client configuration to align the way it does exchange overall.

[2018-12-18 09:25] #414 closed

[2018-12-18 09:28] panva commented on #414
And please keep in mind, it's not allowed to send both at the same time (post and basic).

[2018-12-18 09:48] Sh4dow commented on #414
So when i want to use refresh token i can't use client_secret_basic?

[2018-12-18 09:52] panva commented on #414
No you can, but your client must use exactly one authentication method throughout all its requests and that's the method you must configure in its configuration on the server side. At the moment (i briefly checked the code) it looks like your client uses two methods at the same time which is not allowed.

[2018-12-18 09:56] Sh4dow commented on #414
I've used default configuration for ```tokenEndpointAuthMethods``` and my client library use different methods for each request. For accessToken it use basic if found in .well-known, but didn't check for it in refreshToken request.
Thank You for help.

[2018-12-18 10:00] panva commented on #414
There's your problem.

[2018-12-18 10:31] Sh4dow commented on #414
I'll fork this lib and prepare some fixes for this and make pull request

[2018-12-18 10:32] panva commented on #414
`¯\_(ツ)_/¯`

happy i could help

[2018-12-18 17:03] davidgtonge opened #415 "Make keystore.refresh() safer"
**Is your feature request related to a problem? Please describe.**
Refreshing a keystore for a client that has registered with a set of keys rather than a `jwks_uri` throws an unrelated error.

**Describe the solution you'd like**
While debugging this problem I noticed that all instances of `keystore.refresh()` first checked if the keystore was stale. I will submit a PR that pulls that check into

[2018-12-19 03:06] huangyingwen opened #417 "adapters mongodb deleteMany is not a function"
**Describe the bug**

![image](https://user-images.githubusercontent.com/1214875/50196544-78dca700-037e-11e9-8b0e-f20b24b059b8.png)

[code]

this.coll(name) are asynchronous, In the code, the call is synchronous

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.
2.
3.

**Expected behaviour**
A clear and concise description of what yo

[2018-12-19 08:55] panva commented on #417
Hi @huangyingwen,

I am not able to reproduce the behaviour, `DB.collection` without a callback and flag for strict mode is synchronous.

Are you sure you're using the latest driver?

Please provide steps to reproduce using the example app or bundle up one of your own that i can replicate the issue locally.

I will close this and the PR for now but feel free to post the details and we'll reopen wi

[2018-12-19 08:55] #417 closed

[2018-12-19 13:23] panva opened #419 "v6.0.0 prerelease feedback"
Discussion around v6.0.0 pre-release tags (alpha/beta) goes here.

[2018-12-19 18:17] jpreese opened #420 "Hybrid flow configuration"
I have a client that I want to use the Hybrid flow with node-oidc-provider, but Hybrid is not an acceptable grant type. Using node-oidc-provider I'm not quite sure on how to set up a Hybrid flow since I want the response type to be 'code id_token', but every combination returns:

'response_type not allowed for this client'

`
grant_types: ['authorization_code', 'implicit'],
response_types: ['code

[2018-12-19 18:21] panva commented on #420
Hi @jpreese,

more context please. What's the authorization request you're doing?

[2018-12-19 18:32] jpreese commented on #420
Yeah, I have oidc-provider in a container and I've tried restarting after applying the change to the grant_type. I've also messed around with some configs that I know work and those changes are correctly reflected.

e.g. I did 'id_token token' with "implicit" and that worked just fine

[2018-12-19 18:34] panva commented on #420
1) Go to https://tranquil-reef-95185.herokuapp.com/setup
2) select hybrid (it uses "code id_token" too)
3) authenticate

Works fine.

Are you just suspending the container or stop and starting it?

[2018-12-19 19:01] jpreese commented on #420
Ok I didn't know about that setup app, and that pretty much confirms the configuration I have is correct. Which was an uncertainty on my part. Now that I know the configuration is correct, its just got to be something on my end or else this would be a much bigger problem.

I'll continue playing around with things on my end, so feel free to close. Thanks!

[2018-12-19 19:05] #420 closed

[2018-12-19 22:21] #415 closed

[2018-12-20 05:18] davidgtonge commented on #415
Thanks @panva

[2018-12-20 07:02] sunpeinju commented on #419
- Glad to see 'non-openid authorization requests' will be supported.
- Could you provide more details on 'Session model has been split to Session and Interaction'?
- Any idea when 'registrationManagement' feature will graduate? Or is the a way to hide the highlighted console NOTICE?

[2018-12-20 07:41] panva commented on #419
Ever since release the library has abused the Session model to create both long lived authentication sessions as well as the short lived interaction ones that you load with `#provider.interactionDetails()` and submit results via `#provider.interactionResult()` to. This meant your sessions table/collection has hosted two different models and document types. It will now be separate.

Probably never,

[2018-12-20 07:54] #412 closed

[2018-12-21 01:57] sunpeinju commented on #419
@panva Thanks for the explain.

I can understand 'registrationManagement' is experimental and may take a long time to refine and graduate, and `oidc-provider` as a library need to show sufficient warnings to the consumer application. However, once application chooses to take the risk and enable the feature, it may won't want to deliver such 'NOTICE' to its user. So it's meaningful for `oidc-provid

[2018-12-21 09:43] mraiur opened #421 "Persistent authorizations after logout"
Is there a way to keep user authorizations after logout.
I am using mongo adapter and i see the authorizations are stored in user authorizations object.
One logout method removes only the authorization and the other destroys the session completely.

My question is if there is a way to store the granted authorization for example in the user record and not in the session ?

[2018-12-21 10:03] panva commented on #421
As you do your interactions, e.g. login & consent screen, just store the grants on your own terms, then when the user re-surfaces you can skip asking for consents he gave before and just concat them with the results.

Note that some consents like offline_access should never be persisted and that you should always ask for all permissions for public clients (native apps, SPAs).

You may also provide

[2018-12-21 10:03] #421 closed

[2018-12-21 11:14] panva commented on #419
You misunderstood, that spec is finished and will not move forward. But it’s marked as experimental, hence the notice.

[2018-12-24 09:34] panva commented on #419
1) Why would it be removed?
2) its up to you to make your own security consideration and decide whether it’s sufficient or you’d rather build your own APIs

I use it with adapter backed initial access tokens that i issue with policies. Plus rotating registration access tokens.

[2018-12-26 01:32] sunpeinju commented on #419
thanks!

[2018-12-29 21:55] chungath opened #422 "invalid client error when secret contains + character"
**Describe the bug**
If there is symbol + in client secret, it will cause client authentication failed, the detail error information is 'invalid secret provided'.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1.  Dynamic register a client, and make sure there is character + in the client_secret field of registration response. Or yo

[2018-12-29 22:11] panva commented on #422
As stated many times before, this is not a bug.

Not out of the box, if the client doesn't support conform `client_secret_basic` then you may switch it to use other methods instead.

Alternatively, this code snippet has been sent to me. If or whether it supports both ways i don't know, i won't waste time investigating.

[code]

[2018-12-29 22:11] #422 closed

[2019-01-01 18:13] chungath commented on #422
Thanks, I will try out this middleware.....

[2019-01-01 18:47] chungath opened #423 "Claims in JWT Access Token"
Environment:
- oidc-provider version: [5.0.0]
- node version: [8.11.3]

We are using the configuration given below to generate the access token as a JWT token.
` formats = { default: 'opaque', AccessToken: 'jwt' }; `

In our case, the RP sends the access token to another service which validates the accessToken using the certificate from OP's jwks_uri.

Now, when the Service validates the JWT token

[2019-01-01 18:50] panva commented on #423
- #330
- https://github.com/panva/node-oidc-provider/wiki/FAQ#id-token-does-not-include-claims-other-than-sub

[2019-01-01 18:54] chungath commented on #423
I made  a mistake on the description, it is not the RP which is validating the token, the RP is sending the access token to another Service which is validating the token. I have corrected the description now.

[2019-01-01 19:03] panva commented on #423
Not out of the box and I don't plan to somehow make it easy-configurable.

You may however overload `provider.AccessToken.prototype.getValueAndPayload` method. This is public API - see [here](https://github.com/panva/node-oidc-provider/blob/master/lib/models/base_token.js#L153-L163).

For reference, the one used by the jwt format is [here](https://github.com/panva/node-oidc-provider/blob/master/li

[2019-01-01 19:03] #423 closed

[2019-01-01 20:00] chungath commented on #423
Thanks for the pointer!

Looking at it further, the accessToken payload seems to be containing [claims ](https://github.com/panva/node-oidc-provider/blob/v5.0.0/lib/actions/grants/authorization_code.js#L69) which is a copy of the claims property of Authorization Code.

The claims property in Authorization Code seems to be set as per the claims parameter in the request if
features.claimsParameter i

[2019-01-01 21:32] panva commented on #423
Unfortunately it isn't. The claims parameter has nothing to do with a jwt access token payload and neither does it mean the claims will be available because the client requests them.

The only thing that matters is the `provider.AccessToken.prototype.getValueAndPayload` result's first member representing the value that's returned.

[2019-01-02 11:08] davidgtonge opened #424 "Support `code id_token` without requiring `implicit`"
**Is your feature request related to a problem? Please describe.**
The OAuth WG is advising implementers not to use implicit mode, however the response type of `code id_token` currently requires oidc-provider to be have implicit mode enabled.

**Describe the solution you'd like**
I think the specs aren't entirely clear on this, but I'd like the option to support `code id_token` without enabling `i

[2019-01-02 11:15] panva commented on #424
Hi @davidgtonge,

are you referring to the client's `grant_types` registration metadata property?

https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata specifies the list of required values in that array for each of the response_type values. Having "implicit" in that list doesn't mean the client will be able to execute `response_type=token`, the `response_types` property wi

[2019-01-02 11:30] davidgtonge commented on #424
Ah, I hadn't check the dynamic registration spec.

And checking the [discovery spec](https://openid.net/specs/openid-connect-discovery-1_0.html) it says:

I'll close this :-(

[2019-01-02 11:30] #424 closed

[2019-01-03 12:35] NoumanDilshad commented on #97
I am still getting an error when using client_credentials.
I am using this clients =
[code]
Error: UnhandledPromiseRejectionWarning: InvalidClientMetadata: invalid_client_metadata

[2019-01-03 12:41] panva commented on #97
@NoumanDilshad handle it and read the error description

[2019-01-03 12:43] NoumanDilshad commented on #97
Please help me out.
This is the complete error:

[2019-01-03 12:45] panva commented on #97
No it's not. Handle the promise rejection and print the actual error, not a `UnhandledPromiseRejectionWarning`.

[2019-01-03 12:58] NoumanDilshad commented on #97
It says:
[code]

[2019-01-03 12:59] NoumanDilshad commented on #97
I need to handle

how can I handle that in odic-provider

[2019-01-03 13:06] panva commented on #97
You don’t have client credentials enabled at all. Please follow the configuration doc and enable the feature first.

[2019-01-04 07:02] NoumanDilshad commented on #159
Is it possible to send information from server-to-server (client_credentials). Same as we send in id_token. Like user_information. Thanks

[2019-01-04 14:35] panva commented on #419
Currently looking at 168 changed files with 4,565 additions and 4,187 deletions. Lots of moving code around, cleanup, dropping a lot of legacy behaviours to make room for new ones.

The upgrade route will not be straight forward and i'm well beyond the point of being able to note down all the breaking changes 😞

[2019-01-04 14:43] chungath commented on #423
Ok, so we can just override the **value** in the return value [value, payload] of getValueAndPayload.

Now, once we have the overloaded method, it will need the references to the classes for [opaque](https://github.com/panva/node-oidc-provider/blob/master/lib/models/formats/opaque.js) and [jwt](https://github.com/panva/node-oidc-provider/blob/master/lib/helpers/jwt.js) so that we can get the opaqu

[2019-01-04 14:50] panva commented on #423
Nope, thats why i said this isn't something out of the box supported and you'll have to write your own format using the [public API](https://github.com/panva/node-oidc-provider/blob/v5.5.2/lib/models/base_token.js#L143-L195) for this, you don't need to use the library's internals to achieve that, in fact, requiring files from within the library structure which isn't mentioned by the documentation

[2019-01-07 08:39] supermanHub commented on #419
Hello @panva , I see some great features will be included in the next major release, thanks for your contribution. Here I have to some questions related to your agenda.

1. `ctx.oidc.uuid` to `ctx.oidc.uid`, Are you plaining to replace `uuid` module with some other module? Could you please why you want to change it from `UUID` to string? Thanks!

2. `Session model has been split to Session and Int

[2019-01-07 08:43] supermanHub commented on #419
Hello @panva, Do you have a dead line of the next release? Or, do you have a agile planning board? How can I help you?

[2019-01-07 10:03] panva commented on #419
More in:

The theme of the next release is really just *BCP*. I no longer wish to support outdated practices. In that spirit

- `features.pkce` and `features.oauthNativeApps` are not configurable anymore and always in effect, pkce is always forced for native clients (xcept for device flow)

Hi @supermanHub

I don't. When it's ready :)

Correct, uuid is no longer a dependency. Instead random identi

[2019-01-07 10:46] supermanHub commented on #419
@panva If interaction model doesn't have that, then please ignore my suggestion.

Actually, even in the session model, I believe it's better to use `approvedScopes, approvedClaims`,  The reasons are:

1.  Developers do not need to cast received approved scopes(HTML Form) to rejected scopes any more. This very useful, especially for `approvedClaims` when `request parameters` is enabled.

2. `approv

[2019-01-07 10:55] supermanHub commented on #419
@panva Are you plan to make big change in next release? If so, I suggest you post the `approvedScopes` and `approvedClaims` a new issue, and asking developers to talk about in detail.

Do you think so?

[2019-01-07 10:58] panva commented on #419
`prompted` and `rejected` scopes/claims helpers are already available on the session model now and `accepted` is added to the new version. These are helpers available on the model, in the storage i'm only storing rejected and prompted, reconstructing accepted is then simple.

[2019-01-07 17:00] panva commented on #419
@sunpeinju

It will be possible to disable the draft version notices, with an extra bonus on top.
To disable a draft feature notice you will have to provide the draft version number with the feature configuration object. If you acknowledge a draft this way, not only will the notice go away, but since the expected version is now available to the library, if there is a breaking change between drafts

[2019-01-07 17:08] panva commented on #419
Given a notice like this (in v6.x):
[code]

To disable this notice i would do a configuration like this:

[code]

Given my package.json oidc-provider semver range starts with a `^`. If deviceFlow gets updated to draft-14 and there are no breaking changes, nothing happens. If there is a breaking update in draft-14 and the provider update includes that, the Provider constructor will throw and your C

[2019-01-08 09:10] davidgtonge commented on #419
really nice solution, thanks Filip

On Mon, 7 Jan 2019 at 18:08, Filip Skokan <notifications@github.com> wrote:

[2019-01-08 11:06] sandybemonkey opened #426 "Why every endpoint are in http"
I using the dicovery path and i just saw that every endpoint are in http beside the fact my issuer is in https, is there some config that i'm missed?

[2019-01-08 11:18] panva commented on #426
Hi @sandybemonkey

yes, a common one when setting up any kind of service behind a TLS offloading proxy

- https://github.com/panva/node-oidc-provider/wiki/FAQ#why-does-my-well-knownopenid-configuration-link-to-http-endpoints-instead-of-https-endpoints
- https://github.com/panva/node-oidc-provider/blob/v5.5.1/docs/configuration.md#trusting-tls-offloading-proxies

[2019-01-08 11:18] #426 closed

[2019-01-09 00:43] sunpeinju commented on #419
@panva nice 👍

[2019-01-10 13:44] panva commented on #419
pushed the WIP along a bit over the weekend, see the updated description, most notably `urn:` support for `request_uri`, handling `max_age=0` as `prompt=login` and rejecting client registrations containing private keying material in their `jwks` or `jwks_uri`

[2019-01-10 22:54] spruce-bruce opened #427 "question: force reauthentication with new tabs"
I have a use case where my users will be using my app on shared computers. I'm using session storage in my app to keep track of id tokens so that when a user closes a tab that id token is discarded. I'd like to force a user to reauthenticate when they open a new tab, but when I send my user to the oidc-provider login interaction the session cookie is still set (unless they've closed the browser co

[2019-01-11 08:17] panva commented on #427
Hi @spruce-bruce

That's not possible.

It's not on my radar. I wanna flesh out some of the quirks around ephemeral sessions but that's about it.

The answers from #331 still hold today.

Thank you.

Maybe you don't need OIDC at all then?

[2019-01-11 08:17] #427 closed

[2019-01-11 08:21] panva commented on #427
To be frank with what's coming v6.x i don't even think you could have tokens without a session, as the token's validity will be bound to the session being present.

That being said maybe you just need login and then you should use `response_type=id_token`, because then you might as well just not store sessions at all (in your adapter you just don't save them) and that gives you what you want.

The

[2019-01-12 23:05] lourenzo opened #428 "How to close the application when running AdapterTest from jest"
Hello,

I have implemented my own RedisAdapter, and I'm using jest on the project containing it, but it keeps open handles that break jest from closing it's process, with the following message:

[code]
(But using the option `--detectOpenHandles` only hides the message but the process still stuck...)

How can I sanitize/finish the instance so jest can quit when done testing?

I already have tried r

[2019-01-13 08:37] panva commented on #428
Hi @lourenzo, the adapter class is your code, so implement a close method you’ll call yourself?

Same as you’d call during graceful shutdown.

[2019-01-13 08:37] #428 closed

[2019-01-14 16:17] panva commented on #419
Interactions are completely redesigned, prompts are evaluated sequentially but their individual checks run in parallel. At the time of a prompt being triggered the interactions pack all details and provide those. Numerous other small changes allowed for the interactions to be cyclical, prompt by prompt so you don't have to resolve everything at once, but rather prompt by prompt. Prompts come in tw

[2019-01-14 18:46] lourenzo commented on #428
Yes, it makes sense. Thanks.

[2019-01-15 06:11] acappella2017 opened #429 "Question: The `opaque` token format"
We are considering move to the new `opaque` token format in our project. But I still have some questions regarding to the new format...Could you help to take a look?

- I know that the new `opaque` token makes analysing the data easier. Is there any other improvements by using the new token type? Performance improvement?

- The `legacy` token is composed of a random jti and a 64 byte random signat

[2019-01-15 08:18] panva commented on #429
Hi @acappella2017,

There's less serialization so in theory, yes, performance, but it's not noticeable.

${jti}-${signature}, and in introspection phrase, odic-provider validates both parts.
In the meanwhile, the opaque token is the ${jti} itself. Are these 2 kinds of tokens with different length in the same safety level?

The legacy was kept that long for "legacy" format reasons, nothing else rea

[2019-01-15 08:18] #429 closed

[2019-01-15 13:41] shlomitgilo opened #430 "backchannel logout throws an error when signing the logout_token"
**Describe the bug**

I configured the provider to support backchannel logout, and set the properties of the 2 clients supporting this feature.
The procedure executed as expected, until the point of the logout_token sign. There, it throw an error.

**To Reproduce**
Provider and Client configuration: (inline or gist)
[code]

Steps to reproduce the behaviour:

1. Sign in to "myclient" with user A
2.

[2019-01-15 14:00] panva commented on #430
Hi @shlomitgilo, can you provide details and trace for the error?

[2019-01-16 02:47] supermanHub commented on #419
@panva Cyclic interactions, it's very good, I remember we discussed it before, it is really very useful and makes developers not have to handle everything in interaction any more.

I see you are planning to redesign some of the oidc-provider, are you planning to completely follow the `backwards compatible` rule during the redesign process?

In additional, a new feature should be introduced during

[2019-01-16 03:06] supermanHub commented on #419
Benefit from `cookiePath` option, developers can provider dynamic `interactionUrl`.

**For example**,
if we set `cookiePath=/interaction/:grant`, and always persist `session`, `grant` cookies under this path.

Then we can return different URIs (`/interaction/:grant/login` or `/interaction/:grant/consent`) in `interactionUrl()` function based on `interaction.error`,

and in the KOA router of such U

[2019-01-16 03:14] supermanHub commented on #419
**VOTE**

In order to reduce effort of coding, and provider a meaningful design, I want to replace oidc `rejectedScopes` && `rejectedClaims` with `approvedScopes` && `approvedClaims`.

1. If you agree with me, please vote by 👍

2. If you do not agree with me, please vote by 👎

[2019-01-16 06:10] shlomitgilo commented on #430
This is the trace (oidc-provider DEBUG + my code logs, including the oidc-provider backchannel events handling in bold):

[nodemon] 1.18.7
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
[nodemon] starting `ts-node ./src/main.ts`
NOTICE: a draft/experimental feature (backchannelLogout) enabled, future updates to this feature will be released as MINOR releases
NOTICE: a draft/e

[2019-01-16 06:12] shlomitgilo commented on #430
More details:
Although the 404 status code, the backchannel logout post request is received by the 2 clients, but with no data though.

[2019-01-16 07:11] shlomitgilo commented on #430
More details:
The 2 clients receives the backchannel logout POST reqs, but with no body. i.e. no logout_token.

And here is the trace, with oidc-provider in DEBUG + my code logging of backchannel events (in bold):

[nodemon] 1.18.7
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
[nodemon] starting `ts-node ./src/main.ts`
NOTICE: a draft/experimental feature (backchannelLogout)

[2019-01-16 07:13] shlomitgilo commented on #430
As I wrote in the original message, the root of the backchannel.error event is the failure of the logout_token sign procedure.

[2019-01-16 08:45] panva commented on #430
Hi @shlomitgilo

How'd you figure that out? Where's that trace?

All i can see is that your registered backchannel logout uris are returning a 500, hence the failure.

[2019-01-16 08:45] #430 closed

[2019-01-16 09:07] panva commented on #419
The title says it all, this is a major version, so breaking changes are to be expected and as i signaled before, there are plenty.

The design of the provider has been mostly unchanged from 0.x 'till now, with the exception of storage, but everything else has mostly been the same as i designed it at first. This is changing now, there's been a lot that has been bugging me that simply has to go.

[2019-01-16 09:40] shlomitgilo commented on #430
yes, I have body parser

[2019-01-16 09:46] panva commented on #430
Well, you're gonna have to dig a little deeper i guess, i can't find anything wrong. From your logs there's clearly visible the http request goes out, and it gets a 500.

If there was an error with the signing, an http request wouldn't go out, see [here](https://github.com/panva/node-oidc-provider/blob/v5.5.2/lib/models/client.js#L327-L331).

Nothing much for me to go on from here.

[2019-01-16 10:05] shlomitgilo commented on #430
In the original message I detailed the configuration. Is something wrong there? did I miss anything?

[2019-01-16 10:07] panva commented on #430
It looks fine for a dev environment.

[2019-01-23 12:17] nataliahering opened #431 "InteractionFinished with error"
Hi,

When calling `interactionFinished` with an error object
eg:
`provider.interactionFinished(req, res, { error: 'some error', error_description: 'some description' });`
we won't get redirected to the RP.

If we want to get redirected to the client and pass the above object, which is the recommended way to do it? Using the `interactionCheck` will give the expected behavior, but I was wondering wh

[2019-01-23 12:21] panva commented on #431
Hi @nataliahering,

your report doesn't explain what happens instead of the expected result, doesn't mention the version of oidc-provider you're using, the environment, nothing tangible.

This,
[code]
or something to that effect is the recommended way of aborting an interaction.

[2019-01-23 12:46] panva commented on #431
I tried with `4.8.2` and the latest master and checked the tests as well to make sure this feature is indeed tested, 302 is what happens for me every single time.

The only case during authorization erroring out when redirect doesn't happen and the `renderError` is called instead is when the error is invalid_client, redirect_uri_mismatch or when the redirect uri couldn't be generally verified to b

[2019-01-26 11:20] marcelalburg commented on #381
Hello, i will use setProviderSession too but i don't understand, why i need to pass an account ? And i don't found any information inside the docs.

Can you explain my why an account is required ?

Thanks
Marcel

[2019-01-26 11:56] panva commented on #381
Hi @marcelalburg,

Because the point is to establish a session outside of regular interaction flow. So a session in order to have any meaning, needs the account identifier?

[2019-01-26 12:00] marcelalburg commented on #381
Mhh i see. Currently i look for a way to store data inside a "session" for multi step interactions. and the only (not nice way) is this:

[code]

If i would use the redirectTo Url it redirects me to /auth and back to my side with an error. So i need to redirect manually back to my interaction. Is this the correct way oder do i misunderstood something ?

Thanks for your always prompt response.
Marc

[2019-01-26 12:19] marcelalburg commented on #381
My most important use case is the facebook login.

1) when facebook redirect the user back to my App i use the facebook code to extract facebook id and email address
2) i check the userdatabase for that facebook id and if i found a user, everything is fine
3) if i not found an user with this facebook id i look into the database with the email
4) if i found an already existing user with that email

[2019-01-26 12:39] panva commented on #381
But then don't abuse the OP session. Your interactions flow may utilize its own session mechanism. I don't feel like opening up the OP session for just about anything. You're gonna need one anyway for things like CSRF protection.

[2019-01-26 12:50] marcelalburg commented on #381
Do you’ve an example how’s the best way to open an own session in context of openid provider?

[2019-01-26 13:03] panva commented on #381
the interaction itself (apart from loading the details with an OP helper) is like any other standalone web app you'd develop, so use whatever mechanism you're familiar with. There's no need to tie this to the OP. The op just cares about getting the results eventually, it doesn't care how you get them.

[2019-01-26 13:07] marcelalburg commented on #381
Ok thanks. But are there any issues with my mentioned code above or could i use this?

[2019-01-26 13:11] panva commented on #381
I don't recommend it as it's not future proof, in v6.x that i'm working on all models (including session and interaction) have their whitelisted properties defined, therefore your "data" will not be saved or loaded.

[2019-01-30 14:37] mackwan84 opened #432 "Support third party social login with the help of passport.js"
**Is your feature request related to a problem? Please describe.**
Any example about third party social login such as Github, Facebook or Twitter

**Describe the solution you'd like**
We can extend the authorize action by passing acr_values=idp:github, acr_values=idp:facebook to the /auth endpoint to start third party social login.

[2019-01-30 15:20] panva commented on #432
I have none. Unfortunately don't have the bandwidth to code examples for every single framework out there.

This is not related to the library, interactions can be anything you want. You can develop interactions independently of the provider.

acr values parameter and its values are already available in interactions, you can simple handle them the way you like.

[2019-01-30 15:20] #432 closed

[2019-01-30 15:26] mackwan84 commented on #432
For more, it is possible to open source the codes of the demo website https://tranquil-reef-95185.herokuapp.com for us to learn more about? Thank you very much.

[2019-01-30 15:52] panva commented on #432
It used to be part of the openid-client repo as an example use but i ultimately removed it because many developers took it for "how to" which it wasnt. I'm not going to expose it as the openid-client documentation just lists all the public API and how to use it.

[2019-02-03 18:32] panva commented on #419
We're almost there, left to do is to review docs and `debug` implementation. Notable additions

- context is now available in all configuration helpers, or at least it is intended to be, this includes token ttl, formats. (this does include adapter calls)
- prompted and rejected scopes/claims are accumulated with additional interactions, so no need to keep track of the old rejected ones
- new `form

[2019-02-04 05:51] supermanHub commented on #419
good news，thanks Filip

发自我的 iPhone

[2019-02-06 19:05] major-mann opened #433 "Question: make token_endpoint https"
When visiting `/.well-known/openid-configuration/` the `token_endpoint` I receive is HTTP instead of HTTPS. How can I configure things so that I receive an HTTPS `token_endpoint`.

[2019-02-06 19:28] major-mann commented on #433
Found the FAQ information

[2019-02-06 19:28] #433 closed

[2019-02-06 20:44] wrfarina commented on #331
@spruce-bruce where you able to achieve your expected behavior? I need the same behavior because in my case I might have errors after the user is authenticated and I need to ask user/pass again to avoid a loop. We might need to change something in the middleware. Any ideas?

[2019-02-06 20:57] spruce-bruce commented on #331
I'm not sure that your thing is related.
Without getting into your exact use case, you _can_ do things like deleting sessions from your store. I'm having trouble wrapping my head around your exact use case, because if the user's authenticated then their authenticated. Even if you destroy their session they will have a valid id token for example.

[2019-02-08 21:18] amaciver commented on #392
I have a question that I believe is related to this thread:

What would be a suggested pattern if I wanted to only honor Refresh Tokens if a user was still a valid user on the IdP?

My use case is that a user can be removed from the IdP, or lose access to a specific app. However, being already in possession of an AT/RT, the user can persist access after his status has changed. The IdP has no knowl

[2019-02-08 21:37] spruce-bruce commented on #392
I've accomplished that by modifying my adapters to only return tokens if I can verify that the user exists. So you update find with logic that's like:

1. Get the token from your store
1. Get the account id off of the token
1. attempt to fetch the user from the store
1. if a user is found, return the token, otherwise return false and call `this.destroy(id)`

[2019-02-08 21:39] panva commented on #392
I don’t follow.

Refresh Token grant, like all the other endpoints, already loads the user. If a user isnt’t found, the request fails.

Of course it does.

[2019-02-08 21:44] panva commented on #392
https://github.com/panva/node-oidc-provider/blob/master/lib/actions/grants/refresh_token.js#L59

Please explain what i’m clearly missing here.

[2019-02-08 22:09] spruce-bruce commented on #392
I have no actual explanation for @amaciver's issue, the `.find()` changes I made were not because of anything refresh_token grant related, but just a solution to another problem that's more related to the user management portion of my app.

@panva is obviously more right, @amaciver you probably need to check the `findById` function you're providing and make sure it's returning the right value when

[2019-02-08 23:00] amaciver commented on #392
@panva @spruce-bruce thanks for you response. I do see that this should be occurring. I will take a closer look at the IdP side of things. thanks as always.

[2019-02-12 08:54] stavros-wb opened #434 "Interaction cookie"
Hello @panva,

I see that after an interaction is finished the `resume` cookie is nullified:

https://github.com/panva/node-oidc-provider/blob/v4.8.2/lib/actions/authorization/resume.js#L47

But this is not the case for the `interaction` cookie. Is there a specific reasoning behind this decision?

Thank you

[2019-02-12 09:00] panva commented on #434
Yes, because the resume route has no reliable way to form the clearOpts (domain, path, etc), i recall this is a very niche edge-case i encountered when running interactions in a different app with different subdomain, port etc.

That being said, maybe the interaction object could have options stored from when they were originally set. I'll try and get that in the next major version.

If you want t

[2019-02-12 09:00] #434 closed

[2019-02-12 14:20] robertparts opened #435 "question - readme.md - session[authorizationRequestState] howto"
Hi, and apologies in advance for a newbie question.

There is https://github.com/panva/node-openid-client#processing-callback
session[authorizationRequestState] at first line - how can i get them?

Thanks in advance.

[2019-02-12 14:40] panva commented on #435
Hi @robertparts

this doesn't belong here and neither is a github issue tracker a place to start learning about the protocols and their use.

Sry.

[2019-02-12 14:40] #435 closed

[2019-02-14 18:21] panva opened #436 "Note on koa-router"
*Notice*

I will be replacing the koa-router dependency with @koajs organization owned one.

If you’re reading the news you know that koa-router package has been transfered to a new maintainer who himself claims his previous experience with maintaining OSS is limited.

It’s because of my fear that semver practice may not be upheld that i’m going to be taking this step.

The new router is also fast

[2019-02-14 18:23] panva commented on #436
I’ve also reached out to npm asking if they can restrict new package owners to only be able to publish new major versions. The response is that it’s not within their power but are aware of this being a much needed feat and are discussing what shape it’ll take with their product team.

[2019-02-15 18:53] #436 closed

[2019-02-18 06:55] justintime4tea commented on #419
Been following this project and love your work on it! Excited for the next release. Keep up the amazing work!

[2019-02-19 10:33] Saranya0721 opened #437 "Sample program for server initiated flow"
Hi Team,

What will be end point to hit back channel authentication flow. Can you share sample code if possible.

[2019-02-19 10:37] panva commented on #437
Hi @SaranyaCute

Can you elaborate in OIDC/OAuth2.0 terms?

[2019-02-19 10:53] Saranya0721 commented on #437
In OIDC terms. As per this document , https://openid.net/specs/openid-connect-modrna-client-initiated-backchannel-authentication-1_0.html#rfc.section.4 , it's says to bc-authorize with request body. But there is no such end point in oidc-provider

[2019-02-19 10:54] Saranya0721 commented on #437
In OIDC terms. As per this document , https://openid.net/specs/openid-connect-modrna-client-initiated-backchannel-authentication-1_0.html#rfc.section.4 , it's says to bc-authorize with request body. But there is no such end point in oidc-provider

[2019-02-19 10:57] panva commented on #437
As you can see at the very start of the README CIBA is not amongst the supported specifications.

[2019-02-19 10:57] #437 closed

[2019-02-20 14:09] jensluch opened #438 "CORS options openid-configuration"
**Describe the bug**
After 5.5.3 -> 5.5.4 changed headers returned by
HTTP OPTIONS
```/.well-known/openid-configuration```

Was:
[code]
Now:
[code]
It not looks like minor changes because some CORS issues may happen.

**To Reproduce**

Try CORS HTTP OPTIONS ```/.well-known/openid-configuration``` request

[2019-02-20 14:15] panva commented on #438
@jensluch thanks for reporting this, at least i'll have to write tests for default cors setup :)

[2019-02-20 16:18] panva commented on #438
Two issues at hand that got fixed now in `v5.5.5`

1) the new router was blocking preflight middleware from running. see https://github.com/koajs/trie-router/issues/40
2) the `allowMethods` option for https://github.com/koajs/cors was passed as `allowedMethods` - forever mind you

As a result 1) preflight is now fixed 2) is actually returning the correct methods

@jensluch thanks for bringing it u

[2019-02-20 16:18] #438 closed

[2019-02-20 16:24] panva commented on #436
the new router introduced a regression in cors preflight requests, this is now fixed `v5.5.5` - replaced the router again with an inline modified (see the source) implementation of https://www.npmjs.com/package/koa-tree-router

[2019-02-25 22:08] jpreese opened #439 "Getting ClientID before interactionFinished()"
Some of the metadata that we want to pass to interactionFinished requires the clientId of the client that initiated the flow (so that we can do some lookups based on the client, and allow said data to be introspected). However, it seems like all of the examples and issues on here are always after interactionFinished() triggers.

Is there a way to get the clientId before hand so we can have this cl

[2019-02-25 23:05] panva commented on #439
Hi @jpreese

How is this related to interaction? I’m afraid I don’t follow.

[2019-02-25 23:38] jpreese commented on #439
Sorry if it wasn't entirely clear, panva.

From what I can tell, the login{} and meta{} objects that are passed into Provider.interactionFinished() are the data that are returned when making a call to introspection.

We're trying to base some metadata off of the clientId, but are having some struggles getting the clientId before interactionFinished() is called. The context object seems empty. Sess

[2019-02-26 07:33] boehlke commented on #63
Hello @panva ,
I can understand your argument concerning security. Would you at least consider adding a client-wise https-required-flag which defaults to true? Keycloak has such a flag on realm-level.
I would make a PR for a changes!

Kind regards
André

[2019-02-26 07:41] panva commented on #63
Hi @boehlke,

I would not.

1) The only case where this is somewhat a nuisance is implicit and hybrid modes, which are being discouraged from being used for new client development anyway.
2) Client-level flag is from my POV an even worse idea then a an environment level one because it would allow clients to opt in
3) You can already [disable](https://github.com/panva/node-oidc-provider/blob/v5.5.5

[2019-02-26 07:49] panva commented on #439
Hi @jpreese

Thanks for the context. I think you're going about it the wrong way.

That is not the case. The `login` object properties are cherry picked and assigned to a Session object, session object is used to resolve authorization, authorization then cherry picks information to the token, that's then available in introspection and used to form the response. `meta` object properties are echoed

[2019-02-26 07:49] #439 closed

[2019-02-26 18:36] jpreese commented on #439
Thanks for the detailed response, panva! I think that gets us a little bit further.

[2019-02-27 06:52] davidnghk01 opened #440 "Expose Adapter for client cache"
**Is your feature request related to a problem? Please describe.**
Currently the client cache [has hardcoded](https://github.com/panva/node-oidc-provider/blob/b56a795b7274f72ec33af55853d2182bbdb3fc22/lib/models/client.js#L177) with in-memory cache, it would cause data inconsistent issue because when client on DB get updated the [cacheClear function](https://github.com/panva/node-oidc-provider/blob

[2019-02-27 07:55] panva commented on #440
Hi @davidnghk01,

the purpose of the cache is to avoid having to instantiate the internal `provider.Client` model because there are some potentially expensive operations tied to loading it (e.g. fetching sector_identifier_uri).

If a cache like you describe was in place that's not covered because I assume you're just thinking of something like memcached or redis for distributed cache. But that's n

[2019-02-27 08:08] davidnghk01 commented on #440
@panva That sound good, my current solution is disable cache by set `clientCacheDuration` to `0`.

Just curious how did compute the 'hash' ? By all attribute return from adapter ? By `sectorIdentifierUri` and `jwks` ? (Seem it is two attribute which related to `potentially expensive operations`) ?

[2019-02-27 08:23] panva commented on #440
I'm not gonna vouch for `clientCacheDuration: 0` because i'm not sure if it disables it or makes all items seem expired. To be sure lru-cache does explicitly mention setting it to negative value will do the thing you want for sure, assuming you understand its effects.

ad client hash, i'll use the same mechanism for calculating client session states, using [object-hash](https://www.npmjs.com/packa

[2019-02-27 08:26] #440 closed

[2019-03-01 07:49] kmorizur opened #441 "Retrieve registered client list"
Hi panva,

First of all thank you for this great oidc provider.

I'm trying to implement webview to list all the registered clients and also to be able to edit / delete each of them. I found the registration route that retrieves details of one client given its id and associated token but I'm wondering what is the best approach to retrieve all of them ?

Thanks for your answer.

[2019-03-01 07:52] panva commented on #441
Hi @kmorizur, that would be to list them out of your adapter.

[2019-03-01 08:00] kmorizur commented on #441
You mean each time a new client is added using the POST /registration I store in a dedicated table the client access info (client name + access url + token ) in order to access them later ?

[2019-03-01 08:01] panva commented on #441
You already have that table - registration access tokens, you have the value of the token, the client id and from that easily the pattern for client registration uri.

[2019-03-01 08:01] #441 closed

[2019-03-01 08:04] kmorizur commented on #441
How can I access this regsitration acces token table from provider ? I didn't find any route for it

[2019-03-01 08:08] panva commented on #441
It's your storage the provider stores data in, how you access that storage OOB for other purposes is not of any concern to the provider. Ergo, you're asking me how to access your own db :)

[2019-03-01 08:09] kmorizur commented on #441
ok I see thanks for your answer

[2019-03-01 14:54] panva commented on #419
Couple of updates

- I will release v6.0.0 in ~April after node v12 releases, node >= 12.0.0 will be the minimum required node version
- `node-jose` will be replaced a new jose implementation i've been working on the past few months in my free time
- There's a bug in password based (PBES2-*) token encryption, it's currently using truncated sha256 of the client_secret as the password. It should not

[2019-03-01 15:33] sunpeinju commented on #419
@panva
Is there any specific reason that need to set the node minimum version to V12?

[Node.js Release Schedule](https://github.com/nodejs/Release#release-schedule)
- V10.x entered active LTS from Oct. 2018 and will end its service at April 2021;
- V12 will enter active LTS from Oct. 2019;

`oidc-provider` is a key service that want to be deployed on LTS version Node.js in production environment;

[2019-03-01 15:47] panva commented on #419
@sunpeinju i'm aware of the LTS schedule, but hear me out.

v10 is not an option as it does not support the node crypto KeyObject API that the new jose module depends on. The use of KeyObject API results in 2x throughput on some of the crypto operations. Furthermore the new jose module is not based on promises, which for crypto, which is synchronous in node, just adds more time to the processing o

[2019-03-01 23:11] amaciver commented on #423
@chungath did you ever resolve this? Would love some insight into how you successfully overloaded the method.

[2019-03-02 08:33] panva commented on #423
I'm locking this, there will be a helper for additional jwt **access token** claims in [v6.x](https://github.com/panva/node-oidc-provider/issues/419)

[2019-03-02 08:57] sunpeinju commented on #419
@panva What's the jose module? You said it 'gonna be out in few days', is it brand new or stable enough so worth to be trusted?

Besides `oidc-provider`,  a real oidc server needs to depend on other modules, my concern is those modules won't upgrade so active. 'ldapjs' is a bad one, we use it to do user authentication, but witch lose maintaince and even can't support V10 (Finally we have to fork i

[2019-03-02 09:31] panva commented on #419
@sunpeinju

https://github.com/panva/jose

Yes

I wrote it with ❤️ and passion just like the provider and client

The reason why interactions require a redirect back and forth is to support interactions being a completely separate app. For exactly this reason. HOW you authenticate is of no concern to oidc-provider, you also do not need to use the interaction helpers, so long as you update the unde

[2019-03-04 12:00] David-hod commented on #330
I think we should also document this flag since there is not information about it on : [https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md)

I wasted 3 hours debugging the code until I saw this flag in the code. then i came across the issues and saw this issue which is exactly what I was facin

[2019-03-04 12:24] panva commented on #330
@David-hod
In v6.x this is no longer a "feature" configuration but rather root configuration property and it is exposed on the configuration page.

The [FAQ page](https://github.com/panva/node-oidc-provider/wiki/FAQ#id-token-does-not-include-claims-other-than-sub) also lists this as the first point and i'll be moving all FAQs to the bottom of both the readme and configuration.md files.

[2019-03-05 02:27] supermanHub commented on #419
**How about always using snake_case in code?**

Currently, I see you use both snake_case and camelCase in code, snake_case for database persistence, camelCase for JSON response and function parameters etc.

I think it is mess, so I suggestion to always use snake_case in all the code. No matter database, function parameters, and JSON response. The reason are:

1. Reduce the covert effort from datab

[2019-03-05 07:43] panva commented on #419
That is not entirely correct.

snake_case is used for protocol defined responses, simply dumping received (protocol) parameters and for **client** storage (because it's the only entity i'd expect a developer to ever create OOB and the IANA registry has snake_case parameters.

camelCase is used for all variables and method names.

JSON responses are dictated by the protocol and are snake_case.

One

[2019-03-06 20:30] panva commented on #419
See https://github.com/panva/node-oidc-provider/issues/419#issue-392599838 for update, it's not released yet but the code is available for the interested ones.

[2019-03-07 08:53] David-hod opened #442 "Login with consent"
I think it can really help for new developers to create full examples for interaction since it is not really understood from the docs.
when I say example i mean :
1. login + consent  using post/submit
2. login + consent using ajax.

I am trying to debug the code of  `interactionResult()`  and `interactionDetails()` in order to understand how I should write both flows. it also would be good to impl

[2019-03-07 09:08] panva commented on #442
I'm not opposed to more detailed examples, but,

- XHR i won't entertain
- Failed submissions should not reach the interaction result, just re-render your views like you would in a regular standalone application. The only thing the interaction helpers give you is context (details) and means to complete the flow when your own conditions are satisfied.

I kinda feel like i'm asked to provide example

[2019-03-07 09:08] #442 closed

[2019-03-07 12:32] David-hod commented on #442
it's not about using get/post its about using it's about how to use `interactionResult(),interactionDetails() ` inside those handlers.

[2019-03-07 12:48] panva commented on #442
ask those questions then with as many details as possible so i can help, i can hardly provide an example for everything.

This [doc section](https://github.com/panva/node-oidc-provider/blob/master/docs/configuration.md#interaction) sheds some light on that. In essence tho, when interactions are required a short lived cookie with a reference to an "interaction session" is pushed to the user-agent a

[2019-03-07 14:25] David-hod commented on #442
I will also put here a diagram of how I understood the server:
![flow](https://user-images.githubusercontent.com/7628718/53962927-e33af300-40f4-11e9-83ce-334976b6b376.png)

my understanding is that each time user comes to the /interaction  we try to understand what is missing.
if authentication is missing we redirect him to **1.** if he need consent we redirect him to **2**.
if everything is fine

[2019-03-07 14:26] panva commented on #442
The example bundled with the current master (5.x) does not do that, it's that simple. It submits the `consent` result directly from login.

In 5.x things are tricky, you are expected to resolve all future interactions in one resume, else the OP will throw and return to client (you might've read that in the linked configuration doc). It requires you to stay in interactions until the user has consen

[2019-03-07 14:27] panva commented on #442
Doesn't seem correct. The OP doesn't care about particular routes or flows, it just wants its results. How you get them in what logical order and how that's presented to the user is up to you to implement.

[2019-03-07 14:46] panva commented on #442
How things'll work in v6.x (due sometime in April-May) you can check out its [deployment](https://guarded-cliffs-8635.herokuapp.com/.well-known/openid-configuration), you can register a client either via dynamic registration or using the client [demo site](https://tranquil-reef-95185.herokuapp.com).

https://github.com/panva/node-oidc-provider/tree/vnext is where the new provider code is.

[2019-03-07 14:50] David-hod commented on #442
I read your message 4 times, still don't understand it.
I also read :` app.get('/interaction/:grant', setNoCache, async (req, res, next) =>`
if user is not login he render page that would post to  `/interaction/:grant/login`
but I never reach `/interaction/:grant/confirm`.
does it means that I need to create my own session/token and save state for each step I have  i.e. authentication, consent ...

[2019-03-07 14:52] panva commented on #442
yes

yes

`¯\_(ツ)_/¯` that's fine

[2019-03-10 12:56] David-hod commented on #405
I had the same issue with the: `prompt=login%20consent `.
I understand that the design of this framework is to let the user handle all the problems in one time.
on the other hand the framework does not return all the errors, just the first error on `interactionChecks`
I think that it should return all the errors as a list. to let the user know that he needs to handle consent or login or both of th

[2019-03-10 13:51] panva commented on #405
That’s exactly what v6 adresses. It’s not possible to return ALL errors. But at least all for a given prompt and all its modifiers. Thats why 6.x the interactions are cyclical.

That being said the current design works as well, you just need to understand the request yourself and your knowledge of oidc and not rely on a framework to hold your hand.

[2019-03-12 02:11] supermanHub commented on #419
@panva One suggestion, please think about it. That is
**Refactor**  `instance(this).Account = { findById: conf.findById };` **to** `instance(this).Account = conf.Account;`

The reason is, `instance(this).Account = { findById: conf.findById };` will cause some unexpected error and limit expansibility. You can test it with below code and see the difference.
[code]

An alternative solution is making

[2019-03-12 08:10] panva commented on #419
@supermanHub i don't see why this would be necessary. Knowing javascript you should know to bind `this` when passing a function requiring `this` somewhere.

E.g.
[code]

[2019-03-12 08:12] panva commented on #419
BTW having [@panva/jose](https://github.com/panva/jose) in place and it being entirely synchronous, i will get rid of the "initialize" altogether.

[2019-03-12 08:28] supermanHub commented on #419
Hello @panva , I don't know `bind` before, thanks for you response.

however, I don't believe it is a better solution to use `bind`...

Don't mind, you can leave it go, it's only my personal view.

thanks

[2019-03-14 09:45] supermanHub commented on #419
Hello @panva , I have a question about the `SequelizeAdapter` in example folder.

Why you add `grantId`, `expiresAt`, `consumedAt` to non-grantable(`Client`, `RegistrationAccessToken` ...) tables? Do you have some special concerns?

[code]

Can I remove it and what I have to take care if I remove it from my local file system?

Thanks

[2019-03-14 09:54] panva commented on #419
@supermanHub use your best judgment. I don't maintain the sequelize **_example_** anymore moving forward. Also, off topic.

[2019-03-16 00:58] David-hod commented on #405
I think it's a good idea to let the user the control for that.
On the other hand since not everyone is familiar with all oidc rfc and all parameters, it would be good to make a production ready  default interaction checks.

[2019-03-16 01:03] David-hod opened #443 "token based authentication"
currently when user is signed in (on interactions) we need to store a session cookie for his signin.
when user is already logged in, we don't need to authenticate him again.
Do you think that on v6 it would be possible to do a token based authentication?

[2019-03-16 07:31] panva commented on #443
HOW you resolve your interactions is up to you. IIRC nothing should forbid you from doing that, i've e.g. had interactions that just bounced the user through a page that requested a client certificate and then immediately resolved.

[2019-03-16 07:31] #443 closed

[2019-03-16 07:32] panva commented on #405
what's not production ready about these? can you elaborate?

[2019-03-16 12:34] David-hod commented on #405
I understand from this that the responsibility to handle those checks would be on the user and not on the framework.
as a user I would like to get a default production ready example of how to handle those checks and return all the errors for all prompts.
does it make it clearer ?

[2019-03-16 12:37] David-hod commented on #443
actually there is a problem.
today the framework skips on the interactions if all rules are passed. one of the rules is to check if user is signed in.
the framework checks if user is signed in or not based on a cookie session. I would like that on v6 it would would be based on encryption and tokens.

[2019-03-16 12:45] panva commented on #443
The provider has many more needs for a cookie then just to find out the logged in user, sorry I will not be entertaining this idea.

[2019-03-16 12:48] panva commented on #405
It doesn't, the OP side of things default already has all the best current practice checks built in, it will require interactions and pass the details down to you, the developer to handle.

If you don't know how to handle certain parameter related checks then that's an entirely different discussion.

Also steering off topic here.

[2019-03-16 12:50] panva commented on #443
Also, the check for logged in user in a cookie is done in a call to which you redirect the user. No way you can regularly expect a token to be part of the request.

[2019-03-16 13:01] David-hod commented on #443
I mean,  using a cookie to store a token on client.
checking if user is authenticated is by validating the token from that cookie.

[2019-03-18 09:45] justintime4tea commented on #419
Good ol contextual this... Ha :/ ... Function.call and apply are good ones to know too or sometimes I just use function keyword in place of lambda so my "this" is what I need it to be.

Definitely one of the fundamental JS things to learn is the many meanings of "this".

[2019-03-18 10:08] stavros-wb commented on #443
@David-hod I think you can achieve what you describe by implementing this check on a custom `interactionCheck`. So even if the library completes all of its checks successfully, you still get to handle the user if the token validation fails

[2019-03-19 15:04] DarkSorrow commented on #419
Hello,

I'm not sure where i should post this and since i don't want to pollute your main issue and i'm having the problem trying to work on that vnext version i'll just post there. I'm trying to start a standalone server to instantiate an OpenID server but when i try to run the exemple and the test i get this error

[code]

I thought it was because i wasn't generating the keys but when i try the

[2019-03-19 15:13] panva commented on #419
@DarkSorrow

1) I don't recommend working with the vnext branch just yet unless you're ready to debug a lot
2) I'll need the key material you're trying to use to reproduce and investigate. This should potentially go to https://github.com/panva/jose

[2019-03-19 15:34] DarkSorrow commented on #419
Well i was thinking about what to do since i read that there was quiet a lot of breaking change it made me think that it's maybe better to start with the new version as this identity server i'm working for should be release in april
I'll post on your link, tho i was just trying to generate the key from the doc i read so it's maybe me that didn't understood how it works

[2019-03-21 09:20] DarkSorrow commented on #419
Hello again,
I'm not sure where i should post this or if it's normal atm but since the last problem i had i'll still post there just in case. I ran the test suits on the vnext and i got a few error:

[code]

[2019-03-21 09:21] panva commented on #419
@DarkSorrow can you run them with master too?

[2019-03-21 09:57] DarkSorrow commented on #419
Yeah i get about the same error on the master branch.
I won't deploy on windows too anyway but the only dev computer i have at the moment is a windows one xD

[code]

[2019-03-25 10:11] DarkSorrow opened #444 "invalid request - missing parameter nonce"
**Describe the bug**
I created a small server and try to send a request to the auth endpoint using
http://localhost:3000/auth?client_id=CloudService&response_type=id_token+token&scope=openid&redirect_uri=http%3A%2F%2Flocalhost%3A4000%2Fauthentified

the localhost:3000 is the oidc-provider, i didn't put a nonce and the loading page request doesnt end. My browser keeps waiting for the request to com

[2019-03-25 11:33] panva commented on #444
Hi @DarkSorrow,

The logs show that the request ended with the expected errror, can you elaborate on the behaviour some more?

The way i see it the request should 302 to the client with invalid_request

[2019-03-25 13:15] DarkSorrow commented on #444
Yes i think you are right, the thing is i kept getting a invalid_grant with my request being
I'm using this at the moment: https://oidcdebugger.com/debug

the client is
[code]
I changed it because my localhost is having strange behaviour somehow. The thing is i run the first debug on this interface with code only that gives a query that looks like this

[code]
This works well and i received the co

[2019-03-25 13:57] panva commented on #444
IIRC these debuggers don’t default to the right client token endpoint authentication method. Providing both post and basic auth is also forbidden. If these tools provide post, just configure their client on the provider with the right token_endpoint_auth_method

At this point i think it’s just about configuring right or using a certified client that does things by the book.

[2019-03-25 13:57] #444 closed

[2019-03-25 13:57] DarkSorrow commented on #444
Okay when i read a bit more, even tho i passed an array in lib\actions\grants\authorization_code.js at line  61 the "code.redirectUri" just gives me the first url. so it seems the other url are not being checked. I'm not sure if its suppose to be this way or not but shouldn't it be an array?

[2019-03-25 13:58] panva commented on #444
Code is stored with the one uri that was used during the authorization call

[2019-03-28 19:26] amaciver commented on #89
@panva Would you mind providing a brief explanation of your statement?

It seems that many large OPs allow for issuer to be pegged to the subdomain used by the tenant, ostensibly because many OIDC clients validate the issuer against the discovery endpoint. Would love to know more about your thinking and whether dynamic issuer is something you have ever considered.

Thanks

[2019-03-28 19:28] panva commented on #89
Hi @amaciver, I have not, will not. One `Provider` instance is for exactly one issuer identifier. To run multiple in one process, just instantiate more and mount/route accordingly. That's outside of my support scope tho.

[2019-04-01 14:45] SurienDG opened #446 "Dynamic TTL doesn't change"
**Describe the bug**
I'm currently using the default in memory adapter. When I set the configure as set for ttl as shown below and then make a request to introspection endpoint for accessToken and refresh token currently get the original ttls. It doesn't seem to change.

I looked at #366  but this doesn't seem to be resolved and I'm not sure the other one is related since he was talking about sess

[2019-04-01 15:10] panva commented on #446
Hi @SurienDG,

I'm not able to confirm this so you'll have to elaborate and provide concrete reproduction steps.

See my test:

Set all `ttl` options to `15` with the default in-memory adapter, works fine, see below `exp === iat + 15` on both refresh and access token introspection.

<img width="464" alt="Screenshot 2019-04-01 17 08 58" src="https://user-images.githubusercontent.com/241506/55338370

[2019-04-01 15:22] SurienDG commented on #446
Nevermind I figured out my issue. I accidentally put the ttl configuration inside the features enclosing.

Thank you so much for your help.

[2019-04-01 15:22] #446 closed

[2019-04-01 15:44] panva commented on #446
Ideally using invalid options would err completely. I have some configuration option validations prepared in v6.x (now on master) but it's not really this, it's a step forward nontheless.

[2019-04-03 01:37] acappella2017 opened #447 "custom CORS rules support?"
oidc-provider supports CORS for userinfo/certificates//discovery endpoints. But it allows all origins.

We are trying to register a CORS middleware to customize the supported origins. Like this:

[code]

But the customized origins settings will alway be overrided by oidc-provider's own cors settings...

Is there any suggested way to register CORS middleware for oidc-provider? or is there any plan

[2019-04-03 08:03] panva commented on #447
You sure? If your middleware doesn't yield next during preflight than preflight should be fine. The actual request then i agree, will overwrite, but you can handle that with a custom middleware, it just needs to be tailored to how the provider works.

Can you provide the definition for your `corsMiddleware`?

I don't have a suggested one, CORS is supported and i fail to see the need to restrict ca

[2019-04-03 08:22] panva commented on #447
https://github.com/panva/node-oidc-provider/compare/cors-passthrough

wdyt @acappella2017?

[2019-04-04 01:50] acappella2017 commented on #447
This patch works for me. 😊 Great thanks!
Will it be in the official code?

[2019-04-05 03:27] yelexin commented on #201
@panva That link returns 404. Please give me a link. Thanks

[2019-04-05 09:39] DarkSorrow opened #448 "Question or error with standalone exemple"
I'm trying to use the standalone version provided in example but each time the login screen gets loaded it seems to load the login.js that is internally present in oidc. This one doesn't make a post to the interaction/uid/login but interaction.uid and goes directly to the consent mode at the moment.

**To Reproduce**
Load the provider in standalone mode and go on the auth endpoing with a client.
I

[2019-04-05 09:48] panva commented on #448
Please elaborate, i can't action on "seems to", the standalone.js examples loads routes from example/routes/koa which uses ejs templates from example/views.

- Did you copy those?
- Do you have devInteractions disabled?

Or is it just because i should have changed something else in the standalone exemple for it to work? Do i have to use the koa creation project instead if i want to use my own temp

[2019-04-05 09:56] DarkSorrow commented on #448
Okay my bad the devinteraction was turned to true so it was getting the login.js from default interaction.
I'm stupid :D

[2019-04-05 09:56] #448 closed

[2019-04-05 09:57] panva commented on #447
Yes. With the next v6.0.0 alpha

[2019-04-05 11:10] #447 closed

[2019-04-05 18:56] SurienDG opened #449 "[Question] How to rotate keys in keystore"
In your documentation you say you can just move the keys in your keystore and add the generated new keys to end. You then say after you do this you should refresh all processes. How do I get the provider to use the new keystore? Do I have to reinitialize it?

Also, is the only way to get the provider to sign with another key in the keystore to move the keys around?

[2019-04-05 19:24] panva commented on #449
@SurienDG yes it is the only way.

The key selection process isn't that straight forward as "take the first key in the list". But rather, given two keys have the same JWK members other than the key material, the one at the beginning of the set will be picked up.

[2019-04-05 19:24] #449 closed

[2019-04-05 19:31] SurienDG commented on #449
Ah I see but how do I modify the keystore object so that the provider instance will use a different key, Do I have to remove the old provider instance and create a new one?

[2019-04-09 21:14] SurienDG opened #450 "Event names are not up to date"
I was looking [here](https://github.com/panva/node-oidc-provider/blob/HEAD/docs/events.md ) (https://github.com/panva/node-oidc-provider/blob/HEAD/docs/events.md) to find out what events were emitted

When I tried them I didn't get any response so I searched your project for them  and they never get emitted (Ex. access_token.destroyed is not a valid event anymore)

I however managed to find the on

[2019-04-10 05:00] #450 closed

[2019-04-10 05:01] panva commented on #450
master points to v6.x alpha already.

[2019-04-10 08:58] nomad3k opened #451 "Documentation: Dead "available configuration" link"
**Describe the bug**
The "available configuration" link in https://www.npmjs.com/package/oidc-provider#configuration-and-initialization is throwing 404.

**To Reproduce**

1. Visit https://www.npmjs.com/package/oidc-provider#configuration-and-initialization
1. Click "available configuration"
1. Look at jedi picture

**Expected behaviour**
Link to docs.

**Environment:**
github

**Additional contex

[2019-04-10 09:07] panva commented on #451
Well i ain't publishing a version on npm just to fix a link. This will sorted once v6.x hits the `latest` tag on npm.

[2019-04-10 09:07] #451 closed

[2019-04-10 09:10] panva commented on #451
Anyway, I've added the old file with a link to the v5.x configuration.

[2019-04-10 10:05] codestorycooked opened #452 "Expiry date while logging out is not validated."
**Describe the bug**

To log out a user from APP or from another registered client, the API https://MYSERVER/session/end is invoked. That API has a parameter id_token_hint which expects a signed, unencrypted JWT. MYSERVER properly verifies the JWT signature and does not accept tokens with algorithm none. However, the expiration date is not checked.

oidc-version 5.0.3

[2019-04-10 10:21] panva commented on #452
ID Tokens are typically very short-lived, not spanning the lifetime of neither OP or RP sessions, with that this behaviour is expected.

[2019-04-10 10:21] #452 closed

[2019-04-10 11:52] SurienDG commented on #450
Thanks

[2019-04-11 16:30] DarkSorrow commented on #419
Hello,

I have another question, i suppose i'll leave it there to not pollute the issue part but i'm thinking maybe during this alpha it would be good to have some questions allowed to be added instead of just bug or feature request. I'm not sure if it's possible.

Anyway my question is about manageing consent for a user. At the moment i'm using redis and the redis adaptator in the exemple but i'm

[2019-04-11 16:50] panva commented on #419
@DarkSorrow interactionUrl has nothing to do with this. It's the interaction object that you have to provide (or modify the default) with prompts and checks.

That being said this is a good example i plan on properly exploring to find out if there's a missing API or helper to establish pre-existing consents.

As far as your http request issues, sorry, can't help with windows

[2019-04-11 16:50] panva commented on #419
@DarkSorrow interactionUrl has nothing to do with this. It's the interaction object that you have to provide (or modify the default) with prompts and checks.

That being said this is a good example i plan on properly exploring to find out if there's a missing API or helper to establish pre-existing consents.

As far as your http request issues, sorry, can't help with windows

[2019-04-11 20:59] DarkSorrow commented on #419
@panva yes i'm sorry, i was aiming at the interaction object downstairs but copy pasted interactionUrl, tho yes its why i mentioned the "client_not_authorized" i guess its the checks inside i'll need to change. I have to see that a bit more tomorrow. but some example could be good indeed, maybe i can try to make some if i understand it well.

About the issues, you had it running for long and you n

[2019-04-12 07:24] panva commented on #419
In my 3+ years running oidc-provider myself with several deployments I personally have not experienced this. The others also didn't else there would for sure be an issue in this tracker for this. When you talk about an agent do you mean you're fiddling around with the [node agent](https://nodejs.org/api/http.html#http_class_http_agent) with something like [global-tunnel](https://github.com/np-main

[2019-04-12 08:23] DarkSorrow commented on #419
I have the problem with the built in node agent, i just change the timeout and some request hang but well i'll wait until i can test on a real OS xD

I understand tho it's not just for the developper himself but also for the doc he can give to the clients after to see the endpoints documented for its final user. I was thinking more of the people who are going to use an oidc client or try to code s

[2019-04-16 10:11] stavros-wb opened #453 "Scope/Claims re-validation"
**Describe the bug**
No revalidation occurs of scopes for existing session

**To Reproduce**
Steps to reproduce the behaviour:

setup, client A can request scopes: a, c but not b or d
1.  Signin with a client requesting a, b, c
2.  Reject scope b and provide tokens for scopes a and c
3.  Do another signin and request scopes a, c and d
4. OIDC Provider checks to reject only the already rejected sco

[2019-04-16 10:19] panva commented on #453
Hi @stavros-wb you need to be way more descriptive of the issue. E.g. version, your interactionCheck configuration, etc

If you could provide detailed steps to reproduce using the bundled example of a specific version it'd be great. Until then i'm afraid I'm not convinced there's an action item for me.

[2019-04-16 10:24] panva commented on #453
Or is the issue not re-requesting already rejected scopes? That’s intended behaviour by default that you must conciously change and define behaviour for.

[2019-04-16 10:32] stavros-wb commented on #453
hello @panva the issue is about requesting scopes (that should be rejected) that you haven't requested the 1st time that client was authorized. So when there's already a session and you request new scopes there's not validation by default.

[2019-04-16 10:33] panva commented on #453
Ok, still not getting it, please provide steps to reproduce using the bundled example of either v6.0.0 alpha or v5.5.5 oidc-provider versions. Thank you.

[2019-04-16 12:14] stavros-wb commented on #453
Reproduced in master with config:
[code]
#### 1st interaction
• http://localhost:5002/auth?client_id=oidcCLIENT&response_type=id_token token&nonce=deadbeef&scope=openid profile phone&redirect_uri=https://sso-client.dev/providers/7/open_id
• signin
• consent
• id_token={"sub":"fii","nonce":"deadbeef","at_hash":"55soTScW6PEAZ7QBW-5i6w","aud":"oidcCLIENT","exp":1555419812,"iat":1555416212,"iss":"http

[2019-04-16 12:36] panva commented on #453
`revalidated` - what do you mean? The scopes have already been granted for that client in that session

[2019-04-16 12:41] stavros-wb commented on #453
exactly, but when incrementing authorization, revalidation is needed.
e.g. not all clients can get the same user claims/scopes. Same with access tokens as well. Scoping a token is about making it less _powerful_, when a client tries to get a more _powerful_ token, revalidation is needed.
the workaround is manually checking on `interactionCheck`, but I thought of opening an issue and checking if a

[2019-04-16 12:47] panva commented on #453
Incrementing is asking for additional, when i run your example i get prompted for the missing **additional** scope `email` as expected, it gets rejected by consent and the resulting token still only has `openid phone`. `phone` has already been granted hence no point in asking for it again.

This default behaviour i'm happy with as-is, rejections are in v6.x additive so after having both `profile`

[2019-04-16 12:50] panva commented on #453
If you wish to completely ignore previously given consents that's fine and modifying `interactionCheck` (v5.x) or replacing the `scopes_missing`/`claims_missing` checks (v6.x) is the way to do it.

[2019-04-16 12:50] #453 closed

[2019-04-17 07:42] acappella2017 opened #454 "Flexible scope check"
We are working on customized scopes support in our product. We are planing to allow admin register resource provider in our oidc server, which means admin can register a set of APIs in oidc server, and group them with customized scopes. Since admin may frequently add/remove scopes, we don't want to restart oidc server every time the scopes are changed.

We noticed that oidc-provider has the `dynam

[2019-04-17 07:45] panva commented on #454
Hi @acappella2017,

`dynamicScopes` are really meant for something else, not applicable to your use-case.

I don't see a problem with that and it is the only way to make new scopes and their scope-to-claim mapping available.

[2019-04-17 07:49] sunpeinju commented on #419
@panva

Is `Client.cacheClear([id])` method  removed in V6? Then how to tell oidc-provider a Client is updated and need to reload from storage adapter?

[2019-04-17 07:54] panva commented on #419
@sunpeinju yes, together with `clientCacheDuration` configuration option this is no longer needed. The provider will always load the client document from db and only if the configuration is different from the cached state will the provider undergo the expensive client metadata validation process. This means you can just change the client configuration in the DB and all your existing process will p

[2019-04-17 07:59] panva commented on #447
@acappella2017 I think custom CORS implementation is no longer necessary with v6.0.0 (now in alpha.1)

See https://github.com/panva/node-oidc-provider/blob/2418029/docs/README.md#clientbasedcors and https://github.com/panva/node-oidc-provider/commit/8b4fd9e

With this new helper function you control whether CORS request should be allowed or not on a per-request(+client) basis for the endpoints tha

[2019-04-17 08:22] acappella2017 commented on #454
@panva Thanks for your quick response!

We may have some misunderstanding of `dynamicScopes` feature, could you give some instruction of the suitable use case?

Could you give some suggest about how to do scope check in this case?

[2019-04-17 08:24] sunpeinju commented on #419
thanks, good news:)

[2019-04-17 08:32] panva commented on #454
Dynamic scopes are for enabling scopes that contain e.g. the resource identifier as part of the scope. For instance `api:users:read:4WBnu4U`, `4WBnu4U` being the dynamic part.

No you can't use `dynamicScopes` for your case, it doesn't apply based on your description. What i'm saying is that I don't see a problem with just reconfiguring and restarting the server.

1) I doubt this happens frequentl

[2019-04-17 08:58] acappella2017 commented on #454
In our case, the scope change may happen frequetly...Restarting server causes some problems to us. e.g. All our memory caches will be lost. And we will have to wait for all the current request to be processed before we can restart the server, so it will need some time to restart.

Is it possible to support passing a function in `dynamicScopes` config, so that oidc-provider can use the function to

[2019-04-17 09:07] panva commented on #454
No it is not. There's more internal configuration and mapping derived from the configuration than just available scopes, e.g. scope to claim mapping, client to scope whitelists, etc.

As I said `dynamicScopes` do not apply to you and restart with new configuration is the only available way, no plans to implement and maintain more than that.

[2019-04-17 09:07] #454 closed

[2019-04-18 02:56] sunpeinju opened #456 "[Question] How to reload oidc-provider when configuration change?"
@panva
I searched some history issues and found the solution you suggest is to restart the process with the updated new config. My question here is could we create a new oidc-provider instance to replace old one within the same process? Maybe uses some logic like below:

[code]

I want to avoid restarting the whole process, which means we need to implement / leverage a separate scheduler process,

[2019-04-18 04:59] panva commented on #456
Personally I’ve been hot swapping server callbacks for years now. That has however nothing to do with oidc-provider and you’ll have to figure out if it fits or not on your own.

The process goes as follows.

- disconnect the worker from a pool
- wait for all requests to finish
- disconnect keep alives
- change node server’s request handler
- connect back to the pool

[2019-04-18 04:59] #456 closed

[2019-04-18 05:12] sunpeinju commented on #456
@panva Thanks.
As long as two provider instances won't impact each other, application can response to take care the flow you described.

[2019-04-18 11:25] panva commented on #419
`v6.0.0-alpha.2` released

Notable change: `provider.initialize()` was removed

- what was previously passed to `initialize()` as `keystore` must now be passed as configuration property (as `jwks` and it must be a JWKS formatted object, no longer a KeyStore instance.
- what was previously passed to `initialize()` as `clients` must now be passed as configuration property (as `clients`) and may not

[2019-04-20 12:59] testruntry opened #457 "Need to implement password grant type with response type as id_token,token and refresh token."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2019-04-20 13:01] testruntry commented on #457
const express = require('express');
const Provider = require('oidc-provider');

const app = express();
const clients = [{
   client_id: "test_oauth_app",
   client_secret: "super_secret",
   grant_types: [''],
   response_types: [],
   redirect_uris: []

}];
const oidc = new Provider('http://localhost:7004',{
//console.log("HII");
claims: {
        email: ['email', 'email_verified'],
        phone

[2019-04-20 13:12] #457 closed

[2019-04-20 13:12] panva commented on #457
Please. Put some effort into understanding the framework before asking for help.

[2019-04-20 13:22] testruntry commented on #457
I have shared the basic code structure irrespective of the grant type, hence kept few fields in clients[] blank after trying . Client credential is working fine for me. Need to add the custom grant so seeked for your help.

[2019-04-20 13:25] panva commented on #457
https://github.com/panva/node-oidc-provider/blob/v5.x/docs/configuration.md#custom-grant-types

That’s as far as i’m gonna go. Trying to get a flawed ROPC going goes against every best current practice.

[2019-04-20 13:33] testruntry commented on #457
Thanks for the prompt response.

[2019-04-20 13:35] testruntry commented on #457
Also, require to authenticate the username and password with AD for ROPC .

[2019-04-20 13:36] panva commented on #457
That would be your own implementation you need to put in.

[2019-04-21 08:58] testruntry commented on #457
@panva
while trying for grant_types: ["authorization_code","implicit"] and response_types :["code","id_token","token"] as per the spec **https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata.**
Getting the error as : InvalidClientMetadata: invalid_client_metadata

Any corrections required ?

[2019-04-21 09:18] panva commented on #457
Why don’t you read the error description.

[2019-04-21 09:26] testruntry commented on #457
error_description: 'response_types can only contain members [**code id_token token**,code id_token,code token,code,id_token token,id_token,none]'

Response type that I passed is one of the required ones.

[2019-04-21 09:33] panva commented on #457
Response types are not individual tokens, they are the string as-is.

[2019-04-21 09:35] testruntry commented on #457
Can you please elaborate what corrections are needed . As I am a beginner to this module.

[2019-04-21 09:40] panva commented on #457
Just pass ‘code id_token token’ as one string. While you may be beginner to this module it is expected you understand OIDC before asking for help. This is not the place to get “how do i oidc” support.

[2019-04-21 10:24] testruntry commented on #457
Worked :)
for the following cURL command , curl -X POST \
  http://localhost:3000/token \
  -H 'authorization: Basic dGVzdF9vYXV0aF9hcHA6c3VwZXJfc2VjcmV0' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/x-www-form-urlencoded' \
  -H 'postman-token: 758e716d-c766-8019-8afb-f3a811d7bba0' \
  -d 'grant_type=authorization_code&scope=openid%20&code=68498567-4623-4d80-a1c2-27f5bbc2c08

[2019-04-21 10:30] panva commented on #457
68498567-4623-4d80-a1c2-27f5bbc2c087 is definitely not an authorization code.

This now goes beyond my capacity for support. You’re not really making an effort.

[2019-04-22 11:54] testruntry opened #458 "While registering the new grant type as in the docs above, I get the following error on custom grant_types can only contain members [implicit,authorization_code,refresh_token]"
While registering the new grant type(Password)  as in the docs above, I get the following error on startup grant_types can only contain members [implicit,authorization_code,refresh_token]

[2019-04-22 13:53] panva commented on #458
1) instantiate
2) register grant type
3) initialize with clients.

[2019-04-22 13:53] #458 closed

[2019-04-23 10:46] testruntry commented on #458
It worked fine!

Able to generate Access Token , but failing in the case of IdToken for password grand.

[2019-04-24 08:35] testruntry commented on #458
How to generate Idtoken in password grant , as there are no claims , acr . amr which is present in authorization_code. And which parameters will be used to sign the token?

[2019-04-24 08:37] panva commented on #458
You can see how it's done in the [other built in grants](https://github.com/panva/node-oidc-provider/tree/master/lib/actions/grants).

[2019-04-24 08:50] testruntry commented on #458
For eg. Authorization_code while generating Idtoken, it is done through acr, amr, clamis.(code.acr , code.amr)  Currently in password grant none is present.  Below is code , suggest the required changes:

const token = new IdToken({
	scope: 'openid',
	//acr: at.acr,
        //amr: at.amr,
        auth_time: at.authTime,
	},ctx.oidc.client);

	token.set('at_hash', accessToken);
	const idToken = awa

[2019-04-24 08:54] panva commented on #458
If they're not present, don't set them. You're in an uncharted, unsupported, non-interoperable and bad practice space. I'm not going to spend any more time with password grant types.

Please refrain from using this tracker as means for getting help for it.

[2019-04-24 09:21] panva commented on #419
@DarkSorrow i can now [confirm](https://travis-ci.com/panva/node-oidc-provider/jobs/195180881) the provider behaves as expected on windows.

[2019-04-24 12:33] DarkSorrow commented on #419
@panva Cool i didn't have much time this week but i'll soon work on my IdP again and retry on my machine too. I'll try to adapt the change and see how it goes too

[2019-04-24 13:13] DarkSorrow commented on #419
Ok sorry about the ticket for the jose library, i just installed the version 12.0.0 on my computer and made a npm run test and this is the end of my output

[code]

[2019-04-24 13:17] panva commented on #419
@DarkSorrow I'm not asking for confirmation that the internal tests pass for you locally, the travis build tells me that they do. I merely meant to dispel the idea that the provider does not work under windows.

There are steps necessary to make the suite pass on node 12.0.0 due to a bug in one of the test dependencies :) `npx patch-package`

[2019-04-24 15:06] DarkSorrow commented on #419
@panva ok i see, sorry i just thought it was passing but right now i tried to modify the adaptater and from what i understood the structure of an adapter is the same so i can use the old one i have right? I had one i made from the redis adapter but when i declare it in my standalone function now with

[code]
It seems that the provider is not taken into account because i get the message
`WARNING: a

[2019-04-24 15:09] panva commented on #419
well you're passing it as a `ByMeAdapter` property, not `adapter` :)

[2019-04-24 15:10] DarkSorrow commented on #419
yes i just changed that nevermind me xD

[2019-04-26 08:55] codestorycooked opened #459 "Revoke access_token and refresh_token"
We want to revoke `access_token` and `refresh_token` on endSession. ( we know this is not how it works. It client responsibility to call revocation endpoint) But we want to do it as it is our security requirement.
To achieve this what we are trying to do is to find `sid` when ` end_session.success` is emitted and delete  (trying) `access_token` and `refresh_token` corresponding to `sid`.

[code]
S

[2019-04-26 09:02] panva commented on #459
Yes. But i fear that
1) ctx.oidc.client may not always be there, you need to handle those cases.
2) i think `sidFor` in this case will not return anything because the authorization's object client_id specific namespace is already removed.

No.

[2019-04-26 09:02] #459 closed

[2019-04-26 09:49] codestorycooked commented on #459
Thanks.
`sidFor` returns `sid` which is common for `access_token`  &  `refresh_token`. I was planning to delete these tokens based on `sid`.

Is revoking of `access_token` and `refresh_token` be automatic in v6.x? If yes then we may have this temp solution for now as I described and will get away with it once v6.x is stable.

Thanks for your inputs

[2019-04-26 10:01] panva commented on #459
yes, for all tokens that are not marked as session-independent (i.e. offline_access)

[2019-04-27 02:21] yelexin opened #460 "How does this lib sign jwt token with alg HS256?"
@panva Thanks for reading this. I have spent a whole night trying to figure out how the jwt token is signed with HS256.
[code]

What I want to do is verify the id_token returned from the server(The id_token is signed with HS256). But I have to know how it is signed and with which secret key.
I have read this issue #186
I also provided the clientmeta jwks described in the specification in mongodb.

[2019-04-27 02:37] yelexin commented on #460
I have figured it out. It is the client_secret that is used as key to sign the jwt.

[2019-04-27 02:37] #460 closed

[2019-04-27 07:08] panva commented on #460
Yup, per the specification.

[2019-05-06 22:56] thomasvargiu commented on #308
Hi @matej-prokop, do you have some gist on how you implemented it (a working example)?

[2019-05-07 23:26] thomasvargiu commented on #419
Hi @panva, I'm migrating my OP from v5 to v6 (in typescript), implementing token-exchange grant type.
Since in v6 I can only set custom grant type after initialization with the ´find()´ method in the adapter, it would be nice to have a custom adapter for clients. For example, a MemoryAdapter for clients, and RedisAdapter for others.

The actual `adapter` configuration expects a class:
[code]

It w

[2019-05-08 08:55] panva commented on #419
@thomasvargiu but that is entirely possible already.

[2019-05-08 09:08] chakwok opened #461 "Additional claims in the return JWT token"
Hi Filip,

Thanks for providing this library :)

**What I'm trying to achieve**
I am trying to include two extra parameters, namely role and locale, in the return tokens (id, access and refresh token).

I have developed a working implementation of OP that can login and return the tokens accordingly. However, whenever I try to request extra claims, the /auth endpoint won't redirect to the proper lo

[2019-05-08 09:12] thomasvargiu commented on #419
@panva it's possibile just because in JS we can call `new` with a function, but it's a different type, so in typescript I should cast the class type ignoring warnings:

[code]

Yes of course I can decorate the class, but a factory pattern would be more convenient and flexible :)

[2019-05-08 09:12] panva commented on #461
4. is not using the “claims” (not claim!) parameter right.

https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter

[2019-05-08 09:12] #461 closed

[2019-05-08 09:14] panva commented on #419
Are you saying typings i **didn’t provide** are limiting you? :-)

[2019-05-08 09:24] chakwok commented on #461
@panva  Thanks for your prompt reply.

Sorry for copying the wrong query. I am already using "&claims=role" in the parameter list, but it returns status 302 response when I reach the /auth endpoint.

p.s. using "claim=role" actually does not return any error, just as expected, and the return tokens do not contain any additional parameters

[2019-05-08 09:28] panva commented on #461
Again, you are using the parameter “claims” wrong. Please see the specification on its format and usage. There is no parameter “claim” which is why the request goes through - it’s unrecognized and hence ignored.

[2019-05-08 11:04] chakwok commented on #461
I totally overlooked that. Thank you so much

[2019-05-09 12:31] bob-sheknowdas opened #462 "[Question] How to use oidc-provider as keycloak identity provider"
Im trying to use a node oidc-provider app as an identity provider for my keycloak server.
So far i cant get it working.
Keycloak throws an exception telling me that my oidc-provider app doesn't return an access token.

For more information please look at the question I posted at stackoverflow:
https://stackoverflow.com/questions/56055415/node-oidc-provider-for-keycloak

Do I have to configure the

[2019-05-09 13:12] panva commented on #462
Hi @bob-sheknowdas

Is rather generic and you could for instance run `DEBUG=oidc-provider:*` as the README suggests before reaching out for help, it would give me more insight, and yourself a chance to figure out the problem on your own.

However, it seems unlikely that keycloak is not using the provided `client_secret` to authenticate, in which case they call the token endpoint with either `clien

[2019-05-09 13:12] #462 closed

[2019-05-09 13:19] bob-sheknowdas commented on #462
Setting the token_endpoint_auth_method to client_secret_post was solution.

I've already experimented with client_secret_basic, but simply gave up when that didn't work.

Anyways, thanks a lot for the fast response.
Appreciating it.

[2019-05-10 18:41] ncphins commented on #404
I didn't really want to reopen an old issue, but since I believe others may be seeing this post and wondering as I did.

I have the same problem.  And I see that the path based cookies are the issue, but I am not sure how it is supposed to be solved.  I have the exact setup that was mentioned in the original post.

I authenticate to an external idp (SAML in this case) using passport which after au

[2019-05-10 18:49] panva commented on #404
@ncphins if you can't think of a way to bounce the details to back a scoped path you may just as well eliminate the scoped cookies altogether.

[code]

Note that not using scoped cookies means you'll be experiencing avoidable behaviour where two concurrent interactions will overwrite the cookie.

[2019-05-10 18:53] panva commented on #404
This would also be handled for you if your interactions just didn't include the `uid` at all.

[code]

[2019-05-10 19:04] ncphins commented on #404
Ok.  Thanks.  I have it working without the scope, but the concurrent issue is real.  I will see if I can work out a more generic way with the providers I am using.

I had it working modifying the interactionURL to not include the uuid.  But I felt like the concurrency problem would exist with that setup as well.

[2019-05-10 19:06] panva commented on #404
Indeed, those two are equal in that regard. What I always used when third party idp was in play was an interaction session of my own. A completely separate mechanism, when the idp login was over i redirect to a scoped path which read the results from a cache and `interactionFinished` with those.

[2019-05-10 19:21] panva commented on #404
You also don't NEED to use the helpers when you're out of scope, they're there to just make it easier.

As you start you idp login you can use e.g. the `state` parameter (i.e. have a it a signed JWT) to pass the uuid back to your callback route which isn't scoped, in that callback just mimic what [interactionResult](https://github.com/panva/node-oidc-provider/blob/v6.0.0-alpha.4/lib/provider.js#L1

[2019-05-10 19:28] ncphins commented on #404
The state parameter is a really good idea.  Let me play around with that to see if I can make that work.  Thanks for all the help (and so quick).  I will let you know what I get working.

[2019-05-10 22:52] thomasvargiu commented on #419
No, I wrote my own typings of course :)
Just to say that if it is a class, I shouldn't call it as a function, even if it's possible :)

[2019-05-12 09:09] slavab89 commented on #419
I hope you didnt already speak about this (quite a long discussion here).
We are trying to add support for custom session ttl for different accounts (That also affects the cookie), meaning during the interactions and before i call `interactionFinished` i am aware of who the account is and wether he's authenticated or not. I would like to be able to set a different session ttl for different account

[2019-05-12 10:25] panva commented on #419
I think there’s absolutely no side effect if you just did this in your adapter. Well, maybe session management cookies, if you’re using it.

[2019-05-12 10:27] panva commented on #419
Nevertheless, good suggestion, something that i’ll consider for future minor release

[2019-05-14 10:28] nataliahering opened #463 "Cannot set grant and session cookies to be secure"
In an application using koa, we are updating the oidc configuration in order to make the cookies secure:
[code]
Based on this https://github.com/panva/node-oidc-provider/tree/master/docs#trusting-tls-offloading-proxies we are also setting the provider proxy to be true.
The `x-forwarded-proto` in the header is set to `https`.

The grant and session cookies are still not secure. We do create a custo

[2019-05-14 10:35] panva commented on #463
@nataliahering can you share the request / response with set-cookie headers?

[2019-05-14 13:06] RasmusFredensborg opened #464 "End session with post_logout_redirect_uri but without id_token_hint"
Hi,
Thank you for this amazing OIDC implementation. I've been extremely happy with the amount of customisation and the level of OIDC compliance this implementation provides.

I'm using session management, and I'm trying to have an RP initiate a logout **without** an id_token_hint but **with** a post_logout_redirect_uri in the end_session query parameters. Looking into the code (```end_session.js``

[2019-05-14 13:23] panva commented on #464
Hi @RasmusFredensborg

Such lookup is not efficient and possible with the minimal requirement for document lookup via the adapter.

However, my understanding was the same and I attempted to [convince](https://bitbucket.org/openid/connect/issues/1032/rp-initiated-logout-proposal-for-client_id) the authors to define a client_id parameter in case that hint is not provided and uri was so that efficien

[2019-05-14 13:23] #464 closed

[2019-05-15 16:04] nataliahering commented on #463
After investigating further we were failing to set the secure cookies due to an unrelated deployment issue. Updating the config cookies settings is enough to make it work. Thanks!

[2019-05-15 16:04] #463 closed

[2019-05-21 04:13] codestorycooked opened #465 "Question : State Prameter"
Hi @panva, In any of the flow where `state` parameter is being sent, should we delete them (whatever mechanism is being used a cookie or local storage) after successful or failed login attempt?

Thanks
Kunal

[2019-05-21 05:33] HMaxDesign commented on #465
Hi @codestorycooked, I try an answer to this one. Regarding to corresponding RFC state is there to ensure a link between a specific autorization request and the corresponding callback. In essence this state is scoped to one request/callback. State should be deleted after callback, but it may have been build with persistent data such as a visitId or a sessionId or whatever distinguish two of your a

[2019-05-21 06:04] #465 closed

[2019-05-21 06:06] panva commented on #465
This belongs on stackoverflow, not a library **issue** tracker.

[2019-05-21 22:19] ayZagen opened #466 "sub missing in id_token when dynamicScopes are used"
**Describe the bug**
Setting dynamicScopes to `/.*/` -which means accept all scopes- makes sub excluded from id_token. However sub in id_token is a must according to [OpenId Specification ](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)

**To Reproduce**
set dynamicScopes to accept all as following:

[code]

version: 6.0.0-alpha.6 (but i believe it is the same on v5)

[2019-05-22 05:53] panva commented on #466
Well, are you requesting the openid scope in the request?

[2019-05-22 06:36] ayZagen commented on #466
@panva Of course, this is the request:

URL:
http://localhost3000/oauth/auth

Query String Parameters:
client_id: test
redirect_uri: http://localhost:8080/callback
response_type: id_token token
scope: openid email
state: b0496cfedbbb49699ff15f9ee4d5092f
nonce: b1b53884cb37474aa4fd987d69bef2d1
audience: test-audience

[2019-05-22 06:39] panva commented on #466
yeah, i've confirmed this.

[2019-05-22 06:42] #466 closed

[2019-05-22 06:42] panva commented on #466
Thank you for the report.

[2019-05-22 06:44] ayZagen commented on #466
Thanks for the great work you have done!

[2019-05-22 15:49] thomasvargiu opened #467 "[v6.0.0-alpha6] Redis rejson example doesn't use keyPrefix"
Hello @panva,

the redis rejson example doesn't use the keyPrefix with `JSON.SET` calls. I think you should prefix it manually.

[2019-05-22 15:52] panva commented on #467
@thomasvargiu thank you for reporting this, can you suggest the change necessary please? I'm short on capacity these days.

[2019-05-22 15:57] thomasvargiu commented on #467
I think you can keep it simple. You can avoid the use of the key prefix, and let developers implement it if they need it.
If you want to provide an example with the key prefix, you should prepend it to the key manually when using `JSON.SET()` and `JSON.GET()`.
I will open an PR when i'll not be busy (I'm very busy too these weeks).

[2019-05-22 17:39] #467 closed

[2019-05-23 10:05] DarkSorrow commented on #419
Hello,

I have a question about the client authentication, i was wondering if i should store the client_secret encrypted in the database like i do for the password but then if i do that that means that the endpoint token should have a mean to decode it before making the comparison and this endpoint doesn't have any hook isn't it?
I saw the clientDefaults where you can specify token_endpoint_auth_m

[2019-05-23 12:45] hadelnasr commented on #318
how to set DEBUG=oidc-provider:*? using ubuntu

[2019-05-23 22:44] ayZagen opened #468 "access_token not found if consent is skipped"
Hello,

I am trying to skip scope consent for first party applications. I have modified [scopes_missing consent check](https://github.com/panva/node-oidc-provider/blob/a3d078fde63447fb24180189ad62be10cb02e8ba/lib/helpers/interaction/prompts/consent/scopes_missing.js#L7) like this:

[code]
Everything seems OK until i make request to `userinfo` endpoint with the token provided from the provider. Pro

[2019-05-24 05:55] panva commented on #468
Sounds familiar. Don’t skip consent ;), the lines in resume action related to consent are important. If you’re skipping consent those need to appear in you updated code somewhere.

i’m actually working on this now so you’ll see an update with the next alpha release that addresses skipping the resume codepath.

[2019-05-24 07:19] panva commented on #468
Please try with `npm i panva/node-oidc-provider#fix-468` and let me know.

[2019-05-24 07:48] ayZagen commented on #468
2df0dce fixes it, thank you for your great work :)

[2019-05-24 07:48] #468 closed

[2019-05-24 07:49] panva commented on #468
Was just a proposal, i still need to iron the thing out.

[2019-05-24 07:55] ayZagen commented on #468
Do you predict lots of changes in the codebase ?

[2019-05-24 07:56] panva commented on #468
yes.

[2019-05-24 07:57] ayZagen commented on #468
can't wait to see it :)

[2019-05-24 13:40] ayZagen commented on #419
Hello,
What do you think about having client specific scopes instead of provider bound ones ? This would make great sense for having two different APIs that use the same provider.

Api1_Client could have scopes as `['read:user','create:user']` and Api2_Client could have `['read:file','create:file']`. And they SHOULDN'T support the other ones' scopes in this case.

[2019-05-24 13:47] stavros-wb commented on #419
@ayZagen this would also solve https://github.com/panva/node-oidc-provider/issues/453

[2019-05-24 14:46] ayZagen commented on #419
Hello @stavros-wb For that issue I would agree with panva -_if I have understand it correctly_- since if a scope is already granted than why we should ask for confirming it again? For the new scopes, the expected flow would be asking it again and it seem oidc provider asks for it. (I haven't checked it, based on to the panva's [comment](https://github.com/panva/node-oidc-provider/issues/453#issuec

[2019-05-24 15:10] stavros-wb commented on #419
@ayZagen that's exactly what I was trying to achieve
https://github.com/panva/node-oidc-provider/issues/453#issuecomment-483642560

Currently the workaround for prohibiting a scope (in this context not allowed for a client) is to add it manually to the rejectedScopes of the consent.
[code]
but on a second re-authorization flow, such a hook doesn't exist, and oidc-provider asks for consent for a sc

[2019-05-24 15:18] ayZagen commented on #419
@stavros-wb It is crystal clear now :)

[2019-05-24 18:49] panva commented on #419
@ayZagen @stavros-wb Both of your cases are handled in v6.x, if you don't want a scope to be ever issued to a client - simply configure the client with the scope values its allowed to use.

From the CHANGELOG:

- [authorization middleware](https://github.com/panva/node-oidc-provider/blob/v6.0.0-alpha.6/lib/actions/authorization/check_scope.js#L14-L40)
- [client schema check](https://github.com/pan

[2019-05-24 18:57] panva commented on #419
@DarkSorrow I have a hard time parsing your last comment, it could use more grooming and consistency in the terminology used throughout this project and oidc. I will nevertheless try to answer.

https://github.com/panva/node-oidc-provider/blob/master/docs/README.md#clients

Static clients are never read again, modifying your configuration object isn't going to do anything. Clients defined this way

[2019-05-26 11:24] mdbraber opened #470 "Question: examples of node-oidc-provider + client on Docker?"
Hi,

I'm using https://hub.docker.com/r/qlik/simple-oidc-provider which is both OIDC provider + client in one bundle - ideal to be used in an internal setting for lightweight testing / internal use. Unfortunately the QLIK source repo seems to be MIA. Are there any known similar builds available using node-oidc-provider + client in a single package?

Thanks!

[2019-05-26 13:31] panva commented on #470
I don’t have such example. Maybe others do, i’ll leave this open for a few days maybe someone will turn up.

[2019-05-26 14:57] thomasvargiu opened #471 "[alpha6] CORS on registration endpoint"
Hi @panva ,

I think CORS preflight in dynamic client registration endpoint doesn't work.

[code]

This returns a `404`with the following error:
[code]

[2019-05-26 15:05] panva commented on #471
Not intended to work.

[2019-05-26 15:05] #471 closed

[2019-05-27 00:04] KalleV commented on #419
Hi. I'm running into an issue with the _interaction cookie after upgrading from v4 to v6.

This is the flow I'm using:
 - /authorize
 - Resolve interactionUrl to: /authenticate
 - <passport js authentication with third party idp>
 - /authenticate/callback
 - Resolve interaction

The very last step is failing since the _interaction cookie is somehow getting cleared during the interaction. While deb

[2019-05-27 09:12] bob-sheknowdas opened #472 "Question: Changing default routing within oidc-provider"
Hi,

I'm using a oidc-provider app in a docker cluster with traefik.
All requests with the url "/oidc-adapter" are supposed to go reach my oidc-provider app. That works great so far.

But... oidc-provider does a lot of internal routing towards the "/interaction"-url.
Is there any way for me to change that so the internal routing reaches "/oidc-adapter/interaction" instead of just "/interaction" ?

[2019-05-27 09:59] panva commented on #472
If you could create a stripped down Dockerfile that i could replicate your issue I can help.

Without it tho my only question is if your `issuer` identifier value matches the root path. Essentially, when you visit your `/.well-known/openid-configuration` - does the `issuer` property value include `/oidc-adapter` at the end. If not, try it.

[2019-05-27 10:32] mdbraber commented on #470
@panva thanks  for your reply! In the meantime I've been able to get what I needed working with https://github.com/dexidp/dex (with an even smaller memory footprint of 4MB). So I'll go ahead and close this issue for now!

[2019-05-27 10:32] #470 closed

[2019-05-27 13:55] bob-sheknowdas commented on #472
The openid-configuration is not the cause of my problem. Following the `/.well-known/openid-configuration`, my browser displays the desired endpoints.

I observed my traffic...
he first request send to my oidc-provider is a GET to the `/oidc-adapter/auth`-endpoint, which returns a 302 (seems to work, i'd say).
The second request is a GET to the `/interaction`-endpoint. It returns a 404 (as expecte

[2019-05-27 14:00] panva commented on #472
That's not what I was asking, what is the `issuer` value returned by that document?

[2019-05-27 14:42] bob-sheknowdas commented on #472
Oh, my fault. I am sorry for not reading propperly...

Ok, so I've experimented a little with the `issuer`. I've tried using just my base url, which is `issuer=bob.localhost`, as well as the base url + the oidc-provider-app-prefix, which would than be `issuer=bob.localhost/oidc-adapter`.

Both did not solve the problem. I get redirected to the same url...

Did I get ur question right this time?
Am

[2019-05-27 14:45] panva commented on #472
Maybe, i still lack a way to reproduce.

---

In any case - are you still using `devInteractions` or using your own?

[2019-05-28 03:37] tony-kerz opened #473 "unrecognized route or not allowed method (GET ' + 'on /.well-known/oauth-authorization-server)?"
when i run an instance of provider and an instance of client,
when the client calls `Issuer.discover()`, i see the following in the output of the provider:
[code]
is this normal?

regards,
tony.

[2019-05-28 05:40] panva commented on #473
Yes. The client is doing discovery on both well known endpoints - oidc and oauth

[2019-05-28 05:40] #473 closed

[2019-05-28 16:16] panva commented on #419
@KalleV if you could capture a HAR of the whole exchange i could help, but since the interactionUrl you're using is on a sub path of the callback one there's no reason for the cookie to be "lost" other then your own environment or conflicts with cookie names - the resolve interaction call looks for the same cookie and there's no oidc-provider involved in what you do.

Mind you the default cookie n

[2019-05-28 23:44] thomasvargiu opened #475 "Bug: wrong discovery server metadata for jwtIntrospection"
Hi,

the server metadata for jwt introspection are wrong.

The [spec (currently draft 03)](https://tools.ietf.org/html/draft-ietf-oauth-jwt-introspection-response-03)  say they should be:
[code]

Currently they are exposed as:
- `introspection_endpoint_signing_alg_values_supported`
- `introspection_encryption_alg_values_supported`
- `introspection_encryption_enc_values_supported`

[2019-05-29 05:35] panva commented on #475
They are not wrong, the spec is. I’ll let torsten know.

[2019-05-29 05:41] panva commented on #475
Or maybe not, lemme take a look.

[2019-05-29 07:09] #475 closed

[2019-05-29 07:20] bob-sheknowdas commented on #472
It seems, that was the problem.

So far I only had my own version of GET `/interaction/:grant` and POST `/interaction/:grant/login` but didnt set the `devInteractions=false`.

Having the `devInteractions=true` somehow overwrote my changes in `interactionUrl(ctx)`.
Now that I set them to `false`, my changes in `interactionUrl(ctx)` are recognized by the framework and everything works as expected.

[2019-05-29 07:24] panva commented on #475
Thanks for pointing it out.

[2019-05-29 07:24] panva commented on #472
🎉

[2019-05-29 07:24] #472 closed

[2019-05-30 22:41] thomasvargiu opened #478 "Ack for mtls check"
Are these checks correct?

https://github.com/panva/node-oidc-provider/blob/4e1bb2f50f265c45bdb9d9f23d81d3b2ffac180c/lib/helpers/configuration.js#L424-L436

https://github.com/panva/node-oidc-provider/blob/4e1bb2f50f265c45bdb9d9f23d81d3b2ffac180c/lib/helpers/configuration.js#L438-L449

`tokenEndpointAuthMethods`, `revocationEndpointAuthMethods` and `introspectionEndpointAuthMethods` are arrays, ho

[2019-05-31 04:53] panva commented on #478
It is correct. When those values are present in the array and that array has an ack property the warning is muted.

[2019-05-31 04:53] #478 closed

[2019-05-31 14:07] sarangshah-tudip opened #479 "invalid_token when calling /me endpoint with Authorization: Bearer <access_token>. Why?"
First i am calling /token to generate the access_token then i am using it to call /me endpoint and it is throwing me invalid_token error.

I am using oidc-provider 5.5.5 version. Please do let me know fix for this asap. Thanks in advance

[2019-05-31 14:21] panva commented on #479
really?

This could be anything from your adapter not working right, to I don't know - not using the header correctly.

Please provide more details and logs using `DEBUG=oidc-provider:*`.

[2019-05-31 14:31] sarangshah-tudip commented on #479
@panva sorry for saying you asap. I am really sorry for that.

Please find below the last logs i am getting after calling /me endpoint

`middleware pre GET /me
ctx  { authorization:
   'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlZUajZ6T0l1SlYzeHEzUXZGazY4c2Z1RGM4TjhlZWotbzVYMEZjTmtvZUkifQ.eyJhdWQiOiJoYXItdmEiLCJleHAiOjE1NjE3MzIwOTgsImlhdCI6MTU1OTMxMjg5OCwiaW50ZWdyaXR5IjoiMThjVUdJNkNjWFUi

[2019-05-31 14:39] panva commented on #479
This doesn't help run with `DEBUG=oidc-provider:*` or provider.on('userinfo.error', console.log) to log the errors with their details.

[2019-05-31 14:45] sarangshah-tudip commented on #479
I added the above thing and please find the below logs

`mp-43$ node index.js DEBUG=oidc-provider:*
WARNING: configuration cookies.keys is missing, this option is critical to detect and ignore tampered cookies
(node:83080) DeprecationWarning: current URL string parser is deprecated, and will be removed in a future version. To use the new parser, pass option { useNewUrlParser: true } to MongoClient

[2019-05-31 14:48] panva commented on #479
[code]

Debug your adapter.

[2019-05-31 14:48] #479 closed

[2019-05-31 14:50] sarangshah-tudip commented on #479
Sorry i am new with this and in learning stage so might ask you silly questions. But Debug your adapter in the sense you want me to debug mongodb_adapter.js file. What exactly i should look at?
Thanks in advance

[2019-05-31 14:57] panva commented on #479
I don't have the capacity for holding hands, the adapter you're using (whichever one it is) is not returning the documents as it should.

It could be you have an example adapter from master which won't work with 5.x, please retrace your steps and make sure you're pulling data from the right sources. If you want to make sure its the adapter and not anything else then remove the adapter configuratio

[2019-05-31 14:59] sarangshah-tudip commented on #479
Thanks for the help. Will retrace my steps.

[2019-06-11 07:12] DarkSorrow commented on #419
Hello,
Sorry to disturb again but i'm trying to use the "/session/end" with a post. It works well when i use it as a get but when make a POST in application/x-www-form-urlencoded i keep getting this error:
[code]
I saw that it was link to state which i still passed tho the state, is there some special condition to use the post method on this endpoint or do i actually have to call another endpoint?

[2019-06-11 07:43] panva commented on #419
@DarkSorrow are you actually rendering a self-submitting form from the client to POST to this endpoint? Aren't you for instance POSTing from a backend? I'm asking because it so happens developers take the logout endpoints for something they fire and forget server-to-server requests to and then expect a logout.

[2019-06-11 08:18] DarkSorrow commented on #419
Yeah i was posting with my backend, i rendered on the form itself and now it works. Sorry about that.

[2019-06-13 16:47] thomasvargiu opened #481 "question: on client enc key jwks?"
Hi,

I'm not an expert on JWE, but I'm trying to register in client dynamic registration an `RSA-OAEP` encrypting key (in the `jwks` metadata), but the server returns `jwks must not contain private keys`.
I saw that the check is based on the `d` key field. Probably it can be correct on signature keys (because the server doesn't need the sign key), but I also think that the server needs the whole e

[2019-06-13 16:52] panva commented on #481
@thomasvargiu JWE does public key based encryption so that the recipient's private key is used for decrypting. It's used for confidentiality. The check is correct and client's `jwks` / `jwks_uri` must not contain private key material, just like the provider's `jwks_uri` doesn't.

[2019-06-13 17:03] panva commented on #481
good that you brought it up btw, i was missing the `oct` rejection.

[2019-06-13 17:04] #481 closed

[2019-06-13 17:31] thomasvargiu commented on #481
@panva Thank you for your complete answer. I will do some other tests because I'm unable to decrypt the id_token, but it's probably a my issue.

[2019-06-17 06:29] telemmaite commented on #419
@panva any idea when 6.0 could go live/out of beta ?

[2019-06-17 09:52] panva commented on #419
@telemmaite when it’s ready i guess. I’m still not satisfied with how interaction policies and interaction routes are configured and resolved. Everything else is in a good place.

[2019-06-18 21:43] brandonros opened #482 "Custom token_type response"
**Is your feature request related to a problem? Please describe.**
Only `Bearer` token_type response is available now (it is hardcoded here: https://github.com/panva/node-oidc-provider/blob/ed81fc64b5d6119489ef1021aebd71f2db44018e/lib/actions/grants/authorization_code.js#L164)

**Describe the solution you'd like**
The ability to configure custom `token_type` response values.

**Describe alternativ

[2019-06-19 03:12] tbjers commented on #419
@panva Currently running 6.0 in production and pretty happy with the performance so far. I have a scenario I am trying to figure out how to properly solve. Running an OIDC provider on k8s in AWS. JWKS keys are stored in Secrets Manager and rotated every 7 days. Would it be feasible to support reloading the configuration of the OIDC service programmatically, or do we need to perform rolling restart

[2019-06-19 05:14] panva commented on #482
What token type would you return? How would you make the OP have additionally process different token types?

Only Bearer token is defined for OAuth2 and OIDC which is why i’m asking. The moment more token types will be available (such as DPoP, it’ll be handled). Until then this is not for customizing.

[2019-06-19 05:23] panva commented on #419
@tbjers clients in v6 behave differently, their cached instance will get invalidated when your adapter returns changed client properties. As for OP jwks, check and follow the configuration section on rotating them (so that your RPs never get to a state where a key is used by an instance other instances don’t have in discovery yet). I do not see reloading keys or god forbid the complete configurati

[2019-06-19 14:53] brandonros commented on #482
If you can add either a custom configuration value or even change the code to be `process.env.TOKEN_TYPE || 'Bearer'`, it'd be a massive help to me.

From https://stackoverflow.com/a/6033840/4971709:

[code]

[2019-06-19 15:53] panva commented on #482
I'm afraid that's not a reason enough for this. Without understanding the "why" and to what end I will not entertain the question of "how", definitely not on the base of "because i can" argument.

So I reiterate my questions:

- What token type would you return?
- How would you have the OP process the different token type at e.g. the userinfo endpoint?
- What's the point?

With every token type th

[2019-06-19 21:12] brandonros commented on #482
Use case:

We have two types of APIs (consumer + enterprise) at my business.

We have two oidc-providers (one for each API type)

They both return `Bearer JWT` access_tokens.

They get sent upstream to a proxy/gateway. The gateway doesn't know which oidc-provider to validate against.

I'm ok to leave token_type: `Bearer`, but maybe you expose a configuration middleware/hook that allows me to prefi

[2019-06-19 21:13] brandonros commented on #482
I also understood `Bearer` to not be a standard but a recommendation. aka `token_type` could be anything? as long as `/oidc/token` returns a string and the calling client calls back with that same string:

[code]

`Authorization: foobar ...`

[2019-06-19 22:32] amaciver commented on #297
Related question: How would you recommend pulling Provider configuration into the custom grant? I would like to avoid requiring the WeakMap, but some of the middlewares and other checks that I am copying for this custom grant want configuration information.

[2019-06-20 05:54] panva commented on #482
No, we must be returning Bearer to be conform. It is the only defined token type available.

If you have two providers then they have different issuers. Your APIs can look at the jwt claims, validate the jwts. This is a solved problem one that we don’t need breaking behaviours for to solve again.

[2019-06-20 05:54] #482 closed

[2019-06-22 01:41] kmalakoff opened #484 "Documentation to integrate with AOuth2"
Great library. I've started using the 6.alpha version and the interaction API is meeting my needs much better than the 5.x API. Great improvements!

I am looking to also issue OAuth2 tokens and provide a standards compliant server. I found the following issues:

- https://github.com/panva/node-oidc-provider/issues/390
- https://github.com/panva/node-oidc-provider/issues/473

Would it be possible t

[2019-06-22 06:05] panva commented on #484
@kmalakoff would you be able to contribute a few paragraphs of explanation how the interactions in v6.x work? I myself am having a hard time coming up with something readable.

Anyway, i’m not sure what examples you’d need but there are two linked in the readme, one bundled here in this repo one step by step linked outside.

The stuff you mention from 390 comes by default with an in memory adapter

[2019-06-22 06:05] #484 closed

[2019-06-22 13:07] kmalakoff commented on #484
Thank you for the quick response. I would be looking for documentation and support around things like:

- reuse or override the session and login for an OAuth2 interaction type
- reuse or override the token issuing and decrypting for an OAuth2 implementation
- an example for an endpoint for `/.well-known/oauth-authorization-server` that reuses some endpoints from the oidc provider as possible (suc

[2019-06-22 13:21] kmalakoff opened #485 "Community documentation for 6.alpha interactions"
In https://github.com/panva/node-oidc-provider/issues/484, @panva requested documentation on interactions:

[code]

Would anyone be interested in documenting?

[2019-06-22 13:22] kmalakoff commented on #484
I've split out your documentation request into a separate issue: https://github.com/panva/node-oidc-provider/issues/485

[2019-06-22 13:29] kmalakoff commented on #485
The way I used the interaction was a bit non-standard:

- I used GET '/interaction/:uid' as a redirection route to '/interaction/:uid/login' and '/interaction/:uid/consent'
- I used POST '/interaction/:uid/login' and '/interaction/:uid/consent' as pure JSON endpoints. Instead of `provider.interactionFinished` in these routes, I used `provider. interactionResult` and returned the returnTo in the JS

[2019-06-22 14:11] panva commented on #484
No just I quite frankly don’t understand what you find missing. The provider, And v6.x specifically allows regular oauth requests (without the openid scope) out of the box.

[2019-06-22 14:15] panva commented on #484
I thought by improved API you mean the `interaction` configuration policy which is completely redone for v6.x. The actual interactions (what happens after policy says login / consent / whatever is needed) are the same between v5.x and v6.x, as in - you can do whatever you want / need. There's no "one" way to do it that would need documenting and the examples are just that, examples.

[2019-06-22 14:18] panva commented on #485
There's nothing v6.x specific when it comes to interactions themselves, i meant the `interaction` policy configuration property that's new. I'm going to close this because there's nothing to document, the interactions themselves are each product's / developer's playground - responsibility to implement and the only thing the library cares for is for the `Interaction` object to have its result prope

[2019-06-22 14:18] #485 closed

[2019-06-22 14:22] panva commented on #484
I'm not keeping "how to" issues open on principle, the tracker is meant for issues. I'm happy to answer questions when i have the capacity. If you'd like a more direct channel then please reach out via email and we can figure something out.

[2019-06-22 15:39] panva commented on #484
exposing another well known is as simple as rewriting the url

[code]

👆 these I don't follow. I have no idea what you mean by an interaction type or what you mean by an OAuth2 implementation. This is an OIDC compliant, ergo OAuth2.0 compliant server, it issues tokens, hands off when user interaction is needed based on a configurable policy, handles all basic authorization flows, albeit with or wi

[2019-06-23 06:09] tleef commented on #419
First, I have to say this is a very impressive project. As a new user I feel it has a steep learning curve but is worth spending the time to get to know.

I'm working on a specific scenario where I would like to skip consent for first-party clients and also issue them a refresh token when they request `offline_access`. There is a hard requirement in [this file](https://github.com/panva/node-oidc-p

[2019-06-23 09:14] panva commented on #419
The `offline_access` scope and consent combination may not change, that's rooted in the specs, however, if you read section 11 of Core to the end you'll see:

For exactly this there's a helper in [v6.x](https://github.com/panva/node-oidc-provider/blob/v6.0.0-alpha.10/docs/README.md#issuerefreshtoken), so you can configure whatever policy you want. The default is set to satisfy the `offline_access`

[2019-06-23 13:45] kmalakoff commented on #485
Interesting. I didn't even see the policy configuration property. I'll take a look at it!

[2019-06-23 14:00] kmalakoff commented on #484
Makes sense. Maybe mentioning this policy around questions in your issue template would help the community understand your approach. The perception I had by looking at how many issues had only two interactions was that if a request didn't fit into your vision for the library, you preferred to shut down the discussion and leave it to the library consumer to figure it out. With this library being ar

[2019-06-23 14:04] kmalakoff commented on #484
This totally gets to the root of this request. Awesome!

The root of my question was whether this library was fully OAuth2 compliant given it didn't support the `./well-known/oauth-authorization-server` path and I had tried using OAuth2 on 5.x without an openid scope and it didn't seem to work for me (I only switched to 6.alpha this week and I could have configured 5.x incorrectly) so I was a bit

[2019-06-23 14:18] panva commented on #484
I shut down discussions that are either completely against the best practice, are completely outside of the scope of the library or by first glance show the author did not bother to read the documentation.

I like to have the trackers clean and don't waste my time with what you described as "not my vision".

Public discussions have their place here, but I have yet to see one that's valid :)

You d

[2019-06-23 15:25] panva commented on #419
Released `beta.0`

[2019-06-23 17:38] tleef commented on #419
Thanks for the timely reply.

I see what you are saying about adding a custom client property and how it can be used in conjunction with the `issueRefreshToken` helper to issue refresh tokens to first-party clients.

For example, I could define an `issueRefreshToken` helper as follows:
[code]
This would keep the original behavior for third-party clients and would always issue a refresh token to fi

[2019-06-23 18:05] kmalakoff commented on #484
Good stuff! The 5.x not supporting OAuth2 seemed a bit contradictory to me also in terms of expectations for OIDC being built on OAuth2 so this super cool that 6.x supports the standard and expectations. Definitely highlight it as it is an critical change!

I would be a little bit cautious of "best practices" in an open source library and community. Best practices are not always an objective stand

[2019-06-23 18:56] panva commented on #419
@tleef maybe for a future release. Its not on my radar as critical for v6.0.0 initial rollout

[2019-06-23 19:09] panva commented on #484
You may try, many have before. With implicit going to be discouraged for new applications i find the topic less and less worth discussing. The ONLY possibility i can see is omitting the requirement when the `issuer` identifier is set to localhost. Haven't given that a proper thought yet tho so don't get your hopes up.

You're missing my point, prior to v6.x the project just didn't define behaviour

[2019-06-23 19:14] kmalakoff commented on #484
@panva I've sent you an email with my case for supporting insecure local development. Let me know if you prefer a public discussion and I'll repeat it here. Thank you!

[2019-06-23 19:22] tleef commented on #419
That's fair, meanwhile I can work with your suggestion of modifying the `issueRefreshToken` helper. It's close enough for now. If I get to a point where it's critical, I'll make a PR if you haven't gotten to it by then. Thanks for you help!

[2019-06-23 19:28] panva commented on #419
`issueRefreshToken` is not and would not be something usable for this. **If** anything this would be yet another helper. Going back to the normative language though

While it may be okay to keep the `offline_access` amongst requested scope, it is not okay that doing so would make the OP not request a consent. I kindly ask that you don't rely on the `unless` other conditions and stick to the define

[2019-06-23 20:16] tleef commented on #419
You're right, I'll use the helper and issue the refresh token regardless of `offline_access`. Thanks again.

[2019-06-25 06:39] panva commented on #419
As of writing this i have 6.0.0 release prepared based on beta 1 released yesterday.

Unless anything of substance comes in the coming week this will be released.

[2019-06-25 16:30] panva commented on #297
@amaciver you know what your configuration is when you create that handler, loading the internal configuration is not necessary, if you're running multiple instances then generating that handler from a function that gets YOUR configuration object is the right thing to do.

[2019-06-25 16:32] amaciver commented on #297
roger that, thanks 👍

[2019-06-28 06:41] panva commented on #419
🎉 https://github.com/panva/node-oidc-provider/blob/master/CHANGELOG.md#600-2019-06-28 🚀

Thank you all for your feedback.

[2019-06-28 06:41] #419 closed

[2019-06-28 17:58] amaciver opened #487 "Question: why resource allowed check recommended only on audiences?"
Would you mind providing an explanation of why checking whether a resource is allowed on a certain client is recommended to only be done in the audiences function?

In v6.x you are now checking the client whitelist for scope in the Auth step, why do we not want to check resources at this stage as well? For code flow, this results in a code being issued but then the token exchange being rejected. I